<div class="container">

  <ng-container *ngVar="(scope$ | async) as scope">
    <h2 *ngIf="scope"
        class="header"
        id="{{ scope.id }}">
      {{ 'statistics.header' | translate: { scope: getName(scope) } }}
    </h2>
  </ng-container>

  <ds-statistics-table *ngFor="let report of reports$ | async"
                       [report]="report"
                       class="m-2 {{ report.id }}">
  </ds-statistics-table>
  <ng-container *ngIf="!!hasData$">
    <div *ngIf="!(hasData$ | async)">
      {{ 'statistics.page.no-data' | translate }}
    </div>
  </ng-container>

</div>
