<div class="container">
  <ds-suggestions-notification></ds-suggestions-notification>
  <ds-my-dspace-qa-events-notifications></ds-my-dspace-qa-events-notifications>
  <ds-my-dspace-new-submission *dsShowOnlyForRole="[roleTypeEnum.Submitter]" (uploadEnd)="refreshData($event)"></ds-my-dspace-new-submission>
</div>

<ds-search *ngIf="configuration() && context()"
           [configuration]="configuration()"
           [configurationList]="(configurationList$ | async)"
           [context]="context()"
           [viewModeList]="viewModeList"
           [showThumbnails]="false"
           [selectable]="(currentConfiguration$ | async) === workflowType"
           [selectionConfig]="{ repeatable: true, listId: listId }"
           (deselectObject)="onDeselectObject($event)"
           (selectObject)="onSelectObject($event)"
           [showWorkflowStatistics]="true">
  <!-- Using *ngIf breaks the projection, so we are using hidden instead -->
  <ds-my-dspace-bulk-action [hidden]="(currentConfiguration$ | async) !== workflowType"
                            bulkActions
                            [listId]="listId"></ds-my-dspace-bulk-action>
  <ds-my-dspace-new-bulk-import additionalSearchFormOptions></ds-my-dspace-new-bulk-import>
</ds-search>
