
<div class="model-box">
    <a (click)="close()" class="model-close">
        <mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_close-outline"></mat-icon>
    </a>

<div class="share-model">
        <div class="titile-band">
            <h5>Share your trip</h5>
            <p>Excited about your upcoming trip? Share the adventure with your friends!</p>
        </div>
        <div class="copy-link-band">
           <mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_link-outline"></mat-icon><input type="text" placeholder="" value="https://tripson.com/u/Je.." matinput><button class="primary-btn">Copy link</button>
        </div>
        <ul class="soical-share-list">
            <li><a href=""><img src="assets/icons/twitter.jpg"></a></li>
            <li><a href=""><img src="assets/icons/whatsapp.png"></a></li>
            <li><a href=""><img src="assets/icons/instagram.jpg"></a></li>
            <li><a href=""><img src="assets/icons/gmail.jpg"></a></li>
            <li><a href=""><img src="assets/icons/snapchat.jpg"></a></li>
        </ul>
   </div>
</div>

