<ng-container [ngSwitch]="status">
  <fa-icon *ngSwitchCase="HealthStatus.UP"
           [icon]="faCheckCircle"
           class="text-success my-auto"
           ngbTooltip="{{'health-page.status.ok.info' | translate}}"
           container="body"/>
  <fa-icon *ngSwitchCase="HealthStatus.UP_WITH_ISSUES"
           [icon]="faExclamationTriangle"
           class="text-warning my-auto"
           ngbTooltip="{{'health-page.status.warning.info' | translate}}"
           container="body"/>
  <fa-icon *ngSwitchCase="HealthStatus.DOWN"
           [icon]="faTimesCircle"
           class="text-danger my-auto"
           ngbTooltip="{{'health-page.status.error.info' | translate}}"
           container="body"/>

</ng-container>
