<div class="dso-edit-menu d-flex"
     [attr.role]="(menuVisibleWithSections$ | async) ? 'menubar' : null"
     [attr.aria-hidden]="(menuVisibleWithSections$ | async) === false ? 'true' : null">
  @for (sectionDTO of (sectionDTOs$ | async); track sectionDTO) {
    <div class="ms-1">
      <ds-menu-component-loader [menuID]="menuID"
                                [expandable]="sectionDTO.hasSubSections || sectionDTO.menuSection.alwaysRenderExpandable"
                                [section]="sectionDTO.menuSection">
      </ds-menu-component-loader>
    </div>
  }
</div>
