<div class="item-metadata" *ngIf="form">
  <div class="button-row top d-flex my-2 space-children-mr ml-gap">
    <button class="mr-auto btn btn-success" [disabled]="form.newValue || (saving$ | async)"
            (click)="add()"><i class="fas fa-plus"></i>
      <span class="d-none d-sm-inline">&nbsp;{{ dsoType + '.edit.metadata.add-button' | translate }}</span>
    </button>
    <button class="btn btn-warning ml-1" *ngIf="isReinstatable" [disabled]="(saving$ | async)"
            (click)="reinstate()"><i class="fas fa-undo-alt"></i>
      <span class="d-none d-sm-inline">&nbsp;{{ dsoType + '.edit.metadata.reinstate-button' | translate }}</span>
    </button>
    <button class="btn btn-primary ml-1" [disabled]="!hasChanges || (saving$ | async)"
            (click)="submit()"><i class="fas fa-save"></i>
      <span class="d-none d-sm-inline">&nbsp;{{ dsoType + '.edit.metadata.save-button' | translate }}</span>
    </button>
    <button class="btn btn-danger ml-1" *ngIf="!isReinstatable"
            [disabled]="!hasChanges || (saving$ | async)"
            (click)="discard()"><i class="fas fa-times"></i>
      <span class="d-none d-sm-inline">&nbsp;{{ dsoType + '.edit.metadata.discard-button' | translate }}</span>
    </button>
  </div>

  <ds-dso-edit-metadata-headers [dsoType]="dsoType"></ds-dso-edit-metadata-headers>
  <div class="d-flex flex-row ds-field-row" *ngIf="form.newValue">
    <div class="lbl-cell ds-success">
      <ds-metadata-field-selector [dsoType]="dsoType"
                                  [(mdField)]="newMdField"
                                  [autofocus]="true">
      </ds-metadata-field-selector>
    </div>
    <div class="flex-grow-1 ds-drop-list">
      <ds-dso-edit-metadata-value [dso]="dso"
                                  [mdValue]="form.newValue"
                                  [dsoType]="dsoType"
                                  [saving$]="savingOrLoadingFieldValidation$"
                                  [isOnlyValue]="true"
                                  (confirm)="confirmNewValue($event)"
                                  (remove)="form.newValue = undefined"
                                  (undo)="form.newValue = undefined">
      </ds-dso-edit-metadata-value>
    </div>
  </div>
  <div class="d-flex flex-row ds-field-row" *ngFor="let mdField of form.fieldKeys">
    <div class="lbl-cell">
      <span class="dont-break-out preserve-line-breaks">{{ mdField }}</span>
    </div>
    <ds-dso-edit-metadata-field-values class="flex-grow-1"
                                       [dso]="dso"
                                       [form]="form"
                                       [dsoType]="dsoType"
                                       [saving$]="saving$"
                                       [mdField]="mdField"
                                       (valueSaved)="onValueSaved()">
    </ds-dso-edit-metadata-field-values>
  </div>

  <div *ngIf="isEmpty">
    <ds-alert [content]="dsoType + '.edit.metadata.empty'" [type]="AlertTypeEnum.Info"></ds-alert>
  </div>
  <div class="button-row bottom d-inline-block w-100">
    <div class="mt-2 float-right space-children-mr ml-gap">
      <button class="btn btn-warning" *ngIf="isReinstatable" [disabled]="(saving$ | async)"
              (click)="reinstate()"><i class="fas fa-undo-alt"></i> {{ dsoType + '.edit.metadata.reinstate-button' | translate }}
      </button>
      <button class="btn btn-primary" [disabled]="!hasChanges || (saving$ | async)"
              (click)="submit()"><i class="fas fa-save"></i> {{ dsoType + '.edit.metadata.save-button' | translate }}
      </button>
      <button class="btn btn-danger" *ngIf="!isReinstatable"
              [disabled]="!hasChanges || (saving$ | async)"
              (click)="discard()"><i class="fas fa-times"></i> {{ dsoType + '.edit.metadata.discard-button' | translate }}
      </button>
    </div>
  </div>
</div>
<ds-loading *ngIf="!form"></ds-loading>
