<div class="background-image-container">
  <picture class="background-image">
    <source type="image/webp" srcset="assets/edutask/images/banner.jpg 2000w, assets/edutask/images/banner.jpg 1200w, assets/edutask/images/banner.jpg 768w">
    <source type="image/jpg" srcset="assets/edutask/images/banner.jpg 2000w, assets/edutask/images/banner.jpg 1200w, assets/edutask/images/banner.jpg 768w">
    <img height="350" alt="" [src]="'assets/edutask/images/banner.jpg'"/><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
</div>
