:host {
  .container {
    text-align: center !important;
    height: fit-content;
    min-width: fit-content;
  }

  .container.plumX.alert.metric-container,
  .container.altmetric.alert.metric-container,
  .container.dimensions.alert.metric-container {
     // .plumX & .altmetric & dimensions-> metricType dimensions
    display: contents;
  }
}
