<ds-themed-results-back-button *ngIf="showBackButton | async" [back]="back"></ds-themed-results-back-button>
<div class="row" *ngIf="iiifEnabled">
  <div class="col-12">
    <ds-mirador-viewer id="iiif-viewer"
                   [object]="object"
                   [searchable]="iiifSearchEnabled"
                   [query]="iiifQuery$ | async">
    </ds-mirador-viewer>
  </div>
</div>

<div class="d-flex flex-row">
  <ds-themed-item-page-title-field [item]="object" class="mr-auto">
  </ds-themed-item-page-title-field>

  <ds-dso-edit-menu></ds-dso-edit-menu>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4">
    <ng-container *ngIf="!(mediaViewer.image || mediaViewer.video)">
      <ng-container *ngIf="object.metadata['dc.description.embargo']">
        <img class="thumbnail-content img-fluid border border-dark mb-2" src="assets/images/under_embargo.png" />
      </ng-container>
      <ds-metadata-field-wrapper *ngIf="!object.metadata['dc.description.embargo']" [hideIfNoTextContent]="false">
        <ds-themed-thumbnail [thumbnail]="object?.thumbnail | async"></ds-themed-thumbnail>
      </ds-metadata-field-wrapper>
    </ng-container>
    <div *ngIf="mediaViewer.image || mediaViewer.video" class="mb-2">
      <ds-themed-media-viewer [item]="object"></ds-themed-media-viewer>
    </div>
    <ds-themed-item-page-file-section [item]="object"></ds-themed-item-page-file-section>

    <ds-generic-item-page-field [item]="object"
                                [fields]="['dc.description.embargo']"
                                [label]="'No Access Until'">
    </ds-generic-item-page-field>

    <div *ngIf="object.metadata['dc.identifier.doi'] || object.metadata['dc.identifier.uri']" class="mb-2">
      <h5>Permanent Link(s)</h5>
    </div>

    <ds-item-page-uri-field [item]="object"
                            [fields]="['dc.identifier.doi']"
                            label="">
    </ds-item-page-uri-field>
    <ds-item-page-uri-field [item]="object"
                            [fields]="['dc.identifier.uri']"
                            label="">
    </ds-item-page-uri-field>

    <ds-item-page-collections [item]="object"></ds-item-page-collections>

    <div>
      <a class="btn btn-outline-primary" [routerLink]="[itemPageRoute + '/full']" role="button">
        <i class="fas fa-info-circle"></i> {{"item.page.link.full" | translate}}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <ds-generic-item-page-field [item]="object"
                                [fields]="['dc.title.alternative']"
                                [label]="'Other Titles'">
    </ds-generic-item-page-field>
    <ds-metadata-representation-list class="ds-item-page-mixed-author-field"
                                     [parentItem]="object"
                                     [itemType]="'Person'"
                                     [metadataFields]="['dc.contributor.author', 'dc.creator', 'dc.contributor.editor', 'dc.contributor.illustrator', 'dc.contributor.judge', 'dc.contributor.other']"
                                     [label]="'relationships.isAuthorOf' | translate">
    </ds-metadata-representation-list>

    <ds-item-page-kaltura-field [item]="object"></ds-item-page-kaltura-field>

    <ds-item-page-abstract-field [item]="object"></ds-item-page-abstract-field>

    <ds-generic-item-page-field [item]="object"
                                [fields]="['dc.relation.ispartofseries']"
                                [label]="'Journal / Series'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
                                [fields]="['schema.issueNumber']"
                                [label]="'Volume & Issue'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
                                [fields]="['dc.description']"
                                [label]="'item.page.description'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
                                [fields]="['dc.description.sponsorship']"
                                [label]="'Sponsorship'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
                                [fields]="['dc.date.issued']"
                                [label]="'Date Issued'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
                                [fields]="['dc.publisher']"
                                [label]="'item.page.publisher'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
                                [fields]="['dc.subject']"
                                [separator]="', '"
                                [label]="'item.page.subject'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
                                [fields]="['cla.location']"
                                [label]="'Location'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['cla.date.effective']"
                                [label]="'Effective Date'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['cla.date.expiration']"
                                [label]="'Expiration Date'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['cla.sector']"
                                [label]="'Sector'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['cla.employer']"
                                [label]="'Employer'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['cla.union']"
                                [label]="'Union'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['cla.union.local']"
                                [label]="'Union Local'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['cla.naics']"
                                [label]="'NAICS'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['cla.numberOfWorkers']"
                                [label]="'Number of Workers'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
                                [fields]="['dc.contributor.chair']"
                                [label]="'Committee Chair'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['dc.contributor.coChair']"
                                [label]="'Committee Co-Chair'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['dc.contributor.committeeMember']"
                                [label]="'Committee Member'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
                                [fields]="['thesis.degree.discipline']"
                                [label]="'Degree Discipline'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['thesis.degree.name']"
                                [label]="'Degree Name'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['thesis.degree.level']"
                                [label]="'Degree Level'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
                                [fields]="['dc.relation.hasversion']"
                                [label]="'Related Version'">
    </ds-generic-item-page-field>
    <ds-item-page-uri-field     [item]="object"
                                [fields]="['dc.relation.doi']"
                                [label]="'Related DOI'">
    </ds-item-page-uri-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['dc.relation']"
                                [label]="'Related To'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['dc.relation.haspart']"
                                [label]="'Related Part'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['dc.relation.isbasedon']"
                                [label]="'Based on Related Item'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['dc.relation.isformatof']"
                                [label]="'Has Other Format(s)'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['dc.relation.ispartof']"
                                [label]="'Part of Related Item'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['dc.relation.uri']"
                                [label]="'Related To'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['dc.relation.isreferencedby']"
                                [label]="'Related Publication(s)'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['dc.relation.isreferencedbyuri']"
                                [label]="'Link(s) to Related Publication(s)'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['dc.relation.references']"
                                [label]="'References'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['dc.relation.referencesuri']"
                                [label]="'Link(s) to Reference(s)'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
                                [fields]="['dc.identifier.citation']"
                                [label]="'Previously Published As'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['dc.identifier.govdoc']"
                                [label]="'Government Document'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['dc.identifier.isbn']"
                                [label]="'ISBN'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['dc.identifier.ismn']"
                                [label]="'ISMN'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['dc.identifier.issn']"
                                [label]="'ISSN'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['dc.identifier']"
                                [label]="'Other Identifiers'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
                                [fields]="['dc.rights']"
                                [label]="'Rights'">
    </ds-generic-item-page-field>
    <ds-item-page-uri-field     [item]="object"
                                [fields]="['dc.rights.uri']"
                                [label]="'Rights URI'">
    </ds-item-page-uri-field >
    <ds-generic-item-page-field [item]="object"
                                [fields]="['dc.type']"
                                [label]="'Types'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
                                [fields]="['schema.accessibilityFeature']"
                                [label]="'Accessibility Feature'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['schema.accessibilityHazard']"
                                [label]="'Accessibility Hazard'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['schema.accessibilitySummary']"
                                [label]="'Accessibility Summary'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
                                [fields]="['dc.relation.localuri']"
                                [label]="'Link(s) to Catalog Record'">
    </ds-generic-item-page-field>
  </div>
  <div class="col-xs-12 col-md-4">
  </div>
  <div class="col-xs-12 col-md-6">
  </div>
</div>
