<ds-themed-results-back-button *ngIf="showBackButton | async" [back]="back"></ds-themed-results-back-button>
<div class="row pt-3" *ngIf="iiifEnabled">
  <div class="col-12">
    <ds-mirador-viewer id="iiif-viewer"
                   [object]="object"
                   [searchable]="iiifSearchEnabled"
                   [query]="iiifQuery$ | async">
    </ds-mirador-viewer>
  </div>
</div>

<div class="d-flex flex-row">
  <ds-item-page-title-field [item]="object" class="mr-auto">
  </ds-item-page-title-field>
  <ds-dso-edit-menu></ds-dso-edit-menu>
</div>
<div class="row">
  <div class="col-xs-12 col-md-12">
    <ds-clarin-ref-box [item]="object"></ds-clarin-ref-box>
    <ng-container *ngIf="mediaViewer.image">
      <ds-media-viewer [item]="object" [videoOptions]="mediaViewer.video"></ds-media-viewer>
    </ng-container>
    <ds-clarin-generic-item-field [item]="object"
                                  [fields]="['dc.contributor.author', 'dc.creator']"
                                  [label]="'relationships.isAuthorOf'"
                                  [iconName]="'fa-pen'"
                                  [separator]="','"
                                  [type]="'author'">
    </ds-clarin-generic-item-field>
    <ds-clarin-generic-item-field [item]="object"
                                  [fields]="['dc.identifier.uri']"
                                  [label]="'item.page.uri'"
                                  [iconName]="'fa-share'"
                                  [type]="'hyperlink'">
    </ds-clarin-generic-item-field>
    <ds-clarin-generic-item-field [item]="object"
                                  [fields]="['dc.source.uri']"
                                  [label]="'item.page.project-url'"
                                  [iconName]="'fa-link'"
                                  [type]="'hyperlink'">
    </ds-clarin-generic-item-field>
    <ds-clarin-generic-item-field [item]="object"
                                  [fields]="['dc.relation.isreferencedby']"
                                  [label]="'item.page.referenced-by'"
                                  [iconName]="'fa-link'">
    </ds-clarin-generic-item-field>
    <ds-clarin-generic-item-field [item]="object"
                                  [fields]="['dc.date.issued', 'local.approximateDate.issued']"
                                  [label]="'item.page.date'"
                                  [iconName]="'fa-calendar'">
    </ds-clarin-generic-item-field>
    <ds-clarin-generic-item-field [item]="object"
                                  [fields]="['dc.type', 'metashare.ResourceInfo#ContentInfo.mediaType']"
                                  [label]="'item.page.type'"
                                  [iconName]="'fa-tag'"
                                  [separator]="','"
                                  [type]="'search'">
    </ds-clarin-generic-item-field>
    <ds-clarin-generic-item-field [item]="object"
                                  [fields]="['local.size.info']"
                                  [label]="'item.page.size-info'"
                                  [iconName]="'fa-arrows'">
    </ds-clarin-generic-item-field>
    <ds-clarin-generic-item-field [item]="object"
                                  [fields]="['local.language.name']"
                                  [label]="'item.page.language'"
                                  [iconName]="'fa-flag'"
                                  [separator]="','"
                                  [type]="'search'">
    </ds-clarin-generic-item-field>
    <ds-clarin-generic-item-field [item]="object"
                                  [fields]="['dc.description']"
                                  [label]="'item.page.description'"
                                  [iconName]="'fa-file-alt'">
    </ds-clarin-generic-item-field>
    <ds-clarin-generic-item-field [item]="object"
                                  [fields]="['dc.publisher', 'creativework.publisher']"
                                  [label]="'item.page.publisher'"
                                  [iconName]="'fa-copy'"
                                  [type]="'search'">
    </ds-clarin-generic-item-field>
    <ds-clarin-generic-item-field [item]="object"
                                  [fields]="['local.sponsor']"
                                  [label]="'item.page.sponsor'"
                                  [iconName]="'fa-money-bill-alt'">
    </ds-clarin-generic-item-field>
    <ds-clarin-generic-item-field [item]="object"
                                  [fields]="['dc.subject']"
                                  [label]="'item.page.subject'"
                                  [iconName]="'fa-tags'"
                                  [separator]="','"
                                  [type]="'subject'">
    </ds-clarin-generic-item-field>
    <ds-clarin-collections-item-field
                                  [item]="object"
                                  [iconName]="'fa-sitemap'"
                                  [separator]="'<br />'">
    </ds-clarin-collections-item-field>
    <div class="clarin-item-page-field">
      <a [routerLink]="[itemPageRoute + '/full']">
        {{"item.page.link.full" | translate}}
      </a>
    </div>
    <ds-clarin-files-item-field [item]="object"
                                [iconName]="'fa-paperclip'"
                                [separator]="'<br />'">
    </ds-clarin-files-item-field>
  </div>
</div>
