
<div class="main m-main-cus">
    <div class="bootstrap-wrapper">
        <div class="container">
            <div class="booking-process-band">
                <div class="progress-band">
                    <mat-card class="example-card">
                        <mat-card-content>
                          <mat-progress-spinner class="example-margin" strokeWidth="3" [color]="color" [mode]="mode" [value]="value">
                          </mat-progress-spinner>
                          <div class="total-price">
                            <span>Total</span>
                            <h4>$2792.81</h4>
                        </div>
                        
                        </mat-card-content>
                      </mat-card>
                </div>
                <div class="text-band">
                    <h4>your request Under processing</h4>
                    <P>Please wait while your transaction in being processed.</P>
                </div>
            </div>
        </div>
    </div> 
</div>