<div>
  @switch (parameter?.type) {
    @case (parameterTypes.STRING) {
      <ds-string-value-input [initialValue]="initialValue" (updateValue)="updateValue.emit($event)" [index]="index"></ds-string-value-input>
    }
    @case (parameterTypes.INTEGER) {
      <ds-integer-value-input [initialValue]="initialValue" (updateValue)="updateValue.emit($event)" [index]="index"></ds-integer-value-input>
    }
    @case (parameterTypes.OUTPUT) {
      <ds-string-value-input [initialValue]="initialValue" (updateValue)="updateValue.emit($event)" [index]="index"></ds-string-value-input>
    }
    @case (parameterTypes.DATE) {
      <ds-date-value-input [initialValue]="initialValue" (updateValue)="updateValue.emit($event)" [index]="index"></ds-date-value-input>
    }
    @case (parameterTypes.FILE) {
      <ds-file-value-input (updateValue)="updateValue.emit($event)" [index]="index"></ds-file-value-input>
    }
    @case (parameterTypes.BOOLEAN) {
      <ds-boolean-value-input (updateValue)="updateValue.emit($event)" [index]="index"></ds-boolean-value-input>
    }
  }
</div>
