<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">
    <div class="row">
      <div class="dspace-logo-container">
        <img src="assets/images/dspace-logo.png" />
      </div>
      <div>
        <h1 class="display-3">Welcome to DSpace</h1>
        <p class="lead">DSpace is an open source software platform that enables organisations to:</p>
      </div>
    </div>
    <div class="row">
      <ul>
        <li>capture and describe digital material using a submission workflow module, or a variety of programmatic ingest options
        </li>
        <li>distribute an organisation's digital assets over the web through a search and retrieval system
        </li>
        <li>preserve digital assets over the long term</li>
      </ul>
    </div>
  </div>
</div>
