<ds-truncatable [id]="item.id">
  <a
    [routerLink]="['/items/' + item.id]" class="lead"
    [innerHTML]="firstMetadataValue('dc.title')"></a>
  <span class="text-muted">
    <ds-truncatable-part [id]="item.id" [minLines]="1">
            <span *ngIf="item.allMetadata(['journal.title']).length > 0"
                  class="item-list-journal-volumes">
                    <span *ngFor="let value of allMetadataValues(['journal.title']); let last=last;">
                        <span [innerHTML]="value"><span [innerHTML]="value"></span></span>
                    </span>
            </span>
            <span *ngIf="item.allMetadata(['publicationVolume.volumeNumber']).length > 0"
                  class="item-list-journal-volume-identifiers">
                    <span *ngFor="let value of allMetadataValues(['publicationVolume.volumeNumber']); let last=last;">
                        <span> (</span><span [innerHTML]="value"><span [innerHTML]="value"></span></span><span>)</span>
                    </span>
            </span>
        </ds-truncatable-part>
  </span>
</ds-truncatable>
