.parent {
  display: flex;
}
.upload {
  flex: auto;
}
.add {
  flex: initial;
}

#entityControlsDropdownMenu {
  min-width: 18rem;
  box-shadow: $btn-focus-box-shadow;
  max-width: 100vw;

  @media (max-width: 767px) {
    min-width: 0;
    max-width: calc(100vw - 5rem);
  }
}