<h3>{{ 'search.sidebar.settings.title' | translate}}</h3>
<div *ngIf="[searchOptions].sort" class="setting-option result-order-settings mb-3 p-3">
    <h5>{{ 'search.sidebar.settings.sort-by' | translate}}</h5>
    <select class="form-control" (change)="reloadOrder($event)">
        <option *ngFor="let sortDirection of (sortDirections | dsKeys)"
                [value]="sortDirection.value"
                [selected]="sortDirection.value === direction? 'selected': null">
            {{'sorting.' + sortDirection.key | translate}}
        </option>
    </select>
</div>

<div class="setting-option page-size-settings mb-3 p-3">
    <h5>{{ 'search.sidebar.settings.rpp' | translate}}</h5>

    <select class="form-control" (change)="reloadRPP($event)">
        <option *ngFor="let pageSizeOption of pageSizeOptions" [value]="pageSizeOption"
                [selected]="pageSizeOption === pageSize ? 'selected': null">
            {{pageSizeOption}}
        </option>
    </select>
</div>
