<div class="parent mb-3">
  <div class="upload">
    <ds-uploader *ngIf="uploadFilesOptions.url !== ''"
                 [uploadFilesOptions]="uploadFilesOptions"
                 (onCompleteItem)="onCompleteItem($event)"
                 (onUploadError)="onUploadError($event)"
                 (onFileSelected)="afterFileLoaded($event)"></ds-uploader>

  </div>
  <div class="add">
    <ds-my-dspace-new-submission-dropdown></ds-my-dspace-new-submission-dropdown>
  </div>
  <div class="add">
    <a class="btn btn-lg btn-primary mt-1 ml-2" [routerLink]="['/import-external']" role="button" title="{{'mydspace.new-submission-external' | translate}}">
      <i class="fa fa-file-import" aria-hidden="true"></i>
    </a>
  </div>

</div>
