<form (ngSubmit)="onSubmit()" [formGroup]="formModel">

  <!-- In the toggle section -->
  <div class="toggle-switch-container">
    <label class="status-label" for="enabled">{{ 'ldn-service-status' | translate }}</label>
    <div>
      <input formControlName="enabled" hidden id="enabled" name="enabled" type="checkbox">
      <div (click)="toggleEnabled()" [class.checked]="formModel.get('enabled').value" class="toggle-switch">
        <div class="slider"></div>
      </div>
    </div>
  </div>

  <div class="mb-2">
    <label for="name">{{ 'ldn-new-service.form.label.name' | translate }}</label>
    <input [class.invalid-field]="formModel.get('name').invalid && formModel.get('name').touched"
           [placeholder]="'ldn-new-service.form.placeholder.name' | translate" formControlName="name" id="name"
           name="name"
           type="text">
  </div>

  <div class="mb-4">
    &nbsp;
  </div>

  <!-- In the description section -->
  <div class="mb-2 d-flex flex-column">
    <label for="description">{{ 'ldn-new-service.form.label.description' | translate }}</label>
    <textarea [placeholder]="'ldn-new-service.form.placeholder.description' | translate"
              formControlName="description" id="description" name="description"></textarea>
  </div>

  <div class="mb-4">
    &nbsp;
  </div>

  <!-- In the url section -->
  <div class="mb-2">
    <label for="url">{{ 'ldn-new-service.form.label.url' | translate }}</label>
    <input [class.invalid-field]="formModel.get('url').invalid && formModel.get('url').touched"
           [placeholder]="'ldn-new-service.form.placeholder.url' | translate" formControlName="url" id="url"
           name="url"
           type="text">
  </div>

  <div class="mb-4">
    &nbsp;
  </div>

  <!-- In the ldnUrl section -->
  <div class="mb-2">
    <label for="ldnUrl">{{ 'ldn-new-service.form.label.ldnUrl' | translate }}</label>
    <input [class.invalid-field]="formModel.get('ldnUrl').invalid && formModel.get('ldnUrl').touched"
           [placeholder]="'ldn-new-service.form.placeholder.ldnUrl' | translate" formControlName="ldnUrl"
           id="ldnUrl"
           name="ldnUrl"
           type="text">
  </div>

  <div class="mb-4">
    &nbsp;
  </div>

  <div class="row">
    <div class="col">
      <label>{{ 'ldn-new-service.form.label.inboundPattern' | translate }} </label>
    </div>
    <div class="col">
      <label class="label-box">{{ 'ldn-new-service.form.label.ItemFilter' | translate }}</label>
    </div>
    <div class="col-sm1 ">
      <label class="label-box-2">{{ 'ldn-new-service.form.label.automatic' | translate }}</label>
    </div>
    <div class="col-sm-1">
    </div>
  </div>

  <div *ngFor="let patternGroup of formModel.get('notifyServiceInboundPatterns')['controls']; let i = index"
       formGroupName="notifyServiceInboundPatterns">

    <ng-container [formGroupName]="i">


      <div class="row">
        <div class="col">
          <select #inboundPattern formControlName="pattern" id="additionalInboundPattern{{i}}"
                  name="additionalInboundPattern{{i}}" required>
            <option value="">{{ 'ldn-new-service.form.label.placeholder.inboundPattern' | translate }}</option>
            <option *ngFor="let pattern of inboundPatterns"
                    [ngValue]="pattern.name">{{ pattern.name }}</option>
          </select>
        </div>

        <div class="col">
          <ng-container *ngIf="inboundPattern.value">
            <select formControlName="constraint" id="constraint{{i}}" name="constraint{{i}}">
              <option value="">{{ 'ldn-new-service.form.label.placeholder.selectedItemFilter' | translate }}</option>
              <option *ngFor="let itemFilter of (itemfiltersRD$ | async)?.payload?.page"
                      [value]="itemFilter.id">{{ itemFilter.id }}</option>
            </select>
          </ng-container>
        </div>

        <div [style.visibility]="inboundPattern.value ? 'visible' : 'hidden'" class="col-sm1">
          <input formControlName="automatic" hidden id="automatic{{i}}" name="automatic{{i}}" type="checkbox">
          <div (click)="toggleAutomatic(i)"
               [class.checked]="formModel.get('notifyServiceInboundPatterns.' + i + '.automatic').value"
               class="toggle-switch">
            <div class="slider"></div>
          </div>
        </div>


        <div class="col-sm-1">
          <button type="button" (click)="removeInboundPattern(i)" class="btn btn-outline-dark trash-button ml-2">
            <i class="fas fa-trash"></i>
          </button>
        </div>
      </div>
    </ng-container>
  </div>


  <span (click)="addInboundPattern()"
        class="add-pattern-link mb-2">{{ 'ldn-new-service.form.label.addPattern' | translate }}</span>

  <div class="mb-4">
    &nbsp;
  </div>

  <div class="row">
    <div class="col">
      <label>{{ 'ldn-new-service.form.label.outboundPattern' | translate }}</label>
    </div>
    <div class="col">
      <label class="label-box-3">{{ 'ldn-new-service.form.label.ItemFilter' | translate }}</label>
    </div>
    <div class="col-sm-1 ">
      <label class="label-box-2"></label>
    </div>
    <div class="col-sm-1 ">
    </div>
  </div>

  <div *ngFor="let patternGroup of formModel.get('notifyServiceOutboundPatterns')['controls']; let i = index"
       formGroupName="notifyServiceOutboundPatterns">

    <ng-container [formGroupName]="i">

      <!-- Input elements in a separate row -->
      <div class="row">
        <div class="col">
          <select #outboundPattern formControlName="pattern" id="additionalOutboundPattern{{i}}"
                  name="additionalOutboundPattern{{i}}"
                  required>
            <option value="">{{ 'ldn-new-service.form.label.placeholder.outboundPattern' | translate }}</option>
            <option *ngFor="let pattern of outboundPatterns"
                    [ngValue]="pattern.name">{{ pattern.name }}</option>
          </select>
        </div>
        <div class="col">
          <ng-container *ngIf="outboundPattern.value">
            <select formControlName="constraint" id="constraint{{i}}" name="constraint{{i}}">
              <option value="">{{ 'ldn-new-service.form.label.placeholder.selectedItemFilter' | translate }}</option>
              <option *ngFor="let itemFilter of (itemfiltersRD$ | async)?.payload?.page"
                      [value]="itemFilter.id">{{ itemFilter.id }}</option>
            </select>
            </ng-container>
        </div>

        <div [style.visibility]="'hidden'" class="col-sm1">
          <input hidden id="automatic{{i}}" name="automatic{{i}}" type="checkbox">
          <div
            class="toggle-switch">
            <div class="slider"></div>
          </div>
        </div>

        <div class="col-sm-1">
          <button type="button" (click)="removeOutboundPattern(i)" class="btn btn-outline-dark trash-button ml-2">
            <i class="fas fa-trash"></i>
          </button>
        </div>
      </div>
    </ng-container>
  </div>

  <span
    (click)="addOutboundPattern()"
    class="add-pattern-link mb-2">{{ 'ldn-new-service.form.label.addPattern' | translate }}
    </span>

  <div class="mb-5">
    &nbsp;
  </div>

  <button class="btn btn-primary" type="submit">{{ 'ldn-new-service.form.label.submit' | translate }}</button>
  <div class="">
    <button type="button" class="btn btn-danger" (click)="this.openResetFormModal(this.resetFormModal)">
      <i class="fas fa-trash"></i> {{ 'submission.general.discard.submit' | translate }}
    </button>
  </div>
</form>

<ng-template #confirmModal>

  <div>

    <div class="modal-header">
      <div>
        <h4>{{'service.overview.create.modal' | translate }}</h4>
      </div>
      <button (click)="closeModal()" aria-label="Close"
              class="close" type="button">
        <span aria-hidden="true">×</span>
      </button>
    </div>

    <div class="modal-body">
      <div>
        {{ 'service.overview.delete.body' | translate }}
      </div>
      <div class="mt-4">
        <button (click)="this.patchService()"
                class="btn btn-primary mr-2 custom-btn">{{ 'service.detail.update' | translate }}</button>
        <button (click)="closeModal()" class="btn btn-danger"
                id="delete-confirm">{{ 'service.detail.return' | translate }}
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #resetFormModal>

  <div>

    <div class="modal-header">
      <div>
        <h4>{{'service.overview.reset-form.modal' | translate }}</h4>
      </div>
      <button (click)="closeModal()" aria-label="Close"
              class="close" type="button">
        <span aria-hidden="true">×</span>
      </button>
    </div>

    <div class="modal-body">
      <div>
        {{ 'service.overview.reset-form.body' | translate }}
      </div>
      <div class="mt-4">
        <button (click)="resetFormAndLeave()"
                class="btn btn-primary mr-2 custom-btn" id="reset-confirm">{{ 'service.overview.reset-form.reset-confirm' | translate }}</button>
        <button (click)="closeModal()" class="btn btn-danger"
                id="reset-delete">{{ 'service.overview.reset-form.reset-return' | translate }}
        </button>
      </div>
    </div>
  </div>
</ng-template>
