<div dsSection #sectionRef="sectionRef" [attr.id]="'section_' + sectionData.id"
  [ngClass]="{ 'section-focus' : sectionRef.isSectionActive() }" [mandatory]="sectionData.mandatory"
  [submissionId]="submissionId" [sectionType]="sectionData.sectionType" [sectionId]="sectionData.id">
  <ngb-accordion #acc="ngbAccordion" *ngIf="(sectionRef.isEnabled() | async)"
    (panelChange)="sectionRef.sectionChange($event)" activeIds="{{ sectionData.id }}" [destroyOnHide]="false">
    <ngb-panel id="{{ sectionData.id }}" [type]="sectionRef.isInfo() ? 'info' : ''">
      <ng-template ngbPanelTitle>
        <span [ngClass]="{ 'text-white' : sectionRef.isInfo()}" class="float-left section-title" tabindex="0">{{
          'submission.sections.'+sectionData.header | translate
          }}</span>
        <div class="d-inline-block float-right">
          <fa-icon *ngIf="(sectionRef.isValid() | async) !== true && !(sectionRef.hasErrors()) && !(sectionRef.isInfo())"
                   [icon]="faExclamationCircle"
                   class="text-warning mr-3"
                   role="img"
                   title="{{'submission.sections.status.warnings.title' | translate}}"
                   [attr.aria-label]="'submission.sections.status.warnings.aria' | translate"/>
          <fa-icon *ngIf="(sectionRef.hasErrors()) && !(sectionRef.isInfo())"
                   [icon]="faExclamationCircle"
                   class="text-danger mr-3"
                   role="img"
                   title="{{'submission.sections.status.errors.title' | translate}}"
                   [attr.aria-label]="'submission.sections.status.errors.aria' | translate"/>
          <fa-icon *ngIf="(sectionRef.isValid() | async) && !(sectionRef.hasErrors()) && !(sectionRef.isInfo())"
                   [icon]="faCheckCircle"
                   class="text-success mr-3"
                   role="img"
                   title="{{'submission.sections.status.valid.title' | translate}}"
                   [attr.aria-label]="'submission.sections.status.valid.aria' | translate"/>
          <fa-icon *ngIf="sectionRef.isInfo()"
                   [icon]="faCheckCircle"
                   class="text-white mr-3"
                   role="img"
                   title="{{'submission.sections.status.info.title' | translate}}"
                   [attr.aria-label]="'submission.sections.status.info.aria' | translate"/>
          <a class="close" tabindex="0" role="button"
            [attr.aria-label]="(sectionRef.isOpen() ? 'submission.sections.toggle.aria.close' : 'submission.sections.toggle.aria.open') | translate: {sectionHeader: ('submission.sections.'+sectionData.header | translate)}"
            [title]="(sectionRef.isOpen() ? 'submission.sections.toggle.close' : 'submission.sections.toggle.open') | translate">
            <fa-layers *ngIf="sectionRef.isOpen()"  [fixedWidth]="true" [ngClass]="{ 'text-white' : sectionRef.isInfo()}">
              <fa-icon [icon]="faChevronUp"/>
            </fa-layers>
            <fa-layers [fixedWidth]="true">
              <fa-icon *ngIf="!sectionRef.isOpen()" [icon]="faChevronDown"/>
            </fa-layers>
          </a>
          <a href="javascript:void(0);" class="close mr-3" *ngIf="!sectionRef.isMandatory()"
            (click)="removeSection($event)">
            <fa-icon [icon]="faTrashCan" tabindex="0"/>
          </a>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <div id="sectionGenericError_{{sectionData.id}}" *ngIf="sectionRef.hasGenericErrors()">
          <ds-alert *ngFor="let error of sectionRef.getErrors(); let i = index" [content]="error" [dismissible]="true"
            [type]="AlertTypeEnum.Error" (close)="sectionRef.removeError(i)"></ds-alert>
        </div>
        <div id="sectionContent_{{sectionData.id}}" (click)="sectionRef.setFocus($event)">
          <ng-container *ngComponentOutlet="getSectionContent(); injector: objectInjector;"></ng-container>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
