
<div class="main mt-0">
    <div class="bootstrap-wrapper">
        <div class="container">
            <div class="main-title-band d-flex">
                <h4>Popular Destinations</h4>
            </div>
            <div class="row g-4">
            <div class="col-6 col-md-3">
                <div class="city-card" routerLink="/destinations-trips">
                    <div class="img-band">
                      <img src="assets/image/toronto-city.jpg">
                    </div>
                    <div class="title">
                      <h4>Toronto</h4>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="city-card">
                    <div class="img-band">
                      <img src="assets/image/vancouver-city.jpg">
                    </div>
                    <div class="title">
                      <h4>vancouver</h4>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="city-card">
                    <div class="img-band">
                      <img src="assets/image/montreal-city.jpg">
                    </div>
                    <div class="title">
                      <h4>Montreal</h4>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="city-card">
                    <div class="img-band">
                      <img src="assets/image/ottawa-city.jpg">
                    </div>
                    <div class="title">
                      <h4>Ottawa</h4>
                    </div>
                  </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="city-card">
                    <div class="img-band">
                      <img src="assets/image/calgary-city.jpg">
                    </div>
                    <div class="title">
                      <h4>Calgary</h4>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="city-card">
                    <div class="img-band">
                      <img src="assets/image/edmonton-city.jpg">
                    </div>
                    <div class="title">
                      <h4>Edmonton</h4>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="city-card">
                    <div class="img-band">
                      <img src="assets/image/hamilton-city.jpg">
                    </div>
                    <div class="title">
                      <h4>Hamilton</h4>
                    </div>
                  </div>
            </div>
        </div>
        
        </div>
   
    </div>
</div>