header {
  background-color: var(--ds-header-bg);
}

.navbar-brand img {
  max-height: var(--ds-header-logo-height);
  max-width: 100%;
  @media screen and (max-width: map-get($grid-breakpoints, sm)) {
    max-height: var(--ds-header-logo-height-xs);
  }
}

.clarin-logo {
  height: var(--ds-login-logo-height);
  width: var(--ds-login-logo-width);
}

.navbar-toggler .navbar-toggler-icon {
  background-image: none !important;
  line-height: 1.5;
}

.navbar-toggler {
  border: none;
  color: var(--ds-header-icon-color);

  &:hover, &:focus {
    color: var(--ds-header-icon-color-hover);
  }
}

.navbar {
  display: flex;
  gap: calc(var(--bs-spacer) / 3);
  align-items: center;
}
