.navbar-brand img {
    height: var(--ds-header-logo-height);
    @media screen and (max-width: map-get($grid-breakpoints, sm)) {
        height: var(--ds-header-logo-height-xs);
    }
}
.navbar-toggler .navbar-toggler-icon {
    background-image: none !important;
    line-height: 1.5;
}

.navbar ::ng-deep {
  a {
    color: var(--ds-header-icon-color);

    &:hover, &focus {
      color: var(--ds-header-icon-color-hover);
    }
  }
}

