<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>{{'collection.item-mapper.head' | translate}}</h2>
      <p [innerHTML]="'collection.item-mapper.collection' | translate:{ name: (collectionRD$ | async)?.payload?.name }" id="collection-name"></p>
      <p>{{'collection.item-mapper.description' | translate}}</p>

      <ngb-tabset (tabChange)="tabChange($event)" [destroyOnHide]="true">
        <ngb-tab title="{{'collection.item-mapper.tabs.browse' | translate}}">
          <ng-template ngbTabContent>
            <div class="mt-2">
              <ds-item-select class="mt-2"
                [key]="'browse'"
                [dsoRD$]="collectionItemsRD$"
                [paginationOptions]="(searchOptions$ | async)?.pagination"
                [confirmButton]="'collection.item-mapper.remove'"
                [hideCollection]="true"
                (confirm)="mapItems($event, true)"></ds-item-select>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="{{'collection.item-mapper.tabs.map' | translate}}">
          <ng-template ngbTabContent>
            <div class="row mt-2">
              <div class="col-12 col-lg-6">
                <ds-search-form id="search-form"
                                [query]="(searchOptions$ | async)?.query"
                                [scope]="(searchOptions$ | async)?.scope"
                                [currentUrl]="getCurrentUrl()">
                </ds-search-form>
              </div>
            </div>

            <div>
              <ds-item-select class="mt-2"
                [key]="'map'"
                [dsoRD$]="mappedItemsRD$"
                [paginationOptions]="(searchOptions$ | async)?.pagination"
                [confirmButton]="'collection.item-mapper.confirm'"
                (confirm)="mapItems($event)"></ds-item-select>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>

      <button [routerLink]="['/collections/', (collectionRD$ | async)?.payload?.id]" class="btn btn-outline-secondary">{{'collection.item-mapper.return' | translate}}</button>
    </div>
  </div>
</div>
