<footer class="text-lg-start">
  <div *ngIf="showTopFooter && hasSiteFooterSections" class="top-footer">
    <!-- Grid container -->
    <ds-text-section [sectionId]="'site'"
                     [textRowSection]=section
                     [site]="(site | async)"></ds-text-section>
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="bottom-footer p-1 d-flex justify-content-center align-items-center text-white">
    <div class="content-container">
      <p class="m-0">
        {{ 'footer.built-with' | translate }}
        <a class="text-white" href="https://wiki.lyrasis.org/display/DSPACECRIS/">{{ 'footer.link.dspace-cris' | translate}}</a>
        {{ 'footer.extension-by' | translate }}
        <a class="text-white" href="https://www.4science.it/en/">
          <img src="assets/images/logo-4science-small.png" alt="{{ 'footer.link.4science' | translate}}"/>
        </a>
      </p>
      <ul class="footer-info list-unstyled small d-flex justify-content-center mb-0">
        <li>
          <a class="text-white" href="#" (click)="showCookieSettings()">{{ 'footer.link.cookies' | translate}}</a>
        </li>
        <li>
          <a class="text-white" routerLink="info/privacy">{{ 'footer.link.privacy-policy' | translate}}</a>
        </li>
        <li>
          <a class="text-white" routerLink="info/end-user-agreement">{{ 'footer.link.end-user-agreement' | translate}}</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Copyright -->
</footer>
