<div class="pt-3" *ngIf="item != null">
  <div class="card">
    <div class="card-body pt-0 pb-0">
      <div class="row justify-content-between">
        <span class="item-type">{{ itemType }}</span>
        <span class="item-community label"><a class="pt-2" [href]="communitySearchRedirect | async">{{ (itemCommunity | async)?.name }}</a></span>
      </div>
      <div class="pl-3">
        <div class="row pt-3 justify-content-between">
          <div class="">
            <div><a [href]="itemUri" class="item-name">{{ itemName }}</a></div>
            <div class="pt-1"><strong>Author(s):</strong></div>
          </div>
          <div>
            <img class="artifact-icon" src="assets/images/corpus.png">
          </div>
        </div>
        <div class="row">
          <ds-clarin-item-author-preview [item]="item"></ds-clarin-item-author-preview>
        </div>
        <div class="row d-block pt-1">
          <div><strong>Description:</strong></div>
          <div class="clarin-item-description pr-3">{{itemDescription}}</div>
        </div>
        <div class="row d-flex pt-1">
          <div class="label label-info label-icon"><i class="fas fa-paperclip fa-sm"></i></div>
          <div class="label label-info"> This item contains {{ (itemCountOfFiles | async) }} files ({{(itemFilesSizeBytes | async) | dsFileSize }}). </div>
        </div>
      </div>
      <div class="row justify-content-end pt-3">
          <span [ngClass]="'label label-license' + ' label-' + licenseLabel + ' rounded text-white'">
            {{licenseType }}
          </span>
          <div class="d-inline" *ngFor="let icon of licenseLabelIcons">
            <img [src]="secureImageData(icon)" alt="" width="24px">
          </div>
      </div>
    </div>
  </div>

</div>
