<div class="pt-3" *ngIf="item != null">
  <div class="card">
    <div class="card-body pt-0 pb-0">
      <div class="row justify-content-between">
        <span class="item-type">{{ itemType }}</span>
        <span class="item-community label"><a class="pt-2" [href]="communitySearchRedirect | async">{{ (itemCommunity | async)?.name }}</a></span>
      </div>
      <div class="pl-3">
        <div class="row pt-3 justify-content-between">
          <div class="">
            <div><a [routerLink]="itemUri" class="item-name">{{ itemName }}</a></div>
            <div class="pt-1"><strong>{{'item.view.box.author.message' | translate}}</strong></div>
          </div>
          <div>
            <img class="artifact-icon" src="assets/images/corpus.png">
          </div>
        </div>
        <div class="row">
          <ds-clarin-item-author-preview [item]="item"></ds-clarin-item-author-preview>
        </div>
        <div class="row d-block pt-1">
          <div><strong>Description:</strong></div>
          <div class="clarin-item-description pr-3">{{itemDescription}}</div>
        </div>
        <div class="row d-flex pt-1">
          <div class="label label-info label-icon"><i class="fas fa-paperclip fa-sm"></i></div>
          <div *ngIf="(itemCountOfFiles | async) !== -1" class="label label-info"> {{'item.view.box.files.message.0' | translate}} {{ (itemCountOfFiles | async) }} {{'item.view.box.files.message.1' | translate}} ({{(itemFilesSizeBytes | async) | dsFileSize }}). </div>
          <div *ngIf="(itemCountOfFiles | async) === -1" class="label label-info"> {{'item.view.box.no-files.message' | translate}}</div>
        </div>
      </div>
      <div [ngClass]="{'row': true, 'justify-content-end': true, 'pt-3': (itemCountOfFiles | async) === -1}">
        <div *ngIf="licenseType != null"
             [ngClass]="'d-inline py-1 px-1 label label-license' + ' label-' + licenseLabel + ' rounded text-white'">
          <span>
            {{licenseType }}
          </span>
          <div class="d-inline" *ngFor="let icon of (licenseLabelIcons | async)">
            <img [ngClass]="{'clarin-license-icon-mr':licenseLabelIcons.value.length > 1}" [src]="secureImageData(icon)" alt="" width="16px">
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
