.item-type {
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #616161;
  text-transform: capitalize;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
  margin-left: -6px;
  margin-top: -1px;
}

.item-community {
  padding: 3px 7px 0px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #909090;
  text-transform: capitalize;
  -webkit-border-radius: 0 4px 0 4px;
  -moz-border-radius: 0 4px 0 4px;
  border-radius: 0 4px 0 4px;
  text-shadow: none;
  margin-top: -1px;
  margin-right: -6px;
}

.artifact-icon {
  position: absolute;
  right: 2%;
  width: 60px;
}

.label-info {
  background-color: #5bc0de;
}
.label {
  padding: 0 3px 0 4px;
  font-size: 75%;
  height: fit-content;
  font-weight: 700;
  color: #fff;
  border-radius: 0 0.25em 0.25em 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #ddd;
  border-bottom: none;
}

.label-icon {
  border-radius: 0.25em 0 0 0.25em;
}

.label-PUB {
  background-color: #dff0d8 !important;
  color: #5cb811 !important;;
}

.label-RES {
  color: #c62d1f !important;
  background-color: #f2dede !important;
}

.label-ACA, .label-PDT {
  color: #ffab23 !important;
  background-color: #fcf8e3 !important;
}

.label-license {
  margin-right: -6px;
  margin-top: 6px;
  border-radius: 3px 0 3px 0 !important;
}

.license-div {
  margin-left: -5px !important;
  margin-bottom: -4px !important;
}

.clarin-item-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 15px;
  line-height: 1.428571429;
}

.item-name {
  color: #428bca;
  text-decoration: none;
}

.item-author {
  color: gray;
  font-size: 15px;
}

.item-author-wrapper {
  margin-top: -4px;
}

.show-every-author {

}

.clarin-font-size {
  font-size: 15px;
}

//body {
//  font-size: 14px;
//  line-height: 1.428571429;
//  color: #333;
//  background-color: #fff;
//}
