<h2 class="item-page-title-field">
  {{'Publication: ' | translate}}<ds-metadata-values [mdValues]="item?.allMetadata(['dc.title'])"></ds-metadata-values>
</h2>
<div class="row">
  <div class="col-xs-12 col-md-4">
    <ds-metadata-field-wrapper>
      <ds-thumbnail [thumbnail]="this.item.getThumbnail() | async"></ds-thumbnail>
    </ds-metadata-field-wrapper>
    <ds-item-page-file-section [item]="item"></ds-item-page-file-section>
    <ds-Date-field [item]="item"></ds-Date-field>
    <ds-item-page-author-field *ngIf="!(authors$ | async)" [item]="item"></ds-item-page-author-field>
    <ds-generic-item-page-field [item]="item"
      [fields]="['journal.title']"
      [label]="'Journal Title'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="item"
      [fields]="['journal.identifier.issn']"
      [label]="'Journal ISSN'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="item"
      [fields]="['journalvolume.identifier.name']"
      [label]="'Volume Title'">
    </ds-generic-item-page-field>
  </div>
  <div class="col-xs-12 col-md-6">
    <ds-metadata-representation-list
      [label]="'Authors' | translate"
      [representations]="authors$ | async">
    </ds-metadata-representation-list>
    <ds-related-items
      [items]="projects$ | async"
      [label]="'Research Projects' | translate">
    </ds-related-items>
    <ds-related-items
      [items]="orgUnits$ | async"
      [label]="'Organizational Units' | translate">
    </ds-related-items>
    <ds-related-items
      [items]="journalIssues$ | async"
      [label]="'Journal Issue' | translate">
    </ds-related-items>
    <ds-Abstract-field [item]="item"></ds-Abstract-field>
    <ds-generic-item-page-field [item]="item"
      [fields]="['dc.subject']"
      [separator]="','"
      [label]="'Keywords'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="item"
      [fields]="['dc.identifier.citation']"
      [label]="'Citation'">
    </ds-generic-item-page-field>    
    <ds-URI-field [item]="item"></ds-URI-field>
    <ds-item-page-collections [item]="item"></ds-item-page-collections>
    <div>
      <a class="btn btn-outline-primary" [routerLink]="['/items/' + item.id + '/full']">
        {{"item.page.link.full" | translate}}
      </a>
    </div>
  </div>
</div>
