<ds-themed-results-back-button *ngIf="showBackButton | async" [back]="back"></ds-themed-results-back-button>
<div class="d-flex flex-row mt-2">
  <ds-themed-item-page-title-field [item]="object" class="mr-auto">
  </ds-themed-item-page-title-field>
  <div class="align-content-end">
    <ds-dso-edit-menu></ds-dso-edit-menu>
  </div>
</div>
<!-- Afficher le contenu dans des onglets -->
  <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs" >
    <li [ngbNavItem]="1"  >
      <a ngbNavLink (click)="displaySection('calypso-mirador')">Fichiers</a>
      <ng-template ngbNavContent>
        <!-- Cette section reste vide parce qu'elle affichera mirador -->
      </ng-template>
    </li>
    <li [ngbNavItem]="2" >
      <a ngbNavLink (click)="hideSection('calypso-mirador')">Notice complète</a>
      <ng-template ngbNavContent>
        <!-- Afficher les métadonnées dans un tableau -->
        <div class="table-responsive mt-2">
          <table class="table  table-striped">
            <tbody>
            <ng-container >
              <tr *ngFor="let meta of metadata">
                <td>{{meta.label}}</td>
                <td>{{meta.value}}</td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
        <div *ngIf="itemRD?.payload as item">
          <ds-themed-item-page-full-file-section [item]="item"></ds-themed-item-page-full-file-section>
          <ds-item-page-collections [item]="item"></ds-item-page-collections>
        </div>
        <!-- fin importation -->
      </ng-template>
    </li>
    <li [ngbNavItem]="3" >
      <a ngbNavLink (click)="hideSection('calypso-mirador')">Autres</a>
      <ng-template ngbNavContent>
        <div class="table-responsive mt-2">
          <!-- Ajoutez le contenu spécifique à l'onglet 3 ici -->
          <table class="table  table-striped mt-3">
            <tbody>
              <tr>
                <th>Colone 1</th>
                <th>Colone 2</th>
                <th>Colone 3</th>
              </tr>
              <tr>
                <td>Donnees 1</td>
                <td>Donnees 2</td>
                <td>Donnees 3</td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
    </li>
  </ul>
 <!-- Section specifique au onglet choisi -->
 <div [ngbNavOutlet]="nav" class="mt-2"></div>
<!-- Section pour mirador -->
  <div class="row" *ngIf="iiifEnabled">
    <div class="col-12" id="calypso-mirador">
      <ds-mirador-viewer id="iiif-viewer"
                         [object]="object"
                         [searchable]="iiifSearchEnabled"
                         [query]="iiifQuery$ | async">
      </ds-mirador-viewer>
    </div>
  </div>

