
<div class="main mt-0 bg-primary">
    <div class="bootstrap-wrapper">
        <div class="container">
            <div class="details-band">
                <div class="main-title-band icon-header">
                    <div class="icon-round-band orange-bg">
                        <img src="assets/icons/terms-&-condition.png">
                    </div>
                    <h4>terms & condition for TripsOn</h4>
                </div>
                <div class="white-card-box text-list">
                    <h5 class="small-font mb-20">Introduction</h5>
                    <p>Welcome to tripsOn ,As you have just clicked our Terms of Service, please pause, grab a cup of coffee and carefully read the following pages. It will take you approximately 20 minutes.</p>
                    <p>These Terms of Service (“Terms”, “Terms of Service”) govern your use of our web pages located at <a href="#">https://tripson.com</a> operated by TripsOn Inc.</p>
                    <p>Our Privacy Policy also governs your use of our Service and explains how we collect, safeguard and disclose information that results from your use of our web pages. Please read it here at <a href="#">https://tripson.com/privacy</a>.
                        Your agreement with us includes these Terms and our Privacy Policy (“Agreements”). You acknowledge that you have read and understood Agreements, and agree to be bound of them.</p>
                    <p>If you do not agree with (or cannot comply with) Agreements, then you may not use the Service, but please let us know by emailing at support@tripson.com so we can try to find a solution. These Terms apply to all visitors, users and others who wish to access or use Service.</p>
                    <p>Thank you for being responsible.</p>
                    <br>
                    <h5 class="small-font mb-20">Communications</h5>
                    <p>By creating an Account on our Service, you agree to subscribe to newsletters, marketing or promotional materials and other information we may send. However, you may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or by emailing at.</p> 
                    <br>
                    <h5 class="small-font mb-20">Refunds</h5>
                    <p>Except when required by law, paid Subscription fees are non-refundable.</p> 
                    <br>
                    <h5 class="small-font mb-20">Trip Planning</h5>
                    <ul>
                        <li> <span>User Responsibility:</span> You are solely responsible for the accuracy and completeness of the trip information you provide through our service</li>
                        <li><span>Recommendations: </span>Our service may provide trip recommendations and suggestions, but you acknowledge that these are for informational purposes only, and you should use your discretion when making travel decisions.</li>
                    </ul>
                    <br>
                    <h5 class="small-font mb-20">Privacy</h5>
                    <p>We respect your privacy and handle your personal information in accordance with our Privacy Policy, which is incorporated by reference into these Terms.</p>
                    <br>
                    <h5 class="small-font mb-20">Termination</h5>
                    <p>We reserve the right to terminate or suspend your access to our service, with or without cause, at our discretion.</p>  
                    <br>
                    <h5 class="small-font mb-20">Disclaimer of Warranties</h5>
                    <p>Your use of our service is at your own risk. We do not warrant that the service will be error-free, uninterrupted, or free from viruses.</p>
                    <br>
                    <h5 class="small-font mb-20">Your Rights</h5>
                    <p>You have the right to access, modify, or delete the personal information that we have collected from you. You may do so by contacting us at <a href="#">hello@tripson.ai</a> We will respond to your request within a reasonable time frame.</p>
                    <br>
                    <h5 class="small-font mb-20">Limitation of Liability</h5>
                    <p>To the extent permitted by law, we shall not be liable for any direct, indirect, incidental, special, consequential, or punitive damages arising out of or in connection with your use of our service.</p>
                    <br>
                    <h5 class="small-font mb-20">Changes to Terms</h5>
                    <p>We may update these Terms from time to time. Any changes will be posted on this page, and the revised terms will be effective immediately upon posting.</p>
                    <br>
                    <h5 class="small-font mb-20">Contact Us</h5>
                    <p>If you have any questions or concerns regarding this Privacy Policy, please contact us at <a href="#">hello@tripson.ai</a></p>
                      
                      
                </div>
            </div>
        </div>
    </div>
</div>