.vedette-col {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  opacity: 0;
  animation: fromLeft 0s 1s forwards ease-in-out;
}

.vedetteCollImage {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.vedetteCollImage img {
  width: 100%;
  display: block;
  opacity: 0;
  animation: fromLeft 0.1s 1.1s forwards ease-in-out;
}

.vedette-col::before{
  content:'';
  position:absolute;
  top:0; left:0px; width:20px;
  height:60px;
  background-color: #207698;
  opacity:0;
}
.vedette-col::before {
  animation: fromTop .6s forwards ease-in;
  animation-delay: .3s;
  z-index:3;
}
.vedette-col::after {
  content:'';
  position:absolute;
  top:0;left:-20px;right:0;
  height:100%;
  border-left:20px solid #1d354d;
  background:#e9ecef;
  animation: toRight .5s forwards;
  animation-delay: 1.3s;
  z-index:2;
}

.info {
  width:100%!important;
  position:absolute;
  bottom:0;
  display:flex;
  align-items:stretch;
  z-index:5;
  font-family: 'Raleway', sans-serif;
  overflow:hidden;
  animation:info .3s 1.1s ease-out forwards;
}
.vedette-title {
  font-size:1.5em;
  font-weight:400;
  padding:.5em 1em;
  margin:0;
  overflow:hidden;
  border-left:20px solid #1d354d;
  background:#e9ecef;
  opacity: 0;
  animation: fromLeft 0.1s 1.1s forwards ease-in-out;
}

.inner {
  display:block;
  transform:translate3d(-10px,0,0);
  opacity:0;
  animation: text .3s ease-out forwards;
  animation-delay:1.5s;
}

@keyframes fromTop {
  0% {opacity:0;}
  30% {opacity:1;}
  40% {height:60px;}
  100% {height:100%; opacity:1;}
}
@keyframes toRight {
  100% {left:100%;}
}
@keyframes fromLeft {
  to {opacity:1;transform:translate3d(0,0,0);}
}
@keyframes info {
  to {width:380px;}
}
@keyframes text {
  to {transform:translate3d(0,0,0);opacity:1;}
}
