<ng-container *ngVar="mediaList$ | async as mediaList">
  <ds-loading *ngIf="isLoading" message="{{ 'loading.default' | translate }}" [showMessage]="false"></ds-loading>
  <div class="media-viewer" *ngIf="!isLoading">
    <ng-container *ngIf="mediaList.length > 0">
      <ng-container *ngIf="config.video">
        <ng-container *ngIf="
            mediaList[0]?.format === 'video' || mediaList[0]?.format === 'audio'
          ">
          <ds-media-viewer-video [medias]="mediaList" [width]="config.width" [height]="config.height">
          </ds-media-viewer-video>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="mediaList[0]?.format === 'image'">
        <ds-media-viewer-image [images]="mediaList" [width]="config.width" [height]="config.height">
        </ds-media-viewer-image>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="
        ((mediaList[0]?.format !== 'image') &&
          (!config.video || mediaList[0]?.format !== 'video') &&
          (!config.video || mediaList[0]?.format !== 'audio')) ||
        mediaList.length === 0
      ">
      <ds-media-viewer-image [image]="mediaList[0]?.thumbnail || thumbnailPlaceholder" [preview]="false"
        [width]="config.width" [height]="config.height"></ds-media-viewer-image>
    </ng-container>
  </div>
</ng-container>
