<ng-container *ngVar="mediaList$ | async as mediaList">
  <ds-loading
    *ngIf="isLoading"
    message="{{ 'loading.default' | translate }}"
    [showMessage]="false"
  ></ds-loading>
  <div class="media-viewer" *ngIf="mediaList.length > 0">
    <ng-container
      *ngIf="
        mediaList[0]?.format === 'video' || mediaList[0]?.format === 'audio'
      "
    >
      <ds-media-viewer-video [medias]="mediaList"></ds-media-viewer-video>
    </ng-container>
    <ng-container *ngIf="mediaList[0]?.format === 'image'">
      <ds-media-viewer-image [images]="mediaList"></ds-media-viewer-image>
    </ng-container>
    <ng-container
      *ngIf="
        mediaList[0]?.format !== 'image' &&
        mediaList[0]?.format !== 'video' &&
        mediaList[0]?.format !== 'audio'
      "
    >
      <img [src]="mediaList[0]?.thumbnail || thumbnailPlaceholder" alt="" />
    </ng-container>
  </div>
</ng-container>
