<div class="container" *ngVar="(itemRDObs | async) as itemRD">
  <div class="item-page" *ngIf="(itemRDObs | async)?.hasSucceeded" @fadeInOut>
    <div *ngIf="itemRD?.payload as item">
      <ds-entity-type-switcher [object]="(itemRDObs | async)?.payload" [viewMode]="ElementViewMode.Full"></ds-entity-type-switcher>
    </div>
  </div>
  <ds-error *ngIf="(itemRDObs | async)?.hasFailed" message="{{'error.item' | translate}}"></ds-error>
  <ds-loading *ngIf="(itemRDObs | async)?.isLoading" message="{{'loading.item' | translate}}"></ds-loading>
</div>
