<div class="item-page" *ngIf="item.hasSucceeded | async" @fadeInOut>
  <div *ngIf="item.payload | async; let itemPayload">
    <ds-item-page-title-field [item]="itemPayload"></ds-item-page-title-field>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <ds-metadata-field-wrapper>
          <ds-thumbnail [thumbnail]="thumbnail | async"></ds-thumbnail>
        </ds-metadata-field-wrapper>
        <ds-item-page-file-section [item]="itemPayload"></ds-item-page-file-section>
        <ds-item-page-date-field [item]="itemPayload"></ds-item-page-date-field>
        <ds-item-page-author-field [item]="itemPayload"></ds-item-page-author-field>
      </div>
      <div class="col-xs-12 col-md-6">
        <ds-item-page-abstract-field [item]="itemPayload"></ds-item-page-abstract-field>
        <ds-item-page-uri-field [item]="itemPayload"></ds-item-page-uri-field>
        <ds-item-page-collections [item]="itemPayload"></ds-item-page-collections>
        <div>
          <a class="btn btn-outline-primary" [routerLink]="['/items/' + itemPayload.id + '/full']">
            {{"item.page.link.full" | translate}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<ds-error *ngIf="item.hasFailed | async" message="{{'error.item' | translate}}"></ds-error>
<ds-loading *ngIf="item.isLoading | async" message="{{'loading.item' | translate}}"></ds-loading>
