<div [class.form-group]="(type !== 6 && asBootstrapFormGroup) || getClass('element', 'container').includes('form-group')"
  [formGroup]="group"
     [ngClass]="[getClass('element', 'container'), getClass('grid', 'container')]">

  <label *ngIf="type !== 3 && model.label"
           [for]="model.id"
           [innerHTML]="(model.required && model.label) ? (model.label | translate) + ' *' : (model.label | translate)"
           [ngClass]="[getClass('element', 'label'), getClass('grid', 'label')]"></label>

    <ng-container *ngTemplateOutlet="templates[0]?.templateRef; context: model"></ng-container>

  <div [ngClass]="{'form-row': model.hasLanguages }">
    <div [ngClass]="getClass('grid', 'control')">

      <ng-container #componentViewContainer></ng-container>

    </div>

    <div *ngIf="model.languageCodes && model.languageCodes.length > 0" class="col-xs-2">
      <select
        #language="ngModel"
        [disabled]="model.readOnly"
        [(ngModel)]="model.language"
        class="form-control"
        (blur)="onBlur($event)"
        (change)="onChangeLanguage($event)"
        [ngModelOptions]="{standalone: true}"
        required>
        <!--<option [value]="null" disabled>Language</option>-->
        <option *ngFor="let lang of model.languageCodes" [value]="lang.code">{{lang.display}}</option>
      </select>
    </div>
  </div>

    <ng-container *ngTemplateOutlet="templates[1]?.templateRef; context: model"></ng-container>

  <ng-content></ng-content>

</div>
