:host ::ng-deep {
  // For proper scoping, do not include the .css file suffix here
  @import "../../form.component";
}

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
}

:host ::ng-deep .custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.date-field-security {
  padding-top: 2rem;
}


