<div class="row">
    <div class="labels col-sm-9 offset-sm-3">
        <ng-container *ngFor="let key of ((appliedFilters | async) | dsObjectKeys)">
            <a *ngFor="let values of (appliedFilters | async)[key]" class="badge badge-primary mr-1"
               [routerLink]="getSearchLink()"
               [queryParams]="(getRemoveParams(key, values) | async)" queryParamsHandling="merge">
                {{('search.filters.applied.' + key) | translate}}: {{values}}
                <span> ×</span>
            </a>
        </ng-container>
    </div>
</div>
