<ng-container *ngIf="communitiesRD$ | async as communitiesRD">
  <ng-container *ngIf="communitiesRD?.hasSucceeded">
    <h2>{{ 'home.top-level-communities.head' | translate }}</h2>
    <p class="lead">{{ 'home.top-level-communities.help' | translate }}</p>

    <!-- Boucle sur chaque communauté -->
    <ng-container *ngFor="let community of communitiesRD?.payload?.page; let i = index">
      <div class="col-md-12">
        <h5>{{ community._name }}</h5>
        <p>{{ 'ID: ' + community.id }}</p>
        <p>{{ 'Type: ' + community.type }}</p>
      </div>
      <!-- Récupérer les collections à partir du lien -->
      <ng-container *ngIf="collections$ | async as collections">
        <ng-container *ngIf="collections.length > 0">
          <div class="row align-items-center">
            <!-- Boucle sur chaque collection -->
            <ng-container *ngFor="let collection of collections">
              <!-- Ajoutez une condition *ngIf pour vérifier la présence de collection?.vedette -->
              <div *ngIf="collection?.vedette" class="col-md-4">
                <div class="card-calypso" [ngStyle]="{ 'background-image': 'url(' + collection.vedette + ')' }">
                  <div class="specifies">
                    <a  [routerLink]="['/collections/', collection.id]"><h2>{{collection.title}}</h2></a>
                    <label *ngIf="collection.description">Description</label>
                    <ul>
                      <li>{{collection.description}}</li>
                    </ul>
                     <a class="calypso-card-lien"  [routerLink]="['/collections/', collection.id]"> Voir plus</a>
                  </div>
                </div>
              </div>
              <!-- Fin de la condition *ngIf -->
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
      <!-- Fin récupérer les collections à partir du lien -->
    </ng-container>
  </ng-container>
  <ds-error *ngIf="communitiesRD?.hasFailed" message="{{ 'error.top-level-communities' | translate }}"></ds-error>
  <ds-themed-loading *ngIf="communitiesRD?.isLoading" message="{{ 'loading.top-level-communities' | translate }}"></ds-themed-loading>
</ng-container>
