<div class="top-item-page">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-2 d-flex flex-md-column justify-content-between">
                <ds-metadata-field-wrapper>
                    <ds-thumbnail [thumbnail]="getThumbnail() | async"></ds-thumbnail>
                </ds-metadata-field-wrapper>
                <div>
                    <a class="btn btn-secondary"
                       [routerLink]="['/items/' + object.id + '/full']">
                        {{"item.page.link.full" | translate}}
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-10">
                <h2 class="item-page-title-field">
                  {{'journalvolume.page.titleprefix' | translate}}
                  <ds-metadata-values
                            [mdValues]="object?.allMetadata(['dc.title'])"></ds-metadata-values>
                </h2>
                <div class="row">
                    <div class="col-12 col-md-6">

                        <ds-generic-item-page-field [item]="object"
                                                    [fields]="['publicationvolume.volumeNumber']"
                                                    [label]="'journalvolume.page.volume'">
                        </ds-generic-item-page-field>
                        <ds-generic-item-page-field [item]="object"
                                                    [fields]="['creativework.datePublished']"
                                                    [label]="'journalvolume.page.issuedate'">
                        </ds-generic-item-page-field>
                    </div>
                    <div class="col-12 col-md-6">
                        <ds-generic-item-page-field [item]="object"
                                                    [fields]="['dc.description']"
                                                    [label]="'journalvolume.page.description'">
                        </ds-generic-item-page-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="relationships-item-page">
    <div class="container">
        <div class="row">
            <ds-related-items
              class="col-12 col-md-4"
              [parentItem]="object"
              [relationType]="'isJournalOfVolume'"
              [label]="'relationships.isSingleJournalOf' | translate">
            </ds-related-items>
            <ds-related-items
              class="col-12 col-md-4"
              [parentItem]="object"
              [relationType]="'isIssueOfJournalVolume'"
              [label]="'relationships.isIssueOf' | translate">
            </ds-related-items>
        </div>
    </div>
</div>
