table {
  border: 1px solid black;
  width: 100%;
}

$clr: rgb(235 228 228 / 33%);
$clr-unspecified: $clr;

$clr-done: $clr;
$clr-not-done: $clr;
$clr-waiting: $clr;
//$clr-done: rgba(0, 128, 55, 0.3);
//$clr-not-done: rgba(255, 0, 0, 0.3);
//$clr-waiting: rgba(243, 156, 18, 0.3);


ul {
  margin-bottom: 1px;
}

mat-tree {
  padding: 1px;
  //margin: 1px;
  margin: auto;
}

.material-icons {
  margin-left: 5px;
  margin-right: 5px;
}

div.unspecified, li.mat-tree-node.unspecified {
  padding: 1px 5px 1px 1px;
  margin: 1px;
  border-radius: 5px;
  background: $clr-unspecified;
  display:inline-flex;
}

div.done, li.mat-tree-node.done {
  padding: 1px 5px 1px 1px;
  display: inline-flex;
  margin: 1px;
  border-radius: 5px;
  background: $clr-done;
}

div.waiting, li.mat-tree-node.waiting {
  padding: 1px 5px 1px 1px;
  margin: 1px;
  background: $clr-waiting;
  border-radius: 5px;
  display: inline-flex;
}

div.not-done, li.mat-tree-node.not-done {
  padding: 1px 5px 1px 1px;
  margin: 1px;
  background: $clr-not-done;
  border-radius: 5px;
  display: inline-flex;
}
mat-tree-node {
  padding-right: 5px;
  display: inline;
}

.done.mat-tree-node, .waiting.mat-tree-node, .not-done.mat-tree-node {
  background-color: #f2f2f2 !important;
}


ul {
  display: grid;
}

::-webkit-scrollbar {
  width: 1px;
  background: transparent;
}

.dev-table {
  height: 100%;
  margin:auto;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 5px;
  padding: 1px;
}

.example-tree {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 50px;
  box-sizing: content-box;
}

.example-tree-invisible {
  display: none;
}


span.done {
  color: rgb(0, 128, 55);
}

span.waiting {
color: rgb(243, 156, 18);
}

span.not-done {
color: rgb(255, 0, 0);
}

.example-tree ul,
.example-tree li {
  //margin-top: 0;
  //margin-bottom: 0;
  list-style-type: none;
}

.mat-icon-button {
  background: #ffff0000;
}



tr {
  border: 1px solid black;
}

td {
  border: 1px solid black;
}

th {
  border: 1px solid black;
}

button:focus {
  outline: none;
}
