<div class="alert {{item.type}}" role="alert"
     [@enterLeave]="animate"
     [ngClass]="{
            'rtl-mode': rtl
        }" >

  <div class="icon"><i
    [ngClass]="{'fa fa-2x': true,
      'fa-check': item.type == 'alert-success',
      'fa-times-circle': item.type == 'alert-danger',
      'fa-exclamation-triangle': item.type == 'alert-warning',
      'fa-info': item.type == 'alert-info'
      }"></i></div>

  <div class="close" (click)="remove()"><i class="fa fa-times"></i></div>



  <div *ngIf="!item.html">


    <div class="sn-title" *ngIf="titleIsTemplate; else regularTitle">
      <ng-container *ngTemplateOutlet="title"></ng-container>
    </div>

    <ng-template #regularTitle>
      <div class="sn-title" [innerHTML]="title"></div>
    </ng-template>

    <div class="sn-content" *ngIf="contentIsTemplate; else regularContent">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </div>

    <ng-template #regularContent>
      <div class="sn-content" [innerHTML]="content"></div>
    </ng-template>



  </div>

  <div *ngIf="item.html">

    <div class="sn-html" *ngIf="htmlIsTemplate; else regularHtml">
      <ng-container *ngTemplateOutlet="item.html"></ng-container>
    </div>

    <ng-template #regularHtml>
      <div class="sn-content" [innerHTML]="item.html"></div>
    </ng-template>



  </div>

  <div class="sn-progress-loader" *ngIf="showProgressBar">
    <span [ngStyle]="{'width': progressWidth + '%'}"></span>
  </div>



</div>
