.alert {
  padding-bottom: 5px;
}

.notificationClose:focus {
  outline: none !important;
}

.icon {
  float: left;
  padding: 5px;
}

.sn-title, .sn-content, .sn-html {
  position: relative;
  left: 20px;
}

.sn-progress-loader {
  position: absolute;
  top: 0;
  left: 1px;
  width: 99%;
  height: 1px;
}

.sn-progress-loader span {
  float: left;
  height: 100%;
}

.alert-success .sn-progress-loader span { background: #CBC1AD;  }
.alert-danger .sn-progress-loader span { background: #D5BABA; }
.alert-info .sn-progress-loader span { background: #B4C9CF; }
.alert-warning .sn-progress-loader span { background: #DBD1BD; }
