.close {
  float: right;
  margin-right: -15px;
  margin-top: -10px;
}

.icon {
  float: left;
  margin-left: -10px;
  padding: 5px;
}

.sn-title, .sn-content, .sn-html {
  position: relative;
  left: 20px;
}

//.simple-notification.error { background: #F44336; }
//.simple-notification.success { background: #8BC34A; }
//.simple-notification.alert { background: #ffdb5b; }
//.simple-notification.info { background: #03A9F4; }
//.simple-notification.warn { background: #ffdb5b; }
//
//.simple-notification.success .sn-progress-loader span { background: #689F38; }
//.simple-notification.error .sn-progress-loader span { background: #D32F2F; }
//.simple-notification.alert .sn-progress-loader span { background: #edc242; }
//.simple-notification.info .sn-progress-loader span { background: #0288D1; }
//.simple-notification.warn .sn-progress-loader span { background: #edc242; }
//.simple-notification.bare .sn-progress-loader span { background: #ccc; }

//.simple-notification.warn div .sn-title,
//.simple-notification.warn div .sn-content,
//.simple-notification.warn div .sn-html { color: #444; }
