<div class="alert {{item.type}} alert-dismissible" role="alert"
     [@enterLeave]="animate"
     [ngClass]="{ 'rtl-mode': rtl }">

  <div class="icon"><i
    [ngClass]="{'fa fa-2x': true,
      'fa-check': item.type == 'alert-success',
      'fa-times-circle': item.type == 'alert-danger',
      'fa-exclamation-triangle': item.type == 'alert-warning',
      'fa-info': item.type == 'alert-info'
      }"></i></div>

  <button *ngIf="item.options.clickToClose"
          (click)="remove()"
          type="button" class="notificationClose close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>

  <div *ngIf="!item.html">

    <div class="sn-title" *ngIf="titleIsTemplate; else regularTitle">
      <ng-container *ngTemplateOutlet="title"></ng-container>
    </div>

    <ng-template #regularTitle>
      <div class="sn-title" [innerHTML]="title"></div>
    </ng-template>

    <div class="sn-content" *ngIf="contentIsTemplate; else regularContent">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </div>

    <ng-template #regularContent>
      <div class="sn-content" [innerHTML]="content"></div>
    </ng-template>

  </div>

  <div *ngIf="item.html">
    <div class="sn-html" *ngIf="htmlIsTemplate; else regularHtml">
      <ng-container *ngTemplateOutlet="html"></ng-container>
    </div>

    <ng-template #regularHtml>
      <div class="sn-content" [innerHTML]="html"></div>
    </ng-template>
  </div>

  <div class="sn-progress-loader" *ngIf="showProgressBar">
    <span [ngStyle]="{'width': progressWidth + '%'}"></span>
  </div>



</div>
