@import '../../../../styles/variables.scss';

.alert {
  display: inline-block;
  min-width: $modal-sm;
  text-align: left;
}

.close {
  outline: none !important
}

.notification-icon {
  min-width: 3rem;
}

.notification-progress-loader {
  top: -1px;
  left: 0;
  height: 1px;
}

.alert-success .notification-progress-loader span {
  background: darken(adjust-hue(map-get($theme-colors, success), -10), 10%);
}
.alert-danger .notification-progress-loader span {
  background: darken(adjust-hue(map-get($theme-colors, danger), -10), 10%);
}
.alert-info .notification-progress-loader span {
  background: darken(adjust-hue(map-get($theme-colors, info), -10), 10%);
}
.alert-warning .notification-progress-loader span {
  background: darken(adjust-hue(map-get($theme-colors, warning), -10), 10%);
}
