.parent {
  display: flex;
}

.upload {
  flex: auto;
}

.add {
  flex: initial;
}

/*.dropdown-menu {
  width: calc(100% - 0.5rem)
}*/

.scrollable-menu {
  height: auto;
  max-height: $dropdown-menu-max-height;
  overflow-x: hidden;
}
