<div class="submission-submit-container" >
  <ds-themed-submission-form [collectionId]="collectionId"
                      [sections]="sections"
                      [selfUrl]="selfUrl"
                      [submissionDefinition]="submissionDefinition"
                      [submissionErrors]="submissionErrors"
                      [item]="item"
                      [collectionModifiable]="collectionModifiable"
                      [submissionId]="submissionId"></ds-themed-submission-form>
</div>
