<!--
Template for the identifiers submission section component
@author Kim Shepherd
-->
<!-- Main identifier data -->
<ng-container *ngVar="(getIdentifierData() | async) as identifierData">
  @if (identifierData && identifierData.identifiers) {
    <div>
      <span>{{'submission.sections.identifiers.info' | translate}}</span>
      <ul>
        @for (identifier of identifierData.identifiers; track identifier) {
          @if (identifierData.displayTypes.includes(identifier.identifierType) && identifier.value) {
            <li>{{'submission.sections.identifiers.' + identifier.identifierType + '_label' | translate}}
            {{identifier.value}}</li>
          }
        }
      </ul>
    </div>
  }
</ng-container>
