
<div class="main pb-0">
    <div class="bootstrap-wrapper">
        <section class="light-yellow-bg help-bg-banner">
            <div class="bootstrap-wrapper">
                <div class="container">
                    <div class="help-top-penal">
                        <div class="title-band">
                            <h3 class="weight-700">Hi, How can we help you?</h3>
                            <p>Browse information about how to use our website.Frequently asked questions about Trip can be found here</p>
                        </div>
                        <div class="search-box">
                            <div class="form-group">
                                <input type="text" placeholder="Search anything">
                                <button class="primary-btn" type="button">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="gray-light-bg">
            <div class="bootstrap-wrapper">
                <div class="container">
                    <div class="title-band mb-30">
                        <h4 class="weight-600">Topics for Travelers</h4>
                    </div>
                    <div class="row g-3">
                        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="white-card icon-card-band">
                                <div class="icon-band">
                                    <img src="assets/icons/travel-planing-round.png" alt="travel planner">
                                    <h5>Travel Planning</h5>
                                </div>
                                <mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_right-arrow"></mat-icon>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="white-card icon-card-band">
                                <div class="icon-band">
                                    <img src="assets/icons/my-booking-round.png" alt="travel planner">
                                    <h5>manage my booking</h5>
                                </div>
                                <mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_right-arrow"></mat-icon>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="white-card icon-card-band">
                                <div class="icon-band">
                                    <img src="assets/icons/chat-round.png" alt="travel planner">
                                    <h5>Community & messagesg</h5>
                                </div>
                                <mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_right-arrow"></mat-icon>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="white-card icon-card-band">
                                <div class="icon-band">
                                    <img src="assets/icons/my-account-round.png" alt="travel planner">
                                    <h5>My tripsOn account</h5>
                                </div>
                                <mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_right-arrow"></mat-icon>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="white-card icon-card-band">
                                <div class="icon-band">
                                    <img src="assets/icons/budget-planner-round.png" alt="travel planner">
                                    <h5>Budget planner</h5>
                                </div>
                                <mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_right-arrow"></mat-icon>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="white-card icon-card-band">
                                <div class="icon-band">
                                    <img src="assets/icons/feeds-round.png" alt="travel planner">
                                    <h5>feeds</h5>
                                </div>
                                <mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_right-arrow"></mat-icon>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="white-card icon-card-band">
                                <div class="icon-band">
                                    <img src="assets/icons/pyament-round.png" alt="travel planner">
                                    <h5>Payments</h5>
                                </div>
                                <mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_right-arrow"></mat-icon>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="white-card icon-card-band">
                                <div class="icon-band">
                                    <img src="assets/icons/refunds-cancellations-round.png" alt="travel planner">
                                    <h5>Refunds & cancellations</h5>
                                </div>
                                <mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_right-arrow"></mat-icon>
                            </div>
                        </div>

                    </div>
                </div>
                
            </div>
        </section>

        <section class="white-bg">
            <div class="bootstrap-wrapper">
                <div class="container">
                    <div class="title-band sub-titile mb-40">
                        <h4 class="weight-600">Frequently asked questions</h4>
                        <p>Join Stacks community now to get free updates and also alot of freebies are waiting for you</p>
                    </div>

                    <div class="according-container faq-according-band">
                        <mat-accordion>
                            <mat-expansion-panel (opened)="panelOpenState = true" [expanded]="true" (closed)="panelOpenState = false">
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                    How do I get started with tripsOn?
                                </mat-panel-title>
                              </mat-expansion-panel-header>
                              <p>A trip planner is a tool or service that helps you organize and streamline the process of planning a trip, whether it's for business or leisure. It assists in creating itineraries, booking accommodations, finding activities, and more. Using a trip planner typically involves these steps: Input your destination and travel dates and Select preferences such as budget, accommodation type, and activities Browse suggestions, create an itinerary, and make bookings.</p>
                            </mat-expansion-panel>
                            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Is TripsOn free to use?
                                </mat-panel-title>
                              </mat-expansion-panel-header>
                              <p>A trip planner is a tool or service that helps you organize and streamline the process of planning a trip, whether it's for business or leisure. It assists in creating itineraries, booking accommodations, finding activities, and more. Using a trip planner typically involves these steps: Input your destination and travel dates and Select preferences such as budget, accommodation type, and activities Browse suggestions, create an itinerary, and make bookings.</p>
                            </mat-expansion-panel>
                            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Is TripsOn free to use?
                                </mat-panel-title>
                              </mat-expansion-panel-header>
                              <p>A trip planner is a tool or service that helps you organize and streamline the process of planning a trip, whether it's for business or leisure. It assists in creating itineraries, booking accommodations, finding activities, and more. Using a trip planner typically involves these steps: Input your destination and travel dates and Select preferences such as budget, accommodation type, and activities Browse suggestions, create an itinerary, and make bookings.</p>
                            </mat-expansion-panel>
                            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                    How do I create a trip itinerary?
                                </mat-panel-title>
                              </mat-expansion-panel-header>
                              <p>A trip planner is a tool or service that helps you organize and streamline the process of planning a trip, whether it's for business or leisure. It assists in creating itineraries, booking accommodations, finding activities, and more. Using a trip planner typically involves these steps: Input your destination and travel dates and Select preferences such as budget, accommodation type, and activities Browse suggestions, create an itinerary, and make bookings.</p>
                            </mat-expansion-panel>
                            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Can I customize my trip itinerary?
                                </mat-panel-title>
                              </mat-expansion-panel-header>
                              <p>A trip planner is a tool or service that helps you organize and streamline the process of planning a trip, whether it's for business or leisure. It assists in creating itineraries, booking accommodations, finding activities, and more. Using a trip planner typically involves these steps: Input your destination and travel dates and Select preferences such as budget, accommodation type, and activities Browse suggestions, create an itinerary, and make bookings.</p>
                            </mat-expansion-panel>
                            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Can I share my trip itinerary with friends or family?
                                </mat-panel-title>
                              </mat-expansion-panel-header>
                              <p>A trip planner is a tool or service that helps you organize and streamline the process of planning a trip, whether it's for business or leisure. It assists in creating itineraries, booking accommodations, finding activities, and more. Using a trip planner typically involves these steps: Input your destination and travel dates and Select preferences such as budget, accommodation type, and activities Browse suggestions, create an itinerary, and make bookings.</p>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                    
                </div>
                
            </div>
        </section>

        <app-footer></app-footer>


    </div>
</div>
