<div class="container">
    <div class="row">
        <div class="col-12 pb-4">
            <h2 id="header" class="border-bottom pb-2">{{ 'community.edit.head' | translate }}</h2>
            <ds-community-form (submitForm)="onSubmit($event)"
                               [dso]="(dsoRD$ | async)?.payload"></ds-community-form>
            <a class="btn btn-danger"
               [routerLink]="'/communities/' + (dsoRD$ | async)?.payload.uuid + '/delete'">{{'community.edit.delete'
                | translate}}</a>
        </div>
    </div>
</div>
