<div class="container">
    <div class="metadata-registry row">
        <div class="col-12">

            <h2 id="header" class="border-bottom pb-2">{{'Metadata Registry' | translate}}</h2>

            <p id="description" class="pb-2">{{'The metadata registry maintains a list of all metadata fields available in the repository. These fields may be divided amongst multiple schemas. However, DSpace requires the qualified Dublin Core schema.' | translate}}</p>

            <ds-metadata-schema-form (submitForm)="forceUpdateSchemas()"></ds-metadata-schema-form>

            <ds-pagination
                    *ngIf="(metadataSchemas | async)?.payload?.totalElements > 0"
                    [paginationOptions]="config"
                    [pageInfoState]="(metadataSchemas | async)?.payload"
                    [collectionSize]="(metadataSchemas | async)?.payload?.totalElements"
                    [hideGear]="true"
                    [hidePagerWhenSinglePage]="true"
                    (pageChange)="onPageChange($event)">

                <div class="table-responsive">
                    <table id="metadata-schemas" class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">{{'ID' | translate}}</th>
                            <th scope="col">{{'Namespace' | translate}}</th>
                            <th scope="col">{{'Name' | translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let schema of (metadataSchemas | async)?.payload?.page"
                            [ngClass]="{'table-primary' : isActive(schema) | async}">
                            <td>
                                <label>
                                    <input type="checkbox"
                                           [checked]="isSelected(schema) | async"
                                           (change)="selectMetadataSchema(schema, $event)"
                                    >
                                </label>
                            </td>
                            <td class="selectable-row" (click)="editSchema(schema)"><a [routerLink]="[schema.prefix]">{{schema.id}}</a></td>
                            <td class="selectable-row" (click)="editSchema(schema)"><a [routerLink]="[schema.prefix]">{{schema.namespace}}</a></td>
                            <td class="selectable-row" (click)="editSchema(schema)"><a [routerLink]="[schema.prefix]">{{schema.prefix}}</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </ds-pagination>

            <div *ngIf="(metadataSchemas | async)?.payload?.totalElements == 0" class="alert alert-info w-100 mb-2" role="alert">
              {{'No metadata schemas to show.' | translate}}
            </div>

            <div>
              <button *ngIf="(metadataSchemas | async)?.payload?.page?.length > 0" type="submit" class="btn btn-danger float-right" (click)="deleteSchemas()">{{'Delete selected' | translate}}</button>
            </div>

        </div>
    </div>
</div>
