<ng-container *ngVar="(subCommunitiesRDObs | async) as subCommunitiesRD">
  <div *ngIf="subCommunitiesRD?.hasSucceeded && subCommunitiesRD?.payload.totalElements > 0" @fadeIn>
    <h2>{{'Communities of this Community' | translate}}</h2>
    <ul>
      <li *ngFor="let community of subCommunitiesRD?.payload.page">
        <p>
          <span class="lead"><a [routerLink]="['/communities', community.id]">{{community.name}}</a></span><br>
          <span class="text-muted">{{community.shortDescription}}</span>
        </p>
      </li>
    </ul>
  </div>
  <ds-error *ngIf="subCommunitiesRD?.hasFailed" message="{{'Error fetching sub-communities' | translate}}"></ds-error>
  <ds-loading *ngIf="subCommunitiesRD?.isLoading" message="{{'Loading sub-communities...' | translate}}"></ds-loading>
</ng-container>
