<nav class="comcol-browse" aria-label="Browse Community or Collection" >
  <div class="comcol-browse-label">{{'browse.comcol.head' | translate}}</div>
  <div class="list-group list-group-horizontal">
    <a *ngIf="contentType=='collection'" [routerLink]="['/collections/' + id ]" class="list-group-item" routerLinkActive="active">
Submission date</a>
    <a *ngIf="contentType=='community'" [routerLink]="['/communities/' + id ]" class="list-group-item" routerLinkActive="active">
Subcommunities and collections</a>
    <a *ngFor="let config of types" class="list-group-item" [routerLink]="['/browse/' + config.id]" [queryParams]="{scope: id}" routerLinkActive="active">{{'browse.comcol.by.' + config.id | translate}}</a>
  </div>
</nav>
