@import '../../../styles/custom_variables';

.card-title{
  line-height: $line-height-base;
  height:$headings-line-height;
  font-size:$headings-font-size;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: $line-height-base;
  margin-bottom:$card-block-margin-base*2;
}
.card-text.item-authors {
  height: $line-height-base;
}
.card-text.item-abstract {
  height: $content-line-height;
}

.viewButton{
  display:table;
  margin:auto;
  width: $card-button-width;
}

.card{
  margin-bottom: $card-block-margin-base *3;
  height: $card-height-percentage;
}

.card-img-top ::ng-deep  img
{
  height: $card-thumbnail-height;
  width: 100%;
  object-fit: cover;
}

.card-block{
  margin: $card-block-margin-base;
}

