@import '../../../styles/variables';
@import '../../../styles/mixins';

ds-wrapper-grid-element ::ng-deep {
  div.thumbnail > img {
    height: $card-thumbnail-height;
    width: 100%;
  }
  div.card {
    margin-bottom: $spacer;
  }
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 1;
  }
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
  @include media-breakpoint-only(xs) {
    column-count: 1;
  }
}
