@import '../../../styles/variables';
@import '../../../styles/mixins';

ds-wrapper-grid-element ::ng-deep {
  div.thumbnail > img {
    height: $card-thumbnail-height;
    width: 100%;
  }
  div.card {
    margin-bottom: $spacer;
  }
}

$gutter: ($grid-gutter-width / 2);
$min-width: 300px;
$max-cols: 3;

.card-columns {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$gutter;
  margin-top: -$gutter;

  .card-column {
      flex: 1 0 $min-width;
      margin-left: $gutter;
      margin-top: $gutter;

      @for $i from 2 through $max-cols {
        $screen-width: ($min-width*$i)+($gutter*$i);
        $column-width: (100%/$i);
        @media (min-width: $screen-width) {
          max-width: calc(#{$column-width} - #{$gutter});
        }
      }

      $column-width: (100%/$max-cols);
      @media (min-width: $min-width*$max-cols) {
        min-width: calc(#{$column-width} - #{$gutter});
      }
  }
}

