$ds-wrapper-grid-spacing: $spacer/2;

:host ::ng-deep {
  div.thumbnail > img {
    height: $card-thumbnail-height;
    width: 100%;
    display: block;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: 50% 15%;
  }
  div.card {
    margin-top: $ds-wrapper-grid-spacing;
    margin-bottom: $ds-wrapper-grid-spacing;
  }
}

.card-columns {
  margin-left: -$ds-wrapper-grid-spacing;
  margin-right: -$ds-wrapper-grid-spacing;

  .card-column {
    padding-left: $ds-wrapper-grid-spacing;
    padding-right: $ds-wrapper-grid-spacing;
  }
}

