::ng-deep {
  #dspace-a2a {
    z-index: 998;
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
    position: relative !important;
    bottom: auto !important;
    right: auto !important;
    padding: 8px 0;
  }
}
