<p class="mt-2">{{'Welcome to the item management page. From here you can withdraw, reinstate, move or delete the item. You may also update or add new metadata / bitstreams on the other tabs.' | translate}}</p>
<div class="row">
  <div *ngFor="let statusKey of statusDataKeys" class="w-100">
    <div class="col-3 float-left status-label">
      {{'item.edit.tabs.status.labels.' + statusKey | translate}}:
    </div>
    <div class="col-9 float-left status-data" id="status-{{statusKey}}">
      {{statusData[statusKey]}}
    </div>
  </div>
  <div class="col-3 float-left status-label">
    {{'Item Page' | translate}}:
  </div>
  <div class="col-9 float-left status-data" id="status-itemPage">
    <a href="{{getItemPage((itemRD$ | async)?.payload)}}">{{getItemPage((itemRD$ | async)?.payload)}}</a>
  </div>

  <div *ngFor="let operation of operations" class="w-100 pt-3">
    <ds-item-operation [operation]="operation"></ds-item-operation>
  </div>
</div>
