sudo: required
dist: trusty
addons:
  - chrome: stable

language: node_js

node_js:
  - "6"
  - "8"

cache:
  yarn: true

bundler_args: --retry 5

before_install:
  - travis_retry yarn run global

install:
  - travis_retry yarn install

script:
  - yarn run build
  - yarn run ci
  - cat coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
