<div class="container">
  <div class="text-right">
    <ds-context-menu [contextMenuObject]="item" [contextMenuObjectType]="'ITEM'"></ds-context-menu>
  </div>
  <div class="wrapper" [ngClass]="{'wrapper-close': !(isSideBarHidden() | async)}">
      <ds-cris-layout-default-sidebar
        [item]="item"
        [sidebarActive]="(hasSidebar() | async)"
        [sidebarStatus]="!(isSideBarHidden() | async)"
        [tabs]="(getTabs() | async)"
        (selectedTab)="changeTab($event)">
      </ds-cris-layout-default-sidebar>
      <div id="content" class="position-relative pr-0 pt-3 pb-3"
           [ngClass]="{
            'p-0': !(hasSidebar() | async),
            'pl-3': !(isSideBarHidden() | async),
            'pl-0': (isSideBarHidden() | async)}">
          <div *ngIf="(hasSidebar() | async)">
            <button type="button" class="btn btn-link menu-toggle" (click)="toggleSidebar()">
                <i class="fa fa-chevron-circle-{{(isSideBarHidden() | async) ? 'right' : 'left'}} fa-2x" aria-hidden="true"></i>
            </button>
          </div>

          <div>
            <ng-template dsCrisLayoutLoader></ng-template>
          </div>
      </div>
  </div>
</div>
