<div class="container">
  <div class="text-right">
    <div *ngIf="editModes && editModes.length === 1">
      <button
        *ngFor="let editMode of editModes"
        type="button" class="btn btn-outline-primary float-right"
        routerLink="/edit-items/{{item.id}}:{{editMode.name}}">
        <i class="fas fa-edit" aria-hidden="true"></i>
      </button>
    </div>
    <div *ngIf="editModes && editModes.length > 1">
      <div class="btn-group" ngbDropdown role="group">
        <button ngbDropdownToggle
                class="btn btn-outline-primary">
          <i class="fas fa-edit pr-4" aria-hidden="true"></i>
        </button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button ngbDropdownItem
                  *ngFor="let editMode of editModes"
                  routerLink="/edit-items/{{item.id}}:{{editMode.name}}">
            {{editMode.label ? (editMode.label | translate) : editMode.name}}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper" [ngClass]="{'wrapper-close': sidebarStatus}">
      <ds-cris-layout-default-sidebar
        [ngClass]="{'mr-3': !sidebarStatus, 'mr-0': sidebarStatus}"
        [sidebarStatus]="sidebarStatus"
        [tabs]="tabs"
        (selectedTab)="changeTab($event)">
      </ds-cris-layout-default-sidebar>
      <div id="content" class="position-relative pr-0 pt-3 pb-3"
           [ngClass]="{'p-0': !hideSideBarControl()}">
          <div *ngIf="hideSideBarControl()">
            <button type="button" class="btn btn-link menu-toggle" (click)="hideShowSidebar()">
                <i class="fa fa-chevron-circle-{{sidebarStatus ? 'right' : 'left'}} fa-2x" aria-hidden="true"></i>
            </button>
          </div>

          <div>
            <ng-template dsCrisLayoutLoader></ng-template>
          </div>
      </div>
  </div>
</div>
