.filters {
    .toggle-more-filters a {
        color: var(--bs-link-color);
        text-decoration: underline;
        cursor: pointer;
    }
}

::ng-deep
{
  --ds-slider-handle-width: 18px;

    html:not([dir=rtl]) .noUi-horizontal .noUi-handle {
        right: calc(var(--ds-slider-handle-width) / -2);
    }
    .noUi-horizontal .noUi-handle {
        width: var(--ds-slider-handle-width);
        &:before {
            left: calc(calc(calc(var(--ds-slider-handle-width) - 2) / 2) - 2);
        }
        &:after {
            left: calc(calc(calc(var(--ds-slider-handle-width) - 2) / 2) + 2);
        }
        &:focus {
            outline: none;
        }
    }

  .noUi-connect {
      background: var(--ds-slider-color);
  }
}
