form {
    &:before {
        pointer-events: none; // prevent the icon from ‘catching‘ the click
        position: absolute;
        font: var(--fa-font-solid);
        content: "\f0d7";
        top: 10px;
        right: 0;
        height: 20px;
        width: 20px;
    }

    input.suggestion_input {
        background: transparent;
    }
}
