<header class="header">
  <ds-clarin-navbar-top></ds-clarin-navbar-top>
  <div class="lindat-common2 lindat-common-header">
    <header data-version="3.0.5" data-build="05eff1186f12528f221a63b021c7b7dc81301429">
      <nav class="lindat-navbar lindat-navbar-expand-lg lindat-justify-content-between lindat-navbar-dark ">
        <div class="lindat-block lindat-block--clariah-theme-branding">
          <a routerLink="home" class="lindat-navbar-brand lindat-d-flex lindat-align-items-center " aria-label="">
            <img src="https://lindat.mff.cuni.cz/sites/default/files/LINDAT-CLARIAH-cz-gray_0.svg" width="auto" height="53" style="height: 53px !important;" alt="LINDAT/CLARIAH-CZ logo" class="" />
          </a>
        </div>
        <button class="lindat-navbar-toggler" type="button" data-toggle="collapse" data-target=".lindat-navbar-collapse" aria-controls="lindat-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation"
                onclick="this.parentNode.querySelector('.lindat-navbar-toggler+div.lindat-collapse.lindat-navbar-collapse').classList.toggle('lindat-show')">
          <span class="lindat-navbar-toggler-icon"></span>
        </button>
        <div class="lindat-collapse lindat-navbar-collapse">
          <div class="">
            <div class="lindat-block lindat-block--clariah-theme-main-menu">
              <ul class="lindat-nav lindat-navbar-nav">
                <li class="lindat-nav-item ">
                  <a routerLink="community-list" class="lindat-nav-link">{{'navbar.community-list' | translate}}</a>
                </li>
                <li class="lindat-nav-item ">
                  <a routerLink="home" class="lindat-nav-link">{{'navbar.repository' | translate}}</a>
                </li>
                <li class="lindat-nav-item ">
                  <a routerLink="education" class="lindat-nav-link">{{'navbar.education' | translate}}</a>
                </li>
                <li class="lindat-nav-item ">
                  <a routerLink="projects" class="lindat-nav-link">{{'navbar.project' | translate}}</a>
                </li>
                <li class="lindat-nav-item ">
                  <a routerLink="tools" class="lindat-nav-link ">{{'navbar.tools' | translate}}</a>
                </li>
                <li class="lindat-nav-item ">
                  <a routerLink="en/services" class="lindat-nav-link ">{{'navbar.services' | translate}}</a>
                </li>
                <li class="lindat-nav-item lindat-dropdown">
                  <a routerLink="/" class="lindat-nav-link lindat-dropdown-toggle"
                     data-toggle="dropdown"
                     onclick="this.parentNode.querySelector('.lindat-dropdown-toggle+div.lindat-dropdown-menu').classList.toggle('lindat-show'); return false;">{{'navbar.about' | translate}}</a>
                  <div class="lindat-dropdown-menu">
                    <a routerLink="partners" class="lindat-dropdown-item">{{'navbar.about.partners' | translate}}</a>
                    <a routerLink="files/mission-en.pdf" class="lindat-dropdown-item">{{'navbar.about.mission-statement' | translate}}</a>
                    <a href="https://www.clarin.eu/" class="lindat-dropdown-item">{{'navbar.about.clarin' | translate}}</a>
                    <a href="https://www.dariah.eu/" class="lindat-dropdown-item">{{'navbar.about.dariah' | translate}}</a>
                    <a routerLink="integration" class="lindat-dropdown-item">{{'navbar.about.service-integrations' | translate}}</a>
                    <a routerLink="partnership" class="lindat-dropdown-item">{{'navbar.about.project-partnership' | translate}}</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="lindat-block lindat-block--clariah-theme-account-menu">
            <ul class="lindat-nav lindat-navbar-nav">
              <li class="lindat-nav-item" id="margin-filler"></li>
              <li class="lindat-nav-item  ">
                <a class="lindat-nav-link lindat-nav-link-dariah" href="https://www.dariah.eu/"><img src="https://lindat.mff.cuni.cz/images/dariah-eu.png" alt="DARIAH logo" /></a>
              </li>
              <li class="lindat-nav-item  ">
                <a class="lindat-nav-link lindat-nav-link-clarin" href="https://www.clarin.eu/"><img src="https://lindat.mff.cuni.cz/images/clarin.png" alt="CLARIN logo" /></a>
              </li>
            </ul>
          </div>
          <slot name="languageswitcher"></slot>
        </div>
      </nav>
    </header>
  </div>
</header>
