:host {
  #main-site-header {
    height: var(--ds-header-height);
    background-color: var(--ds-header-bg);
  }

  img#header-logo {
    height: 40px;
  }

  button#navbar-toggler {
    color: var(--ds-header-icon-color);

    &:hover, &:focus {
      color: var(--ds-header-icon-color-hover);
    }
  }

}
