	<td>
		<span class="badge badge-info">{{dso.type}}</span>
		<p><b>{{dso.name}}</b></p>
	</td>
	<td>
		<div *ngFor="let subscription of subscriptions">
			<div>
				<b>{{ 'subscription.subscription_type' | translate}} :</b> {{subscription.subscriptionType}}
			</div>
			<div>
				<b> {{ 'subscription.frequency' | translate}} :</b>
				<span *ngFor="let parameterList of subscription.subscriptionParameterList">
					{{ 'subscription.frequency.'+ parameterList.value  | translate}},
				</span>
			</div>
		</div>	
	</td>
	<td>
		<button (click)="$event.preventDefault();openSubscription(subscriptionModal);" class="btn btn-primary">Edit</button>
	</td>

	<ng-template #subscriptionModal let-c="close" let-d="dismiss">
	  <ds-subscription-modal (close)="c('cancel')" [subscriptions]="subscriptions" [dso]="dso" [eperson]="eperson"></ds-subscription-modal>
	</ng-template>

