nav.navbar {
  border-top: 1px var(--ds-header-navbar-border-top-color) solid;
  border-bottom: 5px var(--cul-red) solid;
  align-items: baseline;
  color: var(--cul-blue);
}

/** Mobile menu styling **/
@media screen and (max-width: map-get($grid-breakpoints, md)) {
  .navbar {
    width: 100%;
    background-color: var(--bs-white);
    position: absolute;
    overflow: hidden;
    height: 0;
    &.open {
      height: 100vh; //doesn't matter because wrapper is sticky
    }
  }
}

@media screen and (min-width: map-get($grid-breakpoints, md)) {
  .reset-padding-md {
    margin-left: calc(var(--bs-spacer) / -2);
    margin-right: calc(var(--bs-spacer) / -2);
  }
}

/* TODO remove when https://github.com/twbs/bootstrap/issues/24726 is fixed */
.navbar-expand-md.navbar-container {
  @media screen and (max-width: map-get($grid-breakpoints, md)) {
    > .container {
      padding: 0 var(--bs-spacer);
      a.navbar-brand {
        display: none;
      }
      .navbar-collapsed {
        display: none;
      }
    }
    padding: 0;
  }
  height: auto;
}

a.navbar-brand img {
  max-height: var(--ds-header-logo-height);
}

.navbar-nav {
  ::ng-deep a.nav-link {
    color: var(--cul-blue);
  }
  ::ng-deep a.nav-link:hover {
    color: var(--cul-blue-darker);
    text-decoration: underline;
  }
}
.cornell-logo-wrapper {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.cornell-logo {
  padding-left: 0;
  background: url('/assets/ecommons/images/CULibraryRed.svg') no-repeat;
  min-height: 100px;
  width: 300px;
}
.cornell-logo .insignia {
  float: left;
  margin-right: 0.8em;
  width: 100px;
  height: 100px;
  text-indent: -99999em;
}
.library-brand {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  padding: 0 10px;
  margin: 0.8em 0;
}
.library-brand a {
  text-indent: -99999em;
  display: block;
  width: 160px;
  height: 100px;
  margin-left: 130px;
}