<div *ngIf="collectionPolicies.length > 0 && collectionName && collectionPoliciesMessageType" class="row">
  <div class="col-md-12">
    <div class="alert alert-warning" role="alert">
      <ng-container *ngIf="collectionPoliciesMessageType === 1">
      Uploaded files in the "{{collectionName}}" collection will be accessible according to the following policies:
      </ng-container>
      <ng-container *ngIf="collectionPoliciesMessageType === 2">
        Please note that uploaded files in the "{{collectionName}}" collection will be accessible,
        in addition to what is explicity decided for the single file, with the following policies:
      </ng-container>
      <span class="clearfix"></span>
      <ds-policies [policies]="collectionPolicies"></ds-policies>
    </div>
  </div>
</div>
<ng-container *ngFor="let bitstreamKey of bitstreamsKeys">
  <div class="row">
    <div class="col-md-2">
      <ds-thumbnail [thumbnail]="bitstreamsList[bitstreamKey].thumbnail | async"></ds-thumbnail>
    </div>
    <div class="col-md-10">
      <div class="float-left w-75">
        <h3>{{bitstreamsList[bitstreamKey].name}} <span class="text-muted">({{bitstreamsList[bitstreamKey].size | dsFileSize}})</span></h3>
      </div>
      <ds-submission-submit-form-box-files-edit [submissionId]="submissionId" [bitstreamId]="bitstreamKey"></ds-submission-submit-form-box-files-edit>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr/>
    </div>
  </div>
</ng-container>


