:host {
  display: block;
  margin-top: calc(var(--ds-content-spacing) * -1);

  div.background-image {
    color: white;
    background-color: var(--cul-gray);
    position: relative;
    background: url('/assets/ecommons/images/banner.jpg') 0;
    background-size: cover;

    .container {
      position: relative;
      //text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);

      &:before, &:after {
        content: '';
        display: block;
        width: var(--ds-banner-background-gradient-width);
        height: 100%;
        top: 0;
        position: absolute;
      }

      &:before {
        background: linear-gradient(to left, var(--ds-banner-text-background), transparent);
        left: calc(-1 * var(--ds-banner-background-gradient-width));

      }

      &:after {
        background: linear-gradient(to right, var(--ds-banner-text-background), transparent);
        right: calc(-1 * var(--ds-banner-background-gradient-width));
      }

      background-color: var(--ds-banner-text-background);
    }


    small.credits {
      a {
        color: inherit;
      }

      opacity: 0.3;
      position: absolute;
      right: var(--bs-spacer);
      bottom: 0;
    }
  }

  .jumbotron {
    background-color: transparent;
  }

  a {
    text-decoration: underline;
  }
  .spotlight {
    margin-top: 1em;
    padding: 1.5em 2em;
    background-color: #fff;
    color: #000;
    .lead {
      margin-bottom: 10px;
    }
  }
}

// MEDIA QUERIES
// -------------------------
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
// @include media-breakpoint-up(sm) {
// }

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
  .jumbotron {
    max-width: 60%;
  }
}

// Large devices (desktops, 992px and up)
// @include media-breakpoint-up(lg) {
// }
// Extra large devices (large desktops, 1200px and up)
// @include media-breakpoint-up(xl) { ... }
