<div class="background-image">
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
<!--             <div class="d-flex flex-wrap">
                <div>
                    <h1 class="display-4">eCommons</h1>
                </div>
            </div> -->
            <div class="spotlight">
                <p class="lead">Open scholarship at Cornell</p>
                <p><strong>eCommons</strong> is a service of Cornell University Library that provides long-term access to a broad range of Cornell-related digital content of enduring value. <a href="https://guides.library.cornell.edu/ecommons">Learn more about eCommons</a>.</p>
            </div>
            <div class="spotlight">
                <p class="lead">Make a deposit</p>
                <p>Submit your document, research paper, image, data set and more into Cornell's digital repository. <a href="https://guides.library.cornell.edu/ecommons/submit">Learn how to submit</a>.</p>
                <a href="/submit" class="btn-primary btn">Submit your work</a>
            </div>
        </div>
    </div>
</div>
