.add-pattern-link {
  color: #0048ff;
  cursor: pointer;
}

.ds-alert-coar {
  position: relative
}

.coar-img-submission {
  max-height: var(--ds-header-logo-height);
}

.icon-check {
  color: rgba(6, 68, 6, 0.42);
  font-size: var(--ds-header-logo-height);
}


.ds-alert-box {

}
