.add-pattern-link {
  color: #0048ff;
  cursor: pointer;
}
.ds-alert-coar{
  position: relative
}

.coar-img-submission{
  position: absolute; top: 0; left: 0; width: 50px; height: 50px;
}

.ds-alert-box{

}
