<input [attr.aria-label]="'process.new.parameter.label' | translate" required #string="ngModel" type="text" name="string-value-{{index}}" class="form-control" id="string-value-{{index}}" [ngModel]="value" (ngModelChange)="setValue($event)"/>
@if (string.invalid && (string.dirty || string.touched)) {
  <div
    class="alert alert-danger validation-error mb-0">
    @if (string.errors.required) {
      <div>
        {{'process.new.parameter.string.required' | translate}}
      </div>
    }
  </div>
}
