.header-row {
  & > th {
    padding: .75rem;
  }
  --bs-table-bg: #343a40;
  --bs-table-bg-state: #343a40;
  --bs-table-color-state: #fff;
}

.bundle-row {
  --bs-table-color-state: #495057;
  --bs-table-bg: #e9ecef;
  --bs-table-bg-state: #dee2e6;
}

.row-element {
  padding: 0.75em;
  border-bottom: var(--bs-table-border-width) solid var(--bs-table-border-color);
}

.bitstream-name {
  font-weight: normal;
}

.table {
  margin-bottom: 0;
}
