.header-row {
  color: var(--bs-table-dark-color);
  background-color: var(--bs-table-dark-bg);
  border-color: var(--bs-table-dark-bg);
}

.bundle-row {
  color: var(--bs-table-head-color);
  background-color: var(--bs-table-head-bg);
  border-color: var(--bs-table-border-color);
}

.row-element {
  padding: 0.75em;
  border-bottom: var(--bs-table-border-width) solid var(--bs-table-border-color);
}

.bitstream-name {
  font-weight: normal;
}

.table {
  margin-bottom: 0;
}
