<div>
  <div class="modal-header">
    <h4 class="modal-title">{{'submission.sections.upload.edit.title' | translate}}</h4>
    <button type="button" class="btn-close" (click)="onModalClose()" aria-label="Close" [dsBtnDisabled]="isSaving">
    </button>
  </div>
  <div class="modal-body">
    @if (formModel) {
      <ds-form
        #formRef="formComponent"
        [formId]="formId"
        [formModel]="formModel"
        [displaySubmit]="!isSaving"
        [displayCancel]="!isSaving"
        (submitForm)="onSubmit()"
        (cancel)="onModalClose()"
      (dfChange)="onChange($event)"></ds-form>
    }

  </div>
</div>
