<a class="badge badge-primary mb-1"
   *ngVar="filterValue | async as filter"
   [attr.aria-label]="'search.filters.remove' | translate:{ type: ('search.filters.applied.' + key) | translate, value: filter }"
   [routerLink]="searchLink"
   [queryParams]="(removeParameters | async)" queryParamsHandling="merge">
    <span class="d-flex" *ngIf="filter">
      <span class="flex-grow-1 text-left">{{('search.filters.applied.' + key) | translate}}: {{'search.filters.' + filterName + '.' + filter | translate: {default: filter } }}</span>
      <span class="pl-1" aria-hidden="true">×</span>
    </span>
</a>
