<form class="w-100" [formGroup]="formData" (ngSubmit)="submitForm(formData.value)">
  <div class="row">
    <span class="col-12 font-weight-bold mb-1">
      {{'browse.startsWith.jump' | translate}}
    </span>
    <div class="col-5 col-md-3">
      <select class="form-control" (change)="setStartsWith($event)">
        <option [value]="-1" [selected]="!startsWith">
          {{'browse.startsWith.choose_year' | translate}}
        </option>
        <option *ngFor="let option of startsWithOptions"
                [value]="option"
                [selected]="option === startsWith || option === +startsWith ? 'selected': null">
          {{option}}
        </option>
      </select>
    </div>
    <div class="form-group input-group col-7 col-md-6">
      <input class="form-control" placeholder="{{'browse.startsWith.type_year' | translate}}" type="number" name="startsWith" formControlName="startsWith" [value]="+startsWith" />
      <span class="input-group-append">
        <button class="btn btn-secondary" type="submit">{{'browse.startsWith.submit' | translate}}</button>
      </span>
    </div>
  </div>
</form>
