<div class="breadcrumb breadcrumb-edu">
  <div class="container">
    <div class="row">
      <div class="">
        <div class="about-us-breadcrumb about-us-link"><a routerLink="/home" class="about-us-link-a">{{'Home'}}</a></div>
      </div>
      <div class="">
        <div class="about-us-breadcrumb about-us-link-active"><span class="ml-2 mr-1">&#8226;</span><span class="">{{'About Us'}}</span></div>
      </div>
    </div>
  </div>
</div>

<div class="container about-us-container-edu mt-5">
  <div>
    <h2>About Us</h2>
    <p>
      The Kosovo Digital Educational Archive contains documents published by governments, and other
      relevant bodies, authorities and education institutions in Kosovo in different historical periods.
      The archive collects documents in print and in electronic format from in order to create, preserve and
      make accessible for the public and research community, important documents in the field of
      education. Our aim is to create a searchable digital archive by periods, year, institutions, communities
      of practice and authors free of charge and accessible to all.
    </p>
    <p>
      The first phase of this project is supported by the Municipality of Prishtina through a grant to
      establish the archive and initiate the collection covering the period of 1990’s.
      Hosting and data storage is enabled by the Kosovo National Research and Education Network.
      This site is powered by Dspace, free software developed by the X
    </p>
  </div>

  <div class="mt-4">
    <p class="about-kdea-edu">
      About Kosovo Digital Educational Archive (KDEA)
    </p>
    <p>
      The Kosovo Digital Educational Archive contains documents published by governments, and other
      relevant bodies, authorities and education institutions in Kosovo in different historical periods.
      The archive collects documents in print and in electronic format from different periods in order to
      create, preserve and make accessible for the public and research community, important documents
      in the field of education. Our aim is to create a searchable digital archive by periods, year, institutions,
      communities of practice and authors free of charge and accessible to all.
      The preservation of documentary heritage in the field of education was and is still affected by changes
      in the administration of education throughout history, consequences of war, archiving practices and
      broken website links. Many important documents are not easily accessible for the general public and
      researchers, jeopardizing the collective memory preservation.
    </p>
  </div>
</div>
