
#container {
  display: flex;
  flex-direction: column;
  height: 100%;

  width: 100%;
}

#container header {
  background-color: #1682bb;
  color: white;
  padding: 10px;
}
#container article {
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0px;
}
#container footer {
  background-color: lightgrey;
  padding: 20px;
  bottom: 0;
  width: 100%;
  position: absolute;
}


.close {
  position: relative;
  top: 0;
  right:0;
}

@import url("http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
@import '../../../styles/variables';

.chat
{
  list-style: none;
  margin: 10px;
  padding: 0;
}

.chat li
{
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
  margin-left: 60px;
}

.chat li.right .chat-body
{
  margin-right: 60px;
}

.chat li .chat-body p
{
  margin: 0;
  color: #777777;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

.title {
  margin-top: -25px;
}

.description {
  color: #555555;
}

.avatar {
  height: 60px;
  padding: 5px;
}

.chat-body {
  padding: 5px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

textarea {
  resize: none;
}

#list {
  padding-bottom: 220px;
}
