<div class="modal-header rounded-top">
  <i class="fa fa-envelope"></i> Messages
  <div class="btn-group pull-right">
            <span (click)="modalRef.dismiss('Cross click')">
          <i class="fa fa-2x fa-times" style="color: white"></i>
          </span>
  </div>
</div>

<div class="modal-body">
  <article id="content" class="rounded-bottom">
    <div id="list">
      <ul class="chat">
        <ng-container *ngFor="let m of messages; let i = index">
          <li *ngVar="m.findMetadata('dc.type') as type"
              [ngClass]="{'left': type == 'outbound', 'right': type == 'inbound', clearfix:1}">

              <span [ngClass]="{'chat-img': true, 'pull-left': type == 'outbound', 'pull-right': type == 'inbound'}">
                  <img *ngIf="type == 'outbound'" alt="Avatar"
                       src="/assets/images/dspace-logo.png"
                       class="avatar img-rounded"/>
                 <img *ngIf="type == 'inbound'" alt="Avatar"
                      src="/assets/images/you.jpg"
                      class="avatar img-rounded"/>
              </span>

            <div class="chat-body clearfix">
              <div class="header clearfix">
                <strong
                  [ngClass]="{'primary-font': true, 'pull-left': type == 'outbound', 'pull-right': type == 'inbound'}">
                  {{m.findMetadata('dc.creator')}}
                </strong>
                <small
                  [ngClass]="{'pull-right': type == 'outbound', 'pull-left': type == 'inbound',  'text-muted':1}">
                  <span class="fa fa-clock"></span>{{m.findMetadata('dc.date.issued') | date:'short'}}
                </small>
                <small
                  *ngIf="i == messages.length-1 && showUnread"
                  [ngClass]="{'cr': type == 'outbound', 'cl': type == 'inbound', 'pull-right': type == 'outbound', 'pull-left': type == 'inbound',  'text-muted':1}">
                  <span class="fa fa-envelope pointer" (click)="unRead()"> Set as unread </span>
                </small>
              </div>
              <div (click)="toggleDescription(i)" class="title"
                   [ngClass]="{'left': type == 'outbound', 'right': type == 'inbound'}">
                <i *ngIf="!show[i]" class="fa fa-angle-double-down"></i>
                <i *ngIf="show[i]" class="fa fa-angle-double-up"></i>
                {{m.findMetadata('dc.title')}}
              </div>

              <div *ngIf="show[i]" class="description">
                {{description[i]}}
              </div>
            </div>

          </li>
        </ng-container>
      </ul>
      <div *ngIf="messages.length == 0">No messages yet.</div>
    </div>
  </article>
</div>

<div class="modal-footer">
  <form (ngSubmit)="sendMessage()" [formGroup]="messageForm" >
    <input
      formControlName="textSubject"
      class="form-control mb-1"
      placeholder="Subject..."
    />
    <textarea
      formControlName="textDescription"
      placeholder="Insert here your message..."
      class="form-control"
      rows="3"></textarea>
    <br>
      <button
        id="btn-chat"
        class="btn btn-warning btn-lg btn-block mt-3"
        type="submit">Send
      </button>
  </form>
</div>
