<button
  class="btn btn-primary mt-1 mb-3"
  ngbTooltip="{{tooltipMessage | translate}}"
  (click)="openMessageBoard(content)">
  <i class="fa fa-envelope"></i>
  <span *ngIf="(messagesObs | async)?.length > 0"
        class="badge badge-pill badge-secondary">{{(messagesObs | async)?.length}}</span>
</button>
<sup class="notification">
  <span *ngIf="unRead.length > 0" class="badge badge-pill badge-danger font-italic">New</span>
</sup>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header rounded-top">
    <i class="fa fa-envelope"></i> {{'mydspace.messages.title' | translate}}
    <div class="btn-group pull-right">
              <span (click)="modalRef.dismiss('Cross click')">
            <i class="fa fa-2x fa-times" style="color: white"></i>
            </span>
    </div>
  </div>

  <div class="modal-body">
    <article id="content" class="rounded-bottom">
      <div id="list">
        <ul class="chat">
          <ng-container *ngFor="let m of (messagesObs | async); let i = index">
            <ds-message
              [m]="m"
              [isSubmitter]="isSubmitter | async"
              [isLast]="i == (messagesObs | async)?.length-1"
              (emitRead)="markAsRead()"
              (emitUnread)="markAsUnread(m.uuid)"
            ></ds-message>
          </ng-container>
        </ul>
        <div *ngIf="(messagesObs | async)?.length == 0">{{'mydspace.messages.no-messages' | translate}}</div>
      </div>
    </article>
  </div>

  <div class="modal-footer">
    <form
      *ngVar="(itemUUIDObs | async) as itemUuid"
      (ngSubmit)="sendMessage(itemUuid)" [formGroup]="messageForm">
      <input *ngIf="!(isSubmitter | async)" type="text" readonly class="form-control-plaintext" id="to" value="{{'mydspace.messages.to' | translate}}: {{(submitter | async)?.name}}">
      <div class="form-group">
        <input formControlName="textSubject"
               class="form-control mb-1"
               placeholder="{{'mydspace.messages.subject-placeholder' | translate}}"/>
      </div>
      <div class="form-group">
      <textarea formControlName="textDescription"
                placeholder="{{'mydspace.messages.description-placeholder' | translate}}"
                class="form-control"
                rows="3"></textarea>
      </div>
      <button id="btn-chat"
              class="btn btn-warning btn-lg btn-block mt-3"
              [disabled]="!messageForm.valid || processingMessage"
              type="submit">
        <span *ngIf="processingMessage"><i class='fa fa-circle-o-notch fa-spin'></i> {{'mydspace.messages.send-btn' | translate}}</span>
        <span *ngIf="!processingMessage">{{'mydspace.messages.send-btn' | translate}}</span>
      </button>
    </form>
  </div>
</ng-template>
