
#container {
  display: flex;
  flex-direction: column;
  height: 100%;

  width: 100%;
  background-color: red;
}

#container header {
  background-color: gray;
}
#container article {
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0px;
}
#container footer {
  background-color: gray;
}
