<!-- 
     [@slideMobileNav]="!(windowService.isXsOrSm() | async) ? 'default' : ((menuCollapsed | async) ? 'collapsed' : 'expanded')"
 -->
<nav [ngClass]="{'open': true}"
     class="navbar navbar-light navbar-expand-md p-md-0 navbar-container"
     role="navigation" [attr.aria-label]="'nav.main.description' | translate"> 
    <div class="container">
        <div class="reset-padding-md w-100">
            <div id="collapsingNav">
                <ul class="navbar-nav mr-auto shadow-none">
	    	    	<ds-cris-layout-sidebar-item *ngFor="let tab of tabs;"
                             [tab]="tab"
                             [layout]="'horizontal'"
                             (tabSelectedChange)="getTabSelected($event)"
                             ></ds-cris-layout-sidebar-item>
                </ul>
            </div>
        </div>
    </div>
</nav>

