<div class="account-verfy-band">
    <div class="animated-image">
        <div class="anime_band">
            <div class="img-band">
                <ng-lottie [options]="options_03" (animationCreated)="animationCreated($event)"
                id="twelfthLottie">
                </ng-lottie>
            </div>
        </div>
        <h4>your account is verified</h4>
        <p>congratulations<span>name</span></p>
        <button class="primary-btn" routerLink="/Login">go to website</button>
    </div>
</div>
