<div class="ms-4">
  @for (permittedVersions of policy.permittedVersions; track permittedVersions) {
    <ds-content-accordion [version]="permittedVersions">
    </ds-content-accordion>
  }
  @if (!!policy?.urls) {
    <div class="row">
      <div class="col-12">
        <p class="m-1">
          {{'submission.sections.sherpa.publisher.policy.more.information' | translate}}
        </p>
        <ul>
          @for (url of policy.urls | keyvalue; track url) {
            <li>
              <a href="{{url.key}}" target="_blank" rel="noopener noreferrer">{{url.value}}</a>
            </li>
          }
        </ul>
      </div>
    </div>
  }
</div>
