<ng-container *ngIf="fileList.length == 0">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center"><span class="text-muted">No file uploaded yet.</span></h3>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="fileList.length > 0">

  <div *ngIf="collectionDefaultAccessConditions.length > 0" class="row">
    <div class="col-md-12" >
      <div class="alert alert-warning" role="alert" >
        <!-- no def , no banner -->
        <ng-container *ngIf="collectionPolicyType === 1">
          <!-- def e no scelta -->
          {{ 'submission.section.upload.header.policy.default.nolist' | translate:{ "collectionName": collectionName } }}
        </ng-container>
        <ng-container *ngIf="collectionPolicyType === 2">
          <!-- def e scelta -->
          {{ 'submission.section.upload.header.policy.default.withlist' | translate:{ "collectionName": collectionName } }}
        </ng-container>
        <span class="clearfix"></span>
        <ds-policies [policies]="collectionDefaultAccessConditions"></ds-policies>
      </div>
    </div>
  </div>

  <ng-container *ngFor="let fileEntry of fileList">
    <ds-submission-upload-section-file [availableAccessConditionGroups]="availableGroups"
                                       [availableAccessConditionOptions]="availableAccessConditionOptions"
                                       [collectionPolicyType]="collectionPolicyType"
                                       [configMetadataForm]="configMetadataForm"
                                       [fileId]="fileIndexes[fileList.indexOf(fileEntry)]"
                                       [fileIndex]="fileList.indexOf(fileEntry)"
                                       [sectionId]="'upload'"
                                       [submissionId]="submissionId"></ds-submission-upload-section-file>
    <div class="row">
      <div class="col-md-12">
        <hr/>
      </div>
    </div>
  </ng-container>
</ng-container>
