<a class="btn btn-primary mt-1 mb-3"
   ngbTooltip="{{'Select this option to change the item\'s metadata.' | translate}}"
   [routerLink]="['/workspaceitems/' + object.id + '/edit']"
   role="button">
  <i class="fa fa-edit"></i> {{'Edit' | translate}}
</a>

<button type="button"
        class="btn btn-danger mt-1 mb-3"
        ngbTooltip="{{'If you would to discard this item, select \\Delete\\.  You will then be asked to confirm it.' | translate}}"
        (click)="$event.preventDefault();confirmDiscard(content)">
  <span *ngIf="(processingDelete$ | async)"><i class='fas fa-circle-notch fa-spin'></i> {{'Processing...' | translate}}</span>
  <span *ngIf="!(processingDelete$ | async)"><i class="fa fa-trash"></i> {{'Delete' | translate}}</span>
</button>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title text-danger">{{'Discard submission' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('cancel')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{'This operation can\'t be undone. Are you sure?' | translate}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('cancel')">{{'Cancel' | translate}}</button>
    <button type="button" class="btn btn-danger" (click)="c('ok')">{{'Yes, I\'m sure' | translate}}</button>
  </div>
</ng-template>
