<ds-truncatable [id]="item.id">
  <a
    [routerLink]="['/items/' + item.id]" class="lead"
    [innerHTML]="firstMetadataValue('orgunit.identifier.name')"></a>
  <span class="text-muted">
    <ds-truncatable-part [id]="item.id" [minLines]="3">
            <span *ngIf="item.allMetadata(['orgunit.identifier.description']).length > 0"
                  class="item-list-orgunit-description">
                <ds-truncatable-part [id]="item.id" [minLines]="3"><span
                  [innerHTML]="firstMetadataValue('orgunit.identifier.description')"></span>
                </ds-truncatable-part>
            </span>
        </ds-truncatable-part>
  </span>
</ds-truncatable>

