<div class="container">

	<div class="row">
		<div class="col-md-8">
            <ng-container *ngVar="(searchOptions$ | async) as searchConfig">
                <ng-container *ngVar="(resultsRD$ | async) as searchResults">
                    <ng-container *ngIf="!searchResults?.hasSucceeded ; else noData ">
                      <ds-loading></ds-loading>
                    </ng-container>
                    <div *ngIf="searchResults?.hasSucceeded && !searchResults?.isLoading && searchResults?.payload?.page.length > 0" class="search-results">
                      <ds-viewable-collection
                        [config]="searchConfig.pagination"
                        [hasBorder]="hasBorder"
                        [sortConfig]="searchConfig.sort"
                        [objects]="searchResults"
                        [hideGear]="true"
                        [context]="context"
                        [customData]="{ relationships$ : relationshipResults$, entityType: relationshipType }"
                        (customEvent)="manageRelationship($event)">
                      </ds-viewable-collection>
                    </div>

                    <ng-template #noData>
                       <h2>{{ 'relationships.no.data.found' | translate }}</h2>
                    </ng-template>

                </ng-container>
            </ng-container>
		</div>
		<div class="col-md-4">
            <ng-container *ngVar="(relationshipResults$ | async) as relationships">
                <ds-relationships-sort-list (itemDrop)="itemDropped($event)" [item]="item" [relationships]="relationships"></ds-relationships-sort-list>
            </ng-container>
		</div>
	</div>

</div>
