<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="border-bottom pb-2">{{'admin-notify-dashboard.title'| translate}}</h2>
      <div>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active">{{'admin-notify-dashboard.metrics' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'inbound'" [queryParams]="{view: 'table'}">{{'admin.notify.dashboard.inbound' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'outbound'" [queryParams]="{view: 'table'}">{{'admin.notify.dashboard.outbound' | translate}}</a>
        </ul>
        <div class="mt-2">
          <ds-admin-notify-metrics *ngIf="(notifyMetricsRows$ | async)?.length" [boxesConfig]="notifyMetricsRows$ | async"></ds-admin-notify-metrics>
        </div>
      </div>
    </div>
  </div>
</div>
