<div *ngIf="licenses.length > 0 || uris.length > 0" class="item-page-field">
  <ng-container *ngIf="(hasCcLicenseName$ | async) && (hasCcLicenseUri$ | async); then ccLicense; else default">
  </ng-container>
  <ng-template #ccLicense>
    <ds-item-page-cc-license-field [item]="item" [variant]="'full'"></ds-item-page-cc-license-field>
  </ng-template>
  <ng-template #default>
    <ds-metadata-field-wrapper [label]="'item.page.license.title' | translate">
      <ng-container *ngIf="licenses.length === uris.length; then licensesWithLink; else listOfLicenses">
      </ng-container>
      <ng-template #licensesWithLink>
        <ng-container *ngFor="let license of licenses; let last=last; let i=index;">
          <a [href]="uris[i]" target="_blank" class="license-link"><span class="license-text">{{ license }}</span></a>
          <span class="separator" *ngIf="!last" [innerHTML]="separator"></span>
        </ng-container>
      </ng-template>
      <ng-template #listOfLicenses>
        <ng-container *ngFor="let license of licenses; let last=last;">
          <span class="license-text">{{ license }}</span>
          <span class="separator" *ngIf="!last || uris.length > 0" [innerHTML]="separator"></span>
        </ng-container>
        <ng-container *ngFor="let uri of uris; let last=last;">
          <a [href]="uri" target="_blank" class="license-link"><span class="license-text">{{ uri }}</span></a>
          <span class="separator" *ngIf="!last" [innerHTML]="separator"></span>
        </ng-container>
      </ng-template>
    </ds-metadata-field-wrapper>
  </ng-template>
</div>
