.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.clarin-chart-button {
  cursor: pointer;
  border: 1px solid;
  border-radius: 4px 4px 0 0;
}

.clarin-chart-downloads {
  color: #1f78b4;
}

.clarin-chart-views {
  color: #60a22a;
}

.clarin-chart-downloads-clicked {
  background-color: #207698;
  color: whitesmoke;
  border-bottom: none;
}

.clarin-chart-views-clicked {
  background-color: #92C642;
  color: whitesmoke;
  border-bottom: none;
}

.clarin-chart-button:hover {
  //background-color: var(--ds-breadcrumb-bg);
  color: whitesmoke;
}

.clarin-chart-views-clicked:hover {
  background-color: transparent;
  color: #60a22a;
}

.clarin-chart-downloads-clicked:hover {
  background-color: transparent;
  color: #1f78b4;
}

.clarin-bottom-line {
  border-bottom: 1px solid #ddd;
}

.btn-success:hover {
  color: #fff !important;
  background-color: #7ba739 !important;
  border-color: #92C642 !important;
}

.btn-success {
  color: #fff !important;
  background-color: #92C642 !important;
  border-color: #92C642 !important;
}

.chart-message {
  background-color: #5bc0de;
  color: white;
}

.clarin-btn-back {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.clarin-btn-back:hover {
  //color: #fff;
  background-color: #2e6391;
  //border-color: #357ebd;
}

