<div class="container">
  <h2>{{ 'info.accessibility-settings.title' | translate }}</h2>

  <form>
    <div class="form-group row">
      <label [for]="'disableNotificationTimeOutInput'" class="col-sm-2 col-form-label">
        {{ 'info.accessibility-settings.disableNotificationTimeOut.label' | translate }}
      </label>

      <div class="col-sm-4">
        <ui-switch [id]="'disableNotificationTimeOutInput'"
                   [(ngModel)]="formValues.disableNotificationTimeOut"
                   [ngModelOptions]="{ standalone: true }"
        ></ui-switch>

        <small [id]="'disableNotificationTimeOutHint'" class="form-text text-muted">
          {{ 'info.accessibility-settings.disableNotificationTimeOut.hint' | translate }}
        </small>
      </div>
    </div>

    <div class="form-group row">
      <label [for]="'notificationTimeOutInput'" class="col-sm-2 col-form-label">
        {{ 'info.accessibility-settings.notificationTimeOut.label' | translate }}
      </label>

      <div class="col-sm-4">
        <input [type]="'number'" [id]="'notificationTimeOutInput'" class="form-control"
               [placeholder]="getPlaceholder(AccessibilitySetting.NotificationTimeOut)"
               [readOnly]="formValues.disableNotificationTimeOut"
               [(ngModel)]="formValues.notificationTimeOut" [ngModelOptions]="{ standalone: true }"
               [attr.aria-describedby]="'notificationTimeOutHint'">

        <small [id]="'notificationTimeOutHint'" class="form-text text-muted">
          {{ 'info.accessibility-settings.notificationTimeOut.hint' | translate }}
        </small>
      </div>
    </div>

    <div class="form-group row">
      <label [for]="'liveRegionTimeOutInput'" class="col-sm-2 col-form-label">
        {{ 'info.accessibility-settings.liveRegionTimeOut.label' | translate }}
      </label>

      <div class="col-sm-4">
        <input [type]="'number'" [id]="'liveRegionTimeOutInput'" class="form-control"
               [placeholder]="getPlaceholder(AccessibilitySetting.LiveRegionTimeOut)"
               [(ngModel)]="formValues.liveRegionTimeOut" [ngModelOptions]="{ standalone: true }"
               [attr.aria-describedby]="'liveRegionTimeOutHint'">

        <small [id]="'liveRegionTimeOutHint'" class="form-text text-muted">
          {{ 'info.accessibility-settings.liveRegionTimeOut.hint' | translate }}
        </small>
      </div>
    </div>

    <div role="group">
      <button type="submit" (click)="saveSettings()" class="btn btn-primary mr-2">
        {{ 'info.accessibility-settings.submit' | translate }}
      </button>
      <button type="reset" (click)="resetSettings()" class="btn btn-warning">
        {{ 'info.accessibility-settings.reset' | translate }}
      </button>
    </div>

  </form>

</div>
