<div class="container">
  <h2>{{ 'info.accessibility-settings.title' | translate }}</h2>

  <form>
    <div class="form-group row">
      <label [for]="'disableNotificationTimeOutInput'" class="col-sm-2 col-form-label">
        {{ 'info.accessibility-settings.disableNotificationTimeOut.label' | translate }}
      </label>

      <div class="col-sm-5">
        <ui-switch [id]="'disableNotificationTimeOutInput'"
                   [(ngModel)]="formValues.disableNotificationTimeOut"
                   [ngModelOptions]="{ standalone: true }"
        ></ui-switch>
      </div>

      <div class="col-sm-1" *dsContextHelp="{
            content: 'info.accessibility-settings.disableNotificationTimeOut.hint',
            id: 'disableNotificationTimeOutHelp',
            iconPlacement: 'right',
            tooltipPlacement: 'right'
          }">
      </div>
    </div>

    <div class="form-group row">
      <label [for]="'notificationTimeOutInput'" class="col-sm-2 col-form-label">
        {{ 'info.accessibility-settings.notificationTimeOut.label' | translate }}
      </label>

      <div class="col-sm-4">
        <input [type]="'number'" [id]="'notificationTimeOutInput'" class="form-control"
               [placeholder]="getPlaceholder(AccessibilitySetting.NotificationTimeOut)"
               [readOnly]="formValues.disableNotificationTimeOut"
               [(ngModel)]="formValues.notificationTimeOut" [ngModelOptions]="{ standalone: true }"
               [attr.aria-describedby]="'notificationTimeOutHint'">
      </div>

      <div class="col-sm-1 col-form-label">
        {{ 'info.accessibility-settings.notificationTimeOut.unit' | translate }}
      </div>

      <div class="col-sm-1" *dsContextHelp="{
            content: 'info.accessibility-settings.notificationTimeOut.hint',
            id: 'notificationTimeOutHelp',
            iconPlacement: 'right',
            tooltipPlacement: 'right'
          }">
      </div>
    </div>

    <div class="form-group row">
      <label [for]="'liveRegionTimeOutInput'" class="col-sm-2 col-form-label">
        {{ 'info.accessibility-settings.liveRegionTimeOut.label' | translate }}
      </label>

      <div class="col-sm-4">
        <input [type]="'number'" [id]="'liveRegionTimeOutInput'" class="form-control"
               [placeholder]="getPlaceholder(AccessibilitySetting.LiveRegionTimeOut)"
               [(ngModel)]="formValues.liveRegionTimeOut" [ngModelOptions]="{ standalone: true }"
               [attr.aria-describedby]="'liveRegionTimeOutHint'">
      </div>

      <div class="col-sm-1 col-form-label">
        {{ 'info.accessibility-settings.liveRegionTimeOut.unit' | translate }}
      </div>

      <div class="col-sm-1" *dsContextHelp="{
            content: 'info.accessibility-settings.liveRegionTimeOut.hint',
            id: 'liveRegionTimeOutHelp',
            iconPlacement: 'right',
            tooltipPlacement: 'right'
          }">
      </div>
    </div>

    <div role="group">
      <button type="submit" (click)="saveSettings()" class="btn btn-primary mr-2">
        {{ 'info.accessibility-settings.submit' | translate }}
      </button>
      <button type="reset" (click)="resetSettings()" class="btn btn-warning">
        {{ 'info.accessibility-settings.reset' | translate }}
      </button>
    </div>

  </form>

</div>
