<div>
  <ng-container *ngIf="metadata.length > 0">
    <ng-container *ngFor="let entry of metadata">
      <ng-container *ngIf="entry.value !== ''">
        <h5 *ngIf="metadata.indexOf(entry) === 0">
          {{entry.value}}
        </h5>
        <ng-container *ngIf="metadata.indexOf(entry) !== 0">
          {{entry.value | dsTruncate:[150]}}
        </ng-container>
      </ng-container>
      <ng-container *ngIf="entry.value === ''">
        <h5 *ngIf="metadata.indexOf(entry) === 0">
          <span class="text-muted">No {{entry.key}}</span>
        </h5>
        <ng-container *ngIf="metadata.indexOf(entry) !== 0">
          <span class="text-muted">No {{entry.key}}</span>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>

  <span class="clearfix"></span>
  <ds-policies [policies]="fileData.accessConditions"></ds-policies>
</div>
