<button (click)="submitTask()"
        [disabled]="processing$ | async"
        class="declineTaskAction btn btn-warning"
        ngbTooltip="{{'submission.workflow.tasks.claimed.decline_help' | translate}}"
        type="button">
  <span *ngIf="processing$ | async">
    <fa-icon [icon]="faCircleNotch" animation="spin"/> {{'submission.workflow.tasks.generic.processing' | translate}}
  </span>
  <span *ngIf="(processing$ | async) !== true">
    <fa-icon [icon]="faBan"/> {{'submission.workflow.tasks.claimed.decline' | translate}}
  </span>
</button>
