<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="d-flex flex-wrap">
        <div>
          <p class="display-3">Sistema de Biblioteca Central</p>
          <h1 class="display-3">Repositorio Digital Institucional</h1>
          <p class="lead">Es un servicio libre y gratuito creado para albergar, preservar y dar visibilidad a las producciones de las Unidades Académicas de la Universidad.</p>
        </div>
      </div>
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <p>Conoce más sobre la Universidad ingresando en el <a href="http://www.unp.edu.ar"
          target="_blank">sitio oficial de la UNPSJB</a>.
      </p>
    </div>
  </div>