<div class="justify-content-center" *ngIf="remark">
  <div *ngIf="$any(remark).type == 'Person'; else publication">
    <a
      *ngIf="$any(remark).href"
      [href]="$any(remark).href"
      class="plumx-person"
      data-site="plum"
      [attr.data-lang]="$any(remark).language"
      [attr.data-no-name]="$any(remark).hideName"
      [attr.data-num-artifacts]="$any(remark).artifactsNumber"
      [attr.data-width]="$any(remark).width"
      [attr.data-no-description]="$any(remark).hideDescription"
      [attr.data-no-stats]="$any(remark).hideStatus"
      [attr.data-no-thumbnail]="$any(remark).hideThumbnail"
      [attr.data-no-artifacts]="$any(remark).hideArtifacts"
    >
      {{$any(remark).placeholder}}
    </a>
  </div>

  <ng-template #publication>
    <a [href]="$any(remark).href" class="plumx-plum-print-popup"></a>
  </ng-template>
</div>
