::ng-deep {
  .PlumX-Popup > div > a > div > svg,
  .PlumX-Popup > div > a,
  .PlumX-Popup > div.ppp-container.ppp-large {
    height: 4em !important;
    width: 4em !important;
  }

  .person-type-plumX {
    .PlumX-Researcher,
    .PlumX-Group,
    .PlumX-Grant {
      min-width: 6em;
    }
  }
}
