.scrollable-menu {
  height: auto;
  max-height: $dso-selector-list-max-height;
  overflow-x: hidden;
}

.current {
  background-color: $dso-selector-current-background-color;
  &:hover {
    background-color: $dso-selector-current-background-hover-color;
  }
}
