

<div class="slide_left-baar">
    <div class="model-box">
        <a class="model-close" (click)="close()">
            <mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_close-outline"></mat-icon>
        </a>
        <div class="model-title-band">
            <h4>Trip Request</h4>
        </div>
        <div class="model-content-band">
            <div class="content-card-band small-content">
                <div class="bootstrap-wrapper">
                          <ul class="people-list-band m-people-list">
                              <li>
                                  <div class="top-band d-flex align-items-center">
                                      <div class="user-info-band">
                                          <div class="user p big">
                                              <span class="user-name">P</span>
                                          </div>
                                          <div class="info-band">
                                              <p class="text-band sm-font"><a>Peter <span class="officially"><img class="" src="assets/icons/officially.svg"></span></a>has requested to join your trip.<a href="#">Vancouver,canada. </a></p>
                                              <div class="time-action d-block">
                                                  <span>03 Aug,2023</span>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="action-band">
                                          <button class="primary-btn round-icon-btn green-bg" type="button"><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_done"></mat-icon></button>
                                          <button class="primary-btn round-icon-btn danger-bg" type="button"><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_close"></mat-icon></button>
                                      </div>
                                  </div>
                              </li>
                              <li>
                                  <div class="top-band d-flex align-items-center">
                                      <div class="user-info-band">
                                          <div class="user a big">
                                              <span class="user-name">A</span>
                                          </div>
                                          <div class="info-band">
                                              <p class="text-band sm-font"><a>Arlene </a>has requested to join your trip.<a href="#">Vancouver,canada. </a></p>
                                              <div class="time-action d-block">
                                                  <span>03 Aug,2023</span>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="action-band">
                                          <button class="primary-btn round-icon-btn green-bg" type="button"><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_done"></mat-icon></button>
                                          <button class="primary-btn round-icon-btn danger-bg" type="button"><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_close"></mat-icon></button>
                                      </div>
                                  </div>
                              </li>
                              <li>
                                  <div class="top-band d-flex align-items-center">
                                      <div class="user-info-band">
                                          <div class="user g big">
                                              <span class="user-name">G</span>
                                          </div>
                                          <div class="info-band">
                                              <p class="text-band sm-font"><a>Gracy <span class="officially"><img class="" src="assets/icons/officially.svg"></span></a> has requested to join your trip.<a href="#">Vancouver,canada. </a></p>
                                              <div class="time-action d-block">
                                                  <span>04 Aug,2023</span>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="action-band">
                                          <button class="primary-btn round-icon-btn chat white-bg" type="button"><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_chat-black"></mat-icon></button>
                                      </div>
                                  </div>
                              </li>
                              <li>
                                  <div class="top-band d-flex align-items-center">
                                      <div class="user-info-band">
                                          <div class="user m big">
                                              <span class="user-name">M</span>
                                          </div>
                                          <div class="info-band">
                                              <p class="text-band sm-font"><a>Mary <span class="officially"><img class="" src="assets/icons/officially.svg"></span></a> has requested to join your trip.<a href="#">Vancouver,canada. </a></p>
                                              <div class="time-action d-block">
                                                  <span>04 Aug,2023</span>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="action-band">
                                          <button class="primary-btn round-icon-btn chat white-bg" type="button"><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_chat-black"></mat-icon></button>
                                      </div>
                                  </div>
                              </li>
                              <li>
                                  <div class="top-band d-flex align-items-center">
                                      <div class="user-info-band">
                                          <div class="user r big">
                                              <span class="user-name">R</span>
                                          </div>
                                          <div class="info-band">
                                              <p class="text-band sm-font"><a>Robert </a> has requested to join your trip.<a href="#">Vancouver,canada. </a></p>
                                              <div class="time-action d-block">
                                                  <span>04 Aug,2023</span>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="action-band">
                                          <button class="primary-btn round-icon-btn chat white-bg" type="button"><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_chat-black"></mat-icon></button>
                                      </div>
                                  </div>
                              </li>
                              <li>
                                  <div class="top-band d-flex align-items-center">
                                      <div class="user-info-band">
                                          <div class="user s big">
                                              <span class="user-name">S</span>
                                          </div>
                                          <div class="info-band">
                                              <p class="text-band sm-font"><a>Savannah </a> has requested to join your trip.<a href="#">Vancouver,canada. </a></p>
                                              <div class="time-action d-block">
                                                  <span>05 Aug,2023</span>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="action-band">
                                          <button class="primary-btn round-icon-btn chat white-bg" type="button"><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_chat-black"></mat-icon></button>
                                      </div>
                                  </div>
                              </li>
                              <li>
                                  <div class="top-band d-flex align-items-center">
                                      <div class="user-info-band">
                                          <div class="user l big">
                                              <span class="user-name">L</span>
                                          </div>
                                          <div class="info-band">
                                              <p class="text-band sm-font"><a>liena </a> has requested to join your trip.<a href="#">Vancouver,canada. </a></p>
                                              <div class="time-action d-block">
                                                  <span>05 Aug,2023</span>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="action-band">
                                          <button class="primary-btn round-icon-btn chat white-bg" type="button"><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_chat-black"></mat-icon></button>
                                      </div>
                                  </div>
                              </li>
                          </ul>
                </div>
              </div>

        </div>
    </div>
</div>