<div class="form-group" *ngIf="scripts$ | async">
    <label for="process-script">{{'process.new.select-script' | translate}}</label>
    <div class="btn-group w-100" ngbDropdown>
        <button class="btn btn-outline-primary form-control" ngbDropdownToggle id="process-script" type="button" data-toggle="dropdown">{{'process.new.select-script.placeholder' | translate}}<span class="caret"></span></button>
        <div ngbDropdownMenu class="w-100">
            <button *ngFor="let script of scripts$ | async"
                    (click)="setScript(script)" class="text-wrap" ngbDropdownItem type="button">
                <div><span class="font-weight-bold">{{script.name}}</span></div>
                <div><span class="font-italic">{{script.description}}</span></div>
            </button>
        </div>
    </div>
    <div *ngIf="!this.selectedScript && touched"
         class="alert alert-danger validation-error">
        {{'process.new.select-script.required' | translate}}
    </div>
</div>
