@import 'src/app/+item-page/simple/item-types/publication/publication.component.scss';

:host {
    > * {
        display: block;
        padding-top: var(--ds-content-spacing);
        padding-bottom: var(--ds-content-spacing);
    }

    .top-item-page {
        background-color: var(--bs-gray-100);
        margin-top: calc(-1 * var(--ds-content-spacing));
    }

    .relationships-item-page {
        padding-bottom: calc(var(--ds-content-spacing) - var(--bs-spacer));
    }

    ds-metadata-field-wrapper {
        @media screen and (max-width: map-get($grid-breakpoints, md)) {
            flex: 1;
            padding-right: calc(var(--bs-spacer) / 2);
        }

        ds-thumbnail {
            display: block;
            max-width: var(--ds-thumbnail-max-width);
        }
    }
}
