nav.navbar {
    border-top: 1px $gray-400 solid;
    border-bottom: 5px $green solid;
    align-items: baseline;
    color: theme-color('primary');

    a.nav-link:hover, li.nav-item:hover {
        background-color: $navbar-menu-item-hover-color;
    }
    .nav-link {
        color: theme-color('primary') !important;
    }
}

/** Mobile menu styling **/
@media screen and (max-width: map-get($grid-breakpoints, md)) {
    .navbar {
        width: 100%;
        background-color: $white;
        position: absolute;
        overflow: hidden;
        height: 0;
        &.open {
            height: 100vh; //doesn't matter because wrapper is sticky
        }
    }
}

@media screen and (min-width: map-get($grid-breakpoints, md)) {
    .reset-padding-md {
        margin-left: -$spacer/2;
        margin-right: -$spacer/2;
    }
}

/* TODO remove when https://github.com/twbs/bootstrap/issues/24726 is fixed */
.navbar-expand-md.navbar-container {
    @media screen and (max-width: map-get($grid-breakpoints, md)) {
        > .container-fluid {
            padding: 0 $spacer;
            a.navbar-brand {
              display: none;
            }
            .navbar-search {
              display: none;
            }
        }
        padding: 0;
    }
  height: 80px;
}

a.navbar-brand img {
  max-height: 40px;
}

/*
li.nav-item:hover {
  background-color: $navbar-menu-item-hover-color;
}
*/

