<div class="{{containerStyle}}">
  <span  *ngIf="!nested" class="{{labelStyle}}">
    {{label | translate}}
  </span>
  <div [class]="'d-flex flex-column ' + valueStyle">
    <span *ngFor="let ref of (references| async)" class="txt-value">
      <ng-container [ngTemplateOutlet]="ref.id ? withAuthority : withoutAuthority"
                    [ngTemplateOutletContext]="{ref:ref}"></ng-container>
    </span>
  </div>
</div>


<ng-template #withAuthority let-ref="ref">
  <a rel="noopener noreferrer"
     [routerLink]="['/items/' + ref.id]">
    {{ref.value}} <i class="{{ref.icon}}"></i>
  </a>
</ng-template>

<ng-template #withoutAuthority let-ref="ref">
  {{normalizeValue(ref.value)}}
</ng-template>
