<section class="gray_bg pb-0 border-top bold-border">
    <div class="fotter">
      <div class="bootstrap-wrapper">
      <div class="container">
      <div class="row g-3">
      <div class="col-md-6">
          <div class="info-band">
            <img src="assets/image/logo.svg" alt="tripson">
            <p>Turn your next trip into a hassle-free experience with TripsOn.</p>
            <div class="soical-band">
              <ul>
                <li class="facebook-icon"><a href="#"><mat-icon svgIcon="vite_facebook"></mat-icon></a></li>
                <li class="instagram-icon"><a href="#"><mat-icon svgIcon="vite_instagram"></mat-icon></a></li>
                <li class="twitter-icon"><a href="#"><mat-icon svgIcon="vite_twitter"></mat-icon></a></li>
              </ul>
            </div>
          </div>
      </div>
      <div class="col-md-3">
          <ul class="fotter-nav frist-child-sm">
            <h5 class="nav-titile">Travel Styles</h5>
            <li><a href="#">Trip planners by destination</a></li>
            <li><a href="#">Travel Budgeting</a></li>
            <li><a path="feeds">Feeds</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
      </div>
      <div class="col-md-3">
        <ul class="fotter-nav">
          <h5 class="nav-titile">Company</h5>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Site Map</a></li>
        </ul>
      </div>
      <div class="col-md-12">
        <div class="copyrights-band">
            <p>© 2023 TripsOn. All Rights Reserved.</p>
        </div>
      </div>
  
    </div>
  </div>
  </div>
  
    </div>
</section>