.img-file {
    max-height: var(--ds-advanced-attachment-image-max-height);
    object-fit: var(--ds-advanced-attachment-image-object-fit);
    object-position: var(--ds-advanced-attachment-image-object-position);
}

.thumbnail-placeholder {
    border: var(--ds-thumbnail-placeholder-border);
    color: var(--ds-thumbnail-placeholder-color);
    font-weight: var(--ds-advanced-attachment-thumbnail-placeholder-font-weight);
}
