@if (componentLoader) {
  @if (box.container && !hasOwnContainer) {
    <ngb-accordion #accordionRef [activeIds]="activeIds">
      <ngb-panel id="{{box.shortname}}">
        <ng-template ngbPanelTitle>
          <span class="float-start" [innerHTML]="getBoxHeader()" tabindex="0"></span>
        </ng-template>
        <ng-template ngbPanelContent>
          <ng-container *ngComponentOutlet="getComponentRef(); injector: objectInjector;"></ng-container>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  }
  @if (!box.container || hasOwnContainer) {
    <div class="mx-n2">
      <ng-container *ngComponentOutlet="getComponentRef(); injector: objectInjector;"></ng-container>
    </div>
  }
}
@if (!componentLoader) {
  <ds-loading></ds-loading>
}
