@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

:host {
    border: 1px solid map-get($theme-colors, light);
    >div {
        position: relative;
    }
    .search-filter-wrapper {
        overflow: hidden;
    }
    .filter-toggle {
        line-height: $line-height-base;
    }
}