@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

:host {
    border: 1px solid map-get($theme-colors, light);
    .search-filter-wrapper.closed {
        overflow: hidden;
    }
    .filter-toggle {
        line-height: $line-height-base;
    }
}