<div>
    <div (click)="toggle()" class="filter-name"><h5 class="d-inline-block mb-0">{{'search.filters.filter.' + filter.name + '.head'| translate}}</h5> <span class="filter-toggle fa float-right"
                                                                      [ngClass]="(isCollapsed() | async) ? 'fa-plus' : 'fa-minus'"></span></div>
    <div [@slide]="(isCollapsed() | async) ? 'collapsed' : 'expanded'" class="search-filter-wrapper row" [ngClass]="{'closed' : (isCollapsed() | async)}">
        <ds-search-facet-filter-wrapper [filterConfig]="filter" [selectedValues]="getSelectedValues()" class="col-12"></ds-search-facet-filter-wrapper>
    </div>
</div>