<div>
  advancedInfo: {{ (workflowAction$ | async)?.advancedInfo | json }}

  <ds-modify-item-overview *ngIf="item$ | async"
                           [item]="item$ | async">
  </ds-modify-item-overview>

  <div class="d-flex flex-wrap justify-content-end">
    <button class="btn btn-default" (click)="previousPage()">
      {{'workflow-item.' + getType() + '.button.cancel' | translate}}
    </button>
    <button class="btn btn-primary" (click)="performAction()">
      {{'workflow-item.' + getType() + '.button.confirm' | translate}}
    </button>
  </div>
</div>
