<div class="ms-4">
  @if (!!metadata?.id) {
    <div class="row">
      <div class="col-4">
        <p class="m-1">{{ 'submission.sections.sherpa.record.information.id' | translate }}</p>
      </div>
      <div class="col-8">
        <p class="m-1">{{metadata.id}}
        </p>
      </div>
    </div>
  }
  @if (!!metadata?.dateCreated) {
    <div class="row">
      <div class="col-4">
        <p class="m-1">{{ 'submission.sections.sherpa.record.information.date.created' | translate }}</p>
      </div>
      <div class="col-8">
        <p class="m-1">{{metadata.dateCreated | date: 'd MMMM Y H:mm:ss zzzz' }}
        </p>
      </div>
    </div>
  }
  @if (!!metadata?.dateModified) {
    <div class="row">
      <div class="col-4">
        <p class="m-1">{{ 'submission.sections.sherpa.record.information.date.modified' | translate }}</p>
      </div>
      <div class="col-8">
        <p class="m-1">{{metadata.dateModified| date: 'd MMMM Y H:mm:ss zzzz' }}
        </p>
      </div>
    </div>
  }
  @if (!!metadata?.uri) {
    <div class="row">
      <div class="col-4">
        <p class="m-1">{{ 'submission.sections.sherpa.record.information.uri' | translate }}</p>
      </div>
      <div class="col-8">
        <p class="m-1">
          <a [href]="metadata.uri" target="_blank">{{metadata.uri}}</a>
        </p>
      </div>
    </div>
  }
</div>
