<form #form="ngForm" (ngSubmit)="onSubmit(form.value)" class="row" action="/">
  <div class="col-12 form-group">
    <label for="collection-name" class="font-weight-bold">{{ 'collection.edit.name' | translate }}</label>
    <input type="text" [(ngModel)]="name" name="name" id="collection-name" class="form-control" [ngClass]="{'is-invalid' : !name && nameRequiredError}" aria-label="Collection Name" />
    <div class="invalid-feedback">{{ 'collection.edit.required.name' | translate }}</div>
  </div>
  <div class="col-12 form-group">
    <label for="collection-description" class="font-weight-bold">{{ 'collection.edit.description' | translate }}</label>
    <input type="text" [(ngModel)]="description" name="description" id="collection-description" class="form-control" aria-label="Collection Short Description" />
  </div>
  <div class="col-12 form-group">
    <label for="collection-introductory" class="font-weight-bold">{{ 'collection.edit.introductory' | translate }}</label>
    <textarea [(ngModel)]="introductory" name="introductory" id="collection-introductory" class="form-control" aria-label="Collection Introductory Text" rows="6" ></textarea>
  </div>
  <div class="col-12 form-group">
    <label for="collection-copyright" class="font-weight-bold">{{ 'collection.edit.copyright' | translate }}</label>
    <textarea [(ngModel)]="copyright" name="copyright" id="collection-copyright" class="form-control" aria-label="Collection Copyright Text" rows="6" ></textarea>
  </div>
  <div class="col-12 form-group">
    <label for="collection-news" class="font-weight-bold">{{ 'collection.edit.news' | translate }}</label>
    <textarea [(ngModel)]="news" name="news" id="collection-news" class="form-control" aria-label="Collection News" rows="6" ></textarea>
  </div>
  <div class="col-12 form-group">
    <label for="collection-license" class="font-weight-bold">{{ 'collection.edit.license' | translate }}</label>
    <textarea [(ngModel)]="license" name="news" id="collection-license" class="form-control" aria-label="Collection License" rows="6" ></textarea>
  </div>
  <div class="col-12 form-group">
    <label for="collection-provenance" class="font-weight-bold">{{ 'collection.edit.provenance' | translate }}</label>
    <textarea [(ngModel)]="provenance" name="news" id="collection-provenance" class="form-control" aria-label="Collection Provenance" rows="6" ></textarea>
  </div>
  <div class="col-12 form-group">
    <button type="button" class="btn btn-secondary">{{ 'collection.edit.cancel' | translate }}</button>
    <button type="submit" class="btn btn-secondary">{{ 'collection.edit.submit' | translate }}</button>
  </div>
</form>
