<div class="test"></div>
<ng-container *ngVar="(categories$ | async) as categories">

  <ng-container *ngIf="!categories">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-40">
          <ds-loading></ds-loading>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="categories">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-40">
          <h2>{{'statistics.categories.title' | translate}}</h2>

          <ng-container *ngIf="categories">
            <div class="datepicker-container">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control date-input" placeholder="Start Date"
                         name="dp" [(ngModel)]="dateFrom" (ngModelChange)="dateChanged()" ngbDatepicker
                         #df="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="df.toggle()" type="button">
                      <i class="far fa-calendar-alt"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group ml-2">
                  <input class="form-control date-input" placeholder="End Date"
                         name="dp" [(ngModel)]="dateTo" (ngModelChange)="dateChanged()" ngbDatepicker
                         #dt="ngbDatepicker">

                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="dt.toggle()" type="button">
                      <i class="far fa-calendar-alt"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>


          <ng-container *ngIf="!!categories && categories.length > 1">
            <ngb-tabset id="categories-tabs" (tabChange)="changeCategoryType($event)" [destroyOnHide]="true">
              <ngb-tab *ngFor="let category of categories"
                       title="{{'statistics.categories.' + category.categoryType + '.tab' | translate}}"
                       [id]="category.id">
                <ng-template ngbTabContent>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </ng-container>

          <ng-container *ngVar="(reports$ | async) as reports">

            <ng-container *ngIf="!reports">
              <ds-loading></ds-loading>
            </ng-container>

            <ng-container *ngIf="reports">

              <ng-container>
                <ds-statistics-map *ngFor="let report of (reports | dsFilterMap : true)"
                                   [report]="report"></ds-statistics-map>
              </ng-container>

              <div>
                <ds-statistics-chart *ngIf="!!selectedCategory" [category]="selectedCategory"
                                     [reports]="reports"></ds-statistics-chart>
              </div>

            </ng-container>

          </ng-container>

        </div>
      </div>
    </div>
  </ng-container>

</ng-container>
