<ng-container *ngVar="(subCollectionsRDObs | async) as subCollectionsRD">
  <div *ngIf="subCollectionsRD?.hasSucceeded && subCollectionsRD?.payload.totalElements > 0" @fadeIn>
    <h2>{{'Collections of this Community' | translate}}</h2>
    <ul>
      <li *ngFor="let collection of subCollectionsRD?.payload.page">
        <p>
          <span class="lead"><a [routerLink]="['/collections', collection.id]">{{collection.name}}</a></span><br>
          <span class="text-muted">{{collection.shortDescription}}</span>
        </p>
      </li>
    </ul>
  </div>
  <ds-error *ngIf="subCollectionsRD?.hasFailed" message="{{'Error fetching sub-collections' | translate}}"></ds-error>
  <ds-loading *ngIf="subCollectionsRD?.isLoading" message="{{'Loading sub-collections...' | translate}}"></ds-loading>
</ng-container>
