<ds-metadata-field-wrapper [label]="label | translate">
    <div class="file-section row" *ngFor="let file of (bitstreamsObs | async); let last=last;">
        <div class="col-3">
            <ds-thumbnail [thumbnail]="thumbnails.get(file.id) | async"></ds-thumbnail>
        </div>
        <div class="col-7">
            <dl class="row">
                <dt class="col-md-4">{{"Name:" | translate}}</dt>
                <dd class="col-md-8">{{file.name}}</dd>

                <dt class="col-md-4">{{"Size:" | translate}}</dt>
                <dd class="col-md-8">{{(file.sizeBytes) | dsFileSize }}</dd>


                <dt class="col-md-4">{{"Format:" | translate}}</dt>
                <dd class="col-md-8">{{(file.format | async)?.payload?.description}}</dd>


                <dt class="col-md-4">{{"Description:" | translate}}</dt>
                <dd class="col-md-8">{{file.firstMetadataValue("dc.description")}}</dd>
            </dl>
        </div>
        <div class="col-2">
            <a [href]="file.content" [download]="file.name">
                {{"Download" | translate}}
            </a>
        </div>
    </div>
</ds-metadata-field-wrapper>
