@import 'src/scss/variables';

.hero-band{

    .text-band {
        padding-top: 200px;
        margin: 0 auto;
        display: block;
        text-align: center;
        width: 55%;
        position: inherit;
        h1 {
            color:$white;
            line-height: 60px;
        }
    }
    .destination-band {
        width: 70%;
    }
    .current-location-band {
        width: 30%;
        margin-right: 1px;
    }
    .serach-band{
        display: flex;
        align-items: flex-end;
      }
}
.card-band{
    border-radius: 20px;
    display: block;
    overflow: hidden;
    position: relative;
    img {
        width: 100%;
        display: block;
    }
    span.round-text {
        position: absolute;
        background-color: rgb(255 255 255 / 10%);
        bottom: -1px;
        margin: 14px auto;
        width: 225px;
        right: 0;
        left: 0;
        text-align: center;
        padding: 13px;
        border-radius: 37px;
        backdrop-filter: blur(10px);
        border: 1px solid #ffffff12;
        h6 {
            color: $white;
            font-size: 20px;
            margin: 0;
        }
    }
}

.trip-card{
    .img-band {
        overflow: hidden;
        border-radius: 17px;
        height: 200px;
        width: 100%;
        position: relative;
    }
    .img-band img {
        width: 100%;
        display: block;
        height: 100%;
    }
    .titile {
        margin-bottom: 8px;
    }
    .bottom-band {
        margin-top: 15px;
    }
    .user-trip-info{
        display: flex;
        align-items: center;
    }
    .days {
        margin-left: 10px;
        color: $p-text-dark;
    }
}

.mat-grid-tile {
    overflow: inherit!important;
}


.round-container {
    padding: 10px;
    background-color: #EFFFE9;
    padding: 50px 50px;
    border-radius: 25px;
    border: 1px solid #84ff5014;
}

.city-card{
    position: relative;
    overflow: hidden;
    height: 320px;
    border-radius: 20px;
    .img-band {
        height: 100%;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .title{
        position: absolute;
        bottom: 14px;
        right: 0;
        margin: 0 auto;
        display: block;
        background-color: #ffffff00;
        left: 0;
        text-align: center;
        h3{
            color: $white;
            font-weight: 400!important;
        }
    }
}

.city-card:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(3deg, #000000bf, transparent);
}

.gray_bg{
    background-color: #F7F9FC;
}

.info-band img {
    width: 150px;
}

.info-band p {
    font-size: 16px;
    width: 77%;
    line-height: 26px;
    font-weight: 500;
    color: $text;
}

.fotter-nav{
    h5 {
        display: block;
        margin-bottom: 27px;
        font-size: 17px;
    }
    li {
        margin-top: 19px;
        a {
            text-decoration: none;
            font-weight: 500;
            opacity: 0.9;
        }
        a:hover {
            opacity: 1;
            transition: all 0.5s;
        }
    }
} 

.soical-band {
    ul {
    display: flex;
    
    li {
        margin-right: 10px;
        background-color: $white;
        width: 36px;
        height: 36px;
        border: 1px solid $text;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;

        a {
            font-size: 10px;
        }
    
    } 

    li:hover {
        background-color: $primary;
        transition: all 0.5s;
    } 
}
}

.copyrights-band p {
    font-size: 15px;
    margin: 0px;
}
.copyrights-band {
    margin-top: 50px;
    text-align: center;
    height: 72px;
    line-height: 72px;
    border-top: 2px solid #eee;
}

.bold-border{
    border-bottom: 10px solid $primary;
}

// swiper 

.swiper-prev-next-btn button {
    width: 45px;
    height: 45px;
    border-radius: 42px;
    border: none;
    background-color: $white;
    border: 1px solid $border-dark;
    box-shadow: 0px 10px 20px #0000000a;
}
.swiper-prev-next-btn button:first-child {
    margin-right: 8px;
}
.swiper-prev-next-btn button:first-child mat-icon {
    transform: rotate(180deg);
}
.swiper-prev-next-btn mat-icon {
    width: 20px;
    margin-top: 3px;
    margin-left: -1px;
}

.slider-title{
    display: flex;
    align-items: center;
    justify-content: space-between;

    h4{
        margin-bottom: 0px;
    }
}