<div class="{{containerStyle}}">
  <span *ngIf="hasLabel && !nested" class="lbl {{labelStyle}}">
    {{label | translate}}
  </span>


  <ng-template #metadata>
   <span class="{{valueStyle}}">
    <ds-truncatable [id]="item.id">
      <ds-truncatable-part *ngFor="let metadataValue of metadataValues" [id]="item.id" [minLines]="3">
        {{normalizeValue(metadataValue)}}
      </ds-truncatable-part>
    </ds-truncatable>
  </span>
  </ng-template>

  <div *ngIf="indexToBeRendered>=0; else metadata">

       <span class="{{valueStyle}}">
    <ds-truncatable [id]="item.id">
      <ds-truncatable-part *ngFor="let metadataValue of [metadataValues[indexToBeRendered]]" [id]="item.id"
                           [minLines]="3">
        {{normalizeValue(metadataValue)}}
      </ds-truncatable-part>
    </ds-truncatable>
  </span>

  </div>


</div>
