
@include media-breakpoint-down(md) {
    .container {
        width: 100%;
        max-width: none;
    }
}

/deep/ .search-controls {
    margin-bottom: $spacer;
}

#search-body {
    &.row-offcanvas {
        width: 100%;
    }
    @include media-breakpoint-down(sm) {
        position: relative;

        &.row-offcanvas {
            position: relative;
        }

        &.row-offcanvas-right #search-sidebar-sm {
            right: -100%;
        }

        &.row-offcanvas-left #search-sidebar-sm {
            left: -100%;
        }

        #search-sidebar-sm {
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
}

@include media-breakpoint-up(md) {
    .sidebar-md-sticky {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: $zindex-sticky;
        padding-top: $content-spacing;
        margin-top: -$content-spacing;
        align-self: flex-start;
        display: block;
    }
}

