@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.container {
    position: relative;
}


/deep/ .search-controls {
    margin-bottom: $spacer;
}

#search-body {
    &.row-offcanvas {
        width: 100%;
    }
    @include media-breakpoint-down(xs) {
        position: relative;

        &.row-offcanvas {
            position: relative;
        }

        &.row-offcanvas-right #search-sidebar-xs {
            right: -100%;
        }

        &.row-offcanvas-left #search-sidebar-xs {
            left: -100%;
        }

        #search-sidebar-xs {
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
}

.sidebar-sm-sticky{
    @include media-breakpoint-up(sm) {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: $zindex-sticky;
        padding-top: $content-spacing;
        margin-top: -$content-spacing;
        align-self: flex-start;
        display: block;
    }
}