<div class="container">
    <div class="search-page row">
        <ds-search-sidebar *ngIf="!(isXsOrSm$ | async)" class="col-{{sideBarWidth}} sidebar-md-sticky"
                           id="search-sidebar"
                           [resultCount]="(resultsRD$ | async)?.payload?.totalElements" [inPlaceSearch]="inPlaceSearch"></ds-search-sidebar>
        <div class="col-12 col-md-{{12 - sideBarWidth}}">
            <ds-search-form *ngIf="searchEnabled" id="search-form"
                            [query]="(searchOptions$ | async)?.query"
                            [scope]="(searchOptions$ | async)?.scope"
                            [currentUrl]="getSearchLink()"
                            [scopes]="(scopeListRD$ | async)"
                            [inPlaceSearch]="inPlaceSearch">
            </ds-search-form>
            <ds-search-labels *ngIf="searchEnabled" [inPlaceSearch]="inPlaceSearch"></ds-search-labels>
            <div class="row">
                <div id="search-body"
                     class="row-offcanvas row-offcanvas-left"
                     [@pushInOut]="(isSidebarCollapsed() | async) ? 'collapsed' : 'expanded'">
                    <ds-search-sidebar *ngIf="(isXsOrSm$ | async)" class="col-12"
                                       id="search-sidebar-sm"
                                       [resultCount]="(resultsRD$ | async)?.payload.totalElements"
                                       (toggleSidebar)="closeSidebar()"
                                       [ngClass]="{'active': !(isSidebarCollapsed() | async)}">
                    </ds-search-sidebar>
                    <div id="search-content" class="col-12">
                        <div class="d-block d-md-none search-controls clearfix">
                            <ds-view-mode-switch [inPlaceSearch]="inPlaceSearch"></ds-view-mode-switch>
                            <button (click)="openSidebar()" aria-controls="#search-body"
                                    class="btn btn-outline-primary float-right open-sidebar"><i
                                    class="fas fa-sliders"></i> {{"search.sidebar.open"
                                | translate}}
                            </button>
                        </div>
                        <ds-search-results [searchResults]="resultsRD$ | async"
                                           [searchConfig]="searchOptions$ | async"
                                           [fixedFilter]="fixedFilter$ | async"
                                           [disableHeader]="!searchEnabled"></ds-search-results>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
