<div class="top-item-page">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-2 d-flex flex-md-column justify-content-between">
                <ds-metadata-field-wrapper>
                    <ds-thumbnail [thumbnail]="getThumbnail() | async"
                                  [defaultImage]="'assets/images/person-placeholder.svg'"></ds-thumbnail>
                </ds-metadata-field-wrapper>
                <div>
                    <a class="btn btn-secondary"
                       [routerLink]="['/items/' + object.id + '/full']">
                        {{"item.page.link.full" | translate}}
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-10">
                <h2 class="item-page-title-field">
                  {{'person.page.titleprefix' | translate}}<ds-metadata-values
                    [mdValues]="[object?.firstMetadata('person.familyName'), object?.firstMetadata('person.givenName')]" [separator]="', '"></ds-metadata-values>
                </h2>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <ds-generic-item-page-field [item]="object"
                                                    [fields]="['person.email']"
                                                    [label]="'person.page.email'">
                        </ds-generic-item-page-field>
<!--                        <ds-generic-item-page-field [item]="object"-->
<!--                                                    [fields]="['person.identifier.orcid']"-->
<!--                                                    [label]="'person.page.orcid'">-->
<!--                        </ds-generic-item-page-field>-->
                        <ds-generic-item-page-field [item]="object"
                                                    [fields]="['person.birthDate']"
                                                    [label]="'person.page.birthdate'">
                        </ds-generic-item-page-field>
<!--                        <ds-generic-item-page-field [item]="object"-->
<!--                                                    [fields]="['person.identifier.staffid']"-->
<!--                                                    [label]="'person.page.staffid'">-->
<!--                        </ds-generic-item-page-field>-->
                    </div>
                    <div class="col-12 col-md-6">
                        <ds-generic-item-page-field [item]="object"
                                                    [fields]="['person.jobTitle']"
                                                    [label]="'person.page.jobtitle'">
                        </ds-generic-item-page-field>
                        <ds-generic-item-page-field [item]="object"
                                                    [fields]="['person.familyName']"
                                                    [label]="'person.page.lastname'">
                        </ds-generic-item-page-field>
                        <ds-generic-item-page-field [item]="object"
                                                    [fields]="['person.givenName']"
                                                    [label]="'person.page.firstname'">
                        </ds-generic-item-page-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="relationships-item-page">
    <div class="container">
        <div class="row">
            <ds-related-items
              class="col-12 col-md-4"
              [parentItem]="object"
              [relationType]="'isProjectOfPerson'"
              [label]="'relationships.isProjectOf' | translate">
            </ds-related-items>
            <ds-related-items
              class="col-12 col-md-4"
              [parentItem]="object"
              [relationType]="'isOrgUnitOfPerson'"
              [label]="'relationships.isOrgUnitOf' | translate">
            </ds-related-items>
        </div>
    </div>
</div>
<div>
    <div class="container search-container">
        <h3 class="h2">{{"item.page.person.search.title" | translate}}</h3>
    </div>
<ds-tabbed-related-entities-search  [item]="object"
                                    [relationTypes]="[{
                                        label: 'isAuthorOfPublication',
                                        filter: 'isAuthorOfPublication'
                                      }]">
</ds-tabbed-related-entities-search>
</div>
