<div class="step-title" *ngIf="curruntStep === 1">
    <div class="icon-head"><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_date"></mat-icon>
        <h5>Select Your Trip Dates</h5>
    </div>
    <p>Choose the date you want to embark on your adventure and the day you'll bid farewell to your destination. </p>
</div>
<div class="step-title" *ngIf="curruntStep === 2">
    <div class="icon-head"><mat-icon aria-hidden="false" aria-label="Example home svg"
            svgIcon="vite_duration"></mat-icon>
        <h5>Choose Your Trips Duration </h5>
    </div>
    <p>Choosing the perfect trip duration is essential to curating an unforgettable travel experience. </p>
</div>
<div class="step-title" *ngIf="curruntStep === 3">
    <div class="icon-head"><mat-icon aria-hidden="false" aria-label="Example home svg"
            svgIcon="vite_interests"></mat-icon>
        <h5> Your Interests</h5>
    </div>
    <p>Adjust the sliders for each category to indicate your level of interest</p>
</div>
<div class="step-title" *ngIf="curruntStep === 4">
    <div class="icon-head"><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_budget"></mat-icon>
        <h5> Your Budget </h5>
    </div>
    <p>Preferred budget type. this helps us recommend activities, and experiences that align with your desired spending
        range.</p>
</div>
<div class="step-title" *ngIf="curruntStep === 5">
    <div class="icon-head"><mat-icon aria-hidden="false" aria-label="Example home svg"
            svgIcon="vite_mode-transport"></mat-icon>
        <h5> Mode Transport</h5>
    </div>
    <p>Preferred mode transport type. this helps us recommend activities, and experiences that align with your desired
        spending range.</p>
</div>