.bundle-row {
  color: var(--bs-table-head-color);
  background-color: var(--bs-table-head-bg);
  border-color: var(--bs-table-border-color);
}
.showContent {
  opacity: 100;
}
.hideContent {
  opacity: 0;
}
