.input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
  margin-left: -1px;
  border-radius: 0 0.25rem 0.25rem 0;
}

.input-group-append .dropdown-toggle {
  border-radius: 0;
}

.w-fx {
  min-width: 200px;
}

.scrollable-menu {
  height: auto;
  max-height: $dropdown-menu-max-height;
  overflow-x: hidden;
}

.scrollable-dropdown-loading {
  background-color: map-get($theme-colors, primary);
  color: white;
  height: $spacer * 2 !important;
  line-height: $spacer * 2;
  position: sticky;
  bottom: 0;
}
