// Add any global css for the theme here

// imports the base global style
@import '../../../styles/_global-styles.scss';
@import '../../../styles/_clarin-styles.scss';

.facet-filter, .setting-option {
  background-color: var(--bs-light);
  border-radius: var(--bs-border-radius);

  &.p-3 {
    // Needs !important because the original bootstrap class uses it
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  .badge-secondary {
    background-color: var(--bs-primary);
  }

  h5 {
    font-size: 1.1rem
  }
}
.btn-secondary {
  background-color: var(--lt-clarin-purple) !important;
}

.btn-success {
  background-color: var(--lt-clarin-purple) !important;
}

.btn-danger, .btn-success, .btn-warning, .btn-info, .btn-primary, .btn-outline-secondary, .btn-secondary {
  background-color: var(--lt-clarin-purple) !important;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25) !important;
  color: white !important;
}

.alert-warning {
  background-color: #fcf8e3 !important;
  border: 1px solid #fbeed5 !important;
  color: #c09853 !important;
}

.ng-toggle-on {
  color: #fff !important;
  background-color: #28a745 !important;
  border-color: #28a745 !important;
}

.ng-toggle-off {
  color: #fff !important;
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.page-item.active .page-link{
  z-index: 2 !important;
  color: #fff !important;
  cursor: default !important;
  background-color: #428bca !important;
  border-color: #428bca !important;
}
