// DSpace works with CSS variables for its own components, and has a mapping of all bootstrap Sass
// variables to CSS equivalents (see src/styles/_bootstrap_variables_mapping.scss). However Bootstrap
// still uses Sass variables internally. So if you want to override bootstrap (or other sass
// variables) you can do so here. Their CSS counterparts will include the changes you make here

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');

$font-family-sans-serif: 'Nunito', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$navbar-dark-color: #FFFFFF;

/* Reassign color vars to semantic color scheme */
$ds-blue: #2b4e72 !default;
$ds-green: #92C642 !default;
$ds-cyan: #207698 !default;
$ds-yellow: #ec9433 !default;
$ds-red: #CF4444 !default;
$ds-dark: #43515f !default;

$ds-gray-800: #343a40 !default;
$ds-gray-700: #495057 !default;
$ds-gray-400: #ced4da !default;
$ds-gray-300: #dee2e6 !default;
$ds-gray-200: #e9ecef !default;
$ds-gray-100: #f8f9fa !default;
$ds-white:    #fff !default;

$body-color: $ds-gray-800 !default;

$table-accent-bg: $ds-gray-100 !default;
$table-hover-bg: $ds-gray-400 !default;

$yiq-contrasted-threshold:  170 !default;

$theme-colors: (
        primary: $ds-dark,
        secondary: $ds-gray-700,
        success: $ds-green,
        info: $ds-cyan,
        warning: $ds-yellow,
        danger: $ds-red,
        light: $ds-gray-100,
        dark: $ds-dark
) !default;
