<div class="container">
  <ul ngbNav #nav="ngbNav" [(activeId)]="activeId" class="nav-tabs">
    <li [ngbNavItem]="'Health'">
      <a ngbNavLink>{{'health-page.health' | translate}}</a>
      <ng-template ngbNavContent>
        <div id="health">
          {{'health-page.status' | translate}} : <i [ngClass]="getHealthIconClass(healthGlobalStatus)"> </i>
          <mat-accordion multi="true">
            <mat-expansion-panel *ngFor="let health of healthArr">
              <mat-expansion-panel-header>
                <mat-panel-title> {{ health.components }} <i [ngClass]="getHealthIconClass(health.status)"></i></mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent> 
                  <div *ngFor="let item of health.details | keyvalue">
                      {{ item.key }} : {{item.value}} 
                  </div>
              </ng-template>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="'Info'">
      <a ngbNavLink>{{'health-page.info' | translate}}</a>
      <ng-template ngbNavContent>
        <div id="info">
          <small [ngStyle]="serverInfo.style" *ngFor="let serverInfo of serverInfoArr; let index = index">
              {{ serverInfo.value }} <br>
          </small>
        </div>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>




