<ul class="navbar-nav" [ngClass]="{'mr-auto': (windowService.isMobileView() | async)}">
  <li *ngIf="!(isAuthenticated | async) && !(windowService.isMobileView() | async) && showAuth" class="nav-item dropdown" (click)="$event.stopPropagation();">
    <div ngbDropdown placement="bottom-right" class="d-inline-block float-right" @fadeInOut>
      <a href="#" id="dropdownLogin" class="nav-link" (click)="$event.preventDefault()" ngbDropdownToggle><i class="fa fa-sign-in fa-fw" aria-hidden="true"></i> {{ 'nav.login' | translate }}<span class="caret"></span></a>
      <div id="loginDropdownMenu" ngbDropdownMenu aria-labelledby="dropdownLogin">
        <ds-log-in></ds-log-in>
      </div>
    </div>
  </li>
  <li *ngIf="!(isAuthenticated | async) && (windowService.isMobileView() | async)" class="nav-item">
    <a class="nav-link" routerLink="/login" routerLinkActive="active"><i class="fa fa-sign-in fa-fw" aria-hidden="true"></i> {{ 'nav.login' | translate }}<span class="sr-only">(current)</span></a>
  </li>
  <li *ngIf="(isAuthenticated | async) && !(windowService.isMobileView() | async)" class="nav-item">
    <div ngbDropdown placement="bottom-right" class="d-inline-block" [ngClass]="{'float-right': !(windowService.isMobileView() | async)}" @fadeInOut>
      <a href="#" id="dropdownUser" class="nav-link" (click)="$event.preventDefault()" ngbDropdownToggle><i class="fa fa-user fa-fw" aria-hidden="true"></i>Hello {{(user | async).name}}<span class="caret"></span></a>
      <div id="logoutDropdownMenu" ngbDropdownMenu aria-labelledby="dropdownUser">
        <ds-log-out></ds-log-out>
      </div>
    </div>
  </li>
  <li *ngIf="(isAuthenticated | async) && (windowService.isMobileView() | async)" class="nav-item">
    <a class="nav-link" routerLink="/logout" routerLinkActive="active"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i> {{ 'nav.logout' | translate }}<span class="sr-only">(current)</span></a>
  </li>
</ul>


