#loginDropdownMenu, #logoutDropdownMenu {
  min-width: 330px;
  z-index: 1002;
}

#loginDropdownMenu {
  min-height: 100%;
}

.dropdown-item.active, .dropdown-item:active,
.dropdown-item:hover, .dropdown-item:focus {
  background-color: transparent !important;
}
