<ds-truncatable [id]="item.id">
  <a
    [routerLink]="['/items/' + item.id]" class="lead"
    [innerHTML]="firstMetadataValue('dc.title')"></a>
  <span class="text-muted">
    <ds-truncatable-part [id]="item.id" [minLines]="1">
            <span *ngIf="item.allMetadata(['journalvolume.identifier.volume']).length > 0"
                  class="item-list-journal-issues">
                    <span *ngFor="let value of allMetadataValues(['journalvolume.identifier.volume']); let last=last;">
                        <span [innerHTML]="value"><span [innerHTML]="value"></span></span>
                    </span>
                <span *ngIf="item.allMetadata(['journalissue.identifier.number']).length > 0"
                      class="item-list-journal-issue-numbers">
                    <span *ngFor="let value of allMetadataValues(['journalissue.identifier.number']); let last=last;">
                        <span> - </span><span [innerHTML]="value"><span [innerHTML]="value"></span></span>
                    </span>
                </span>
            </span>
        </ds-truncatable-part>
  </span>
</ds-truncatable>
