<section class="bg-white">
    <div class="bootstrap-wrapper">
      <div class="container">
        <div class="title-band mb-50">
          <h4>Choose your favourite season</h4>
        </div>
      <div class="row">
          <div class="col-md-3">
            <div class="card-band">
                <img src="assets/image/winter-bg.jpg" alt="winter">
                <span class="round-text"><h6>Winter</h6></span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card-band">
              <img src="assets/image/spring-bg.jpg" alt="spring">
              <span class="round-text"><h6>Spring</h6></span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card-band">
              <img src="assets/image/winter-small-bg.jpg" alt="summer">
              <span class="round-text"><h6>Summer</h6></span>
            </div>
          </div>
          <div class="col-md-3">
          <div class="card-band">
            <img src="assets/image/fall-bg.jpg" alt="fall">
            <span class="round-text"><h6>Fall</h6></span>
        </div>
      </div>

    </div>
  </div>
</div>
  </section>