<div *ngIf="metric" class="metric-container {{metric.metricType}}">
  <div><span>Id: </span>{{ metric.id }}</div>
  <div><span>deltaPeriod1: </span>{{ metric.deltaPeriod1 }}</div>
  <div><span>deltaPeriod1: </span>{{ metric.deltaPeriod1 }}</div>
  <div><span>startDate: </span>{{ metric.startDate }}</div>
  <div><span>endDate: </span>{{ metric.endDate }}</div>
  <div><span>last: </span>{{ metric.last }}</div>
  <div><span>metricCount: </span>{{ metric.metricCount }}</div>
  <div><span>metricType: </span>{{ metric.metricType }}</div>
  <div><span>rank: </span>{{ metric.rank }}</div>
  <div><span>remark: </span>{{ metric.remark }}</div>
</div>
