div.custom-switch {
  &.custom-control-right {
    margin-left: 0;
    margin-right: 0;

    &::after {
      right: -1.5rem;
      left: auto;
    }

    &::before {
      right: -2.35rem;
      left: auto;
    }
  }
}
