<div class="collection-page">
  <div *ngIf="collectionData.hasSucceeded | async" @fadeInOut>
    <!-- Collection Name -->
    <ds-comcol-page-header
      [name]="(collectionData.payload | async)?.name">
    </ds-comcol-page-header>
    <!-- Collection logo -->
    <ds-comcol-page-logo *ngIf="logoData"
      [logo]="logoData.payload | async"
      [alternateText]="'Collection Logo'">
    </ds-comcol-page-logo>
    <!-- Introductionary text -->
    <ds-comcol-page-content
      [content]="(collectionData.payload | async)?.introductoryText"
      [hasInnerHtml]="true">
    </ds-comcol-page-content>
    <!-- News -->
    <ds-comcol-page-content
      [content]="(collectionData.payload | async)?.sidebarText"
      [hasInnerHtml]="true"
      [title]="'community.page.news'">
    </ds-comcol-page-content>
    <!-- Copyright -->
    <ds-comcol-page-content
      [content]="(collectionData.payload | async)?.copyrightText"
      [hasInnerHtml]="true">
    </ds-comcol-page-content>
    <!-- Licence -->
    <ds-comcol-page-content
      [content]="(collectionData.payload | async)?.license"
      [title]="'collection.page.license'">
    </ds-comcol-page-content>
  </div>
  <ds-error *ngIf="collectionData.hasFailed | async" message="Error fetching collection"></ds-error>
  <ds-loading *ngIf="collectionData.isLoading | async" message="Loading collection..."></ds-loading>
  <br>
  <div *ngIf="itemData.hasSucceeded | async" @fadeIn>
    <h2>{{'collection.page.browse.recent.head' | translate}}</h2>
    <ds-object-list
      [config]="paginationConfig"
      [sortConfig]="sortConfig"
      [objects]="itemData"
      [hideGear]="false">
    </ds-object-list>
  </div>
  <ds-error *ngIf="itemData.hasFailed | async" message="Error fetching items"></ds-error>
  <ds-loading *ngIf="itemData.isLoading | async" message="Loading items..."></ds-loading>
</div>
