// DSpace works with CSS variables for its own components, and has a mapping of all bootstrap Sass
// variables to CSS equivalents (see src/styles/_bootstrap_variables_mapping.scss). However Bootstrap
// still uses Sass variables internally. So if you want to override Bootstrap (or other sass
// variables) you can do so here. Their CSS counterparts will include the changes you make here.

// When this file is going to be compiled, internal Bootstrap variables won't have been declared yet,
// therefore if you want to use any Bootstrap variable you also need to declare it here.

// All SASS variables from the base theme are also included here. Do not use the '!default' flag
// here if you want to override them.


/*** FONT FAMILIES ***/

// TAMU Customization - use Lato font
@import url('https://fonts.googleapis.com/css2?family=Lato');
// @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');

$font-family-sans-serif: 'Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
// $font-family-sans-serif: 'Nunito', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
// END TAMU Customization - use Lato font


/*** SEMANTIC COLOR SCHEME ***/

// Gray scale (uncomment the variables that you want to override or that you need to use in this file)
//$white:    #fff;
//$gray-100: #f8f9fa;
//$gray-200: #e9ecef;
//$gray-300: #dee2e6;
//$gray-400: #ced4da;
//$gray-500: #adb5bd;
//$gray-600: #6c757d;
//$gray-700: #495057;
//$gray-800: #343a40;
//$gray-900: #212529;
//$black:    #000;

// TAMU Customization - custom gray
$gray-800: #3e3e3e !default;
$gray-700: #707070 !default;
$gray-400: #d1d1d1 !default;
$gray-100: #f6f6f6 !default;
// END TAMU Customization - custom gray

// Other colors (uncomment the variables that you want to override or that you need to use in this file)
//$blue:    #007bff !default;
//$indigo:  #6610f2 !default;
//$purple:  #6f42c1 !default;
//$pink:    #e83e8c !default;
//$red:     #dc3545 !default;
//$orange:  #fd7e14 !default;
//$yellow:  #ffc107 !default;
//$green:   #28a745 !default;
//$teal:    #20c997 !default;
//$cyan:    #17a2b8 !default;

// TAMU Customization - custom colors
$blue: #2b4e72 !default;
$green: #92C642 !default;
$cyan: #207698 !default;
$yellow: #ec9433 !default;
$red: #CF4444 !default;
$dark: #333333 !default;
// END TAMU Customization - custom colors

// Override semantic colors here

// TAMU Customization - custom theme variables
/* Texas A&M University web color pallette */
$primary: #500000;
$secondary: #3C0000;
$accent: #FCE300;
// $primary:   #43515f;  // Gray
// $secondary: #495057;  // As Bootstrap $gray-700
// END TAMU Customization - custom theme variables
$success:   #92c642;  // Lime
$info:      #1e6f90;  // Light blue
$warning:   #ec9433;  // Orange
$danger:    #cf4444;  // Red
$light:     #f8f9fa;  // As Bootstrap $gray-100
$dark:      #43515f;  // Dark blue

// Add new semantic colors here (you don't need to add existing semantic colors)
$theme-custom-semantic-colors: (
);

// TAMU Customization - theme custom semantic colors
$theme-colors: (
      primary: $primary,
      secondary: $secondary,
      success: $green,
      info: $cyan,
      warning: $yellow,
      danger: $red,
      light: $gray-100,
      dark: $dark
) !default;
// END TAMU Customization - theme custom semantic colors


/*** OTHER BOOTSTRAP VARIABLES ***/

$min-contrast-ratio: 2.06 !default;

// TAMU Customization - body color
// $body-color: #343a40;       // As Bootstrap $gray-800
$body-color: $gray-800 !default; // Bootstrap $gray-800
// END TAMU Customization - body color

// TAMU Customization - link color
$link-color: map-get($theme-colors, primary) !default;
// $link-color: #207698;       // Blue green, as DSpace $info
// END TAMU Customization - link color
$link-decoration: none;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: underline;

$table-accent-bg: #f8f9fa; // As Bootstrap $gray-100
$table-hover-bg: #ced4da; // As Bootstrap $gray-400

$navbar-dark-color: #fff;


/*** CUSTOM DSPACE VARIABLES ***/

$ds-home-news-link-color: #D2FC93;
$ds-header-navbar-border-bottom-color: #92c642;

$ds-breadcrumb-link-color: #154E66 !default;
$ds-breadcrumb-link-active-color: #040D11 !default;
