
<div class="main pb-0">
    <div class="bootstrap-wrapper">
      <div class="chat-container">
        <div class="left-penal">
            <div class="chat-list">
                <div class="main-title-band mt-0 p-0">
                    <h4>Chat</h4>
                    <div class="search-box">
                        <div class="form-group">
                            <input type="text" placeholder="Search anything">
                            <mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_search-outline"></mat-icon>
                        </div>
                    </div>
                </div>
                <ul class="chat-group-list">
                    <li class="active">
                        <div class="icon-band g-icon">
                            <mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_group-trip-bag"></mat-icon>
                        </div>
                        <div class="text-band">
                            <h6>Vancouver,Canada</h6>
                            <p>7 days With family</p>
                            <div class="status-time-band">
                                <p class="time">10 mint ago</p>
                                <span class="msg-count">+2</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="icon-band y-icon">
                            <mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_group-trip-bag"></mat-icon>
                        </div>
                        <div class="text-band">
                            <h6>Vancouver,Canada</h6>
                            <p>7 days With family</p>
                            <div class="status-time-band">
                                <p class="time">10 mint ago</p>
                                <span class="msg-count">+2</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="icon-band m-icon">
                            <mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_group-trip-bag"></mat-icon>
                        </div>
                        <div class="text-band">
                            <h6>Vancouver,Canada</h6>
                            <p>7 days With family</p>
                            <div class="status-time-band">
                                <p class="time">10 mint ago</p>
                                <span class="msg-count">+2</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="icon-band lb-icon">
                            <mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_group-trip-bag"></mat-icon>
                        </div>
                        <div class="text-band">
                            <h6>Vancouver,Canada</h6>
                            <p>7 days With family</p>
                            <div class="status-time-band">
                                <p class="time">10 mint ago</p>
                                <span class="msg-count">+2</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="icon-band j-icon">
                            <mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_group-trip-bag"></mat-icon>
                        </div>
                        <div class="text-band">
                            <h6>Vancouver,Canada</h6>
                            <p>7 days With family</p>
                            <div class="status-time-band">
                                <p class="time">10 mint ago</p>
                                <span class="msg-count">+2</span>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="center-penal">
            <div class="chating-board">
                        <div class="chat">
                          <div class="messages-chat">
                            <div class="message">
                                <div class="photo">
                                    <div class="user r small-md"><span class="user-name">R</span></div>
                                    <div class="online"></div>
                                  </div>
                              <p class="text"> Hi, how are you ? </p>
                            </div>
                            <div class="message text-only">
                              <p class="text"> What are you doing tonight ? Want to go take a drink ?</p>
                            </div>
                            <p class="time"> 14h58</p>
                            <div class="message text-only">
                              <div class="response">
                                <p class="text"> Hey Megan ! It's been a while 😃</p>
                              </div>
                            </div>
                            <div class="message text-only">
                              <div class="response">
                                <p class="text"> When can we meet ?</p>
                              </div>
                            </div>                                                   
                            <p class="response-time time"> 15h04</p>
                            <div class="message">
                              <div class="photo" routerLink="/profile">
                                <div class="user a small-md"><span class="user-name">A</span></div>
                                <div class="online"></div>
                              </div>
                              <p class="text"> 9 pm at the bar if possible 😳</p>
                            </div>
                            <p class="time"> 15h09</p>
                          </div>

                          <div class="chat-fotter">
                            <input class="" type="text" placeholder="Type Your Message Here....">
                            <div class="right-band">
                       
                                <ul class="upload-action">
                                    <li><div class="icon-box"><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_emoji"></mat-icon></div></li>
                                    <li><div class="icon-box small-16"><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_attache-file"></mat-icon></div></li>
                                    <li><div class="icon-box"><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_picture"></mat-icon></div></li>
                                </ul>
                            <div class="sent-btn"><button type="button" class="round-btn"><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_sent-round"></mat-icon></button></div>
                        </div>
                          </div>
                        
                    </div>
            </div>
        </div>
        <div class="right-penal">
             <div class="trip-info">
                <div class="trip-card">
                    <div class="img-band">
                      <img src="assets/image/vancouver.jpg" alt="vancouver">
                    </div>
                    <div class="bottom-band ">
                      <h5 class="titile">Trip To Vancouver</h5>
                    <p class="days pl-0">7 days With Family</p>
                    </div>
                </div>
                <div class="white-card">
                    <div class="top-title">
                        <p>trip Hosted by </p>
                        <span class="date">02 Aug,2023</span>
                    </div>
                    <div class="bottom-text">
                        <div class="user j small-md"><span class="user-name">J</span></div>
                        <h6>Jenny Wilson</h6>
                    </div>
                </div>

                <div class="joined-band">
                    <div class="user-trip-info user-group joined-user">
                        <div class="all-user">
                            <div class="user r">
                            <span class="user-name">R</span>
                            </div>
                            <div class="user a ml-8">
                                <span class="user-name">A</span>
                            </div>
                            <div class="user p ml-8">
                                <span class="user-name">P</span>
                            </div>
                            <div class="user g ml-8">
                                <span class="user-name">G</span>
                            </div>
                            <div class="user m ml-8">
                                <span class="user-name">M</span>
                            </div>
                        </div>
                </div>
                <div class="total-user">
                    <span>5 + joined</span>
                </div>
                </div>

                <div class="bottom-action">
                    <button type="button" class="primary-btn">View Trip</button>
                </div>
            </div> 
            
        </div>
      </div>
    </div>
</div>