<ds-pagination [paginationOptions]="config"
               [collectionSize]="(pageInfo | async)?.totalElements"
               (pageChange)="config.currentPage = pageChange($event)"
               (pageSizeChange)="config.pageSize = pageSize($event)">
    <ul *ngIf="objects.hasSucceeded | async">
        <li *ngFor="let object of (objects.payload | async) | paginate: { itemsPerPage: (pageInfo | async)?.elementsPerPage, currentPage: (pageInfo | async)?.currentPage, totalItems: (pageInfo | async)?.totalElements }">
            <ds-object-list-element [object]="object"></ds-object-list-element>
        </li>
    </ul>

</ds-pagination>