:host {
  --ds-icon-z-index: 10;

    left: 0;
    top: 0;
    height: 100vh;
    flex: 1 1 auto;
    nav {
        background-color: var(--ds-admin-sidebar-bg);
        height: 100%;
        flex-direction: column;
        > div {
            width: 100%;
            &.sidebar-top-level-items {
                flex: 1;
                overflow: auto;
                @include dark-scrollbar;
            }
        }

        &.inactive ::ng-deep .sidebar-collapsible {
            margin-left: calc(-1 * var(--ds-sidebar-items-width));
        }

        .navbar-nav {
            .admin-menu-header {
                background-color: var(--ds-admin-sidebar-header-bg);
                .logo-wrapper {
                    img {
                        height: 20px;
                    }
                }
                .section-header-text {
                    line-height: 1.5;
                }

            }
        }


        ::ng-deep {
            .navbar-nav {
                .sidebar-section {
                    display: flex;
                    align-content: stretch;
                    background-color: var(--ds-admin-sidebar-bg);
                    .nav-item {
                        padding-top: var(--bs-spacer);
                        padding-bottom: var(--bs-spacer);
                    }
                    .shortcut-icon {
                        padding-left: var(--ds-icon-padding);
                        padding-right: var(--ds-icon-padding);
                    }
                    .shortcut-icon, .icon-wrapper {
                        background-color: inherit;
                        z-index: var(--ds-icon-z-index);
                    }
                    .sidebar-collapsible {
                        width: var(--ds-sidebar-items-width);
                        position: relative;
                        a {
                            padding-right: var(--bs-spacer);
                            width: 100%;
                        }
                    }
                    &.active > .sidebar-collapsible > .nav-link {
                        color: var(--bs-navbar-dark-active-color);
                    }
                }
            }
        }

    }

}
