.card {
    a > div {
        position: relative;
        .thumbnail-overlay {
            height: 100%;
            position: absolute;
            top: 0;
            width: 100%;
            background-color: map-get($theme-colors, primary);
        }
    }
}
