<div class="collection-page" *ngIf="collectionData.hasSucceeded | async">
  <ds-collection-page-name [name]="(collectionData.payload | async)?.name"></ds-collection-page-name>
  <ds-collection-page-logo *ngIf="logoData" [logo]="logoData.payload | async"></ds-collection-page-logo>
  <!-- Introductionary text -->
  <ds-content-with-optional-title
      [content]="(collectionData.payload | async)?.introductoryText"
      [hasInnerHtml]="true">
  </ds-content-with-optional-title>
  <!-- News -->
  <ds-content-with-optional-title
      [content]="(collectionData.payload | async)?.sidebarText"
      [hasInnerHtml]="true"
      [title]="'community.page.news'">
  </ds-content-with-optional-title>
  <!-- Copyright -->
  <ds-content-with-optional-title
      [content]="(collectionData.payload | async)?.copyrightText"
      [hasInnerHtml]="true">>
  </ds-content-with-optional-title>
  <!-- Licence -->
  <ds-content-with-optional-title
      [content]="(collectionData.payload | async)?.license"
      [title]="'collection.page.license'">>
  </ds-content-with-optional-title>
</div>
