:host {
    .results {
        line-height: $button-height;
    }
    ds-view-mode-switch {
        margin-bottom: $spacer;
    }
    .sidebar-content > *:not(:last-child):not(ds-search-switch-configuration) {
        margin-bottom: 4*$spacer;
        display: block;
    }
    ds-search-switch-configuration {
      margin-bottom: 2*$spacer;
      display: block;
    }
}
