<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>{{'item.edit.move.head' | translate: { id: (itemRD$ | async)?.payload?.id} }}</h2>
            <p>{{'item.edit.move.description' | translate}}</p>
            <div class="row">
                <div class="col-12">
                    <ds-input-suggestions #f id="search-form"
                                          [suggestions]="(CollectionSearchResults | async)"
                                          [placeholder]="'item.move.search.placeholder'| translate"
                                          [action]="getCurrentUrl()"
                                          [name]="'item-move'"
                                          [(ngModel)]="selectedCollection"
                                          (clickSuggestion)="onClick($event)"
                                          (findSuggestions)="findSuggestions($event)"
                                          (click)="f.open()"
                                          ngDefaultControl>
                    </ds-input-suggestions>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>
                        <input type="checkbox" name="tc" [(ngModel)]="inheritPolicies" id="inheritPoliciesCheckbox">
                        <label for="inheritPoliciesCheckbox">{{'item.edit.move.inheritpolicies.checkbox' |
                            translate}}</label>
                    </p>
                    <p>
                        {{'item.edit.move.inheritpolicies.description' | translate}}
                    </p>
                </div>
            </div>

            <button (click)="moveCollection()" class="btn btn-outline-secondary">{{'item.edit.move.move' | translate}}
            </button>
            <button [routerLink]="['/items/', (itemRD$ | async)?.payload?.id]" class="btn btn-outline-secondary">
                {{'item.edit.move.cancel' | translate}}
            </button>
        </div>
    </div>
</div>
