.label-icon {
  border-radius: 0.25em 0 0 0.25em;
}

.label-PUB {
  background-color: #dff0d8 !important;
  color: #5cb811 !important;;
}

.label-RES {
  color: #c62d1f !important;
  background-color: #f2dede !important;
}

.label-ACA, .label-PDT {
  color: #ffab23 !important;
  background-color: #fcf8e3 !important;
}

.cursor-pointer {
  cursor: pointer;
}
