$content-spacing: $spacer * 1.5;

$button-height: $input-btn-padding-y * 2 + $input-btn-line-height + calculateRem($input-btn-border-width*2);

$card-height-percentage:98%;
$card-thumbnail-height:240px;
$dropdown-menu-max-height: 200px;
$drop-zone-area-height: 44px;
$drop-zone-area-z-index: 1025;
$drop-zone-area-inner-z-index: 1021;
$login-logo-height:72px;
$login-logo-width:72px;
$submission-header-z-index: 1001;
$submission-footer-z-index: 1000;

$main-z-index: 0;
$nav-z-index: 10;
$sidebar-z-index: 20;

$header-logo-height: 80px;
$header-logo-height-xs: 50px;

$admin-sidebar-bg: darken(#2B4E72, 17%);
$admin-sidebar-active-bg: darken($admin-sidebar-bg, 3%);
$admin-sidebar-header-bg: darken($admin-sidebar-bg, 7%);

$dark-scrollbar-background: $admin-sidebar-active-bg;
$dark-scrollbar-foreground: #47495d;

$submission-sections-margin-bottom: .5rem !default;

$edit-item-button-min-width: 100px;
$edit-item-metadata-field-width: 190px;
$edit-item-language-field-width: 43px;

$thumbnail-max-width: 175px;
