$content-spacing: $spacer * 1.5;

$button-height: $input-btn-padding-y * 2 + $input-btn-line-height + calculateRem($input-btn-border-width*2);
$card-height-percentage:98%;
$card-thumbnail-height:240px;

