:root {
  --ds-content-spacing: #{$spacer * 1.5};

  --ds-button-height: #{$input-btn-padding-y * 2 + $input-btn-line-height + calculateRem($input-btn-border-width*2)};

  --ds-card-height-percentage:98%;
  --ds-card-thumbnail-height:240px;
  --ds-dropdown-menu-max-height: 200px;
  --ds-drop-zone-area-height: 44px;
  --ds-drop-zone-area-z-index: 1025;
  --ds-drop-zone-area-inner-z-index: 1021;
  --ds-login-logo-height:72px;
  --ds-login-logo-width:72px;
  --ds-submission-header-z-index: 1001;
  --ds-submission-footer-z-index: 999;

  --ds-main-z-index: 0;
  --ds-nav-z-index: 10;
  --ds-sidebar-z-index: 20;

  --ds-header-logo-height: 80px;
  --ds-header-logo-height-xs: 50px;
  --ds-header-icon-color: #{$link-color};
  --ds-header-icon-color-hover: #{darken($link-color, 15%)};

  $admin-sidebar-bg: darken(#2B4E72, 17%);
  $admin-sidebar-active-bg: darken($admin-sidebar-bg, 3%);
  --ds-admin-sidebar-bg: #{$admin-sidebar-bg};
  --ds-admin-sidebar-active-bg: #{$admin-sidebar-active-bg};
  --ds-admin-sidebar-header-bg: #{darken($admin-sidebar-bg, 7%)};

  --ds-dark-scrollbar-bg: #{$admin-sidebar-active-bg};
  --ds-dark-scrollbar-alt-bg: #{lighten($admin-sidebar-active-bg, 2%)};
  --ds-dark-scrollbar-fg: #47495d;

  --ds-submission-sections-margin-bottom: .5rem;

  --ds-edit-item-button-min-width: 100px;
  --ds-edit-item-metadata-field-width: 190px;
  --ds-edit-item-language-field-width: 43px;

  --ds-thumbnail-max-width: 175px;

  --ds-dso-selector-list-max-height: 475px;
  --ds-dso-selector-current-background-color: #eeeeee;
  --ds-dso-selector-current-background-hover-color: #{darken(#eeeeee, 10%)};
  --ds-notification-bg-success: #{darken(adjust-hue($success, -10), 10%)};
  --ds-notification-bg-danger: #{darken(adjust-hue($danger, -10), 10%)};
  --ds-notification-bg-info: #{darken(adjust-hue($info, -10), 10%)};
  --ds-notification-bg-warning: #{darken(adjust-hue($warning, -10), 10%)};

  --ds-fa-fixed-width: #{$fa-fixed-width};
  --ds-icon-padding: #{$icon-padding};
  --ds-collapsed-sidebar-width: #{$collapsed-sidebar-width};
  --ds-sidebar-items-width: #{$sidebar-items-width};
  --ds-total-sidebar-width: #{$total-sidebar-width};
}
