$content-spacing: $spacer * 1.5 !default;

$button-height: $input-btn-padding-y * 2 + $input-btn-line-height + calculateRem($input-btn-border-width*2) !default;

$card-height-percentage:98% !default;
$card-thumbnail-height:240px !default;
$dropdown-menu-max-height: 200px !default;
$drop-zone-area-height: 44px !default;
$drop-zone-area-z-index: 1025 !default;
$drop-zone-area-inner-z-index: 1021 !default;
$login-logo-height:72px !default;
$login-logo-width:72px !default;
$submission-header-z-index: 1001 !default;
$submission-footer-z-index: 999 !default;

$main-z-index: 0 !default;
$nav-z-index: 10 !default;
$sidebar-z-index: 20 !default;

$header-logo-height: 80px !default;
$header-logo-height-xs: 50px !default;
$header-icon-color: $link-color !default;

$admin-sidebar-bg: darken(#2B4E72, 17%) !default;
$admin-sidebar-active-bg: darken($admin-sidebar-bg, 3%) !default;
$admin-sidebar-header-bg: darken($admin-sidebar-bg, 7%) !default;

$dark-scrollbar-background: $admin-sidebar-active-bg !default;
$dark-scrollbar-foreground: #47495d !default;

$submission-sections-margin-bottom: .5rem !default;

$edit-item-button-min-width: 100px !default;
$edit-item-metadata-field-width: 190px !default;
$edit-item-language-field-width: 43px !default;

$thumbnail-max-width: 175px !default;

$date-picker-input-max-width: 300px;
