@import '_variables.scss';

:export {
    adminSidebarWidth: $admin-sidebar-width;
    xlMin: map-get($grid-breakpoints, xl);
    mdMin: map-get($grid-breakpoints, md);
    lgMin: map-get($grid-breakpoints, lg);
    smMin: map-get($grid-breakpoints, sm);
}