html {
  position: relative;
  min-height: 100%;
}

body {
  overflow-x: hidden;
}

// Sticky Footer
.outer-wrapper {
  display: flex;
  margin: 0;
}

.inner-wrapper {
  flex: 1 1 auto;
  flex-flow: column nowrap;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.main-content {
  z-index: var(--ds-main-z-index);
  flex: 1 1 100%;
  margin-top: var(--ds-content-spacing);
  margin-bottom: var(--ds-content-spacing);
}

.alert.hide {
  padding: 0;
  margin: 0;
}

ds-header-navbar-wrapper {
  z-index: var(--ds-nav-z-index);
}

ds-admin-sidebar {
  position: fixed;
  z-index: var(--ds-sidebar-z-index);
}

.ds-full-screen-loader {
  height: 100vh;
}
