@import '../../node_modules/bootstrap/scss/mixins.scss';

@mixin word-wrap() {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

@mixin dark-scrollbar() {
    &::-webkit-scrollbar {
        width: var(--ds-dark-scrollbar-width);
        height: 3px;
    }
    &::-webkit-scrollbar-button {
        background-color: var(--ds-dark-scrollbar-bg);
    }
    &::-webkit-scrollbar-track {
        background-color: var(--ds-dark-scrollbar-alt-bg);
    }
    &::-webkit-scrollbar-track-piece {
        background-color: var(--ds-dark-scrollbar-bg);
    }
    &::-webkit-scrollbar-thumb {
        height: 50px;
        background-color: var(--ds-dark-scrollbar-fg);
        border-radius: 3px;
    }
    &::-webkit-scrollbar-corner {
        background-color: var(--ds-dark-scrollbar-alt-bg);
    }
    &::-webkit-resizer {
        background-color: var(--ds-dark-scrollbar-bg);
    }
}

/* Define a mixin for vertical ellipsis
   To be used as a class e.g. ellipsis-y-1,... ellipsis-y-4,... ellipsis-y-10
 */
@mixin ellipsis-y($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines; // number of lines
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Generate classes for 1 to 10 lines
@for $i from 1 through 10 {
  .ellipsis-y-#{$i} {
    @include ellipsis-y($i);
  }
}
