$banner-text-background: rgba(0, 0, 0, 0.35);
$banner-background-gradient-width: 300px;

$footer-bg: $blue !important;
$footer-border: 2px $gray-100 solid !important;
$footer-padding: 0 !important;
$footer-padding-bottom: 0 !important;
$footer-logo-height: 50px !important;
