<ng-container *ngVar="(bitstreamRD$ | async) as bitstreamRD">
  <div class="container">
    <div>
      <h3>{{
          'bitstream.replace.page.header' | translate: {
            fileName: bitstreamRD.payload.name,
            fileSize: bitstreamRD.payload.sizeBytes | dsFileSize
          }
        }}</h3>
      <p>
        {{
          'bitstream.replace.page.content' | translate: {
            fileName: bitstreamRD.payload.name
          }
        }}
      </p>
    </div>
    <ds-uploader #uploader class="w-100"
                 [dropMsg]="'item.bitstreams.upload.drop-message'"
                 [dropOverDocumentMsg]="'item.bitstreams.upload.drop-message'"
                 [enableDragOverDocument]="true"
                 [uploadFilesOptions]="uploadFilesOptions"
                 (onCompleteItem)="onCompleteItem($event)"
                 (onUploadError)="onUploadError()"></ds-uploader>
    <h4 class="mb-0">
      {{'bitstream.replace.page.replace-name' | translate}}
    </h4>
    <ui-switch [(ngModel)]="shouldReplaceName"
                (change)="setUploadUrlParameters(uploader)"></ui-switch>
    <ds-error *ngIf="bitstreamRD?.hasFailed" [message]="'loading.bitstream' | translate"></ds-error>
    <ds-loading *ngIf="!bitstreamRD  || bitstreamRD?.isLoading"
                [message]="'loading.bitstream' | translate"></ds-loading>

    <div class="button-row bottom">
      <div class="mt-4 float-right">
        <button class="back-button btn btn-outline-secondary"
                (click)="back()"><i
          class="fas fa-arrow-left"></i>
          <span class="d-none d-sm-inline">&nbsp;{{ "bitstream.replace.page.button.return" | translate }}</span>
        </button>
        <button class="save-button btn btn-primary" (click)="save(uploader);"><i
          class="fas fa-save"></i>
          <span class="d-none d-sm-inline">&nbsp;{{ "bitstream.replace.page.button.save" | translate }}</span>
        </button>
      </div>
    </div>
  </div>
</ng-container>
