<div class="container">
  <div class="row">
    <div class="col-md-12 m-40">
      <h2>{{'subscriptions.title' | translate}}</h2>
      <div class="row">
        <div class="col-md-12 m-40">
          <ds-pagination
            *ngIf="(subscriptions$ | async)?.pageInfo?.totalElements > 0"
            [paginationOptions]="pageConfig"
            [pageInfoState]="(subscriptions$ | async)?.pageInfo"
            [collectionSize]="(subscriptions$ | async)?.pageInfo?.totalElements"
            [hideGear]="true" 
            [hidePagerWhenSinglePage]="true">
            <div class="table-responsive">
              <table id="formats" class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th scope="col">{{'subscriptions.table.dso' | translate}}</th>
                    <th scope="col">{{'subscriptions.table.subscription' | translate}}</th>
                    <th scope="col">{{'subscriptions.table.action' | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ds-subscription-view *ngFor="let subscriptions of ((subscriptions$ | async)?.page | dsParseSubscriptions)" [eperson]="subscriptions[0]?._embedded?.ePerson" [dso]="subscriptions[0]?._embedded?.dSpaceObject" [subscriptions]="subscriptions">
                  </tr>
                </tbody>
              </table>
            </div>
          </ds-pagination>
      </div>
    </div>
  </div>
</div>
