.clarin-ref-box-citation-textarea {
  font-family: monospace;
  width: 100%;
  height: 300px;
  background-color: #eeeeee;
  color: #555555;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  padding: 6px 12px;
  word-wrap: normal;
  overflow-x: scroll;
  resize: none;
  outline: 0;
  word-break: break-all;
  white-space: pre-wrap;
}
