<div>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{itemName}}</h4>
    <button type="button" class="close" aria-label="Close"(click)="activeModal.dismiss('Cross click')" >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body" >
    <p>{{'item.refbox.modal.copy.instruction.0' | translate}}
      <kbd>{{'item.refbox.modal.copy.instruction.1' | translate}}</kbd>
      {{'item.refbox.modal.copy.instruction.2' | translate}}
    </p>
    <div class="textarea" ></div>
    <textarea #copyCitationModal readonly class="clarin-ref-box-citation-textarea">{{citationText}}</textarea>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Save click')">
      {{'item.refbox.modal.submit' | translate}}
    </button>
  </div>
</div>
