<ng-template #bundleView>
  <div class="row bundle-row">
    <div class="col-6 col-sm-7 col-md-8 col-lg-9 font-weight-bold row-element">{{'item.edit.bitstreams.bundle.name' | translate:{ name: bundle.name } }}</div>
    <div class="col-6 col-sm-5 col-md-4 col-lg-3 text-center row-element">
      <div class="btn-group bundle-action-buttons">
        <button [routerLink]="['/items/', item.id, 'bitstreams', 'new']"
                [queryParams]="{bundle: bundle.id}"
                class="btn btn-outline-success btn-sm"
                title="{{'item.edit.bitstreams.bundle.edit.buttons.upload' | translate}}">
          <i class="fas fa-upload fa-fw"></i>
        </button>
      </div>
    </div>
  </div>
  <div [id]="bundle.id" class="bundle-bitstreams-list" *ngVar="((updates$ | async) | dsObjectValues) as updateValues" cdkDropList (cdkDropListDropped)="drop($event)">
    <div class="row" *ngFor="let updateValue of updateValues" cdkDrag
         [ngClass]="{
                  'table-warning': updateValue.changeType === 0,
                  'table-danger': updateValue.changeType === 2,
                  'table-success': updateValue.changeType === 1,
                  'bg-white': updateValue.changeType === undefined
                }">
      <ds-item-edit-bitstream [fieldUpdate]="updateValue"
                              [url]="url"
                              [bundleUrl]="bundle.self">
        <button disabled slot="drag-handle" class="drag-handle btn btn-outline-secondary btn-sm" cdkDragHandle>
          <i class="fas fa-grip-vertical fa-fw" [title]="'item.edit.bitstreams.edit.buttons.drag' | translate"></i>
        </button>
      </ds-item-edit-bitstream>
    </div>
  </div>
</ng-template>
