<ng-template #bundleView>
  <tr>
    <td colspan="3" class="font-weight-bold">{{'item.edit.bitstreams.bundle.name' | translate:{ name: bundle.name } }}</td>
    <td class="text-center">
      <div class="btn-group bundle-action-buttons">
        <button [routerLink]="['/items/', item.id, 'bitstreams', 'new']"
                [queryParams]="{bundle: bundle.id}"
                class="btn btn-outline-success btn-sm"
                title="{{'item.edit.bitstreams.bundle.edit.buttons.upload' | translate}}">
          <i class="fas fa-upload fa-fw"></i>
        </button>
      </div>
    </td>
  </tr>
  <ng-container *ngVar="((updates$ | async) | dsObjectValues) as updateValues">
    <tr *ngFor="let updateValue of updateValues"
        ds-item-edit-bitstream
        [fieldUpdate]="updateValue"
        [url]="url"
        [bundleUrl]="bundle.self"
        [ngClass]="{
                    'table-warning': updateValue.changeType === 0,
                    'table-danger': updateValue.changeType === 2,
                    'table-success': updateValue.changeType === 1
                  }">
    </tr>
  </ng-container>
</ng-template>
