  <!-- Personal Information form -->
  <div class="m-main">
    <div class="main-title-band">
        <h4>My Profile</h4>
    </div>
  <div class="white-card-box">
    <div class="gray-title h-65">
     <div class="left-penal">
         <h5>Personal Information</h5>
     </div>
     <div class="right-penal">
         <button class="primary-btn icon-btn mr-0" type="button"><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_edit"></mat-icon>Edit</button>
     </div>
    </div>
    <div class="content-card-band profile-details-band">
         <ul>
             <!-- Use this class in li for edit  class="edit-active" -->
             <li> 
                 <div class="form-group">
                     <label>First Name</label>
                     <input type="text" placeholder="Enter Your Frist name" value="Jenny">
                 </div>
             </li>
             <li> 
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" placeholder="Enter Your Frist name" value="Wilson">
                </div>
            </li>
             <li>
                 <div class="form-group">
                     <label>Email Address</label>
                     <div class="verified-input">
                     <input type="text" placeholder="Enter Your Frist name" value="info.jenny@gmail.com"> <span class="verified-band"> <img src="assets/icons/officially.svg">Verified</span></div>
                 </div>
             </li>
             <li>
                 <div class="form-group">
                     <label>Mobile Number</label>
                     <input type="text" placeholder="Enter Your Frist name" value="+09 345 346 46">
                 </div>
             </li>
             <li class="password-band">
                 <div class="form-group">
                     <label>Password</label>
                     <input type="text" placeholder="Enter Your Frist name" value="*********">
                 </div>
                 <button class="primary-btn icon-btn W-fit-content" type="button">Change Password?</button>
             </li>
         </ul>
    </div>
 </div>

 <!-- Address form -->
 <div class="white-card-box mt-25">
     <div class="gray-title h-65">
      <div class="left-penal">
          <h5>Address</h5>
      </div>
      <div class="right-penal">
          <button class="primary-btn icon-btn mr-0" type="button"><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_edit"></mat-icon>Edit</button>
      </div>
     </div>
     <div class="content-card-band profile-details-band">
          <ul>
              <!-- Use this class in li for edit  class="edit-active" -->
              <li> 
                  <div class="form-group">
                      <label>Address</label>
                      <input type="text" placeholder="Enter Your Frist name" value="102 Albert St, Ottawa, ON K1P 1A5, Canada">
                  </div>
              </li>
              <li>
                  <div class="form-group">
                      <label>Country</label>
                      <input type="text" placeholder="Enter Your Frist name" value="Canada">
                  </div>
              </li>
              <li>
                  <div class="form-group">
                      <label>City</label>
                      <input type="text" placeholder="Enter Your Frist name" value="Ottawa, ON, Canada">
                  </div>
              </li>
              <li>
                  <div class="form-group">
                      <label>Postal Code</label>
                      <input type="text" placeholder="Enter Your Frist name" value="M1L - M9N">
                  </div>
              </li>
          </ul>
     </div>
  </div>
    
</div>

