:host {
  --ds-header-navbar-border-bottom-style: solid var(--ds-header-navbar-border-bottom-height) var(--ds-header-navbar-border-bottom-color);
  --ds-expandable-navbar-border-top-style: solid var(--ds-expandable-navbar-border-top-height) var(--ds-expandable-navbar-border-top-color);
  --ds-expandable-navbar-height: calc(100vh - var(--ds-header-height));

  div#header-navbar-wrapper {
    // The header-navbar-wrapper should not have a z-index, otherwise it would cover the media viewer despite its higher z-index
    position: relative; // required by the mobile collapsible navbar
    border-bottom: var(--ds-header-navbar-border-bottom-style); // gets covered by mobile navbar wrapper, when open

    div#mobile-navbar-wrapper {
      width: 100%;
      background-color: var(--ds-expandable-navbar-bg);
      position: absolute;
      z-index: var(--ds-nav-z-index);
      overflow: hidden;

      nav#collapsible-mobile-navbar {
        // Following parameters are changed by slideMobileNav animation
        min-height: var(--ds-expandable-navbar-height);
        height: auto;
        border-bottom: var(--ds-header-navbar-border-bottom-style);
        background-color: var(--ds-navbar-bg);
      }
    }
  }

  ::ng-deep ds-user-menu {
    .ds-menu-item {
      text-decoration: none;
    }
  }
}
