<div dsSection #sectionRef="sectionRef"
     [mandatory]="sectionData.mandatory"
     [submissionId]="sectionData.submissionId"
     [sectionId]="sectionData.id">
  <ngb-accordion #acc="ngbAccordion"
                 (panelChange)="sectionRef.sectionChange($event)"
                 activeIds="{{ sectionData.id }}"
                 [destroyOnHide]="false">
    <ngb-panel id="{{ sectionData.id }}">
      <ng-template ngbPanelTitle>
        <span>{{ 'submission.section.'+sectionData.header | translate }}</span>
        <div class="d-inline-block float-right">
          <i *ngIf="!sectionRef.isValid()" class="fa fa-exclamation-circle text-warning mr-3" aria-hidden="true"></i>
          <i *ngIf="sectionRef.isValid()" class="fa fa-check-circle text-success mr-3" aria-hidden="true"></i>
          <a class="close" aria-label="Close">
            <span *ngIf="sectionRef.isOpen()" class="fa fa-angle-up fa-fw" aria-hidden="true"></span>
            <span *ngIf="!sectionRef.isOpen()" class="fa fa-angle-down fa-fw" aria-hidden="true"></span>
          </a>
          <a href="#" class="close mr-3" *ngIf="!sectionRef.isMandatory()" (click)="removeSection($event)">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </a>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <ng-container
          *ngTemplateOutlet="sectionContentTemplate">
        </ng-container>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>

<ng-template #sectionContentTemplate>
  <ng-container [ngSwitch]="sectionComponentType">
      <ds-submission-section-form *ngSwitchCase="'submission-form'" [sectionData]="sectionData"></ds-submission-section-form>
      <ds-submission-section-files *ngSwitchCase="'upload'" [sectionData]="sectionData"></ds-submission-section-files>
      <ds-submission-section-default *ngSwitchCase="'license'" [sectionData]="sectionData"></ds-submission-section-default>
      <ds-submission-section-default *ngSwitchCase="'cclicense'" [sectionData]="sectionData"></ds-submission-section-default>
      <ds-submission-section-default *ngSwitchCase="'collection'" [sectionData]="sectionData"></ds-submission-section-default>
  </ng-container>
</ng-template>
