<div class="btn-group" data-toggle="buttons">
    <a routerLink="."
       [queryParams]="{view: 'list'}"
       queryParamsHandling="merge"
       (click)="switchViewTo(viewModeEnum.List)"
       routerLinkActive="active"
       [class.active]="currentMode === viewModeEnum.List"
       class="btn btn-secondary">
          <i class="fas fa-list" title="{{'search.view-switch.show-list' | translate}}"></i>
    </a>
    <a routerLink="."
       [queryParams]="{view: 'grid'}"
       queryParamsHandling="merge"
       (click)="switchViewTo(viewModeEnum.Grid)"
       routerLinkActive="active"
       [class.active]="currentMode !== viewModeEnum.List"
       class="btn btn-secondary">
          <i class="fas fa-th-large" title="{{'search.view-switch.show-grid' | translate}}"></i>
    </a>
</div>