<button class="action-buttons btn btn-success mt-1 mb-3"
			*ngIf="!isSelected && !!object"
            ngbTooltip="{{'relationships.select' | translate}}"
            (click)="emitAction('select')"
            [disabled]="isLoading"
            >
      <span *ngIf="isLoading"><i class='fas fa-circle-notch fa-spin'></i> {{'loading.default' | translate}}</span>
      <span *ngIf="!isLoading"> {{"relationships.select" | translate}}</span>

</button>
<button class="action-buttons btn btn-primary mt-1 mb-3"
			*ngIf="!!isSelected && !!object"
            ngbTooltip="{{'relationships.unselect' | translate}}"
            (click)="emitAction('unselect')"
            [disabled]="isLoading"
            >
      <span *ngIf="isLoading"><i class='fas fa-circle-notch fa-spin'></i> {{'loading.default' | translate}}</span>
      <span *ngIf="!isLoading"> {{"relationships.unselect" | translate}}</span>

</button>
<button class="action-buttons btn btn-danger mt-1 mb-3"
			*ngIf="!isHidden && !!object"
            ngbTooltip="{{'relationships.hide' | translate}}"
            (click)="emitAction('hide')"
            [disabled]="isLoading"
            >
      <span *ngIf="isLoading"><i class='fas fa-circle-notch fa-spin'></i> {{'loading.default' | translate}}</span>
      <span *ngIf="!isLoading"> {{"relationships.hide" | translate}}</span>
</button>
<button class="action-buttons btn btn-warning mt-1 mb-3"
			*ngIf="!!isHidden && !!object"
            ngbTooltip="{{'relationships.unhide' | translate}}"
            (click)="emitAction('unhide')"
            [disabled]="isLoading"
            >
      <span *ngIf="isLoading"><i class='fas fa-circle-notch fa-spin'></i> {{'loading.default' | translate}}</span>
      <span *ngIf="!isLoading"> {{"relationships.unhide" | translate}}</span>

</button>
