<div class="top-item-page">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-2 d-flex flex-md-column justify-content-between">
                <ds-metadata-field-wrapper>
                    <ds-thumbnail [thumbnail]="getThumbnail() | async"
                                  [defaultImage]="'assets/images/project-placeholder.svg'"></ds-thumbnail>
                </ds-metadata-field-wrapper>
                <div>
                    <a class="btn btn-secondary"
                       [routerLink]="['/items/' + object.id + '/full']">
                        {{"item.page.link.full" | translate}}
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-10">
                <h2 class="item-page-title-field">
                    {{'project.page.titleprefix' | translate}}<ds-metadata-values [mdValues]="object?.allMetadata(['dc.title'])"></ds-metadata-values>
                </h2>
                <div class="row">
                    <div class="col-12 col-md-6">
                      <ds-metadata-representation-list  [parentItem]="object"
                                                        [itemType]="'OrgUnit'"
                                                        [metadataField]="'project.contributor.other'"
                                                        [label]="'project.page.contributor' | translate">
                      </ds-metadata-representation-list>
                      <ds-generic-item-page-field [item]="object"
                                                  [fields]="['project.identifier.funder']"
                                                  [label]="'project.page.funder'">
                      </ds-generic-item-page-field>
<!--                        <ds-generic-item-page-field [item]="object"-->
<!--                                                    [fields]="['project.identifier.status']"-->
<!--                                                    [label]="'project.page.status'">-->
<!--                        </ds-generic-item-page-field>-->
<!--                        <ds-generic-item-page-field [item]="object"-->
<!--                                                    [fields]="['project.identifier.expectedcompletion']"-->
<!--                                                    [label]="'project.page.expectedcompletion'">-->
<!--                        </ds-generic-item-page-field>-->
                    </div>
                    <div class="col-12 col-md-6">
                      <ds-generic-item-page-field [item]="object"
                                                  [fields]="['dc.identifier']"
                                                  [label]="'project.page.id'">
                      </ds-generic-item-page-field>
                        <ds-generic-item-page-field [item]="object"
                                                    [fields]="['dc.description']"
                                                    [label]="'project.page.description'">
                        </ds-generic-item-page-field>
                        <ds-generic-item-page-field [item]="object"
                                                    [fields]="['dc.subject']"
                                                    [label]="'project.page.keyword'">
                        </ds-generic-item-page-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="relationships-item-page">
    <div class="container">
        <div class="row">
            <ds-related-items
              class="col-12 col-md-4"
              [parentItem]="object"
              [relationType]="'isPersonOfProject'"
              [label]="'relationships.isPersonOf' | translate">
            </ds-related-items>
            <ds-related-items
              class="col-12 col-md-4"
              [parentItem]="object"
              [relationType]="'isPublicationOfProject'"
              [label]="'relationships.isPublicationOf' | translate">
            </ds-related-items>
            <ds-related-items
              class="col-12 col-md-4"
              [parentItem]="object"
              [relationType]="'isOrgUnitOfProject'"
              [label]="'relationships.isOrgUnitOf' | translate">
            </ds-related-items>
        </div>
    </div>
</div>

