<div *ngIf="(filters | async)?.hasSucceeded">
  <h2>{{'search.filters.applied.charts.title' | translate}}</h2>
  <ul class="nav nav-pills mb-30">
    <li class="nav-item mr-3" *ngFor="let filter of (filters | async)?.payload; trackBy: trackUpdate; let i = index"
      (click)="changeChartType(filter)">
      <a class="nav-link" [ngClass]="{'active' : selectedFilter.type == filter.type}">
        {{'search.filters.applied.charts.' + filter.type | translate}}
      </a>
    </li>
  </ul>
  <div>
    <ds-search-chart [filter]="selectedFilter" [inPlaceSearch]="inPlaceSearch"> </ds-search-chart>
  </div>
</div>
