.header-row {
  color: $table-dark-color;
  background-color: $table-dark-bg;
  border-color: $table-dark-border-color;
}

.bundle-row {
  color: $table-head-color;
  background-color: $table-head-bg;
  border-color: $table-border-color;
}

.row-element {
  padding: 12px;
  padding: 0.75em;
  border-bottom: $table-border-width solid $table-border-color;
}

.drag-handle {
  visibility: hidden;
  &:hover {
    cursor: grab;
  }
}

:host ::ng-deep .bitstream-row:hover .drag-handle {
  visibility: visible !important;
}

.cdk-drag-preview {
  margin-left: 0;
  box-sizing: border-box;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
