@import '../../../../../styles/variables.scss';
@import '../../../../../styles/mixins.scss';

.filters {
    margin-top: $spacer/2;
    margin-bottom: $spacer/2;
    a {
        color: $body-color;
        &:hover {
            text-decoration: none;
        }
    }
    .toggle-more-filters a {
        color: $link-color;
        text-decoration: underline;
        cursor: pointer;
    }
}