<div class="container">
  <div class="browse-by-metadata w-100 row">
    <ds-browse-by class="col-xs-12 w-100"
      title="{{'browse.title' | translate:{collection: (parent$ | async)?.payload?.name || '', field: 'browse.metadata.' + metadata | translate, value: (value)? '&quot;' + value + '&quot;': ''} }}"
      [objects$]="(items$ !== undefined)? items$ : browseEntries$"
      [paginationConfig]="paginationConfig"
      [sortConfig]="sortConfig"
      [enableArrows]="startsWith"
      (prev)="goPrev()"
      (next)="goNext()"
      (pageSizeChange)="pageSizeChange($event)"
      (sortDirectionChange)="sortDirectionChange($event)">
    </ds-browse-by>
  </div>
</div>
