<ds-metadata-field-wrapper [label]="label">
  <ng-container *ngVar="(representations$ | async) as representations">
    <ds-item-type-switcher *ngFor="let rep of representations"
                             [object]="rep" [viewMode]="viewMode">
    </ds-item-type-switcher>
    <ds-loading *ngIf="loading" message="{{'loading.default' | translate}}"></ds-loading>
    <div class="d-inline-block w-100 mt-2" *ngIf="representations?.length > 0">
      <div *ngIf="representations?.length < total" class="float-left">
        <a [routerLink]="" (click)="viewMore()">{{'item.page.related-items.view-more' |
          translate:{ amount: (total - representations?.length < incrementBy) ? total - representations?.length : incrementBy } }}</a>
      </div>
      <div *ngIf="limit > originalLimit" class="float-right">
        <a [routerLink]="" (click)="viewLess()">{{'item.page.related-items.view-less' |
          translate:{ amount: (representations?.length < limit) ? limit - representations?.length : incrementBy } }}</a>
      </div>
    </div>
  </ng-container>
</ds-metadata-field-wrapper>
