<div class="container">
  <div class="row">
    <div class="col-12 pb-4">
      <ng-container *ngVar="(parentRD$ | async)?.payload as parent">
        <h2 *ngIf="!parent" id="header" class="border-bottom pb-2">{{ 'Create a Community' | translate }}</h2>
        <h2 *ngIf="parent" id="sub-header" class="border-bottom pb-2">{{ 'Create a Sub-Community for Community {{ parent }}' | translate:{ parent: parent.name } }}</h2>
      </ng-container>
    </div>
  </div>
  <ds-community-form (submitForm)="onSubmit($event)"></ds-community-form>
</div>
