<ds-truncatable [id]="object.id">
  <div class="card">
    <a [routerLink]="['/items/', object.id]" class="card-img-top">
      <ds-grid-thumbnail [thumbnail]="object.getThumbnail()">
      </ds-grid-thumbnail>
    </a>
    <div class="card-body">
      <h4 class="card-title">{{object.firstMetadataValue('dc.title')}}</h4>

      <ds-truncatable-part [id]="object.id" [minLines]="2">
        <p *ngIf="object.hasMetadata(['dc.contributor.author', 'dc.creator', 'dc.contributor.*'])" class="item-authors card-text text-muted">
            <span *ngFor="let author of object.allMetadataValues(['dc.contributor.author', 'dc.creator', 'dc.contributor.*']); let last=last;">{{author}}
                <span *ngIf="!last">; </span>
            </span>
          <span *ngIf="object.hasMetadata('dc.date.issued')" class="item-date">{{object.firstMetadataValue("dc.date.issued")}}</span>
        </p>
      </ds-truncatable-part>

      <ds-truncatable-part [id]="object.id" [minLines]="5">
        <p *ngIf="object.hasMetadata('dc.description.abstract')" class="item-abstract card-text">{{object.firstMetadataValue("dc.description.abstract")}}</p>
      </ds-truncatable-part>

      <div class="text-center pt-2">
        <a [routerLink]="['/items/', object.id]" class="lead btn btn-primary viewButton">View</a>
      </div>
    </div>
  </div>
</ds-truncatable>
