<ds-themed-loading *ngIf="(itemRD$ | async)?.isLoading" message="{{'loading.item' | translate}}"></ds-themed-loading>
<ng-container *ngIf="((itemRD$ | async)?.hasSucceeded && !(itemRD$ | async)?.hasNoContent)">
  <div class="container">
    <ds-item-alerts [item]="(itemRD$ | async)?.payload"></ds-item-alerts>
  </div>
  <ds-view-tracker [object]="(itemRD$ | async)?.payload"></ds-view-tracker>
  <ds-cris-layout *ngIf="!((itemRD$ | async)?.payload?.isWithdrawn) || (isAdmin$|async)"
                  [item]="(itemRD$ | async)?.payload"></ds-cris-layout>
</ng-container>
