ul li.active > .nav-item {
  color: map-get($theme-colors, info);
  background: map-get($theme-colors, light);
}
:host ::ng-deep {
    height: 100%;
    .fa-chevron-right {
        padding: calc(var(--bs-spacer) / 2);
        font-size: 0.5rem;
        line-height: 3;
    }

    .sidebar-sub-level-items {
        list-style: none;
        // color: var(--bs-navbar-dark-color);
        overflow: hidden;
        z-index: 999999;
        li .nav-item{
            background: transparent;
        }
    }

    .sidebar-collapsible {
        display: flex;
        flex-direction: column;
    }

    li.sidebar-section.expanded {
      font-size: 1.1em;
      display: block;
      color: rgba(0, 0, 0, 0.5);
    }

    ul li.active > .nav-item , .sidebar-section.active .nav-item{
        color: #006666 !important;
        // background: #eeeeee !important;
    }

}
.sidebar-section{
    height: 100%;
}
.nav-item{
    padding: 10px 0;
    display: block;
    color: var(--ds-cris-layout-navbar-link-color);
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;  
    z-index: 99999;
}

.vertical{
    .icon-wrapper{
        border-bottom: var(--ds-cris-layout-sidebar-link-border-bottom);
        a{
            justify-content: flex-start;
        } 

    }
    .sidebar-collapsible{
        border-bottom: var(--ds-cris-layout-sidebar-link-border-bottom);  
        a{
            justify-content: space-between;
        } 
    }
}

.horizontal{
    .icon-wrapper{
        border-bottom: var(--ds-cris-layout-navbar-link-border-bottom);
        height: 100%;
        display: flex;
        align-items:center;
    }
    .nav-item{
        padding: 10px;
    }
    

    .sidebar-sub-level-items{
        background-color: var(--ds-cris-layout-navbar-sub-level-backround-color);  
        a{
            background-color: var(--ds-cris-layout-navbar-sub-level-backround-color);  
        } 
    }
    // .sidebar-sub-level-items {
    //     li .nav-item{
    //         background: #ffffff;
    //     }
    // }
}

.active.horizontal {
  border-bottom: 1px solid var(--ds-cris-layout-navbar-tab-color-active);
}
