<li class="sidebar-section h-100" [ngClass]="{ 'active' : !!tab && !!activeTab && (tab.isActive || tab.id == activeTab.id), 'expanded': expanded, 'vertical': layout == 'vertical', 'horizontal': layout == 'horizontal' }">
    <div class="icon-wrapper" *ngIf="!tab.children || tab.children.length == 0 ">
        <a class="nav-item shortcut-icon"
           href="javascript:void(0);"
           [ngClass]="{ 'px-4 justify-content-between' : layout == 'vertical' }"
           [title]="getTabHeader(tab)"
           [routerLink]="itemBaseUrl + tab.shortname"
           (click)="$event.stopPropagation();$event.preventDefault();selectTab(tab)"
           [innerHTML]="getTabHeader(tab)"></a>
    </div>
    <div *ngIf="!!tab.children && tab.children.length > 0 " class="sidebar-collapsible h-100">
        <a class="nav-item shortcut-icon" href="javascript:;" [ngClass]="{ 'px-4 justify-content-between' : layout == 'vertical' }"
            (click)="$event.preventDefault();toggleSection($event)">
            <span id="sidebarName-{{tab.id}}" class="section-header-text" [innerHTML]="getTabHeader(tab)">
            </span>

            <i *ngIf="layout == 'vertical'" class="fas fa-chevron-right fa-pull-right" [@rotate]="expanded ? 'expanded' : 'collapsed'"
                [title]="getTabHeader(tab)"></i>

            <i *ngIf="layout == 'horizontal'" class="fas fa-chevron-right fa-pull-right" [@rotateNavbar]="expanded ? 'expanded' : 'collapsed'"
                [title]="getTabHeader(tab)"></i>
        </a>
        <ul class="sidebar-sub-level-items list-unstyled" @slide *ngIf="expanded">
            <li *ngFor="let subTab of tab.children" [ngClass]="{'active' : !!subTab && !!activeTab && subTab.id == activeTab.id}">
                <a class="nav-item shortcut-icon"
                   href="javascript:void(0);"
                   [ngClass]="{ 'px-4 justify-content-between' : layout == 'vertical' }"
                   [routerLink]="itemBaseUrl + subTab.shortname"
                   (click)="$event.stopPropagation();$event.preventDefault();selectTab(subTab)">
                  <span id="sidebarName-{{subTab.id}}"
                        class="pl-3 section-header-text"
                        [innerHTML]="getTabHeader(subTab)"></span>
                </a>
            </li>
        </ul>
    </div>
</li>
