<div>
  <a href="javascript:void(0);"
     role="button"
     (click)="onClick()"
     [attr.aria-label]="((buttonDisabled$ | async) ? 'nav.context-help-toggle-disabled' : 'nav.context-help-toggle') | translate"
     [title]="((buttonDisabled$ | async) ? 'nav.context-help-toggle-disabled' : 'nav.context-help-toggle') | translate"
  >
    <i class="fas fa-lg fa-fw fa-question-circle"
       [class]="(buttonDisabled$ | async) ? 'ds-context-help-toggle-disabled' : 'ds-context-help-toggle-enabled'"
    ></i>
  </a>
</div>
