<div class="container">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">{{itemName}}</h3>
      <p class="card-text">{{authors && authors.join(', ')}}</p>
      <h5 class="card-title">{{'item.tombstone.withdrawn.message' | translate}}</h5>
      <p class="card-text">{{'item.tombstone.no.available.message' | translate}}</p>
      <p *ngIf="reasonOfWithdrawal != null">
        <span class="card-text">
          {{'item.tombstone.withdrawal.reason.message' | translate}}
        </span>
        <span class="card-text">{{reasonOfWithdrawal}}</span>
      </p>
      <p class="card-text">
        <span>{{'item.tombstone.restricted.contact.help.0' | translate}}</span>
        <a [href]="'mailto:'+(helpDesk$ | async)?.payload?.values[0]">{{'item.tombstone.restricted.contact.help.1' | translate}}</a>
        <span>{{'item.tombstone.restricted.contact.help.2' | translate}}</span>
      </p>
      <div class="danger-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-exclamation-triangle-fill " viewBox="0 0 16 16">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
      </div>
    </div>
  </div>
</div>
