<ds-pagination
  *ngIf="(itemsRD$ | async)?.payload?.totalElements > 0"
  [paginationOptions]="paginationOptions"
  [pageInfoState]="(itemsRD$ | async)?.payload"
  [collectionSize]="(itemsRD$ | async)?.payload?.totalElements"
  [hidePagerWhenSinglePage]="true"
  [hideGear]="true">
  <div class="table-responsive">
    <table id="item-select" class="table table-striped table-hover">
      <thead>
        <tr>
          <th></th>
          <th *ngIf="!hideCollection" scope="col">{{'item.select.table.collection' | translate}}</th>
          <th scope="col">{{'item.select.table.author' | translate}}</th>
          <th scope="col">{{'item.select.table.title' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of (itemsRD$ | async)?.payload?.page">
          <td><input class="item-checkbox" [ngModel]="getSelected(item.id) | async" (change)="switch(item.id)" type="checkbox" name="{{item.id}}"></td>
          <td *ngIf="!hideCollection"><a [routerLink]="['/items', item.id]">{{(item.owningCollection | async)?.payload?.name}}</a></td>
          <td><a *ngIf="item.filterMetadata(['dc.contributor.author', 'dc.creator', 'dc.contributor.*']).length > 0" [routerLink]="['/items', item.id]">{{item.filterMetadata(['dc.contributor.author', 'dc.creator', 'dc.contributor.*'])[0].value}}</a></td>
          <td><a [routerLink]="['/items', item.id]">{{item.findMetadata("dc.title")}}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</ds-pagination>
<button class="btn btn-outline-secondary item-confirm" (click)="confirmSelected()">{{confirmButton | translate}}</button>
