
<a [class.disabled]="!(object.workflowitem | async)?.hasSucceeded"
   class="btn btn-primary mt-1 mb-3"
   ngbTooltip="{{'submission.workflow.tasks.claimed.edit_help' | translate}}"
   [routerLink]="['/workflowitems/' + (object.workflowitem | async)?.payload.id + '/' + object.id + '/edit']"
   role="button">
  <i class="fa fa-edit"></i> {{'submission.workflow.tasks.claimed.edit' | translate}}
</a>

  <ds-claimed-task-actions-approve [processingApprove]="(processingApprove$ | async)"
                                   [taskId]="object.id"
                                   [wrapperClass]="'mt-1 mb-3'"
                                   (approve)="approve()"></ds-claimed-task-actions-approve>

  <ds-claimed-task-actions-reject [processingReject]="(processingReject$ | async)"
                                  [taskId]="object.id"
                                  [wrapperClass]="'mt-1 mb-3'"
                                  (reject)="reject($event)"></ds-claimed-task-actions-reject>

<button type="button"
        class="btn btn-secondary mt-1 mb-3"
        ngbTooltip="{{'submission.workflow.tasks.claimed.return_help' | translate}}"
        [disabled]="(processingReturnToPool$ | async)"
        (click)="returnToPool()">
  <span *ngIf="(processingReturnToPool$ | async)"><i class='fas fa-circle-notch fa-spin'></i> {{'submission.workflow.tasks.generic.processing' | translate}}</span>
  <span *ngIf="!(processingReturnToPool$ | async)"><i class="fa fa-undo"></i> {{'submission.workflow.tasks.claimed.return' | translate}}</span>
</button>

  <ds-message-board
    [dso]="workflowitem$ | async"
    [tooltipMessage]="'mydspace.messages.controller-help'"
    (refresh)="refresh()">
  </ds-message-board>
