
  <a [class.disabled]="!(object.workflowitem | async)?.hasSucceeded"
     class="btn btn-primary mt-1 mb-3"
     ngbTooltip="{{'submission.workflow.tasks.claimed.edit_help' | translate}}"
     [routerLink]="['/workflowitems/' + (object?.workflowitem | async)?.payload?.id + '/edit']"
     role="button">
    <i class="fa fa-edit"></i> {{'submission.workflow.tasks.claimed.edit' | translate}}
  </a>

  <ds-claimed-task-actions-approve [processingApprove]="(processingApprove$ | async)"
                                   [wrapperClass]="'mt-1 mb-3'"
                                   (approve)="approve()"></ds-claimed-task-actions-approve>

  <ds-claimed-task-actions-reject [processingReject]="(processingReject$ | async)"
                                  [wrapperClass]="'mt-1 mb-3'"
                                  (reject)="reject($event)"></ds-claimed-task-actions-reject>

  <ds-claimed-task-actions-return-to-pool [processingReturnToPool]="(processingReturnToPool$ | async)"
                                          [wrapperClass]="'mt-1 mb-3'"
                                          (returnToPool)="returnToPool()"></ds-claimed-task-actions-return-to-pool>
