<div class="{{containerStyle}}">
  <span
    *ngIf="hasLabel && !nested"
    class="{{labelStyle}}">
    {{label | translate}}
  </span>


  <ng-template #metadata>
    <div  [class]="'d-flex flex-column ' + valueStyle">
    <span *ngFor="let metadataValue of metadataValues" class="txt-value">
      {{ normalizeValue(metadataValue) | dsDate }}
    </span>
    </div>
  </ng-template>

  <div  *ngIf="indexToBeRendered>=0; else metadata"  [class]="'d-flex flex-column ' + valueStyle">
    <span *ngFor="let metadataValue of [metadataValues[indexToBeRendered]]" class="txt-value">
      {{ normalizeValue(metadataValue)  }}
    </span>
  </div>


</div>
