<div class="container">
  <div class="card my-5">
    <div [ngClass] = "countersSection.style">
      <div class = "row d-flex justify-content-center">
        <div *ngIf="isLoading$ | async">
          <ds-loading message="{{'loading.default' | translate}}"></ds-loading>
        </div>
       <div *ngFor="let counter of (counterData$ | async)"
          class="px-4 py-1 col-md-2 d-flex align-items-start flex-column justify-content-center column">
            <div [routerLink]="counter.link" style="cursor:pointer" class="col d-flex justify-content-center"><i [ngClass]="counter.icon"></i></div>
            <div [routerLink]="counter.link" style="cursor:pointer" class="col d-flex justify-content-center">{{'explore.counters-section.' + counter.label | translate}}</div>
            <div [routerLink]="counter.link" style="cursor:pointer" class="col d-flex justify-content-center"><b>{{counter.count}}</b></div>
        </div>
      </div>
    </div>
  </div>
</div>
