<h2 class="item-page-title-field">
  <ds-metadata-values [values]="item?.filterMetadata(['dc.contributor.author'])"></ds-metadata-values>
</h2>
<div class="row">
  <div class="col-xs-12 col-md-4">
    <ds-metadata-field-wrapper>
      <ds-thumbnail [thumbnail]="this.item.getThumbnail() | async" [defaultImage]="'assets/images/person-placeholder.png'"></ds-thumbnail>
    </ds-metadata-field-wrapper>
    <ds-generic-item-page-field [item]="item"
      [fields]="['person.identifier.email']"
      [label]="'person.page.email'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="item"
      [fields]="['person.identifier.orcid']"
      [label]="'person.page.orcid'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="item"
      [fields]="['person.identifier.birthdate']"
      [label]="'person.page.birthdate'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="item"
      [fields]="['person.identifier.staffid']"
      [label]="'person.page.staffid'">
    </ds-generic-item-page-field>
  </div>
  <div class="col-xs-12 col-md-6">
    <ng-container *ngVar="(publications$ | async) as publications">
      <ds-metadata-field-wrapper *ngIf="publications && publications.length > 0" [label]="'person.page.publications' | translate">
        <span *ngFor="let publ of publications; let last=last;">
            {{publ.name}}<span *ngIf="!last" [innerHTML]="separator"></span>
        </span>
      </ds-metadata-field-wrapper>
    </ng-container>
    <ds-generic-item-page-field [item]="item"
      [fields]="['person.identifier.jobtitle']"
      [label]="'person.page.jobtitle'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="item"
      [fields]="['person.identifier.lastname']"
      [label]="'person.page.lastname'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="item"
      [fields]="['person.identifier.firstname']"
      [label]="'person.page.firstname'">
    </ds-generic-item-page-field>
  </div>
</div>
