<li *ngIf="metadataRepresentation">
    <button type="button" class="close float-left" aria-label="Move button" cdkDragHandle>
        <i aria-hidden="true" class="fas fa-arrows-alt fa-xs"></i>
    </button>
    <button type="button" class="close float-left" aria-label="Close button" (click)="removeSelection()">
        <span aria-hidden="true">&times;</span>
    </button>
    <span class="d-inline-block align-middle ml-1">
              <ds-metadata-representation-loader [mdRepresentation]="metadataRepresentation"></ds-metadata-representation-loader>
          </span>
</li>
