  <div class="modal-header">
    <h4 class="modal-title">{{'context-menu.actions.subscription.title' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('cancel')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 add-button">
        <button (click)="addNewSubscription()" class="btn btn-success">
          <i class="fas fa-plus"></i>
        </button> 
      </div>
    </div>
    <div *ngIf="!!subscriptions && subscriptions.length > 0" class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table id="formats" class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">{{'subscriptions.table.subscription_type' | translate}}</th>
                <th scope="col">{{'subscriptions.table.subscription_frequency' | translate}}</th>
                <th scope="col">{{'subscriptions.table.action' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let subscription of subscriptions">
                <td>{{subscription.subscriptionType}}</td>
                <td>
                  <span *ngFor="let parameterList of subscription.subscriptionParameterList; let i = index">
                    {{ 'subscriptions.frequency.'+ parameterList.value  | translate}}<span *ngIf="i < subscription.subscriptionParameterList.length-1 ">,</span>
                  </span>
                </td>
                <td>
                  <button (click)="editSubscription(subscription)" class="btn btn-outline-primary btn-sm access-control-editEPersonButton" title="Edit">
                    <i class="fas fa-edit fa-fw"></i>
                  </button>
                  <button (click)="deleteSubscriptionPopup(subscription)" class="btn btn-outline-danger btn-sm access-control-deleteEPersonButton" title="Delete">
                    <i class="fas fa-trash-alt fa-fw"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div *ngIf="!!subscriptionForm" class="row">
      <div class="col-md-12">
        <form [formGroup]="subscriptionForm">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="type">{{ 'context-menu.actions.subscription.type' | translate }}</label>
                    <select (change)="changed($event)" fromControlName="type" id="type" class="custom-select">
                      <option [selected]="type.value == subscriptionForm.get('type').value" *ngFor="let type of types" [value]="type.value">
                          {{ 'context-menu.actions.subscription.'+type.value | translate}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row" formArrayName="subscriptionParameterList">
                <div class="col-md-6">
                  <div class="col-md-12">
                       <div class="custom-control custom-checkbox">
                        <label class="checkbox-label">
                          {{ subscriptionForm.get('type').value == 'content' ? 'Content:' : 'Statistics:' }}
                        </label>
                      </div>
                  </div>
                  <div class="col-md-12" *ngFor="let frequency of frequencies; let j=index">
                    <input [id]="'checkbox-'+j" (change)="selectCheckbox($event,frequency.value)" [checked]="getIsChecked(frequency)" value="{{frequency.value}}" type="checkbox" />
                    <label [for]="'checkbox-'+j">{{ 'context-menu.actions.subscription.'+frequency.name | translate }}</label>
                  </div>
                  <div *ngIf="!!submitted" class="alert">
                    <div *ngIf="subscriptionParameterList.errors?.required">
                      {{ 'context-menu.actions.subscription.frequency.required' | translate }}
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" (click)="submit()" class="btn btn-success" [disabled]="(processing$ | async)">
                <span *ngIf="(processing$ | async)"><i class='fas fa-circle-notch fa-spin'></i> {{'submission.workflow.tasks.generic.processing' | translate}}</span>
                <span *ngIf="!(processing$ | async)">{{'context-menu.actions.subscription.confirm.submit' | translate}}</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-outline-secondary" (click)="c('cancel')">{{'context-menu.actions.request-correction.confirm.cancel' | translate}}</button>

  </div>