<!--Change href to "https://dspace.hostname/Shibboleth.sso/Login?target=https://dspace.hostname/shibboleth"
 to make this work with your Shibboleth IdentityProvider and Service Provider. dspace.hostname = as in the
 backend config file "dspace.cfg".  Do not change the following parts of href:
  "/Shibboleth.sso/Login?target=" and "/shibboleth" at the end of href -->
<!--<br>
<div>
  <a class="btn btn-lg btn-primary btn-block mt-3" type="submit"
     href="https://fis.tiss.tuwien.ac.at/Shibboleth.sso/Login?target=https://fis.tiss.tuwien.ac.at/shibboleth"
     role="button"
  >HardCoded Shibb</a>
</div>-->


<br>
<div>
  <a class="btn btn-lg btn-primary btn-block mt-3" type="submit"
     [href]="injectedShibbolethUrl"
     role="button"
  >Shibboleth</a>
</div>



