.options-select-menu {
  max-height: 25vh;
}

.ccLicense-select {
    width: 400px;
    ngb-dropdown, .input-group, input.form-control {
      width: 100%;
    }
  }

.scrollable-menu {
  height: auto;
  max-height: var(--ds-dropdown-menu-max-height);
  overflow-x: hidden;
}
