<div *ngIf="showMultipleSearchSection$ | async">
  <ds-page-with-sidebar [id]="'search-page'">
    <div class="row">
      <div class="col-12">
        <ng-template></ng-template>
      </div>
      <div id="search-content" class="col-12">
        <h5> {{currentFilter.identifier}}: {{currentFilter.value}} {{'lucky.search.multiple.records' | translate}}</h5>
        <ds-search-results [searchResults]="resultsRD$ | async"
                           [searchConfig]="searchOptions$ |async"
                           [configuration]="'lucky-search'"
                           [disableHeader]="true"
                           [context]="context"></ds-search-results>
      </div>
    </div>
  </ds-page-with-sidebar>
</div>

<div *ngIf="showEmptySearchSection$ | async">
  <h5 class="text-center">{{'lucky.search.results.notfound' | translate}} {{currentFilter.identifier}}
    : {{currentFilter.value}}. {{'lucky.search.retry.search' | translate}}</h5>
  <br/>
  <div class="col-md-12 d-flex justify-content-center">
    <div class="col-md-8">
      <ds-search-form [inPlaceSearch]="false"
                      [query]="currentFilter.bitstreamValue ? currentFilter.value + ' OR ' + currentFilter.bitstreamValue : currentFilter.value"
                      [searchPlaceholder]="'search.search-form.placeholder' | translate">
      </ds-search-form>
    </div>
  </div>
</div>

<div class="w-100" *ngIf="(bitstreamFilters$ | async)?.length">
    <div *ngFor="let attachment of (bitstreams$ | async)" class="mb-3 mx-auto" [style.width]="'33%'">
      <ds-truncatable [id]="attachment.id">
        <ds-file-download-link [bitstream]="attachment" [enableRequestACopy]="true" [item]="(item$ | async)" [showIcon]="true">
          <span data-test="title" *ngIf="fileName(attachment)">
            {{fileName(attachment)}} ({{getSize(attachment) | dsFileSize}})
          </span>
        </ds-file-download-link>
        <ds-truncatable-part [id]="attachment.id" [minLines]="1">
          <span *ngIf="getDescription(attachment)" data-test="description">{{getDescription(attachment)}}</span>
        </ds-truncatable-part>
      </ds-truncatable>
    </div>
</div>
