<li class="sidebar-section">
    <a class="nav-item nav-link shortcut-icon" [routerLink]="itemModel.link">
        <i class="fas fa-{{section.icon}} fa-fw" [title]="('menu.section.icon.' + section.id) | translate"></i>
    </a>
    <div class="sidebar-collapsible">
            <span class="section-header-text">
        <ng-container
                *ngComponentOutlet="(sectionMap$ | async).get(section.id).component; injector: (sectionMap$ | async).get(section.id).injector;"></ng-container>
            </span>
    </div>
</li>
