<div class="container-fluid">
  <label>{{type.value + '.edit.logo.label' | translate}}</label>
  <ds-comcol-page-logo [logo]="(dso?.logo | async)?.payload"></ds-comcol-page-logo>
  <ds-uploader  *ngIf="uploadFilesOptions.url"
                [dropMsg]="type.value + '.edit.logo.upload'"
                [dropOverDocumentMsg]="type.value + '.edit.logo.upload'"
                [enableDragOverDocument]="true"
                [uploadFilesOptions]="uploadFilesOptions"
                (onCompleteItem)="onCompleteItem()"
                (onUploadError)="onUploadError()"></ds-uploader>
</div>
<ds-form *ngIf="formModel"
         [formId]="'comcol-form-id'"
         [formModel]="formModel" (submitForm)="onSubmit()" (cancel)="onCancel()"></ds-form>
