<div class="container-fluid">
  <label>{{type.value + '.edit.logo.label' | translate}}</label>
  <ng-container *ngVar="(dso?.logo | async)?.payload as logo">
    <ds-comcol-page-logo [logo]="logo"></ds-comcol-page-logo>
    <div *ngIf="logo" class="btn-group btn-group-sm float-right" role="group">
      <button type="button" class="btn btn-danger" (click)="deleteLogo()">
        <i class="fas fa-trash" aria-hidden="true"></i>
      </button>
    </div>
  </ng-container>
  <ds-uploader  *ngIf="initializedUploaderOptions | async"
                [dropMsg]="type.value + '.edit.logo.upload'"
                [dropOverDocumentMsg]="type.value + '.edit.logo.upload'"
                [enableDragOverDocument]="true"
                [uploadFilesOptions]="uploadFilesOptions"
                (onCompleteItem)="onCompleteItem()"
                (onUploadError)="onUploadError()"></ds-uploader>
</div>
<ds-form *ngIf="formModel"
         [formId]="'comcol-form-id'"
         [formModel]="formModel" (submitForm)="onSubmit()" (cancel)="onCancel()"></ds-form>
