<li class="sidebar-section" [ngClass]="{'active': !(collapsed | async)}"
    [@bgColor]="{
     value: ((collapsed | async) ? 'startBackground' : 'endBackground'),
     params: {endColor: (sidebarActiveBg | async)}}">
    <a class="nav-item nav-link shortcut-icon" href="#"
       (click)="toggleSection($event)">
        <i class="fas fa-{{icon}} fa-fw"></i>
    </a>
    <div class="sidebar-collapsible">
        <a class="nav-item nav-link" href="#"
           (click)="toggleSection($event)">
            <span class="section-header-text">{{('admin.sidebar.section.' + name + '.header') | translate}}</span>
            <i class="fas fa-chevron-right fa-pull-right"
               [@rotate]="(collapsed | async) ? 'collapsed' : 'expanded'"></i>
        </a>
        <ul class="sidebar-sub-level-items list-unstyled" @slide *ngIf="!(collapsed | async)">
            <li *ngFor="let section of subSections">
                <a class="nav-item nav-link" [href]="section.link">{{section.name}}</a>
            </li>
        </ul>
    </div>
</li>