<li class="sidebar-section" [ngClass]="{'active': (active | async)}"
    [@bgColor]="{
     value: ((active | async) ? 'endBackground' : 'startBackground'),
     params: {endColor: (sidebarActiveBg | async)}}">
    <div class="icon-wrapper">
        <a class="nav-item nav-link shortcut-icon" (click)="toggleSection($event)" href="#">
            <i class="fas fa-{{section.icon}} fa-fw"></i>
        </a>
    </div>
    <div class="sidebar-collapsible">
        <a class="nav-item nav-link" href="#"
           (click)="toggleSection($event)">
            <span class="section-header-text">{{count | async}}<ng-container
                    *ngComponentOutlet="getMenuItemComponent(); injector: getItemModelInjector();"></ng-container></span>
            <i class="fas fa-chevron-right fa-pull-right"
               [@rotate]="(active | async) ? 'expanded' : 'collapsed'"></i>
        </a>
        <ul class="sidebar-sub-level-items list-unstyled" @slide *ngIf="(active | async)">
            <li class="nav-item nav-link" *ngFor="let subSection of (subSections | async)">
                <ng-container
                        *ngComponentOutlet="getMenuItemComponent(subSection.model); injector: getItemModelInjector(subSection.model);"></ng-container>
            </li>
        </ul>
    </div>
</li>