:host ::ng-deep {
    .fa-chevron-right {
        padding-left: $spacer/2;
        font-size: 0.5rem;
        line-height: 3;
    }

    .sidebar-sub-level-items {
        list-style: disc;
        color: $navbar-dark-color;
        overflow: hidden;

    }

    .sidebar-collapsible {
        display: flex;
        flex-direction: column;
    }
}
