<div class="card clarin-ref-box-footer">
  <div class="card-body d-flex justify-content-between clarin-ref-box-footer-body py-2">
    <div [hidden]="(featuredServices | async).length === 0">
      <div class="d-inline-flex align-items-center">
        <div>
          <i class="fas fa-puzzle-piece clarin-ref-box-footer-icon"></i>
        </div>
        <div>
        <span class="pl-2">
          {{'item.refbox.featured-service.heading' | translate}}
        </span>
        </div>
      </div>

      <div class="d-flex align-items-start clarin-ref-box-footer-services pt-1">
        <div class="btn-group pr-2" ngbDropdown *ngFor="let featuredService of (featuredServices | async)">
          <a class="btn btn-danger clarin-ref-box-services-button"
             type="button"
             target="_blank"
             [href]="featuredService.url">
            {{featuredService.name}}
          </a>
          <button type="button"
                  class="btn btn-danger dropdown-toggle dropdown-toggle-split clarin-ref-box-services-button"
                  id="resultdropdown"
                  ngbDropdownToggle
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
          </button>
          <div ngbDropdownMenu aria-labelledby="resultdropdown" class="lindat-dropdown-menu">
            <a
              class="dropdown-item"
              target="_blank"
              *ngFor="let featuredServiceLink of featuredService.featuredServiceLinks"
              [href]="featuredServiceLink.value">
              {{featuredServiceLink.key}}
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-start">
      <div class="d-flex align-items-center pt-1">
        <i class="fas fa-share-alt clarin-ref-box-footer-icon"></i>
        <span class="pl-2">{{'item.refbox.featured-service.share.message' | translate}}</span>
      </div>
      <div class="pl-2">
        <a class="fab fa-facebook-square clarin-share-buttons clarin-share-facebook" [href]="fbRedirectURL | async"></a>
        <a class="fab fa-twitter-square clarin-share-buttons clarin-share-twitter" [href]="twitterRedirectURL | async"></a>
      </div>
    </div>
  </div>
</div>
