<div class="wrapper d-flex align-items-stretch">
	<nav id="sidebar">
		<div class="custom-menu">
			<button type="button" id="sidebarCollapse" class="btn btn-arrow">
		      	<i class="fas fa-chevron-left"></i>
		      	<span class="sr-only">Toggle Menu</span>
		    </button>
		</div>
		<div class="p-4 pt-5">
		    <ul class="list-unstyled components mb-5">
	    	    <ds-cris-layout-sidebar-item *ngFor="let tab of tabs;"
                             [tab]="tab"
                             [layout]="'vertical'"
                              (tabSelectedChange)="getTabSelected($event)" 
                             ></ds-cris-layout-sidebar-item>
		    </ul>
		</div>
	</nav>
</div>