<div>
  <div class="modal-header">
    <h4 class="modal-title">{{ 'bitstream.edit.replace.link' | translate }}</h4>
    <button type="button" class="close" (click)="closeModal()" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <h3>{{
          'bitstream.replace.page.header' | translate: {
            fileName: fileName,
            fileSize: fileSizeBytes | dsFileSize
          }
        }}</h3>
      <p>
        {{
          'bitstream.replace.page.content' | translate: {
            fileName: fileName
          }
        }}
      </p>
    </div>
    <ds-uploader #uploader class="w-100"
                 [dropMsg]="'item.bitstreams.upload.drop-message'"
                 [dropOverDocumentMsg]="'item.bitstreams.upload.drop-message'"
                 [enableDragOverDocument]="true"
                 [uploadFilesOptions]="uploadFilesOptions"
                 [dragoverContainer]="'ngb-modal-window'"
                 (onFileSelected)="onFileSelected(uploader)"
                 (onCompleteItem)="onCompleteItem($event)"
                 (onUploadError)="onUploadError()"></ds-uploader>
    <h4 class="mb-0">
      {{'bitstream.replace.page.replace-name' | translate}}
    </h4>
    <ui-switch [(ngModel)]="shouldReplaceName"></ui-switch>
    <div class="button-row bottom">
      <div class="mt-4 float-right mb-2">
        <button class="save-button btn btn-primary" (click)="saveFile(uploader);"><i
          class="fas fa-save"></i>
          <span class="d-none d-sm-inline">&nbsp;{{ "bitstream.replace.page.button.save" | translate }}</span>
        </button>
      </div>
    </div>
  </div>
</div>
