<ds-metadata-field-wrapper [label]="label | translate">
    <div class="file-section row" *ngFor="let file of (files | async); let last=last;">
        <div class="col-3">
            <ds-thumbnail [thumbnail]="thumbnails.get(file.id) | async"></ds-thumbnail>
        </div>
        <div class="col-7">
            <dl class="row">
                <dt class="col-md-4">{{"item.page.filesection.name" | translate}}</dt>
                <dd class="col-md-8">{{file.name}}</dd>

                <dt class="col-md-4">{{"item.page.filesection.size" | translate}}</dt>
                <dd class="col-md-8">{{(file.sizeBytes) | dsFileSize }}</dd>


                <dt class="col-md-4">{{"item.page.filesection.format" | translate}}</dt>
                <dd class="col-md-8">{{(file.mimetype)}}</dd>


                <dt class="col-md-4">{{"item.page.filesection.description" | translate}}</dt>
                <dd class="col-md-8">{{file.findMetadata("dc.description")}}</dd>
            </dl>
        </div>
        <div class="col-2">
            <a [href]="file.content" [download]="file.name">
                {{"item.page.filesection.download" | translate}}
            </a>
        </div>
    </div>
</ds-metadata-field-wrapper>
