<div class="d-inline-block">
  <div class="lead item-list-title dont-break-out text-info">{{object.display}}</div>
  <div *ngIf="uri"><a target="_blank" [href]="uri.value">{{uri.value}}</a></div>
  <div *ngIf="issued || contributors?.length" data-test="issued-contributor" class="d-flex align-items-center text-muted">
    <span *ngIf="issued" data-test="issued" class="item-list-date">({{issued.value | date: 'YYYY-MM-dd'}})&nbsp;</span>
    <ds-truncatable *ngIf="contributors?.length" [id]="object.id">
      <ds-truncatable-part [id]="object.id" [minLines]="1">
        <span *ngFor="let contributor of contributors; let last=last;" data-test="contributors" class="item-list-authors">
          {{contributor.value}}<span *ngIf="!last">; </span>
        </span>
      </ds-truncatable-part>
    </ds-truncatable>
  </div>
  <div *ngIf="abstract" data-test="abstract" class="item-list-abstract">
    <ds-truncatable [id]="object.id">
      <ds-truncatable-part [id]="object.id" [minLines]="3">
        <span>{{abstract.value}}</span>
      </ds-truncatable-part>
    </ds-truncatable>
  </div>
  <div *ngIf="identifiers?.length" data-test="identifiers" class="text-muted">
    <ds-truncatable [id]="object.id">
      <ds-truncatable-part [id]="object.id" [minLines]="1">
        <span *ngFor="let identifier of identifiers; let last=last">
          {{identifier.value}}<span *ngIf="!last">; </span>
        </span>
      </ds-truncatable-part>
    </ds-truncatable>
  </div>

  <div class="row" *ngIf="object.matchObjects.length > 0">
    <div class="col-md-12 p-0">
      <hr>
      <h6 class="font-italic text-muted">
        {{'submission.sections.external-source.duplicate-matches.header' | translate}}
      </h6>
      <div class="row mx-0">
        <span *ngFor="let match of object.matchObjects; let isLast = last;" class="d-flex">
          <a data-test="matchObjectsLink" target="_blank" [routerLink]="[itemPagePath, match.uuid]" class="d-flex" [ngbTooltip]="match.name">
            <span class="text-wrap">
              {{ match.name }}
            </span>
            <span class="text-muted small">({{match.uuid}})</span>
          </a>
          <span *ngIf="!isLast" class="px-1">,</span>
        </span>
      </div>
      <hr>
    </div>
  </div>
</div>
