.ds-field-row {
  border: 1px solid var(--bs-gray-400);
}

.ds-flex-cell {
  padding: 1rem;
  border: 1px solid var(--bs-gray-200);
}

.ds-lang-cell {
  min-width: var(--ds-dso-edit-lang-width);
  max-width: var(--ds-dso-edit-lang-width);
}

.ds-authority-cell {
  min-width: var(--ds-dso-edit-authority-width);
  max-width: var(--ds-dso-edit-authority-width);
}

.ds-security-cell {
  min-width: var(--ds-dso-edit-security-width);
  max-width: var(--ds-dso-edit-security-width);
}

.ds-edit-cell {
  min-width: var(--ds-dso-edit-actions-width);
}

.ds-value-row {
  background-color: white;

  &:active {
    cursor: grabbing;
  }

  &.ds-warning {
    background-color: var(--ds-warning-bg);

    .ds-flex-cell {
      border: 1px solid var(--bs-warning);
    }
  }

  &.ds-danger {
    background-color: var(--ds-danger-bg);

    .ds-flex-cell {
      border: 1px solid var(--bs-danger);
    }
  }

  &.ds-success {
    background-color: var(--ds-success-bg);

    .ds-flex-cell {
      border: 1px solid var(--bs-success);
    }
  }
}
