<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="d-flex">
      <div class="dspace-logo-container">
        <img src="assets/images/atmire-logo.svg" />
      </div>
      <div>
        <h1 class="display-3">DSpace 7 entities prototype</h1>
        <p class="lead">This is the demo site of the prototype implementation of a flexible data model for DSpace 7:</p>
      </div>
    </div>
    <ul>
      <li>The functionality is governed and discussed by the DSpace 7 Entities Working Group, if you would like to participate, please visit <a href="https://wiki.duraspace.org/display/DSPACE/DSpace+7+Entities+Working+Group">the wiki</a></li>
      <li>Documentation on this prototype implementation and links to the source code can be found <a href="https://docs.google.com/document/d/1wEmHirFzrY3qgGtRr2YBQwGOvH1IuTVGmxDIdnqvwxM">here</a></li>
    </ul>
  </div>
</div>
