<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="d-flex">
      <div class="dspace-logo-container">
        <img src="assets/images/dspace-logo.png" />
      </div>
      <div>
        <h1 class="display-3">Welcome to DSpace 7 Alpha</h1>
        <p class="lead">DSpace is the world leading open source repository platform that enables organisations to:</p>
      </div>
    </div>
    <ul>
      <li>easily ingest documents, audio, video, datasets and their corresponding Dublin Core metadata
      </li>
      <li>open up this content to local and global audiences, thanks to the OAI-PMH interface and Google Scholar optimizations
      </li>
      <li>issue permanent urls and trustworthy identifiers, including optional integrations with handle.net and DataCite DOI</li>
    </ul>
    <p>Join a vibrant community of DSpace enthusiasts including <A HREF="https://dash.harvard.edu" TARGET="_NEW">Harvard University</A>, <A HREF="https://openknowledge.worldbank.org">The World Bank</A>, <A HREF="https://www.repository.cam.ac.uk/" TARGET="_NEW">Cambridge University</A>, <A HREF="http://apps.who.int/iris/" TARGET="_NEW">The World Health Organization</A>, <A HREF="https://dspace.mit.edu/" TARGET="_NEW">MIT</A> and many more.</p>
  </div>
</div>
