:host {
    display: block;
    margin-top: calc(-1 * var(--ds-content-spacing));
    margin-bottom: calc(-1 * var(--ds-content-spacing));
}

.display-3 {
    word-break: break-word;
}

.dspace-logo {
    height: 110px;
    width: 110px;
}

.jumbotron {
  background-image: linear-gradient(#dae1ec, #fff);
}

a {
  color: var(--ds-home-news-link-color);

  @include hover {
    color: var(--ds-home-news-link-hover-color);
  }
}
