@import 'src/scss/variables';

.main {
    background-color: $body-bg;
}
// custom container

.feeds-container{
    max-width: 800px;
    margin: 0 auto;
    padding-top: 50px;
}
.feeds-details-band{
h3 {
    padding: 35px 20px 0px 20px;
    font-size: 26px;
}
}
// feeds card
.feeds-card-band {
    background-color: $white;
    border-radius: 20px;
    border: 1px solid $border-light;
    box-shadow: 0px 10px 30px #0000000f;
    margin-bottom: 30px;
}
.user-trip-info {
    display: flex;
}
.user-header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $border-light; 
    .primary-btn {
        width: fit-content;
        padding: 0px 22px;
        height: 41px;
    }
}
.user-text {
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h5 {
        font-size: 16px;
        margin-bottom: 8px!important;
    }
    p {
        margin: 0;
    }
}
.user-group {
    align-items: center;
    background-color: #F8FFF4;
    padding: 4px 5px;
    border-radius: 30px;
    border: 1px solid $border-light;
    .all-user {
        display: flex;
        .user {
            border: 1px solid $white;
        }
    }
    .user-count {
        font-weight: 600;
        padding: 9px;
        opacity: 0.8;
    }
}
.feeds-bottom-bar {
    display: flex;
    justify-content: space-between;
    padding: 8px 15px;
    border-top: 1px solid $border-light;
    .trips-day p {
        font-weight: 500;
        font-size: 14px;
    }
}

.ml-8{
    margin-left: -8px;
}

.gradient-bg-01{
    background: linear-gradient(103deg,#FCF1D3,#E3FED4);
}
.gradient-bg-02{
    background: linear-gradient(103deg,#C4E3FF,#E0D8FF);
}
.gradient-bg-03{
    background: linear-gradient(103deg,#FFE2D8,#E1EAFD);
}

//feeds day tab

.trips-itinerary-tab{
    margin-top: 10px;
    .mat-mdc-tab.mdc-tab {
        height: 40px;
        flex-grow: 0;
    }
    .mat-mdc-tab.mdc-tab {
        height: 40px;
        flex-grow: 0;
    }
    .mdc-tab--active .tab-btn {
        padding: 10px 20px;
        font-size: 15px;
    }
    .mat-mdc-tab-labels {
        padding: 1px 9px;
    }
    .tab-btn {
        font-size: 15px;
        padding: 10px 20px;
    }
    .mat-mdc-tab-labels {
        padding: 0px 9px !important;
    }
    position: relative;
}


// outline btn 
.primary-outline-btn {
    display: flex;
    align-items: center;
    background: transparent;
    border: 2px solid $border-dark;
    padding: 8px 16px!important;
    color: $text;
    font-weight: 500;
    mat-icon {
        margin-right: 8px;
        width: 20px;
    }
}
.primary-outline-btn:hover {
    border-color: $text;
    transition: all 0.5s;
}

.place-band {
        padding: 0px 0px 20px 20px;
     li.place-card {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border: 1px solid $border-light;
        border-radius: 18px;
        background-color: $white;
        box-shadow: 0px 4px 30px rgb(6 12 21 / 5%);
        .left-penal{
            display: flex;
            .img-band {
                width: 100px;
                height: 100px;
                border-radius: 12px;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .place-detail {
                margin-left: 15px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .top-box{
                    h5{
                        font-size: 16px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 136px;
                    }
                }
                p {
                    display: flex;
                    align-items: center;
                    font-size: 13px;
                }
                span {
                    display: flex;
                    background-color: antiquewhite;
                    padding: 0px 5px;
                    align-items: center;
                    border-radius: 25px;
                    margin-right: 7px;
                    font-size: 12px;
                    font-weight: 600;
                    color: $text;

                    mat-icon {
                        width: 14px;
                        margin-right: 6px;
                    }
                }

                .time {
                    background-color: $white;
                    padding: 2px 9px;
                    width: fit-content;
                    border-radius: 7px;
                    border: 1px solid $border-light;
                    margin: 0;
                    mat-icon {
                        width: 18px;
                        margin-right: 6px;
                    }
                }
                span.weather-info {
                    padding: 2px 7px;
                    background-color: rgb(178 236 255 / 36%);
                    border: 1px solid #B2ECFF;
                    margin-left: 8px;
                    border-radius: 6px;
                    font-weight: 600;
                    font-size: 14px;
                    mat-icon {
                        width: 18px!important;
                    }
                }

                .bottom-box{
                    display: flex;
                    align-items: center;
                }
            }
    
        }
    }


}


@media only screen and (max-width: 767px){
    .feeds-container{
        padding: 35px 20px 0px 20px;
    }
    .swiper-prev-next-btn.outer-slider-btn button.next-btn {
        right: 8px;
    }
    .feeds-card-band{
        border-radius: 15px;
        margin-bottom: 20px;
    }
    .user-header{
        padding: 10px;
        .user-text {
            margin-left: 10px;
            h5{
                font-size: 14px;
                margin-bottom: 7px !important;
            }
            p{
                font-size: 13px;
            }
        }
        .primary-btn{
            padding: 0px 17px;
            height: 31px;
            line-height: 32px;
            font-size: 12px;
        }
        .primary-outline-btn{
            border: 1px solid #E7E7E7;
            padding: 4px 11px !important;
            mat-icon {
                margin-right: 5px;
                width: 16px;
                margin-top: -2px;
            }
        }
    }
    
    .feeds-details-band{
        h3{
            padding: 20px 15px !important;
            font-size: 19px;
            padding-bottom: 0 !important;
            font-weight: 600;
        }
    }
    .big {
        width: 45px;
        height: 45px;
        min-width: 45px;
    }
    .big span {
        font-size: 22px;
        font-weight: 700;
        margin-top: 3px;
    }
    .feeds-bottom-bar{
        padding: 8px 10px;
        .user-group{
            padding: 0px 5px;
            height: 38px;
            .all-user .user {
                width: 30px;
                height: 30px;
                min-width: 30px;
            }
            .user-count{
                padding: 6px;
                font-size: 14px;
            }
        }
        .trips-day p{
            font-size: 13px;
        }
    }


    
.place-band {
    padding: 0px 0px 18px 15px;
 li.place-card {
    padding: 7px;
    border-radius: 15px;
    .left-penal{
        display: flex;
        .img-band {
            width: 90px;
            height: 90px;
        }
        .place-detail {
            margin-left: 10px;
            .top-box{
                h5{
                    font-size: 15px;
                    width: 136px !important;
                }
            }
            p {
                font-size: 12px;
                margin: 0px;
            }
            span {
                padding: 0px 8px;
                border-radius: 25px;
                mat-icon {
                    width: 13px;
                    margin-right: 5px;
                }
            }
            .time {
                padding: 1px 8px;
                border-radius: 7px;
                font-weight: 600;
                mat-icon {
                    width: 14px;
                    margin-right: 5px;
                }
            }
        }
    }
}


}
.swiper-prev-next-btn.outer-slider-btn button mat-icon {
    width: 16px;
    margin-top: 2px;
}
.swiper-prev-next-btn.outer-slider-btn button {
    bottom: 51px;
    width: 32px;
    height: 32px;
}

.m-action-btn button.primary-btn.primary-outline-btn.chat mat-icon {
    margin: 0;
    width: 14px;
}
.m-action-btn button.primary-btn.primary-outline-btn.chat {
    padding: 0px !important;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(6 12 21 / 6%);
    span{
        display: none;
    }
}
.m-action-btn button.primary-btn:first-child {
    margin-right: 6px;
}
.m-action-btn{
.sent-btn mat-icon {
    display: none;
}
}
}

.sent-btn mat-icon {
    margin-right: 7px !important;
}
.sent-btn {
    padding: 0px 14px !important;
    margin-right: 10px;
}

.btn {
  cursor: pointer;
}
  
