<div class="outer-wrapper" *ngIf="isNotAuthBlocking$ | async; else authLoader">
    <ds-admin-sidebar></ds-admin-sidebar>
    <div class="inner-wrapper"  [@slideSidebarPadding]="{
     value: (!(sidebarVisible | async) ? 'hidden' : (slideSidebarOver | async) ? 'shown' : 'expanded'),
     params: {collapsedSidebarWidth: (collapsedSidebarWidth | async), totalSidebarWidth: (totalSidebarWidth | async)}
    }">
        <ds-header-navbar-wrapper></ds-header-navbar-wrapper>

        <ds-notifications-board
                [options]="notificationOptions">
        </ds-notifications-board>
        <main class="main-content">
            <div class="container">
                <ds-breadcrumbs></ds-breadcrumbs>
            </div>

            <div class="container" *ngIf="isLoading$ | async">
                <ds-loading message="{{'loading.default' | translate}}"></ds-loading>
            </div>
            <router-outlet></router-outlet>
        </main>

        <ds-footer></ds-footer>
    </div>
</div>
<ng-template #authLoader>
  <div class="text-center ds-full-screen-loader d-flex align-items-center flex-column justify-content-center">
    <ds-loading [showMessage]="false"></ds-loading>
  </div>
</ng-template>
