@import '../styles/helpers/font_awesome_imports.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/nouislider/distribute/nouislider.min';

html {
  position: relative;
  min-height: 100%;
}

body {
  overflow-x: hidden;
}

// Sticky Footer
.outer-wrapper {
  display: flex;
  margin: 0;
}

.inner-wrapper {
  flex: 1 1 auto;
  flex-flow: column nowrap;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.main-content {
  z-index: $main-z-index;
  flex: 1 1 100%;
  margin-top: $content-spacing;
  margin-bottom: $content-spacing;
}

.alert.hide {
  padding: 0;
  margin: 0;
}

ds-header-navbar-wrapper {
  z-index: $nav-z-index;
}

ds-admin-sidebar {
  position: fixed;
  z-index: $sidebar-z-index;
}

.ds-full-screen-loader {
  height: 100vh;
}
