@import '../styles/variables.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/nouislider/distribute/nouislider.min.css';
@import "../../node_modules/font-awesome/scss/font-awesome.scss";

html {
  position: relative;
  min-height: 100%;
}

body {
  overflow-x: hidden;
}
// Sticky Footer

.outer-wrapper {
  display: flex;
  margin: 0;
}

.inner-wrapper {
  flex: 1 1 auto;
  flex-flow: column nowrap;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
}

.main-content {
  flex: 1 0 auto;
  margin-top: $content-spacing;
  margin-bottom: $content-spacing;
}
