<div class="modal-header">
    <h4 class="modal-title">Item Export Process Launcher</h4>
  </div>
  <div class="modal-body">
    <div class="row">

        <div class="col">

            <div class="alert alert-info">
                <span *ngIf="molteplicity === 'SINGLE'">
                    Export item with uuid <strong>{{ item.uuid }}</strong>
                </span>
                <span *ngIf="molteplicity === 'MULTIPLE'">
                    Export all items of a particular entity type belonging to the current search. 
                </span>
            </div>

            <form [formGroup]="exportForm" (ngSubmit)="onSubmit()">

                <div class="form-group" *ngIf="molteplicity === 'MULTIPLE'">
                  <label for="entityType">Entity Type</label>
                  <select id="entityType" class="custom-select" formControlName="entityType">
                    <option [ngValue]="null" disabled>Choose the entity type to export</option>
                    <option *ngFor="let entityType of allEntityTypes" [ngValue]="entityType">
                        {{ entityType }}
                    </option>
                </select>
                </div>

                <div class="form-group">
                    <label for="format">Format</label>
                    <select id="format" class="custom-select" formControlName="format">
                        <option [ngValue]="null" disabled>Choose the export format</option>
                        <option *ngFor="let format of allFormats" [ngValue]="format">
                            {{ format.id }}
                        </option>
                    </select>
                </div>

                <div class="text-center mt-3">
                    <button [disabled]='!exportForm.valid' type="submit" class="btn btn-primary"><i class="fas fa-file-export"></i> Export</button>
                    <button type="button" class="btn btn-outline-dark float-right" (click)="activeModal.close('Close click')">Cancel</button>
                </div>
                

            </form>
            
        </div>
    </div>
  </div>
  <!-- <div class="modal-footer">
    
  </div> -->

