<div>
    <div class="filters py-2">
        <a *ngFor="let value of selectedValues" class="d-block"
           [routerLink]="[getSearchLink()]"
           [queryParams]="getRemoveParams(value)" queryParamsHandling="merge">
            <input type="checkbox" [checked]="true"/>
            <span class="filter-value">{{value}}</span>
        </a>
        <ng-container *ngFor="let page of (filterValues$ | async)">
            <ng-container *ngFor="let value of (page | async)?.payload.page; let i=index">
                <a *ngIf="!selectedValues.includes(value.value)" class="d-block clearfix"
                   [routerLink]="[getSearchLink()]"
                   [queryParams]="getAddParams(value.value)" queryParamsHandling="merge" >
                    <input type="checkbox" [checked]="false"/>
                        <span class="filter-value">{{value.value}}</span>
                        <span class="float-right filter-value-count">
                        <span class="badge badge-secondary badge-pill">{{value.count}}</span>
                    </span>
                </a>
            </ng-container>
        </ng-container>
        <div class="clearfix toggle-more-filters">
            <a class="float-left" *ngIf="!(isLastPage$ | async)"
               (click)="showMore()">{{"search.filters.filter.show-more"
                | translate}}</a>
            <a class="float-right" *ngIf="(currentPage | async) > 1"
               (click)="showFirstPageOnly()">{{"search.filters.filter.show-less"
                | translate}}</a>
        </div>
    </div>
    <ds-input-suggestions [suggestions]="(filterSearchResults | async)"
                          [placeholder]="'search.filters.filter.' + filterConfig.name + '.placeholder'| translate"
                          [action]="getCurrentUrl()"
                          [name]="filterConfig.paramName"
                          [(ngModel)]="filter"
                          (submitSuggestion)="onSubmit($event)"
                          (clickSuggestion)="clickFilter($event)"
                          (findSuggestions)="findSuggestions($event)"
                          [getDisplayValue]="getDisplayValue"
                          ngDefaultControl
    ></ds-input-suggestions>
</div>
