<a *ngFor="let value of filterValues; let i=index" class="d-block" [routerLink]="[getSearchLink()]"
   [queryParams]="getQueryParams(value) | async">
    <ng-template [ngIf]="i < (facetCount | async)">
        <input type="checkbox" [checked]="isChecked(value) | async"/>
        <span class="filter-value">{{value.value}}</span>
        <span class="filter-value-count float-right">({{value.count}})</span>
    </ng-template>
</a>
<a *ngIf="filterValues.length > (facetCount | async)" (click)="showMore()">{{"search.filters.facet-filter.show-more"
    | translate}}</a>
<a *ngIf="(currentPage | async) > 1" (click)="showLess()">{{"search.filters.facet-filter.show-less" |
    translate}}</a>

<input type="text"
       [placeholder]="'search.filters.facet-filter.' + filterConfig.name + '.placeholder'| translate"/>