@import '../../../../../styles/variables.scss';
@import '../../../../../styles/mixins.scss';

.filters {
    a {
        color: $body-color;
        &:hover, &focus {
          text-decoration: none;
        }
    }
    .toggle-more-filters a {
        color: $link-color;
        text-decoration: underline;
        cursor: pointer;
    }
}

