.container {
  max-width: none;
}

.distribution_licnese_head {
  font-size: 24px;
  font-weight: 500;
}

.license-decision-message {
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4em;
  color: #525558;
}

.ng-toggle-on {
  background-color: green !important;
}

//.alert {
//  color: #c09853;
//  background-color: #fcf8e3;
//  border: 1px solid #fbeed5;
//}
