// DSpace works with CSS variables for its own components, and has a mapping of all bootstrap Sass
// variables to CSS equivalents (see src/styles/_bootstrap_variables_mapping.scss). However Bootstrap
// still uses Sass variables internally. So if you want to override bootstrap (or other sass
// variables) you can do so here. Their CSS counterparts will include the changes you make here

 $font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

 $gray-700: #808080 !default;  // Bootstrap $gray-700
 $gray-100: #CCCCCC !default;  //           $gray-100

// Color system

$white:    #E6E6E6 !default;
$gray-100: #DEDFDE !default;
$gray-200: #DEDFDE !default;
$gray-300: #CCCCCC !default;
$gray-400: #CCCCCC !default;
$gray-500: #DEDFDE !default;
$gray-600: #808080 !default;
$gray-700: #808080 !default;
$gray-800: #808080 !default;
$gray-900: #808080 !default;
$black:    #000 !default;

$grays: () !default;
$grays: map-merge(
    (
      "100": $gray-100,
      "200": $gray-200,
      "300": $gray-300,
      "400": $gray-400,
      "500": $gray-500,
      "600": $gray-600,
      "700": $gray-700,
      "800": $gray-800,
      "900": $gray-900
    ),
    $grays
);
 $blue:   #0C966F !default;
 $green:  #94BA65 !default;
 $cyan:   #0C966F !default;
 $yellow: #ec9433 !default;
 $red:    #CF4444 !default;
 $dark:   darken($blue, 17%) !default;

 $theme-colors: (
   primary: $blue,
   secondary: $gray-700,
   success: $green,
   info: $cyan,
   warning: $yellow,
   danger: $red,
   light: $gray-100,
   dark: $dark
 ) !default;

 $link-color: map-get($theme-colors, info) !default;
