<div class="top-item-page">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-2 d-flex flex-md-column justify-content-between">
                <ds-metadata-field-wrapper>
                    <ds-thumbnail [thumbnail]="this.item.getThumbnail() | async"></ds-thumbnail>
                </ds-metadata-field-wrapper>
                <div>
                    <a class="btn btn-secondary"
                       [routerLink]="['/items/' + item.id + '/full']">
                        {{"item.page.link.full" | translate}}
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-10">
                <h2 class="item-page-title-field">
                  {{'journalissue.page.titleprefix' | translate}}
                    <ds-metadata-values
                            [mdValues]="item?.allMetadata(['dc.title'])"></ds-metadata-values>
                </h2>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <ds-generic-item-page-field [item]="item"
                                                    [fields]="['journal.title']"
                                                    [label]="'journalissue.page.journal-title'">
                        </ds-generic-item-page-field>
                        <ds-generic-item-page-field [item]="item"
                                                    [fields]="['journalissue.identifier.number']"
                                                    [label]="'journalissue.page.number'">
                        </ds-generic-item-page-field>
                        <ds-generic-item-page-field [item]="item"
                                                    [fields]="['journal.identifier.issn']"
                                                    [label]="'journalissue.page.journal-issn'">
                        </ds-generic-item-page-field>
                    </div>
                    <div class="col-12 col-md-6">
                        <ds-generic-item-page-field [item]="item"
                                                    [fields]="['journalissue.issuedate']"
                                                    [label]="'journalissue.page.issuedate'">
                        </ds-generic-item-page-field>
                        <ds-generic-item-page-field [item]="item"
                                                    [fields]="['journalissue.identifier.description']"
                                                    [label]="'journalissue.page.description'">
                        </ds-generic-item-page-field>
                        <ds-generic-item-page-field [item]="item"
                                                    [fields]="['journalissue.identifier.keyword']"
                                                    [label]="'journalissue.page.keyword'">
                        </ds-generic-item-page-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="relationships-item-page" *ngIf="(volumes$ | async) || (publications$ | async)">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4" *ngIf="volumes$ | async">
                <ds-related-items
                        [items]="volumes$ | async"
                        [label]="'relationships.isSingleVolumeOf' | translate">
                </ds-related-items>
            </div>
            <div class="col-12 col-md-4" *ngIf="publications$ | async">
                <ds-related-items
                        [items]="publications$ | async"
                        [label]="'relationships.isPublicationOfJournalIssue' | translate">
                </ds-related-items>
            </div>
        </div>
    </div>
</div>
