.form-login .form-control:focus {
  z-index: 2;
}

.form-login input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-login .password-wrapper .form-control {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-right: 3rem;
}

.dropdown-item {
  white-space: normal;
  padding: .25rem .75rem;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #6c757d;
  z-index: 5;

  &:hover {
    color: #495057;
  }

  &:focus {
    outline: none;
  }
}

@media (hover: none) and (pointer: coarse) {
  .password-toggle {
    display: none;
  }

   .form-login .password-wrapper .form-control {
    padding-right: 1rem;
  }
}
