<div class="row">
  <div class="col-4 col-sm-3 col-md-2">
    <ds-number-picker
      [min]="minYear"
      [max]="maxYear"
      [name]="'year'"
      [size]="4"
      [(ngModel)]="initialYear"
      [value]="year"
      [invalid]="invalid"
      [placeholder]='yearPlaceholder'
      (change)="onChange($event)"
    ></ds-number-picker>
  </div>

  <div class="col-4 col-sm-3 col-md-2">
    <ds-number-picker
      [min]="minMonth"
      [max]="maxMonth"
      [name]="'month'"
      [size]="6"
      [(ngModel)]="initialMonth"
      [value]="month"
      [placeholder]="monthPlaceholder"
      [disabled]="!year"
      (change)="onChange($event)"
    ></ds-number-picker>
  </div>

  <div class="col-4 col-sm-3 col-md-2">
    <ds-number-picker
      [min]="minDay"
      [max]="maxDay"
      [name]="'day'"
      [size]="2"
      [(ngModel)]="initialDay"
      [value]="day"
      [placeholder]="dayPlaceholder"
      [disabled]="!month"
      (change)="onChange($event)"
    ></ds-number-picker>
  </div>

</div>

<div class="clearfix"></div>
