div {
  display: block;
  width: 80px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  float: left;
}
span {
  display: inline-block;
  float: left;
  line-height: 100px;
  vertical-align: middle;
  line-height: normal;
}

ds-number-picker {
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  float: left;
}

