<a class="d-flex flex-row"
  [routerLink]="[searchLink]"
  [queryParams]="(isChecked$ | async) ? removeQueryParams : changeQueryParams"
  queryParamsHandling="merge"
  [class.selected]="isChecked$ | async"
  role="button" tabindex="0">
  <span class="filter-value px-1">
    {{ filterValue.label }}
    @if (isChecked$ | async) {
      <span aria-label="Activo"> ✕</span>
    }
  </span>
  <span class="float-end filter-value-count ms-auto">
    <span class="badge bg-secondary rounded-pill">
      {{ filterValue.count | dsShortNumber }}
    </span>
  </span>
</a>
