
<div class="main mt-0 bg-primary">
    <div class="bootstrap-wrapper">
        <div class="container">
            <div class="details-band">
                <div class="main-title-band icon-header">
                    <div class="icon-round-band green-bg">
                        <img src="assets/icons/privacy-policy.png">
                    </div>
                    <h4>Privacy Policy for TripsOn</h4>
                </div>
                <div class="white-card-box text-list">
                    <h5 class="small-font mb-20">Collection and Use of Information</h5>
                    <p>Welcome to tripsOn ,As you have just clicked our Terms of Service, please pause, grab a cup of coffee and carefully read the following pages. It will take you approximately 20 minutes.</p>
                    <ul>
                        <li> <span>Destination: </span>Destination: We collect your desired travel destination to provide you with personalized trip recommendations.</li>
                        <li><span>Number of days staying in the place: </span>We collect this information to provide you with the most appropriate trip recommendations that fit within your desired length of stay.</li>
                        <li><span>Budget for the trip: </span>We collect your budget information to provide you with the most cost-effective trip recommendations that fit within your budget.</li>
                        <li><span>Trip type (couple or family): </span>We collect your trip type to provide you with recommendations that are most suitable for your travel needs.</li>
                    </ul>
                    <br>
                    <h5 class="small-font mb-20">Data Security</h5>
                    <p>We take data security seriously and have implemented security measures to prevent unauthorized access, misuse, or alteration of the data we collect. We use industry-standard security measures, such as encryption and secure servers, to protect your information.</p> 
                    <br>
                    <h5 class="small-font mb-20">Data Retention</h5>
                    <p>We retain the information you provide us for as long as necessary to provide you with personalized trip recommendations. We will securely dispose of your information once it is no longer necessary for us to retain it.</p> 
                    <br>
                    <h5 class="small-font mb-20">Location usage</h5>
                    <p>Our use of location information is for three main purposes: understanding the origin of our users, providing location-specific coupons based on purchasing power parity, and determining if users are in their planned trip locations to offer appropriate assistance. We handle location data in compliance with applicable privacy laws and prioritize user data protection.</p>
                    <br>
                    <h5 class="small-font mb-20">AI Reliability Disclaimer</h5>
                    <p>TripsOn utilizes advanced AI algorithms to generate trip plans. While we strive to provide accurate and reliable results, it's important to note that the AI technology is still in development and may not always be 100% accurate. We recommend users to review and verify the generated plans for their specific needs, preferences, and safety considerations. We continuously work to improve the AI's performance and appreciate your understanding and feedback as we evolve and refine the platform.</p>
                    <br>
                    <h5 class="small-font mb-20">Liability Disclaimer</h5>
                    <p>TripsOn provides trip plans and recommendations for informational purposes only. We do not assume any liability for the accuracy, completeness, or reliability of the suggested trips, activities, or any third-party companies mentioned in the plans. Users are responsible for their own decisions, actions, and any potential risks associated with following the suggested itineraries. We strongly advise users to conduct their own research, exercise caution, and adhere to local laws and regulations during their travels.</p>  
                    <br>
                    <h5 class="small-font mb-20">Your Rights</h5>
                    <p>You have the right to access, modify, or delete the personal information that we have collected from you. You may do so by contacting us at hello@tripson.ai. We will respond to your request within a reasonable time frame.</p>
                    <br>
                    <h5 class="small-font mb-20">Changes to this Policy</h5>
                    <p>We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on our website. Your continued use of the webapp after any changes to this Privacy Policy will constitute your acceptance of the new terms.</p>
                    <br>
                    <h5 class="small-font mb-20">Limitation of Liability</h5>
                    <p>To the extent permitted by law, we shall not be liable for any direct, indirect, incidental, special, consequential, or punitive damages arising out of or in connection with your use of our service.</p>
                    <br>
                    <h5 class="small-font mb-20">Contact Us</h5>
                    <p>If you have any questions or concerns regarding this Privacy Policy, please contact us at hello@tripson.ai.</p>
                    
                      
                      
                </div>
            </div>
        </div>
    </div>
</div>