<div *ngIf="metadataFieldRenderOptions" class="{{containerStyle}}">
  <div class="d-flex" [class.flex-column]="field.labelAsHeading">
  <span *ngIf="hasLabel && !nested"
        class="{{labelStyle}}">
    {{label}}
  </span>

    <div *ngIf="!isStructured" class="d-flex col" [class.flex-column]="!field.valuesInline">
      <ng-container *ngFor="let value of metadataValues ; trackBy: trackUpdate; let last">
        <ds-metadata-render [field]="field"
                            [item]="item"
                            [box]="box"
                            [metadataValue]="value"
                            [renderingSubType]="renderingSubType"></ds-metadata-render>
        <p *ngIf="field.valuesInline && !last">&nbsp;;&nbsp;</p>
      </ng-container>
    </div>
    <div *ngIf="isStructured" class="d-flex col" [class.flex-column]="!field.valuesInline">
      <ds-metadata-render [field]="field"
                          [item]="item"
                          [box]="box"
                          [renderingSubType]="renderingSubType"></ds-metadata-render>
    </div>
  </div>
</div>
