<div class="modal-header">
  <h4 class="modal-title">{{'treeview.header' | translate}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="p-3">
    <ds-alert *ngIf="description | async" [content]="description | async" [type]="'alert-info'"></ds-alert>
    <div class="treeview-header row">
      <div class="col-12">
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="searchText" (keyup.enter)="search()">
          <div class="input-group-append" id="button-addon4">
            <button class="btn btn-outline-primary" type="button" (click)="search()" [disabled]="!isSearchEnabled()">
              {{'treeview.search.form.search' | translate}}
            </button>
            <button class="btn btn-outline-secondary" type="button" (click)="reset()">
              {{'treeview.search.form.reset' | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="treeview-container">
      <ds-loading *ngIf="searching | async" [showMessage]="false"></ds-loading>
      <h4 *ngIf="!(searching | async) && dataSource.data.length === 0" class="text-center text-muted mt-4" >
        <span>{{'treeview.search.no-result' | translate}}</span>
      </h4>
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <!-- Leaf node -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <button mat-icon-button disabled></button>
          <button class="btn btn-outline-link btn-sm"
                  [class.text-success]="node.item?.value === selectedItem?.value"
                  [disabled]="!node.item?.selectable"
                  [ngbTooltip]="node.item?.otherInformation?.note"
                  (click)="onSelect(node.item)">{{node.item.display}}</button>
        </mat-tree-node>

        <!-- expandable node -->
        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
          <button mat-icon-button
                  [attr.aria-label]="'toggle ' + node.filename"
                  (click)="loadChildren(node)"
                  matTreeNodeToggle>
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <button class="btn btn-outline-link btn-sm"
                  [class.text-success]="node.item?.value === selectedItem?.value"
                  [disabled]="!node.item?.selectable"
                  [ngbTooltip]="node.item?.otherInformation?.note"
                  (click)="onSelect(node.item)">{{node.item.display}}</button>
        </mat-tree-node>

        <mat-tree-node *matTreeNodeDef="let node; when: isLoadMore" matTreeNodePadding>
          <button class="btn btn-outline-secondary btn-sm" (click)="loadMore(node.loadMoreParentItem)">
            {{'treeview.load-more' | translate}}...
          </button>
        </mat-tree-node>

        <mat-tree-node *matTreeNodeDef="let node; when: isLoadMoreRoot">
          <button class="btn btn-outline-secondary btn-sm" (click)="loadMoreRoot(node)">
            {{'treeview.load-more' | translate}}...
          </button>
        </mat-tree-node>
      </mat-tree>
    </div>
  </div>
</div>
