@import '../../../../../styles/_variables.scss';

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.collection-item {
  border-bottom: $dropdown-border-width solid $dropdown-border-color;
}

#collectionControlsDropdownMenu {
  outline: 0;
  left: 0 !important;
  box-shadow: $btn-focus-box-shadow;
}
