<div class="main mt-0 pb-0">
    <div class="bootstrap-wrapper">

        <div class="login-section login-bg m-login-section">
            <div class="action-title m-login-back">
                <button class="back-btn" (click)="back();"><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_back-outline"></mat-icon></button>
            </div>
            <div class="left-penal">
                <div class="text-box">
                    <div class="logo-band">
                        <img src="assets/image/logo-white.svg">
                    </div>
                    <h2>Welcome to TripsOn</h2>
                    <p class="m-titile-text">Enter your credentials to access your account.</p>
                    <p class="des-titile-text">We,re excited to help you plan your dream vactions and unforgettable adventures once you create your first travel plan, it will appear here for easy access and organization.</p>
                </div>
            </div>
            
            <div class="right-penal">
                <div class="login-card">
                    <div class="clipart-bg">
                        <img src="assets/image/green-clipart-bg.jpg">
                    </div>
                    <div class="login-band">
                    
                    <div class="titile-band">
                        <h4>Welcome Back</h4>
                        <p>Reset Password to access your account.</p>
                    </div>
                    <div class="form-band">
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" placeholder="Enter Password" formControlName="password" />
                        </div>
                        <div class="form-group">
                        <label>Confirm-Password</label>
                        <input type="password" placeholder="RE-Enter Password" [formControl]="confirmPassword" />
                        </div>
                        <div class="error-message" *ngIf="error">
                            Password is Not Matching with confirm Password.
                        </div>
                        <div class="form-action">
                        <button type="submit" class="primary-btn">Reset</button>
                        </div>
                    </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>