<script src="process-parameters/parameter-value-input/value-input.component.ts"></script>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <form #form="ngForm" (ngSubmit)="submitForm()">
                <ds-scripts-select (select)="selectedScript = $event"></ds-scripts-select>
                <ds-process-parameters [script]="selectedScript" (updateParameters)="parameters = $event"></ds-process-parameters>
                <button [disabled]="form.invalid" type="submit" class="btn btn-light float-right">{{ 'process.new.submit' | translate }}</button>
            </form>
        </div>
        <div class="col-12 col-md-6">
            <ds-script-help [script]="selectedScript"></ds-script-help>
        </div>
    </div>
</div>

