<h2>Introduction</h2>
<p>
  These User Terms of Service (“Terms”), as updated from time to time by the University of Washington (“UW”) Libraries, applies to your account activity on this online publishing platform, ResearchWorks (“Platform”), and any content that you upload or contribute to the Platform (“Content”). This Platform is provided by the UW Libraries in order to facilitate digital and open scholarship and educational materials; it is not intended to be&nbsp; an archive. This platform makes an effort towards, but does not guarantee, long-term preservation and access. This Platform is for use by current UW faculty, researchers, staff, and sponsored students. You should carefully read these Terms before using the Platform. Please contact
  
  <a target="_blank" href="mailto:libanswers@uw.edu">
    libanswers@uw.edu
  </a>
  
    with any questions you have about these Terms.
</p>
<h2>Grant of License</h2>
<p>
  By uploading Content to the Platform, you agree to the following non-exclusive grant of license to the UW Libraries:
</p>
<p>
  For all Content for which you own copyright, you grant the UW Libraries a non-exclusive, royalty-free, irrevocable, worldwide license to exercise rights under copyright related to the Content and to its associated metadata for the purposes of making the Content easy to find online and available to readers at no cost. Without limiting the foregoing, this includes the right but not the obligation to manage the Content according to the Libraries’ collections, preservation, or translation policies.
</p>
<h2>Open Licensing</h2>
<p>
  
    <strong>UW Libraries recommends assigning a
    </strong>
  
  <a target="_blank" href="https://creativecommons.org/licenses/">
    
      <strong>Creative Commons license</strong>
    
  </a>
  
    <strong>
      to any Content you publish using the Platform. The Creative Commons offers a range of options from relatively restricted to designating the Content as being in the Public Domain.</strong>
  
</p>
<p>
  
    <strong>For guidance on copyright and choosing a license for your work, contact: uwlib-copyright@uw.edu</strong>
  
</p>
<h2>Retention of Rights</h2>
<p>
  You retain any rights under copyright that you may have to the Content, and may exercise all such rights as allowed by law, provided that no actions conflict with the rights you have granted to the UW Libraries. You are not transferring any of your rights under copyright to the UW Libraries or to the UW by agreeing to these Terms.
</p>
<h2>User Responsibilities and Prohibited Behavior</h2>
<p>
  You are responsible for your behavior in your use of this Platform and for respecting UW’s and third parties’ (persons or entities) rights in connection with the Platform.
</p>
<p>
  You are responsible for ensuring that:
</p>
<ul>
  <li>Your use of the Platform does not infringe on, and download or access to the Content will not infringe on, the rights of any third party, including but not limited to</li>
  <ul>
    <li>rights related to publicity and privacy, and</li>
    <li>rights related to intellectual property, such as copyright, patent, trademark or trade secret.</li>
  </ul>
  <li>For all Content you have published on this Platform either:</li>
  <ul>
    <li>You are the creator and copyright holder of the Content, or</li>
    <li>For all third-party copyright-protected Content that you upload or publish on this Platform:</li>
    <ul>
      <li>You have:</li>
      <ul>
        <li>Evaluated your use and believe in good faith that it is
          <a target="_blank" href="https://guides.lib.uw.edu/research/copyright/fair_use">
            fair use
          </a>, or</li>
        <li>Used Content that has been openly licensed (such as Creative Commons licensed content), in which case you have fully complied with any licenses relating to the Content, and have done all things necessary to successfully pass through to end users any required terms, or</li>
        <li>Secured the rights and permissions from other creators necessary to publish the Content on the Platform.</li>
      </ul>
      <li>You have clearly identified and fully credited any Content that is not your own original work.</li>
    </ul>
  </ul>
  <li>The Content is not subject to any agreement, restriction, or policy that would conflict with your grant of any rights granted herein and/or its use in the Platform (e.g., rights to funding sponsors, other third-party agreements, work-for-hire contracts, or previous transfers of copyright).</li>
  <li>The Content and your use of the Platform for any purpose or in any manner is in compliance with all applicable local, state, national, and international laws, regulations, and agreements, and the guidelines of any other relevant organizations or governing boards.</li>
  <li>The Content will not cause harm to UW or third-party technology systems and does not contain or install any viruses, worms, malware, Trojan horses or other harmful or destructive content.</li>
  <li>You will not directly or indirectly intentionally disrupt or interfere with the Platform in any manner that may materially adversely affect the UW or any third party.</li>
  <li>You will not take any action that imposes or may impose an unreasonable or disproportionately large load on the Platform or related infrastructure, as determined by the UW Libraries at its sole discretion.</li>
  <li>You will not bypass any measures the UW Libraries or its hosting service partners may use to prevent or restrict access to this website.</li>
  <li>You maintain the security of your account on the Platform, and you are fully responsible for all activities that occur under the account. You must immediately notify
    <strong>[email]</strong>
    of any unauthorized uses of your account or any other breaches of security.</li>
  <li>You may not use this website to post or send any infringing, threatening, defamatory, libelous, obscene, or pornographic material.</li>
  <li>You will not use or exploit any portion of the Platform to distribute commercial messages, “spam,” or other unsolicited communications.</li>
  <li>The Content will stay within 2 GB.</li>
  <li>The Content does not contain
    <a target="_blank" href="https://privacy.uw.edu/policies/privacy-faqs/">
      University Personal Data.
    </a>
  </li>
</ul>
<h2>Warranties</h2>
<p>
  By using the Platform, you warrant the following:
</p>
<ul>
  <li>You have the right and ability to agree to these Terms.</li>
  <li>You have the right to grant any rights you have granted herein.</li>
  <li>You are 13 or over or have permission from your parents to use the Platform.</li>
</ul>
<h2>Disclaimer of Warranties</h2>
<p>
  Your use of the Platform is solely at your own risk. This Platform is provided on an “as is” and “as available” basis. UW Libraries expressly disclaims all warranties of any kind with respect to the Platform whether express or implied, including, without limitation, implied warranties of merchantability, fitness for a particular purpose, and non-infringement. UW Libraries expressly disclaims any responsibility for the actions of any user of the Platform. UW Libraries makes no warranty that the Platform will meet your requirements, or will be uninterrupted, timely, secure, current, accurate, complete, or error-free. You understand and acknowledge that your sole and exclusive remedy with respect to any defect in or dissatisfaction with the Platform is to cease to use the Platform.
</p>
<h2>Termination and Right of Withdrawal</h2>
<p>
  The UW Libraries has the right, though not the obligation to, in UW Libraries’ sole discretion (i) block, suspend, or terminate your use of the Platform at any time for any reason, or (ii) refuse or remove any Content that, in UW’s reasonable opinion, violates any UW policy or is in any way harmful or objectionable. See section 14 of the
  
  <a target="_blank" href="https://www.washington.edu/online/terms/">
    UW Website Terms and Conditions of Use
  </a>
  
    for examples of reasons for withdrawal.
</p>
<h2>Indemnification and Limitation of Liability</h2>
<p>
  You expressly understand and agree that the UW Libraries will not be liable for any direct, indirect, incidental, special, consequential, or exemplary damages, including without limitation, damages for loss of profits, goodwill, use, data loss, or other losses (even if advised of the possibility of such damages) resulting from any matter related to your use of the Platform. The UW Libraries will not be liable for any acts or omissions by you, including any damages of any kind incurred as a result of such acts or omissions.
</p>
<p>
  You agree to indemnify and hold harmless the UW from and against any and all claims and expenses, including attorneys’ fees, arising out of your use of the Platform, including but not limited to (i) your violation of this Agreement; (ii) any third party claim of an alleged infringement of any copyright or any other proprietary right arising out of making the Content available on the Platform; (iii) any harm resulting from your use of the Platform.
</p>
<h2>Privacy</h2>
<p>
  The use of your personally identifying and non-personal information will be governed by UW’s
  
  <a target="_blank" href="http://uw.edu/online/privacy">
    Online Privacy Statement
  </a>
  
    found at http://uw.edu/online/privacy. Your use of the Platform indicates that you have read and agree to UW’s Online Privacy Statement.
</p>
<h2>Miscellaneous</h2>
<p>
  These Terms and the relationship between you and UW Libraries will be governed by the laws of the State of Washington, without respect to its conflict of law provisions. You agree that venue with respect to any dispute between you and UW Libraries will rest exclusively in the state or federal courts located in King County, Washington.
</p>
<h2>Acceptance of these Terms</h2>
<p>
  This is a legally binding agreement. Your use of the Platform indicates that you understand and accept these Terms, and that you agree to abide by them. If you do not agree with these Terms, you are not authorized to use the Platform.
</p>
<p>
  As the Platform is a resource of the UW, you also agree to the
  
  <a target="_blank" href="https://www.washington.edu/online/terms/">
    UW Website Terms and Conditions of Use
  </a>
  .
</p>
