<div class="container">
  <div class="row">
    <div class="col-12">
        <ng-container *ngVar="(suggestionsRD$ | async) as subCollectionsRD">
          <div *ngIf="subCollectionsRD?.pageInfo?.totalElements > 0">
            <h2>{{'reciter.suggestion.suggestionFor' | translate}} {{researcherName}} {{'reciter.suggestion.from.source' | translate}} {{'reciter.suggestion.source.oaire' | translate}}</h2>
            <ds-pagination [paginationOptions]="config" [pageInfoState]="subCollectionsRD?.pageInfo"
              [collectionSize]="subCollectionsRD?.pageInfo?.totalElements" [sortOptions]="sortConfig" [hideGear]="false"
              [hidePagerWhenSinglePage]="false" [hidePaginationDetail]="false"
              (pageChange)="onPaginationChange($event)">
              <ul class="list-unstyled">
                <li *ngFor="let object of subCollectionsRD?.page; let i = index; let last = last" class="mt-4 mb-4">
                  <ds-suggestion-list-item [object]="object" (notMineClicked)="notMine($event)"
                    (approveAndImport)="approveAndImport($event)"></ds-suggestion-list-item>
                </li>
              </ul>
            </ds-pagination>
          </div>
        </ng-container>
    </div>
  </div>
</div>
