<div class="container">
  <div class="row">
    <div class="col-12">
        <ng-container *ngVar="(suggestionsRD$ | async) as suggestionsRD">
          <div *ngIf="suggestionsRD?.pageInfo?.totalElements > 0">

            <h2>
              {{ translateSuggestionType() | translate }}
              {{'reciter.suggestion.suggestionFor' | translate}}
              <a target="_blank" [routerLink]="['/items', researcherUuid]">{{researcherName}}</a>
              {{'reciter.suggestion.from.source' | translate}} {{ translateSuggestionSource() | translate }}
            </h2>

            <div class="mb-3 mt-3">
              <button class="btn btn-light" (click)="onToggleSelectAll(suggestionsRD.page)">Select / Deselect All</button>
              <em>({{ getSelectedSuggestionsCount() }})</em>
              <ds-suggestion-actions *ngIf="getSelectedSuggestionsCount() > 0"
                                      class="mt-2 ml-2"
                                     [isBulk]="true"
                                     [isCollectionFixed]="isCollectionFixed(suggestionsRD.page)"
                                     (approveAndImport)="approveAndImportAllSelected($event)"
                                     (notMineClicked)="notMineAllSelected()"></ds-suggestion-actions>
              <i class='fas fa-circle-notch fa-spin' *ngIf="isBulkOperationPending"></i>
            </div>
            <ds-loading *ngIf="(processing$ | async)"></ds-loading>
            <ds-pagination *ngIf="!(processing$ | async)"
                           [paginationOptions]="paginationOptions"
                           [sortOptions]="paginationSortConfig"
                           [collectionSize]="suggestionsRD?.pageInfo?.totalElements" [hideGear]="false"
                           [hidePagerWhenSinglePage]="false" [hidePaginationDetail]="false"
                           (paginationChange)="onPaginationChange()">
              <ul class="list-unstyled">
                <li *ngFor="let object of suggestionsRD?.page; let i = index; let last = last" class="mt-4 mb-4">
                  <ds-suggestion-list-item
                    [object]="object"
                    [isSelected]="selectedSuggestions[object.id]"
                    [isCollectionFixed]="isCollectionFixed([object])"
                    (notMineClicked)="notMine($event)"
                    (selected)="onSelected(object, $event)"
                    (approveAndImport)="approveAndImport($event)"></ds-suggestion-list-item>
                </li>
              </ul>
            </ds-pagination>
          </div>
        </ng-container>
    </div>
  </div>
</div>
