<ngb-accordion [activeIds]="activeIds" [ngStyle]="{'margin-right': !box.clear && !nextBoxClear ? '10px': '0px'}">
  <ngb-panel id="{{box.shortname}}">
    <ng-template ngbPanelTitle>
      <span [innerHTML]="getBoxHeader()"></span>
    </ng-template>
    <ng-template ngbPanelContent>
      <ds-configuration-search-page
        *ngIf="configReady"
        [fixedFilterQuery]="searchFilter"
        [configuration]="configuration"
        [configuration$]="configuration$"
        [searchEnabled]="searchEnabled"
        [sideBarWidth]="sideBarWidth">
      </ds-configuration-search-page>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
