<div class="export-buttons-container mb-2" *ngIf="(results | async) && !!report.points && report.points.length > 0">
	<button class="btn btn-secondary mr-2" [dsBtnDisabled]="(isLoading | async) || (isSecondLoading | async)" (click)="downloadPng()">
    <span *ngIf="(isLoading | async)"><i class='fas fa-circle-notch fa-spin'></i> {{'loading.default' | translate}}</span>
    <span *ngIf="!(isLoading | async)"><i class="fas fa-file-export fa-fw"></i> {{'statistics.export.png' | translate}}</span>
	</button>
	<button class="btn btn-secondary mr-2" [dsBtnDisabled]="(isLoading | async) || (isSecondLoading | async)" (click)="downloadJpeg()">
    <span *ngIf="(isSecondLoading | async)"><i class='fas fa-circle-notch fa-spin'></i> {{'loading.default' | translate}}</span>
    <span *ngIf="!(isSecondLoading | async)"><i class="fas fa-file-export fa-fw"></i> {{'statistics.export.jpg' | translate}}</span>
	</button>
</div>

<div #chartRef id="chart" class="d-flex w-100 search-chart-container" *ngIf="(results | async) && !!report.points && report.points.length > 0 else noData">
  <ds-chart [results]="results" [view]="view" [type]='chartType.LINE' [animations]="true"></ds-chart>
</div>
<ng-template #noData>
    <ds-alert [type]="'alert-info'" [content]="'search.filters.applied.charts.no.data.found'"></ds-alert>
</ng-template>
