<div class="pt-2" [ngClass]="{'border-top': !showErrorMessages, 'border border-danger': showErrorMessages}" [hidden]="model.hidden">
    <ds-form #formRef="formComponent" *ngIf="formModel" @shrinkInOut
             [formId]="formId"
             [formModel]="formModel"
             [displaySubmit]="false"
             [arrayButtonsStyle]="'inline-btn-group'"
             (dfBlur)="onBlur($event)"
             (dfChange)="onChange($event)"
             (dfFocus)="onFocus($event)"
             (removeArrayItem)="remove($event)"></ds-form>
</div>
