<form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
    <div class="form-group input-group">
        <input type="text" [(ngModel)]="query" name="query" class="form-control" aria-label="Search input">
        <input type="text" [(ngModel)]="scopeId" name="scopeId" class="form-control" aria-label="Search input scopeId">
        <select ngif="isNotEmpty(scopes)" [(ngModel)]="scopeId" name="scope" class="form-control" aria-label="Search scope" (change)="onChange()" [compareWith]="byId">
            <option *ngFor="let scopeOption of scopes" [ngValue]="scopeOption.id" [value]="scopeOption.id">{{scopeOption?.name ? scopeOption.name : 'search.form.search_dspace' | translate}}</option>
        </select>
        <div class="input-group-btn">
            <button type="submit" class="search-button btn btn-secondary">{{ ('search.form.search' | translate) }}</button>
        </div>
    </div>
</form>
