<button type="button"
        [className]="'btn btn-secondary ' + wrapperClass"
        ngbTooltip="{{'Return the task to the pool so that another user may perform the task.' | translate}}"
        [disabled]="processingReturnToPool"
        (click)="confirmReturnToPool()">
  <span *ngIf="processingReturnToPool"><i class='fas fa-circle-notch fa-spin'></i> {{'Processing...' | translate}}</span>
  <span *ngIf="!processingReturnToPool"><i class="fa fa-undo"></i> {{'Return to pool' | translate}}</span>
</button>
