@media screen and (min-width: map-get($grid-breakpoints, md)) {
  nav.navbar {
    display: none;
  }
  .header {
    background-color: var(--ds-header-bg);
  }
}

.navbar-brand img {
  @media screen and (max-width: map-get($grid-breakpoints, md)) {
    height: var(--ds-header-logo-height-xs);
  }
}
.navbar-toggler .navbar-toggler-icon {
  background-image: none !important;
  line-height: 1.5;
  color: var(--bs-link-color);
}
// New CUL mobile logo
.mobile-cornell-logo {
  background: url("/assets/ecommons/images/cornell-reduced-red.svg") no-repeat;
  width: 200px;
  height: 40px;
  display: block;
  text-indent: -99999em;
  margin: 0 .5rem;
}
.library-brand-mobile {
  display: block;
  background: url("/assets/ecommons/images/CULWordmark.svg") no-repeat;
  text-indent: -99999em;
  width: 120px;
  height: 40px;
  margin: .5rem .5rem 0 .5rem;
}
