<header class="header">
  <div class="library-brand">
    <div class="container">
      <!-- desktop logo -->
      <div class="cornell-logo-wrapper d-none d-sm-block">
          <div class="cornell-logo">
              <a href="https://www.cornell.edu" class="insignia">Cornell University</a>
              <div class="library-logo">
                  <a href="https://library.cornell.edu">Library</a>
              </div>
          </div>
      </div>
      <!-- mobile logo -->
      <div class="d-block d-sm-none">
        <a class="mobile-cornell-logo" href="https://www.cornell.edu">Cornell University</a>
        <a class="library-brand-mobile" href="https://library.cornell.edu">Library</a>
      </div>
    </div>
  </div>
  <nav role="navigation" [attr.aria-label]="'nav.user.description' | translate" class="container navbar navbar-expand-md px-0">
    <div class="d-flex flex-grow-1">
      <h1>
        <a class="navbar-brand ml-3" routerLink="/home">
          eCommons
        </a>
      </h1>
    </div>
    <div class="d-flex flex-grow-1 ml-auto justify-content-end align-items-center">
      <ds-search-navbar class="navbar-search"></ds-search-navbar>
      <ds-lang-switch></ds-lang-switch>
      <ds-auth-nav-menu></ds-auth-nav-menu>
      <ds-impersonate-navbar></ds-impersonate-navbar>
      <div class="pl-2">
        <button class="navbar-toggler" type="button" (click)="toggleNavbar()"
                aria-controls="collapsingNav"
                aria-expanded="false" [attr.aria-label]="'nav.toggle' | translate">
          <span class="navbar-toggler-icon fas fa-bars fa-fw" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </nav>
  <ds-themed-navbar></ds-themed-navbar>

</header>
