.navbar-toggler .navbar-toggler-icon {
  background-image: none !important;
  line-height: 1.5;
  color: var(--bs-link-color);
}

// CUL mobile logo
.mobile-cornell-logo {
  background: url("/assets/ecommons/images/cornell-reduced-red.svg") no-repeat;
  width: 200px;
  height: 45px;
  display: block;
  text-indent: -99999em;
}
.library-brand-mobile {
  display: block;
  background: url("/assets/ecommons/images/CULWordmark.svg") no-repeat;
  text-indent: -99999em;
  width: 120px;
  height: 45px;
  margin-top: .5rem;
}

// CUL logo
.cornell-logo {
  padding-left: 0;
  background: url('/assets/ecommons/images/CULibraryRed.svg') no-repeat;
  min-height: 100px;
  width: 300px;
}
.cornell-logo .insignia {
  float: left;
  margin-right: 0.8em;
  width: 100px;
  height: 100px;
  text-indent: -99999em;
}
.library-brand {
  margin-top: .5rem;
}
.library-logo a {
  text-indent: -99999em;
  display: block;
  width: 160px;
  height: 100px;
}
// eCommons type
.navbar-brand {
  text-decoration: none;
  font-size: 1.8rem;
  color: var(--cul-blue-darker);
}

// MEDIA QUERIES
// -------------------------
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
// @include media-breakpoint-up(sm) {
// }

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
  .navbar-brand {
    font-size: 2.25rem;
  }
  .help-link {
    float: right;
  }
}

// Large devices (desktops, 992px and up)
// @include media-breakpoint-up(lg) {
// }
// Extra large devices (large desktops, 1200px and up)
// @include media-breakpoint-up(xl) { ... }