<div>
  <div *ngIf="object.metadata['relationship.type'] && object.metadata['relationship.type'].length > 0">
    <span
      class="badge badge-light">{{ object.metadata['relationship.type'][0].value.toLowerCase() + '.listelement.badge' | translate }}</span>
  </div>
  <div *ngIf="object.metadata['dc.title'] && object.metadata['dc.title'].length > 0">
    <a [target]="'_blank'" rel="noopener noreferrer" [routerLink]="['/items/' + object.id]" class="lead">
      {{object.metadata['dc.title'][0].value}}</a>
  </div>
  <div *ngIf="object.metadata['dc.date.issued'] && object.metadata['dc.date.issued'].length > 0">
    <span class="issue-date">({{ object.metadata['dc.date.issued'][0].value}})</span>
  </div>
  <div *ngIf="object.metadata['dc.description'] && object.metadata['dc.description'].length > 0">
    <span>{{ object.metadata['dc.description'][0].value}}</span>
  </div>
  <div class="parent mt-2">
    <ds-my-dspace-new-submission-dropdown (selectCollection)="selectedCollection($event)" [isApproveAndImport]="true" [buttonIcon]="'fa fa-check'"
      [buttonName]="'reciter.suggestion.approveAndImport'" [buttonClass]="'btn btn-md btn-success mt-1 ml-2'">
    </ds-my-dspace-new-submission-dropdown>
    <button (click)="notMine()" class="btn btn-danger"><i class="fa fa-ban"></i>
      {{'reciter.suggestion.notMine' | translate}}</button>
    <button (click)="seeEvidence()" class="btn btn-info"><i class="fa fa-eye"></i>
      {{'reciter.suggestion.seeEvidence' | translate}}</button>
  </div>
</div>
