@import '../../../../styles/_mixins.scss';

.submission-submit-form-footer {
  border-radius: $card-border-radius;
  position: sticky;
  bottom: 0;
  background-color: $gray-lighter;
  padding: 0.5rem;
}

