<div class="community-page" *ngIf="communityData.hasSucceeded | async">
  <!-- Community name -->
  <ds-dso-name [name]="(communityData.payload | async)?.name"></ds-dso-name>
  <!-- Community logo -->
  <ds-dso-logo *ngIf="logoData" 
      [logo]="logoData.payload | async"
      [alternateText]="'Community Logo'">
  </ds-dso-logo>
  <!-- Introductionary text -->
  <ds-content-with-optional-title 
      [content]="(communityData.payload | async)?.introductoryText"
      [hasInnerHtml]="true">
  </ds-content-with-optional-title>
  <!-- News -->
  <ds-content-with-optional-title 
      [content]="(communityData.payload | async)?.sidebarText"
      [hasInnerHtml]="true"
      [title]="'community.page.news'">
  </ds-content-with-optional-title >
  <!-- Copyright -->
  <ds-content-with-optional-title
      [content]="(communityData.payload | async)?.copyrightText"
      [hasInnerHtml]="true">
  </ds-content-with-optional-title>  
  <ds-community-page-sub-collection-list></ds-community-page-sub-collection-list>
</div>
