<div class="community-page" *ngIf="communityData.hasSucceeded | async">
  <ds-community-page-name [name]="(communityData.payload | async)?.name"></ds-community-page-name>
  <ds-community-page-logo *ngIf="logoData" [logo]="logoData.payload | async"></ds-community-page-logo>
  <!-- Introductionary text -->
  <ds-content-with-optional-title 
      [content]="(communityData.payload | async)?.introductoryText"
      [hasInnerHtml]="true">
  </ds-content-with-optional-title>
  <!-- News -->
  <ds-content-with-optional-title 
      [content]="(communityData.payload | async)?.sidebarText"
      [hasInnerHtml]="true"
      [title]="'community.page.news'">
  </ds-content-with-optional-title >
  <!-- Copyright -->
  <ds-content-with-optional-title
      [content]="(communityData.payload | async)?.copyrightText"
      [hasInnerHtml]="true">
  </ds-content-with-optional-title>
  <!-- Licence -->
  <ds-content-with-optional-title
      [content]="(communityData.payload | async)?.license"
      [title]="'community.page.license'">
  </ds-content-with-optional-title>
  <ds-community-page-sub-collection-list></ds-community-page-sub-collection-list>
</div>
