ul li.active > a {
  color: map-get($theme-colors, info);
  background: map-get($theme-colors, light);
}
:host ::ng-deep {
    .fa-chevron-right {
        padding-left: calc(var(--bs-spacer) / 2);
        font-size: 0.5rem;
        line-height: 3;
    }

    .sidebar-sub-level-items {
        list-style: none;
        // color: var(--bs-navbar-dark-color);
        overflow: hidden;
        li a{
            background: transparent;
        }
    }

    .sidebar-collapsible {
        display: flex;
        flex-direction: column;
    }

    li.sidebar-section.expanded {
      font-size: 1.1em;
      display: block;
      color: rgba(0, 0, 0, 0.5);
    }

    ul li.active > a , .sidebar-section.active a{
        color: #006666 !important;
        background: #eeeeee !important;
    }

}
