<div>
  <div ngbDropdown #collectionControls="ngbDropdown" class="btn-group">
    <span class="input-group-addon" id="collectionControlsMenuLabel">Collection</span>
    <button aria-describedby="collectionControlsMenuLabel"
            class="btn btn-outline-primary"
            (click)="onClose($event)"
            id="collectionControlsMenuButton"
            ngbDropdownToggle>{{ (selectedCollectionName) ? selectedCollectionName : '' }}
    </button>

    <div ngbDropdownMenu class="dropdown-menu" id="collectionControlsDropdownMenu" aria-labelledby="collectionControlsMenuButton">
      <div class="form-group w-100 pr-2 pl-2">
        <input type="search"
               class="form-control w-100"
               (click)="$event.stopPropagation();"
               placeholder="Search for a collection"
               [formControl]="searchField">
      </div>
      <div class="dropdown-divider"></div>
      <div class="scrollable-menu" aria-labelledby="dropdownMenuButton" (scroll)="onScroll($event)">
        <button class="dropdown-item disabled" *ngIf="searchListCollection.length == 0">No results found</button>
        <button class="dropdown-item collection-item" *ngFor="let listItem of searchListCollection" (click)="onSelect(listItem)" title="{{ listItem.collection.name }}">
          <ul class="list-unstyled mb-0">
            <li class="list-item text-truncate" *ngFor="let item of listItem.communities" >{{ item.name}} <i class="fa fa-level-down" aria-hidden="true"></i></li>
            <li class="list-item text-truncate">{{ listItem.collection.name}}</li>
          </ul>
        </button>
      </div>
    </div>
  </div>
</div>
