<div *ngIf="!isLoading()" class="submission-submit-form-header">
  <ds-submission-upload-files [submissionId]="submissionId"
                              [collectionId]="collectionId"
                              [definitionId]="definitionId"
                              [sectionId]="'upload'"
                              [uploadFilesOptions]="uploadFilesOptions"></ds-submission-upload-files>
  <div class="submission-submit-form-header mb-3">
    <div class="row">
      <div class="col-6">
        <ds-submission-submit-form-collection [currentCollectionId]="collectionId"
                                              [submissionId]="submissionId"
                                              (collectionChange)="onCollectionChange($event)">
        </ds-submission-submit-form-collection>
      </div>
      <div class="col text-right">
        <ds-submission-submit-form-box-handler [collectionId]="collectionId"
                                               [submissionId]="submissionId"
                                               [definitionId]="definitionId">
        </ds-submission-submit-form-box-handler>
      </div>
    </div>
  </div>
</div>
<div class="submission-submit-form-content">
  <ds-loading *ngIf="isLoading()" message="Loading..."></ds-loading>
  <ng-template dsSectionsHost></ng-template>
</div>
<div *ngIf="!isLoading()" class="submission-submit-form-footer mt-3 mb-3">
  <ds-submission-submit-form-footer
    [submissionId]="submissionId"></ds-submission-submit-form-footer>
</div>
