<footer class="text-lg-start">
    <div class="container">
        <div *ngIf="showTopFooter" class="top-footer">
            <p class="float-right"><a href="/statistics">Statistics</a> | <a href="https://guides.library.cornell.edu/ecommons">Help</a></p>
            <p><a href="http://guides.library.cornell.edu/ecommons">About eCommons</a> | <a href="http://guides.library.cornell.edu/ecommons/policy">Policies</a> | <a href="http://guides.library.cornell.edu/ecommons/terms">Terms of use</a> | <a href="/info/feedback">Contact</a></p>
        </div>

        <!-- Copyright -->
        <div class="bottom-footer p-1 d-flex">
            <div class="content-container">
                <p class="m-0">
                    {{ 'footer.copyright' | translate:{year: dateObj | date:'y'} }} <a href="https://www.library.cornell.edu">Cornell University Library</a> | <a href="https://www.library.cornell.edu/privacy">Privacy</a> | <a href="https://www.library.cornell.edu/web-accessibility">Web Accessibility Assistance</a>
                </p>
            </div>
        </div>
        <!-- Copyright -->
    </div>
</footer>
