footer {
  background-color: #fff;
  z-index: var(--ds-footer-z-index);
  border-top: 2px solid var(--cul-red);
  padding: 2rem 0;
  p {
    margin: 0;
    font-size: .9rem;
  }

  div > img {
    height: var(--ds-footer-logo-height);
  }


  .top-footer {
    background-color: #fff;;
    padding: var(--ds-footer-padding);
    margin: calc(var(--ds-footer-padding) * -1);
    margin-bottom: 1rem;
  }

  .bottom-footer {
    ul {
      li {
        display: inline-flex;

        a {
          padding: 0 calc(var(--bs-spacer) / 2);
          color: inherit
        }

        &:not(:last-child) {
          &:after {
            content: '';
            border-right: 1px var(--bs-secondary) solid;
          }

        }
      }
    }
  }
}