<div *ngIf="(item | async)" class="container">
  <div class="button-row bottom mb-3">
    <div class="text-right">
      <a [routerLink]="getItemPage()" role="button" class="btn btn-outline-secondary" data-test="back-button">
        <i class="fas fa-arrow-left"></i> {{'item.orcid.return' | translate}}
      </a>
    </div>
  </div>
</div>

<ds-orcid-auth *ngIf="(item | async)" [item]="(item | async)" (unlink)="updateItem()"></ds-orcid-auth>
<ds-orcid-sync-setting *ngIf="(item | async) && isLinkedToOrcid()" [item]="(item | async)"></ds-orcid-sync-setting>
