

<div class="slide_left-baar">
    <div class="model-box">
        <a class="model-close" (click)="close()">
            <mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_close-outline"></mat-icon>
        </a>
        <div class="model-title-band">
            <h4>Replacing Stanley Park</h4>
            <p>Showing 10 attractions in Vancouver</p>
        </div>
        <div class="model-content-band">
           <div class="replace-place-band">
            <div class="place-band">
                <ul>
                    <li class="place-card active" >
                        <div class="left-penal">
                            <div class="w-30">
                            <div class="img-band">
                                <img src="assets/image/royal-ontrio-museum.jpg" alt="Royal Ontrio Museum">
                            </div>
                            </div>
                            <div class="place-detail">
                                <div class="top-box">
                                    <h5 class="text-overflow">Royal Ontrio Museum</h5>
                                    <p><span class="rating-band"><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_star"></mat-icon>4.6</span>54,551 Reviews</p>
                                </div>
        
                            </div>
                        </div>
                        <div class="right-penal">
                            <div class="select-band">
                                <mat-checkbox class="example-margin">Select</mat-checkbox>
                            </div>
                        </div>
                    </li>
                    <li class="place-card">
                        <div class="left-penal">
                        <div class="w-30">
                        <div class="img-band">
                            <img src="assets/image/lunch-360-restaurant.jpg" alt="Lunch: 360 Restaurant">
                        </div>
                        </div>
                        <div class="place-detail">
                            <div class="top-box">
                                <h5 class="text-overflow">Lunch: 360 Restaurant</h5>
                                <p><span class="rating-band"><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_star"></mat-icon>4.8</span>13,781 Reviews</p>
                            </div>
                           
                        </div>
                        </div>
                        <div class="right-penal">
                            <div class="select-band">
                                <mat-checkbox class="example-margin">Select </mat-checkbox>
                            </div>
                        </div>
                      
                    </li>
                    <li class="place-card">
                        <div class="left-penal">
                        <div class="w-30">
                        <div class="img-band">
                            <img src="assets/image/hockey-hall-of-fame.jpg" alt="Hockey Hall of Fame">
                        </div>
                        </div>
                        <div class="place-detail">
                            <div class="top-box">
                                <h5 class="text-overflow">Hockey Hall of Fame</h5>
                                <p><span class="rating-band"><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_star"></mat-icon>4.7</span>4,861Reviews</p>
                            </div>
                           
                        </div>
                        </div>
                        <div class="right-penal">
                            <div class="select-band">
                                <mat-checkbox class="example-margin">Select </mat-checkbox>
                            </div>
                        </div>
                      
                    </li>
                    <li class="place-card">
                        <div class="left-penal">
                        <div class="w-30">
                        <div class="img-band">
                            <img src="assets/image/st-lawrence-market.jpg" alt="St. Lawrence Market">
                        </div>
                        </div>
                        <div class="place-detail">
                            <div class="top-box">
                                <h5 class="text-overflow">St. Lawrence Market</h5>
                                <p><span class="rating-band"><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_star"></mat-icon>4.6</span>30,661 Reviews</p>
                            </div>
                           
                        </div>
                        </div>
                        <div class="right-penal">
                            <div class="select-band">
                                <mat-checkbox class="example-margin">Select </mat-checkbox>
                            </div>
                        </div>
                      
                    </li>
                    <li class="place-card">
                        <div class="left-penal">
                        <div class="w-30">
                        <div class="img-band">
                            <img src="assets/image/dinner-la-maquette.jpg" alt="Dinner: La Maquette">
                        </div>
                        </div>
                        <div class="place-detail">
                            <div class="top-box">
                                <h5 class="text-overflow">Dinner: La Maquette</h5>
                                <p><span class="rating-band"><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_star"></mat-icon>4.2</span>1000 Reviews</p>
                            </div>
                         
                        </div>
                        </div>
                        <div class="right-penal">
                            <div class="select-band">
                                <mat-checkbox class="example-margin">Select </mat-checkbox>
                            </div>
                        </div>
                       
                    </li>
                    <li class="place-card">
                        <div class="left-penal">
                        <div class="w-30">
                        <div class="img-band">
                            <img src="assets/image/dinner-la-maquette.jpg" alt="Dinner: La Maquette">
                        </div>
                        </div>
                        <div class="place-detail">
                            <div class="top-box">
                                <h5 class="select-band">Dinner: La Maquette</h5>
                                <p><span class="rating-band"><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_star"></mat-icon>4.2</span>1000 Reviews</p>
                            </div>
                         
                        </div>
                        </div>
                        <div class="right-penal">
                            <div class="select-box">
                                <mat-checkbox class="example-margin">Select </mat-checkbox>
                            </div>
                        </div>
                       
                    </li>
                    <li class="place-card">
                        <div class="left-penal">
                        <div class="w-30">
                        <div class="img-band">
                            <img src="assets/image/dinner-la-maquette.jpg" alt="Dinner: La Maquette">
                        </div>
                        </div>
                        <div class="place-detail">
                            <div class="top-box">
                                <h5 class="text-overflow">Dinner: La Maquette</h5>
                                <p><span class="rating-band"><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_star"></mat-icon>4.2</span>1000 Reviews</p>
                            </div>
                         
                        </div>
                        </div>
                        <div class="right-penal">
                            <div class="select-band">
                                <mat-checkbox class="example-margin">Select </mat-checkbox>
                            </div>
                        </div>
                       
                    </li>
                    <li class="place-card">
                        <div class="left-penal">
                        <div class="w-30">
                        <div class="img-band">
                            <img src="assets/image/dinner-la-maquette.jpg" alt="Dinner: La Maquette">
                        </div>
                        </div>
                        <div class="place-detail">
                            <div class="top-box">
                                <h5 class="text-overflow">Dinner: La Maquette</h5>
                                <p><span class="rating-band"><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_star"></mat-icon>4.2</span>1000 Reviews</p>
                            </div>
                         
                        </div>
                        </div>
                        <div class="right-penal">
                            <div class="select-band">
                                <mat-checkbox class="example-margin">Select </mat-checkbox>
                            </div>
                        </div>
                       
                    </li>
                    <li class="place-card">
                        <div class="left-penal">
                        <div class="w-30">
                        <div class="img-band">
                            <img src="assets/image/dinner-la-maquette.jpg" alt="Dinner: La Maquette">
                        </div>
                        </div>
                        <div class="place-detail">
                            <div class="top-box">
                                <h5 class="text-overflow">Dinner: La Maquette</h5>
                                <p><span class="rating-band"><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_star"></mat-icon>4.2</span>1000 Reviews</p>
                            </div>
                         
                        </div>
                        </div>
                        <div class="right-penal">
                            <div class="select-band">
                                <mat-checkbox class="example-margin">Select </mat-checkbox>
                            </div>
                        </div>
                       
                    </li>
                    <li class="place-card">
                        <div class="left-penal">
                        <div class="w-30">
                        <div class="img-band">
                            <img src="assets/image/dinner-la-maquette.jpg" alt="Dinner: La Maquette">
                        </div>
                        </div>
                        <div class="place-detail">
                            <div class="top-box">
                                <h5 class="text-overflow">Dinner: La Maquette</h5>
                                <p><span class="rating-band"><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_star"></mat-icon>4.2</span>1000 Reviews</p>
                            </div>
                         
                        </div>
                        </div>
                        <div class="right-penal">
                            <div class="select-band">
                                <mat-checkbox class="example-margin">Select </mat-checkbox>
                            </div>
                        </div>
                       
                    </li>

                </ul>
              </div>
           </div>

        </div>

        <div class="model-action">
            <button class="primary-btn" (click)="close()">Save</button>
        </div>

    </div>
</div>