<div class="container">

  <h2>{{'statistics.login.page.header' | translate}}</h2>

  <div class="datepicker-container">
    <div class="form-group">
      <div class="input-group">
        <input class="form-control filter-input" placeholder="{{ 'statistics.login.page.startDate' | translate }}"
                name="dp" [(ngModel)]="dateFrom" (ngModelChange)="onSearchFilterChange()" ngbDatepicker
                #df="ngbDatepicker" />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="df.toggle()" type="button">
            <i class="far fa-calendar-alt"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group ml-2">
        <input class="form-control filter-input" placeholder="{{ 'statistics.login.page.endDate' | translate }}"
                name="dp" [(ngModel)]="dateTo" (ngModelChange)="onSearchFilterChange()" ngbDatepicker
                #dt="ngbDatepicker" />

        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="dt.toggle()" type="button">
            <i class="far fa-calendar-alt"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group ml-2 mr-2">
        <input type="number" min="1" class="form-control filter-input" placeholder="{{ 'statistics.login.page.max' | translate }}"
          name="max" [(ngModel)]="max" (ngModelChange)="onSearchFilterChange()" />
      </div>
    </div>
    <div class="form-group">
      <div class="input-group ml-2">
        <button class="btn btn-secondary" (click)="resetFilters()" type="button">
          <i class="fas fa-eraser"></i> {{ 'statistics.login.page.reset' | translate }}
        </button>
      </div>
    </div>
  </div>

  <ds-loading *ngIf="(processing$ | async)"></ds-loading>

  <div class="table-responsive" *ngIf="!(processing$ | async)">
    <table id="logins" class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col-10" class="align-middle text-center"></th>
          <th scope="col" class="align-middle text-center">{{'statistics.login.page.table.user' | translate}}</th>
          <th scope="col" class="align-middle text-center">{{'statistics.login.page.table.email' | translate}}</th>
          <th scope="col" class="align-middle text-center">{{'statistics.login.page.table.count' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let login of (logins$ | async); let i = index">
          <td class="align-middle text-center font-weight-bold">{{ i + 1 }}</td>
          <td class="align-middle text-center">{{login.name}}</td>
          <td class="align-middle text-center">{{login.email}}</td>
          <td class="align-middle text-center">{{login.count}}</td>
        </tr>
      </tbody>
    </table>
    <ds-alert *ngIf="(logins$ | async).length === 0"
              [type]="AlertTypeEnum.Info"
              [content]="'statistics.login.page.no-data-found'">
    </ds-alert>
  </div>

</div>
