@import 'src/scss/variables';

.primary-outline-btn {
    display: flex;
    align-items: center;
    background: $text;
    padding: 0px 15px !important;
    color: $white;
    height: 37px ;
    width: fit-content;
    line-height: 0;
    mat-icon {
        margin-right: 8px;
        width: 20px;
    }
}
.primary-outline-btn:hover {
    transition: all 0.5s;
}


.already-booking-place-card{
    border: 1px solid #eeeeeea3;
    border-radius: 18px;
    background-color: #F5FFF1;
    .booked-toogle-band {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 12px;
        .left-band{
            .toogle-band.book-toogle {
                display: flex;
                align-items: center;
            }
        }
    }
    .right-band {
        button.primary-btn.primary-outline-btn {
            height: 34px ;
            font-size: 14px;
            mat-icon {
                width: 17px;
            }
        }
    }
    .toggle-switch span {
        font-size: 14px;
        margin-left: 10px;
        font-weight: 600;
    }
    .toogle-band.book-toogle .toggle-switch .slider {
        background-color: #060c152b;
    }
    .toogle-band.book-toogle .toggle-switch input:checked + .slider {
        background-color: #84FF50 !important;
    }

}

