<div class="container">
  <div class="bitstream-formats row">
    <div class="col-12">

      <h2 id="header" class="border-bottom pb-2">{{'admin.registries.bitstream-formats.head' | translate}}</h2>

      <p id="description" class="pb-2">{{'admin.registries.bitstream-formats.description' | translate}}</p>

      <ds-pagination
        *ngIf="(bitstreamFormats | async)?.payload?.totalElements > 0"
        [paginationOptions]="config"
        [pageInfoState]="(bitstreamFormats | async)?.payload"
        [collectionSize]="(bitstreamFormats | async)?.payload?.totalElements"
        [hideGear]="true"
        [hidePagerWhenSinglePage]="true"
        (pageChange)="onPageChange($event)">
        <div class="table-responsive">
          <table id="formats" class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">{{'admin.registries.bitstream-formats.formats.table.name' | translate}}</th>
                <th scope="col">{{'admin.registries.bitstream-formats.formats.table.mimetype' | translate}}</th>
                <th scope="col">{{'admin.registries.bitstream-formats.formats.table.supportLevel.head' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let bitstreamFormat of (bitstreamFormats | async)?.payload?.page">
                <td>{{bitstreamFormat.shortDescription}}</td>
                <td>{{bitstreamFormat.mimetype}} <span *ngIf="bitstreamFormat.internal">({{'admin.registries.bitstream-formats.formats.table.internal' | translate}})</span></td>
                <td>{{'admin.registries.bitstream-formats.formats.table.supportLevel.'+bitstreamFormat.supportLevel | translate}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </ds-pagination>
      <div *ngIf="(bitstreamFormats | async)?.payload?.totalElements == 0" class="alert alert-info" role="alert">
        {{'admin.registries.bitstream-formats.formats.no-items' | translate}}
      </div>

    </div>
  </div>
</div>
