@import '../../../../../styles/variables.scss';
@import '../../../../../styles/mixins.scss';

.filters {

    a {
        color: $link-color;
        &:hover {
            text-decoration: underline;
            color: $link-hover-color;

        }
    }
}