@import '../../../../../styles/variables.scss';
@import '../../../../../styles/mixins.scss';


.filters {
     .toggle-more-filters a {
         color: $link-color;
         text-decoration: underline;
         cursor: pointer;
     }
 }

$slider-handle-width: 18px;
::ng-deep
{
    html:not([dir=rtl]) .noUi-horizontal .noUi-handle {
        right: -$slider-handle-width/2;
    }
    .noUi-horizontal .noUi-handle {
        width: $slider-handle-width;
        &:before {
            left: ($slider-handle-width - 2)/2 - 2;
        }
        &:after {
            left: ($slider-handle-width - 2)/2 + 2;
        }
        &:focus {
            outline: none;
        }
    }
}