@import '../../../../../../../styles/variables';

.truncatable-content {
  flex: 1 1 90%;
  display: flex;
  justify-content: left;
}

.metric-content {
  flex: 1 1 10%;
  display: flex;
  justify-content: right;
}
