<div *ngIf="subCollections.hasSucceeded | async">
  <h2>{{'community.sub-collection-list.head' | translate}}</h2>
  <ul>
    <ds-object-list [config]="config" [sortConfig]="sortConfig"
                    [objects]="subCollections" [hideGear]="hideGear"
                    [hidePagerWhenSinglePage]="hidePagerWhenSinglePage"
                    (pageChange)="onPageChange($event)"
                    (pageSizeChange)="onPageSizeChange($event)"
                    (sortDirectionChange)="onSortDirectionChange($event)"
                    (sortFieldChange)="onSortDirectionChange($event)"></ds-object-list>
  </ul>
</div>
