.switch-container {
  height: 35px;
  width: fit-content;
  border-radius: 100px;
  display: flex;
  &.bg-default {
    background-color: rgb(204, 204, 204);
  }
}

.switch-opt {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  position: relative;
  top: 1px;
  margin-left: 2px;
  margin-right: 2px;
}

.visibility-label {
  line-height: 40px;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
