<div>
  <div class="modal-header">{{'item.version.create.modal.header' | translate}}
    <button type="button" class="close" (click)="onModalClose()" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <!--<h5 *ngIf="header" class="px-2">{{header | translate}}</h5>-->
    <p class="pb-2">{{ "item.version.create.modal.text" | translate : {version: versionNumber} }}</p>
    <div class="form-group">
      <label for="summary">{{'item.version.create.modal.form.summary.label' | translate }}:</label>
      <input type="text" id="summary" required class="form-control" [(ngModel)]="newVersionSummary"
             placeholder="{{'item.version.create.modal.form.summary.placeholder' | translate }}"/>
    </div>
  </div>
  <div class="modal-footer">
<!--    <div class="btn-group">-->
      <button class="btn btn-danger btn-sm"
              (click)="onModalClose()"
              title="{{'item.version.create.modal.button.cancel.tooltip' | translate}}">
        <i class="fas fa-times fa-fw"></i> {{'item.version.create.modal.button.cancel' | translate}}
      </button>
      <button class="btn btn-success btn-sm"
              (click)="onModalSubmit()"
              title="{{'item.version.create.modal.button.confirm.tooltip' | translate}}">
        <i class="fas fa-check fa-fw"></i> {{'item.version.create.modal.button.confirm' | translate}}
      </button>
<!--    </div>-->
  </div>
</div>
