<div *ngIf="(versionsRD$ | async) == null; then tableFromMetadata else tableFromDatabase">

</div>
<ng-template #tableFromMetadata>
  <h2 *ngIf="displayTitle">{{"item.version.history.head" | translate}}</h2>
  <table class="table table-striped table-bordered align-middle my-2">
    <thead>
    <tr>
      <th scope="col">{{'item.version.history.table.name' | translate}}</th>
      <th scope="col">{{'item.version.history.table.handle' | translate}}</th>
    </tr>
    </thead>
    <tbody *ngFor="let versionFromMetadata of (getVersionsFromMetadata(item) | async)">
    <tr>
      <td><a [href]="versionFromMetadata.handle">{{versionFromMetadata.name}}</a></td>
      <td><a [href]="versionFromMetadata.handle">{{versionFromMetadata.handle}}</a></td>
    </tr>
    </tbody>
  </table>
</ng-template>
<ng-template #tableFromDatabase>
  <div *ngVar="(versionsRD$ | async)?.payload as versions">
    <div *ngVar="(versionRD$ | async)?.payload as itemVersion">
      <div class="mb-2" *ngIf="versions?.page?.length > 0 || displayWhenEmpty">
        <h2 *ngIf="displayTitle">{{"item.version.history.head" | translate}}</h2>
        <ds-alert [type]="AlertTypeEnum.Info" *ngIf="itemVersion">
          {{ "item.version.history.selected.alert" | translate : {version: itemVersion.version} }}
        </ds-alert>
        <ds-pagination *ngIf="versions?.page?.length > 0"
                       (paginationChange)="onPageChange()"
                       [hideGear]="true"
                       [hidePagerWhenSinglePage]="true"
                       [paginationOptions]="options"
                       [pageInfoState]="versions"
                       [collectionSize]="versions?.totalElements"
                       [retainScrollPosition]="true">
          <table class="table table-striped table-bordered align-middle my-2">
            <thead>
            <tr>
              <th scope="col">{{"item.version.history.table.version" | translate}}</th>
              <th scope="col">{{'item.version.history.table.name' | translate}}</th>
              <th scope="col">{{'item.version.history.table.handle' | translate}}</th>
            </tr>
            </thead>
            <tbody *ngFor="let versionWithRelations of gelAllVersions(versions?.page)?.value" [id]="'version-row-' + versionWithRelations?.version.id">
            <tr *ngFor="let relationNameHandle of versionWithRelations?.isreplacedby">
              <ng-container *ngIf="versionWithRelations?.isreplacedby?.length != 0">
                <td></td>
                <td><a [href]="relationNameHandle.handle">{{getNameFromHandle(relationNameHandle.handle)}}</a></td>
                <td><a [href]="relationNameHandle.handle">{{relationNameHandle.handle}}</a></td>
              </ng-container>
            </tr>
            <tr>
              <td class="version-row-element-version">
                <!-- Get the ID of the workspace/workflow item (`undefined` if they don't exist).
                Conditionals inside *ngVar are needed in order to avoid useless calls. -->
                <ng-container *ngVar="((hasDraftVersion$ | async) ? getWorkspaceId(versionWithRelations?.version?.item) : undefined) as workspaceId$">
                  <ng-container *ngVar=" ((workspaceId$ | async) ? undefined : getWorkflowId(versionWithRelations?.version?.item)) as workflowId$">

                    <div class="left-column">

                      <span *ngIf="(workspaceId$ | async) || (workflowId$ | async); then versionNumberWithoutLink else versionNumberWithLink"></span>
                      <ng-template #versionNumberWithLink>
                        <a [routerLink]="getVersionRoute(versionWithRelations?.version.id)">{{versionWithRelations?.version.version}}</a>
                      </ng-template>
                      <ng-template #versionNumberWithoutLink>
                        {{versionWithRelations?.version.version}}
                      </ng-template>
                      <span *ngIf="versionWithRelations?.version?.id === itemVersion?.id">*</span>

                      <span *ngIf="workspaceId$ | async" class="text-light badge badge-primary ml-3">
                      {{ "item.version.history.table.workspaceItem" | translate }}
                    </span>

                      <span *ngIf="workflowId$ | async" class="text-light badge badge-info ml-3">
                      {{ "item.version.history.table.workflowItem" | translate }}
                    </span>

                    </div>

                    <div class="right-column">

                      <div class="btn-group edit-field space-children-mr" *ngIf="displayActions">
                        <!--EDIT WORKSPACE ITEM-->
                        <button class="btn btn-outline-primary btn-sm version-row-element-edit"
                                *ngIf="workspaceId$ | async"
                                (click)="editWorkspaceItem(workspaceId$)"
                                title="{{'item.version.history.table.action.editWorkspaceItem' | translate }}">
                          <i class="fas fa-pencil-alt fa-fw"></i>
                        </button>
                        <!--CREATE-->
                        <ng-container *ngIf="canCreateVersion$ | async">
                          <button class="btn btn-outline-primary btn-sm version-row-element-create"
                                  [disabled]="isAnyBeingEdited() || (hasDraftVersion$ | async)"
                                  (click)="createNewVersion(versionWithRelations?.version)"
                                  title="{{createVersionTitle$ | async | translate }}">
                            <i class="fas fa-code-branch fa-fw"></i>
                          </button>
                        </ng-container>
                        <!--DELETE-->
                        <ng-container *ngIf="canDeleteVersion$(versionWithRelations?.version) | async">
                          <button class="btn btn-sm version-row-element-delete"
                                  [ngClass]="isAnyBeingEdited() ? 'btn-outline-primary' : 'btn-outline-danger'"
                                  [disabled]="isAnyBeingEdited()"
                                  (click)="deleteVersion(versionWithRelations?.version, versionWithRelations?.version.id==itemVersion.id)"
                                  title="{{'item.version.history.table.action.deleteVersion' | translate}}">
                            <i class="fas fa-trash fa-fw"></i>
                          </button>
                        </ng-container>
                      </div>

                    </div>

                  </ng-container>
                </ng-container>
              </td>
              <td class="version-row-element-name">
              <span>
                <a [href]="(getItemHandleFromVersion(versionWithRelations?.version) | async)">
                  {{getItemNameFromVersion(versionWithRelations?.version) | async }}
                </a>
              </span>
              </td>
              <td class="version-row-element-handle" *ngVar="(getItemHandleFromVersion(versionWithRelations?.version) | async) as itemHandle">
                <span><a [href]="itemHandle">{{itemHandle}}</a></span>
              </td>
            </tr>
            <tr *ngFor="let relationNameHandle of versionWithRelations?.replaces" >
              <ng-container *ngIf="versionWithRelations?.replaces?.length != 0 " >
                <td></td>
                <td><a [href]="relationNameHandle.handle">{{getNameFromHandle(relationNameHandle.handle)}}</a></td>
                <td><a [href]="relationNameHandle.handle">{{relationNameHandle.handle}}</a></td>
              </ng-container>
            </tr>
            </tbody>
          </table>
          <div>*&nbsp;{{"item.version.history.selected" | translate}}</div>
        </ds-pagination>
        <ds-alert *ngIf="!itemVersion || versions?.page?.length === 0" [content]="'item.version.history.empty'"
                  [type]="AlertTypeEnum.Info"></ds-alert>
      </div>
    </div>
  </div>
</ng-template>

