.autocomplete {
    width: 100%;

    .dropdown-item {
        white-space: normal;
        word-break: break-word;
        padding: $input-padding-y $input-padding-x;
        position: relative;

        &:focus {
            outline: none;
        }

        .click-blocker {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}

form {
    position: relative;
    .dropdown-menu {
        position: absolute;
    }
}