<div class="container">
    <h3 class="mb-4">{{'grant-deny-request-copy.header' | translate}}</h3>
    <p>{{'grant-deny-request-copy.intro' | translate}}</p>


    <div class="btn-group ">
        <a [routerLink]="'/grant'"
                class="btn btn-outline-danger"
                title="{{'grant-deny-request-copy.grant' | translate }}">
            {{'grant-deny-request-copy.grant' | translate }}
        </a>

        <a [routerLink]="'/deny'"
                class="btn btn-outline-primary"
                title="{{'grant-deny-request-copy.deny' | translate }}">
            {{'grant-deny-request-copy.deny' | translate }}
        </a>
    </div>

</div>