<div class="m-1">
  <div class="export-buttons-container mb-2" *ngIf="hasData">
    <button class="btn btn-secondary mr-2" [dsBtnDisabled]="(isLoading | async) || (isSecondLoading | async)" (click)="exportExcel()">
      <span *ngIf="(isLoading | async)"><i class="fas fa-circle-notch fa-spin"></i> {{'loading.default' | translate}}</span>
      <span *ngIf="!(isLoading | async)"><i class="fas fa-file-export fa-fw"></i> {{'statistics.export.excel' | translate}}</span>
    </button>
    <button class="btn btn-secondary mr-2" [dsBtnDisabled]="(isLoading | async) || (isSecondLoading | async)" (click)="exportCsv()">
      <span *ngIf="(isSecondLoading | async)"><i class="fas fa-circle-notch fa-spin"></i> {{'loading.default' | translate}}</span>
      <span *ngIf="!(isSecondLoading | async)"><i class="fas fa-file-export fa-fw"></i> {{'statistics.export.csv' | translate}}</span>
    </button>
  </div>

  <table *ngIf="hasData else noData" #dataTable id="dataTable" class="table table-striped">
    <tbody>
      <tr>
        <th scope="col" *ngFor="let header of headers" [ngClass]="{'text-right': header === 'views' || header === 'downloads'}" class="{{header}}-header">
          {{ 'statistics.table.' + categoryType + '.header.' + header | translate }}
        </th>
      </tr>

      <tr *ngFor="let point of report.points" class="{{point.id}}-data">
        <th scope="row">
          <ng-container *ngIf="point && point.type && entityTypesToConvertToLink.includes(point.type); else showLabel">
            <a [href]="(point | dsCreateLink) | async">{{ point.label }} </a>
          </ng-container>
          <ng-template #showLabel>
              <span>
                {{ point.label }}
              </span>
          </ng-template>
        </th>
        <td *ngFor="let header of headers | slice:1"
            [ngClass]="{'text-right': header === 'views' || header === 'downloads'}" class="{{point.id}}-{{header}}-data">
          {{ point.values[header] }}
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #noData>
    <ds-alert [type]="'alert-info'" [content]="'statistics.table.no-data'"></ds-alert>
  </ng-template>
</div>
