<div class="m-1">

 <!--  <h3 class="m-1">
    {{ 'statistics.table.title.' + report.reportType | translate }}
  </h3> -->

  <div class="export-buttons-container mb-2" *ngIf="hasData">
    <button class="btn btn-primary mr-2" [disabled]="isLoading || isSecondLoading" (click)="exportExcel()">
      <span *ngIf="isLoading"><i class='fas fa-circle-notch fa-spin'></i>
              {{'loading.default' | translate}}
      </span>
      Export Excel
    </button>
      <button class="btn btn-primary mr-2" [disabled]="isLoading || isSecondLoading" (click)="exportCsv()">
      <span *ngIf="isSecondLoading"><i class='fas fa-circle-notch fa-spin'></i>
              {{'loading.default' | translate}}
      </span>
      Export CSV
    </button>
  </div>

  <table *ngIf="hasData" #dataTable id="dataTable" class="table table-striped">

    <tbody>

    <tr>
      <th scope="col"
          *ngFor="let header of headers"
          class="{{header}}-header">
        {{ header }}
      </th>
    </tr>

    <tr *ngFor="let point of report.points"
        class="{{point.id}}-data">
      <th scope="row">
        {{ point.label }}
      </th>
      <td class="{{point.id}}-{{headers[1]}}-data">
        {{ point.values[headers[1]] }}
      </td>
    </tr>

    </tbody>

  </table>

</div>
