<div class="container">
  <div class="d-flex">
    <h1 class="flex-grow-1">{{'audit.object.overview.title' | translate}}</h1>
  </div>

  @if (objectId$ | async) {
    <div class="h4 my-4">
      <a [routerLink]="objectRoute">{{ objectName }}</a>
    </div>
    @if ((auditsRD$ | async)?.payload; as audits) {
      <ds-audit-table
        [audits]="audits"
        [pageConfig]="pageConfig"
        [object]="object"
      ></ds-audit-table>
    }
    <button class="btn btn-light mt-3" (click)="goBack()">
      <i class="fas fa-arrow-left"></i>{{ 'audit.object.back' | translate }}
    </button>
    @if ((auditsRD$ | async)?.statusCode === 404) {
      <h2 class="h4 mt-4 mb-4">{{'audit.object.overview.disabled.message' | translate}}</h2>
    }
  }

</div>
