.close {
  opacity: 0.75;
  &:focus {
    outline: none !important;
  box-shadow: none !important;
}

.btn-link:focus {
  outline: none !important;
  box-shadow: none !important;
}

.collapse:not(.show) {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  }
}
button.close {
  opacity: 0.6;
}
