.close:focus, .btn-link:focus {
  outline: none !important;
  box-shadow: none !important;
}

.collapse:not(.show) {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
