  <!-- Personal Information form -->
  <div class="m-main mobile-section-account">
  <div class="white-card-box h-full-100">
    <div class="gray-title h-65">
     <div class="left-penal">
         <h5>my booked trips</h5>
     </div>
    </div>
    <div class="content-card-band small-content upcoming-trip-band">
      <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-6 col-xl-4">
                   <div class="booked-trip-card">
                    <div class="top-band">
                        <div class="user-trip-info d-flex align-items-center">
                            <div class="user">
                              <span class="user-name">J</span>
                            </div>
                            <p class="days ml-10">7 days With Family</p>
                          </div>
                    </div>
                    <div class="bottom-band mt-15">
                          <h5 class="trip-name">Vancouver,Canada</h5>
                          <div class="date">02 Aug 2023</div>
                          <div class="action-band mt-10 d-flex align-items-center">
                            <button class="primary-btn icon-btn W-fit-content d-flex align-items-center bg-white" type="button"><img src="assets/icons/invoice.svg">View invoice</button>
                            <button class="round-icon-btn map-btn" type="button"><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_map"></mat-icon></button>
                          </div>
                    </div>

                   </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-6 col-xl-4">
                  <div class="booked-trip-card">
                    <div class="top-band">
                        <div class="user-trip-info d-flex align-items-center">
                            <div class="user">
                              <span class="user-name">J</span>
                            </div>
                            <p class="days ml-10">10 days With Friends</p>
                          </div>
                    </div>
                    <div class="bottom-band mt-15">
                          <h5 class="trip-name">Toronto ,Canada</h5>
                          <div class="date">05 Aug 2023</div>
                          <div class="action-band mt-10 d-flex align-items-center">
                            <button class="primary-btn icon-btn W-fit-content d-flex align-items-center bg-white" type="button"><img src="assets/icons/invoice.svg">View invoice</button>
                            <button class="round-icon-btn map-btn" type="button"><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_map"></mat-icon></button>
                          </div>
                    </div>

                   </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-6 col-xl-4">
                  <div class="booked-trip-card">
                    <div class="top-band">
                        <div class="user-trip-info d-flex align-items-center">
                            <div class="user">
                              <span class="user-name">J</span>
                            </div>
                            <p class="days ml-10">14 days With Friends</p>
                          </div>
                    </div>
                    <div class="bottom-band mt-15">
                          <h5 class="trip-name">halifax,Canada</h5>
                          <div class="date">08 Aug 2023</div>
                          <div class="action-band mt-10 d-flex align-items-center">
                            <button class="primary-btn icon-btn W-fit-content d-flex align-items-center bg-white" type="button"><img src="assets/icons/invoice.svg">View invoice</button>
                            <button class="round-icon-btn map-btn" type="button"><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_map"></mat-icon></button>
                          </div>
                    </div>

                   </div>
                </div>
                
            </div>
      </div>
    </div>
 </div>
 </div>