  <div class="modal-header">
    <h4 class="modal-title">{{'context-menu.actions.subscription.title' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('cancel')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div *ngIf="!!subscriptionForm" class="modal-body">
    <form [formGroup]="subscriptionForm">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <div class="col-md-12">
                   <div class="custom-control custom-checkbox">
                    <label class="checkbox-label">
                      {{ subscriptionForm.get('type').value == 'content' ? 'Content:' : 'Statistics:' }}
                    </label>
                  </div>
              </div>
              <div class="col-md-12" *ngFor="let frequency of frequencies; let j=index">
                  <input [id]="'checkbox-'+j" (change)="selectCheckbox($event,frequency.value)" [checked]="getIsChecked(frequency)" value="{{frequency.value}}" type="checkbox" /> 
                  <label [for]="'checkbox-'+j">{{ 'context-menu.actions.subscription.'+frequency.name | translate }}</label>
              </div>
              <div *ngIf="!!submitted" class="alert">
                <div *ngIf="subscriptionForm.get('subscriptionParameterList').errors?.required">
                  {{ 'context-menu.actions.subscription.frequency.required' | translate }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-outline-secondary" (click)="c('cancel')">{{'context-menu.actions.request-correction.confirm.cancel' | translate}}</button>

    <button type="button" (click)="submit()" class="btn btn-success" [disabled]="(processing$ | async)">
      <span *ngIf="(processing$ | async)"><i class='fas fa-circle-notch fa-spin'></i> {{'submission.workflow.tasks.generic.processing' | translate}}</span>
      <span *ngIf="!(processing$ | async)">{{'context-menu.actions.subscription.confirm.submit' | translate}}</span>
    </button>
    
  </div>