<ng-template #rt let-r="result" let-t="term">
  {{ r.display}}
</ng-template>

<ds-chips
  [chips]="model.chips"
  (selected)="chipsSelected($event)"
  (remove)="removeChips($event)"
></ds-chips>

<input
  *ngIf="!searchOptions"
  type="text"
  placeholder="Enter a tag..."
  (keyup)="onKeyUp($event)"
  (change)="$event.stopPropagation()"
  [(ngModel)]="inputText"
/>

<input
  *ngIf="searchOptions"
  type="text"
  [attr.autoComplete]="model.autoComplete"
  [class.is-invalid]="showErrorMessages"
  [dynamicId]="bindId && model.id"
  [inputFormatter]="formatter"
  [name]="model.name"
  [ngbTypeahead]="search"
  [placeholder]="model.label"
  [resultTemplate]="rt"
  [type]="model.inputType"
  [(ngModel)]="currentValue"
  (blur)="onBlurEvent($event)"
  (focus)="onFocusEvent($event)"
  (change)="$event.stopPropagation()"
  (input)="onInput($event)"
  (selectItem)="onSelectItem($event)"
/>

<hr/>

<br/>
