<button class="btn btn-primary mt-1 mb-3"
        [routerLink]="['/workflowitems/' + workflowitem.id] + '/edit'" >
  <i class="fa fa-edit"></i> {{'mydspace.task.edit-btn' | translate}}</button>

<button type="button"
        class="btn btn-success mt-1 mb-3"
        [disabled]="processingApprove"
        (click)="approve()">
  <span *ngIf="processingApprove"><i class='fa fa-circle-o-notch fa-spin'></i> Processing...</span>
  <span *ngIf="!processingApprove"><i class="fa fa-thumbs-up"></i> {{'mydspace.task.approve-btn' | translate}}</span>
</button>

<button class="btn btn-danger mt-1 mb-3"
        (click)="openRejectModal(rejectModal)" >
  <i class="fa fa-trash"></i> {{'mydspace.task.reject-btn' | translate}}</button>

<button type="button"
        class="btn mt-1 mb-3"
        [disabled]="processingReturnToPool"
        (click)="returnToPool()">
  <span *ngIf="processingReturnToPool"><i class='fa fa-circle-o-notch fa-spin'></i> Processing...</span>
  <span *ngIf="!processingReturnToPool"><i class="fa fa-undo"></i> {{'mydspace.task.return-to-pool-btn' | translate}}</span>
</button>

<ng-template #rejectModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Reject confirm</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="reject(rejectModal);" [formGroup]="rejectForm" >
    <textarea
      style="width: 100%"
      formControlName="reason"
      rows="4"
      placeholder="Describe the reason of reject..."></textarea>
      <!--<button type="button" class="btn btn-secondary" (click)="d('Cancel click')">Cancel</button>-->
      <button
        id="btn-chat"
        class="btn btn-danger btn-lg btn-block mt-3"
        [disabled]="!rejectForm.valid || processingReject"
        type="submit">
        <span *ngIf="processingReject"><i class='fa fa-circle-o-notch fa-spin'></i> Processing...</span>
        <span *ngIf="!processingReject">{{'mydspace.messages.send-btn' | translate}}</span>
      </button>
    </form>
  </div>
  <!--<div class="modal-footer">-->

  <!--<button type="button" class="btn btn-secondary" (click)="c('Cancel click')">Cancel</button>-->
  <!--<button type="button" class="btn btn-danger" (click)="reject(); c('Confirm click')">Confirm</button>-->
  <!--</div>-->
</ng-template>
