<div class="main mt-0 pb-0">
    <div class="bootstrap-wrapper">
        <div class="login-section login-bg m-login-section">
            <div class="action-title m-login-back">
                <button class="back-btn" (click)="back();"><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_back-outline"></mat-icon></button>
            </div>
            <div class="left-penal">
                <div class="text-box">
                    <div class="logo-band">
                        <img src="assets/image/logo-white.svg">
                    </div>
                    <h2 class="m-titile-text">Forgot Password</h2>
                    <h2 class="des-titile-text">Welcome to TripsOn</h2>
                    <p class="m-titile-text">Please enter your email. We'll send you an email with a link to reset your password.</p>
                    <p class="des-titile-text">We,re excited to help you plan your dream vactions and unforgettable adventures once you create your first travel plan, it will appear here for easy access and organization.</p>
                </div>
            </div>

            <div class="right-penal">
                <div class="login-card">
                    <div class="clipart-bg">
                        <img src="assets/image/green-clipart-bg.jpg">
                    </div>
                    <div class="login-band">
                        <div class="action-title des-login-back">
                            <button class="back-btn" routerLink="/login"><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_back-outline"></mat-icon></button>
                        </div>
                    <div class="titile-band">
                        <h4>Forgot Password</h4>
                        <p>Please enter your email. We'll send you an email with a link to reset your password.</p>
                    </div>
                    <div class="form-band">
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" required="required" autocomplete="off" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                    placeholder="Enter Your Email" formControlName="email" />
                                    <mat-error class="tooltrip-message-box alert-box" *ngIf="submitted && loginForm.get('email').errors?.required" @fadeIn @fadeOut>
                                        <mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_alert-msg"></mat-icon>  *Required!
                                    </mat-error>
                                    <mat-error class="tooltrip-message-box warning-box" *ngIf="submitted && loginForm.get('email').errors?.pattern" @fadeIn @fadeOut>
                                            <mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_warning-msg"></mat-icon> *Please Enter Valid Email
                                    </mat-error>
                        </div>
                        <!-- <div class="error-message" *ngIf="loginForm.get('email').hasError('email')">
                            Invalid email format.
                        </div> -->
                        <div class="form-action">
                        <button type="submit" class="primary-btn">Reset</button>
                        <p>Dont have an account?<a routerLink="/signup">Sign up</a></p>
                        </div>
                    </form>
                    </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>