<ds-alert [type]="'alert-info'" *ngIf="hasNoData()" [content]="'submission.sections.sherpa-policy.title-empty'">
</ds-alert>

<div *ngIf="!hasNoData()" class="refresh-container mt-2 mb-2">
    <button type="button" class="btn btn-secondary pull-right" (click)="refresh()">
        <span><i class="fas fa-sync"></i> {{'submission.sections.sherpa.publisher.policy.refresh' | translate}} </span>
    </button>
</div>

<ng-container *ngVar="(sherpaPoliciesData$ | async)?.sherpaResponse as sherpaData">
    <ng-container *ngIf="!hasNoData()">
        <ng-container *ngFor="let journal of sherpaData.journals;let j=index;">
            <div class="mb-3 border-bottom" data-test="collapse">
                <div class="w-100 d-flex justify-content-between collapse-toggle" (click)="collapse.toggle()">
                    <button type="button" class="btn btn-link p-0" (click)="$event.preventDefault()"
                        [attr.aria-expanded]="!collapse.collapsed" aria-controls="collapseExample">
                        {{'submission.sections.sherpa.publication.information' | translate}}
                    </button>
                    <div class="d-inline-block">
                        <span *ngIf="collapse.collapsed" class="fas fa-chevron-down"></span>
                        <span *ngIf="!collapse.collapsed" class="fas fa-chevron-up"></span>
                    </div>
                </div>
                <div #collapse="ngbCollapse" [ngbCollapse]="isCollapsed">
                    <ds-publication-information [journal]="journal"></ds-publication-information>
                </div>
            </div>
            <div *ngFor="let policy of journal.policies; let p=index;" class="mb-3 border-bottom" data-test="collapse">
                <div class="w-100 d-flex justify-content-between collapse-toggle" (click)="collapse.toggle()">
                    <button type="button" class="btn btn-link p-0" (click)="$event.preventDefault()"
                        [attr.aria-expanded]="!collapse.collapsed" aria-controls="collapseExample">
                        {{'submission.sections.sherpa.publisher.policy' | translate}}
                    </button>
                    <div class="d-inline-block">
                        <span *ngIf="collapse.collapsed" class="fas fa-chevron-down"></span>
                        <span *ngIf="!collapse.collapsed" class="fas fa-chevron-up"></span>
                    </div>
                </div>
                <div #collapse="ngbCollapse" [ngbCollapse]="isCollapsed">
                    <ds-publisher-policy [policy]="policy"></ds-publisher-policy>
                </div>
            </div>
        </ng-container>

        <div class="mb-3 border-bottom" data-test="collapse">
            <div class="w-100 d-flex justify-content-between collapse-toggle" (click)="collapse.toggle()">
                <button type="button" class="btn btn-link p-0" (click)="$event.preventDefault()"
                    [attr.aria-expanded]="!collapse.collapsed" aria-controls="collapseExample">
                    {{'submission.sections.sherpa.record.information' | translate}}
                </button>
                <div class="d-inline-block">
                    <span *ngIf="collapse.collapsed" class="fas fa-chevron-down"></span>
                    <span *ngIf="!collapse.collapsed" class="fas fa-chevron-up"></span>
                </div>
            </div>
            <div #collapse="ngbCollapse" [ngbCollapse]="isCollapsed">
                <ds-metadata-information [metadata]="sherpaData.metadata"></ds-metadata-information>
            </div>
        </div>
    </ng-container>

</ng-container>