<h2 class="item-page-title-field">
  {{'Person: ' | translate}}<ds-metadata-values [mdValues]="item?.allMetadata(['dc.contributor.author'])"></ds-metadata-values>
</h2>
<div class="row">
  <div class="col-xs-12 col-md-4">
    <ds-metadata-field-wrapper>
      <ds-thumbnail [thumbnail]="this.item.getThumbnail() | async" [defaultImage]="'assets/images/person-placeholder.svg'"></ds-thumbnail>
    </ds-metadata-field-wrapper>
    <ds-generic-item-page-field [item]="item"
      [fields]="['person.identifier.email']"
      [label]="'Email Address'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="item"
      [fields]="['person.identifier.orcid']"
      [label]="'ORCID'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="item"
      [fields]="['person.identifier.birthdate']"
      [label]="'Birth Date'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="item"
      [fields]="['person.identifier.staffid']"
      [label]="'Staff ID'">
    </ds-generic-item-page-field>
  </div>
  <div class="col-xs-12 col-md-6">
    <ds-related-items
      [items]="projects$ | async"
      [label]="'Research Projects' | translate">
    </ds-related-items>
    <ds-related-items
      [items]="orgUnits$ | async"
      [label]="'Organizational Units' | translate">
    </ds-related-items>
    <ds-generic-item-page-field [item]="item"
      [fields]="['person.identifier.jobtitle']"
      [label]="'Job Title'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="item"
      [fields]="['person.identifier.lastname']"
      [label]="'Last Name'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="item"
      [fields]="['person.identifier.firstname']"
      [label]="'First Name'">
    </ds-generic-item-page-field>
    <div>
      <a class="btn btn-outline-primary" [routerLink]="['/items/' + item.id + '/full']">
        {{ 'Full item page' | translate}}
      </a>
    </div>
  </div>
  <div class="mt-5 w-100">
    <ds-related-entities-search [item]="item"
      [relationType]="'isAuthorOfPublication'">
    </ds-related-entities-search>
  </div>
</div>
