<h2 class="item-page-title-field">
  {{'Research Project: ' | translate}}<ds-metadata-values [mdValues]="item?.allMetadata(['project.identifier.name'])"></ds-metadata-values>
</h2>
<div class="row">
  <div class="col-xs-12 col-md-4">
    <ds-metadata-field-wrapper>
      <ds-thumbnail [thumbnail]="this.item.getThumbnail() | async" [defaultImage]="'assets/images/project-placeholder.svg'"></ds-thumbnail>
    </ds-metadata-field-wrapper>
    <ds-generic-item-page-field [item]="item"
      [fields]="['project.identifier.status']"
      [label]="'Status'">
    </ds-generic-item-page-field>
    <ds-metadata-representation-list
      [label]="'Contributors' | translate"
      [representations]="contributors$ | async">
    </ds-metadata-representation-list>
    <ds-generic-item-page-field [item]="item"
      [fields]="['project.identifier.funder']"
      [label]="'Funders'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="item"
      [fields]="['project.identifier.id']"
      [label]="'ID'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="item"
      [fields]="['project.identifier.expectedcompletion']"
      [label]="'Expected Completion'">
    </ds-generic-item-page-field>
  </div>
  <div class="col-xs-12 col-md-6">
    <ds-related-items
      [items]="people$ | async"
      [label]="'Authors' | translate">
    </ds-related-items>
    <ds-related-items
      [items]="publications$ | async"
      [label]="'Publications' | translate">
    </ds-related-items>
    <ds-related-items
      [items]="orgUnits$ | async"
      [label]="'Organizational Units' | translate">
    </ds-related-items>
    <ds-generic-item-page-field [item]="item"
      [fields]="['project.identifier.description']"
      [label]="'Description'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="item"
      [fields]="['project.identifier.keyword']"
      [label]="'Keywords'">
    </ds-generic-item-page-field>
    <div>
      <a class="btn btn-outline-primary" [routerLink]="['/items/' + item.id + '/full']">
        {{ 'Full item page' | translate}}
      </a>
    </div>
  </div>
</div>
