  <!-- Personal Information form -->
  <div class="m-main mobile-section-account">
  <div class="white-card-box h-full-100">
    <div class="gray-title h-65">
     <div class="left-penal">
         <h5>Settings</h5>
     </div>
    </div>
    <div class="content-card-band small-content settings-band">
      <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-6">
                    <div class="small-white-card" routerLink="/privacy-policy">
                        <div class="left-penal">
                            <div class="icon-round-band green-bg">
                                <img src="assets/icons/privacy-policy.png">
                            </div>
                            
                        </div>
                        <div class="right-penal">
                            <div class="text-band">
                                <h6>Privacy policy</h6>
                                <p>Exercise your privacy rights and control how your data is used.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="small-white-card" routerLink="/terms-&-condition">
                        <div class="left-penal">                          
                            <div class="icon-round-band orange-bg">
                                <img src="assets/icons/terms-&-condition.png">
                            </div>
                        </div>
                        <div class="right-penal">
                            <div class="text-band">
                                <h6>terms & condition</h6>
                                <p>Securely add or remove payment methods to make it easier when you book.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="small-white-card"  routerLink="/help"> 
                        <div class="left-penal">
                            <div class="icon-round-band yellow-bg">
                                <img src="assets/icons/help.png">
                            </div>
                        </div>
                        <div class="right-penal">
                            <div class="text-band">
                                <h6>help & FAQ</h6>
                                <p>Decide what you want to be notified about, and unsubscribe from what you don't.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       
      </div>
    </div>
 </div>


</div>