  <div class="add" *ngIf="!(moreThanOne$ | async)">
    <button class="btn btn-md btn-outline-primary" type="button"
        attr.aria-label="{{'mydspace.new-bulk-import' | translate}}"
        title="{{'mydspace.new-bulk-import' | translate}}"
        (click)="openDialog(singleEntity)">
        <i class="fa fa-file-upload" aria-hidden="true"></i>
        {{'mydspace.new-bulk-import' | translate}}
    </button>
  </div>
  <div class="add w-100" display="dynamic" placement="bottom-right"
       ngbDropdown
       *ngIf="(moreThanOne$ | async)">
    <button class="btn btn-md btn-outline-primary" id="dropdownSubmission" ngbDropdownToggle
            type="button" [dsBtnDisabled]="!(initialized$|async)"
            attr.aria-label="{{'mydspace.new-bulk-import' | translate}}"
            title="{{'mydspace.new-bulk-import' | translate}}">
      <i class="fa fa-file-upload" aria-hidden="true"></i>
      {{'mydspace.import' | translate}}
      <span class="caret"></span>
    </button>
    <div ngbDropdownMenu
         class="dropdown-menu"
         id="entityControlsDropdownMenu"
         aria-labelledby="dropdownSubmission">
      <ds-entity-dropdown [isSubmission]="false" (selectionChange)="openDialog($event)"></ds-entity-dropdown>
    </div>
  </div>
