@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.notifications-wrapper {
  width: 300px;
  z-index: 1051;
}

.notifications-wrapper.left {
  left: 20px;
}

.notifications-wrapper.top {
  top: 20px;
}

.notifications-wrapper.right {
  right: 20px;
}

.notifications-wrapper.bottom {
  bottom: 20px;
}

.notifications-wrapper.center {
  left: 50%;
  transform: translateX(-50%);
}

.notifications-wrapper.middle {
  top: 50%;
  transform: translateY(-50%);
}

.notifications-wrapper.middle.center {
  transform: translate(-50%, -50%);
}

@media screen and (max-width: map-get($grid-breakpoints, sm)) {
  .notifications-wrapper {
    width: auto;
    left: 20px;
    right: 20px;
  }
}
