<ng-container *ngIf="(canDownload$ | async)">
    <ng-container *ngVar="bitstreamPath$ | async as downloadLink">
        <a [routerLink]="downloadLink?.routerLink" [queryParams]="downloadLink?.queryParams" class="btn btn-primary"
            data-test="download">
            <i class="fas fa-download"></i>
            {{ 'cris-layout.advanced-attachment.download' | translate }}</a>
    </ng-container>
</ng-container>
<ng-container *ngIf="!(canDownload$ | async)">
    <ng-container *ngVar="bitstreamPath$ | async as requestACopyLink">
        <a [routerLink]="requestACopyLink?.routerLink" [queryParams]="requestACopyLink?.queryParams"
            class="btn btn-primary" data-test="requestACopy">{{ 'cris-layout.advanced-attachment.requestACopy' |
            translate }}</a>
    </ng-container>
</ng-container>