<div class="container">
    <form (ngSubmit)="onSubmit()" [formGroup]="formModel">
        <div class="d-flex">
            <h2 class="flex-grow-1">{{ 'ldn-create-service.title' | translate }}</h2>
        </div>
        <!-- In the name section -->
        <div class="mb-2">
            <label for="name">{{ 'ldn-new-service.form.label.name' | translate }}</label>
            <input [class.invalid-field]="formModel.get('name').invalid && formModel.get('name').touched"
                   [placeholder]="'ldn-new-service.form.placeholder.name' | translate" formControlName="name" id="name"
                   name="name"
                   type="text">
        </div>

        <div class="mb-4">
            &nbsp;
        </div>

        <!-- In the description section -->
        <div class="mb-2 d-flex flex-column">
            <label for="description">{{ 'ldn-new-service.form.label.description' | translate }}</label>
            <textarea [placeholder]="'ldn-new-service.form.placeholder.description' | translate"
                      formControlName="description" id="description" name="description"></textarea>
        </div>

        <div class="mb-4">
            &nbsp;
        </div>

        <!-- In the url section -->
        <div class="mb-2">
            <label for="url">{{ 'ldn-new-service.form.label.url' | translate }}</label>
            <input [class.invalid-field]="formModel.get('url').invalid && formModel.get('url').touched"
                   [placeholder]="'ldn-new-service.form.placeholder.url' | translate" formControlName="url" id="url"
                   name="url"
                   type="text">
        </div>

        <div class="mb-4">
            &nbsp;
        </div>

        <!-- In the ldnUrl section -->
        <div class="mb-2">
            <label for="ldnUrl">{{ 'ldn-new-service.form.label.ldnUrl' | translate }}</label>
            <input [class.invalid-field]="formModel.get('ldnUrl').invalid && formModel.get('ldnUrl').touched"
                   [placeholder]="'ldn-new-service.form.placeholder.ldnUrl' | translate" formControlName="ldnUrl"
                   id="ldnUrl"
                   name="ldnUrl"
                   type="text">
        </div>

        <div class="mb-4">
            &nbsp;
        </div>

        <!-- In the Inbound Patterns section -->
        <div class="row">
            <div class="col">
                <label>{{ 'ldn-new-service.form.label.inboundPattern' | translate }} </label>
            </div>
            <div class="col">
                <label>{{ 'ldn-new-service.form.label.ItemFilter' | translate }}</label>
            </div>
            <div class="col-sm-1 ">
                <label class="">{{ 'ldn-new-service.form.label.automatic' | translate }}</label>
            </div>
            <div class="col-sm-1">
            </div>
        </div>

        <div *ngFor="let patternGroup of formModel.get('notifyServiceInboundPatterns')['controls']; let i = index"
             formGroupName="notifyServiceInboundPatterns">

            <ng-container [formGroupName]="i">


                <div class="row mb-1">
                  <div class="col">
                    <div ngbDropdown #inboundPatternDropdown="ngbDropdown" class="w-100"  id="additionalInboundPattern{{i}}">
                      <div class="position-relative right-addon" role="combobox">
                        <i ngbDropdownToggle class="position-absolute scrollable-dropdown-toggle"
                             aria-hidden="true">

                        </i>
                        <input
                            formControlName="pattern"
                            type="text"
                            [readonly]="true"
                            ngbDropdownAnchor
                            class="form-control w-100 scrollable-dropdown-input"
                            [value]="selectedInboundPatterns"
                            (click)="inboundPatternDropdown.open();"
                            id="inboundPatternDropdownButton"
                        />

                        <!-- Main label TODO: remove after developing done cause it will pick the selected value to show -->
                        <div>{{ selectedInboundPatterns ? ('ldn-service.form.pattern.' + selectedInboundPatterns + '.label' | translate) : ('ldn-new-service.form.label.placeholder.inboundPattern' | translate) }}</div>
                        <div class="small-text">{{ selectedInboundPatterns ? ('ldn-service.form.pattern.' + selectedInboundPatterns + '.description' | translate) : ('' | translate) }}</div>
                        <!-- TODO: infinite scroll with 3 selects -->
                        <div ngbDropdownMenu aria-labelledby="inboundPatternDropdownButton">
                          <button type="button" ngbDropdownItem *ngFor="let pattern of outboundPatterns; let internalIndex = index"  (click)="selectInboundPattern(pattern, i); $event.stopPropagation()">
                            <div>{{ 'ldn-service.form.pattern.'+pattern+'.label' | translate }}</div>
                            <div class="small-text">{{ 'ldn-service.form.pattern.'+pattern+'.description' | translate }}</div>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>


                    <div class="col">
                        <ng-container *ngIf="!!(formModel.get('notifyServiceInboundPatterns')['controls'][i].value.pattern)">
                          <div #inboundItemfilterDropdown="ngbDropdown" class="w-100" id="constraint{{i}}" ngbDropdown>
                            <div class="position-relative right-addon" role="combobox">
                              <i aria-hidden="true" class="position-absolute scrollable-dropdown-toggle"
                                 ngbDropdownToggle></i>
                              <input
                                (click)="inboundItemfilterDropdown.open();"
                                [readonly]="true"
                                [value]="selectedInboundItemfilters"
                                class="form-control w-100 scrollable-dropdown-input"
                                formControlName="constraint"
                                id="inboundItemfilterDropdown"
                                ngbDropdownAnchor
                                type="text"
                              />

                              <div>{{ selectedInboundItemfilters ? ('ldn-service.form.pattern.' + selectedInboundItemfilters + '.label' | translate) : ('ldn-new-service.form.label.placeholder.inboundPattern' | translate) }}</div>
                              <div
                                class="small-text">{{ selectedInboundItemfilters ? ('ldn-service.form.pattern.' + selectedInboundItemfilters + '.description' | translate) : ('' | translate) }}</div>
                              <!-- TODO: infinite scroll with 3 selects -->
                              <div aria-labelledby="inboundItemfilterDropdownButton" ngbDropdownMenu>
                                <button (click)="selectInboundItemFilter(constraint.id, i); $event.stopPropagation()"
                                        *ngFor="let constraint of (itemfiltersRD$ | async)?.payload?.page; let internalIndex = index"
                                        ngbDropdownItem
                                        type="button">
                                  <div>{{ constraint.id }}</div>
                                </button>
                              </div>
                            </div>
                          </div>
                        </ng-container>
                    </div>

                    <div [style.visibility]="formModel.get('notifyServiceInboundPatterns')['controls'][i]?.value?.pattern ? 'visible' : 'hidden'" class="col-sm-1">
                        <input formControlName="automatic" hidden id="automatic{{i}}" name="automatic{{i}}"
                               type="checkbox">
                        <div (click)="toggleAutomatic(i)"
                             [class.checked]="formModel.get('notifyServiceInboundPatterns.' + i + '.automatic').value"
                             class="toggle-switch">
                            <div class="slider"></div>
                        </div>
                    </div>

                    <div class="col-sm-1">
                        <button (click)="removeInboundPattern(i)" class="btn btn-outline-dark trash-button">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>

                </div>
            </ng-container>
        </div>

        <span (click)="addInboundPattern()"
              class="add-pattern-link mb-2">{{ 'ldn-new-service.form.label.addPattern' | translate }}</span>


        <div class="mb-4">
            &nbsp;
        </div>

        <!-- In the Outbound Patterns section -->
        <div class="row">
            <div class="col">
                <label>{{ 'ldn-new-service.form.label.outboundPattern' | translate }}</label>
            </div>
            <div class="col">
                <label class="">{{ 'ldn-new-service.form.label.ItemFilter' | translate }}</label>
            </div>
            <div class="col-sm-1 ">
            </div>
            <div class="col-sm-1 ">
            </div>
        </div>

        <div *ngFor="let patternGroup of formModel.get('notifyServiceOutboundPatterns')['controls']; let i = index"
             formGroupName="notifyServiceOutboundPatterns">

            <ng-container [formGroupName]="i">

                <!-- Input elements in a separate row -->
                <div class="row mb-1">
                    <div class="col">
                      <div ngbDropdown #outboundPatternDropdown="ngbDropdown" class="w-100"  id="additionalOutboundPattern{{i}}">
                        <div class="position-relative right-addon" role="combobox">
                          <i ngbDropdownToggle class="position-absolute scrollable-dropdown-toggle"
                             aria-hidden="true"></i>
                          <input
                            formControlName="pattern"
                            type="text"
                            [readonly]="true"
                            ngbDropdownAnchor
                            class="form-control w-100 scrollable-dropdown-input"
                            [value]="selectedOutboundPatterns"
                            (click)="outboundPatternDropdown.open();"
                            id="outboundPatternDropdownButton"
                          />

                          <!-- Main label TODO: remove after developing done cause it will pick the selected value to show -->
                          <div>{{ selectedOutboundPatterns ? ('ldn-service.form.pattern.' + selectedOutboundPatterns + '.label' | translate) : ('ldn-new-service.form.label.placeholder.outboundPattern' | translate) }}</div>
                          <div class="small-text">{{ selectedOutboundPatterns ? ('ldn-service.form.pattern.' + selectedOutboundPatterns + '.description' | translate) : ('' | translate) }}</div>
                          <!-- TODO: infinite scroll with 3 selects -->
                          <div ngbDropdownMenu aria-labelledby="outboundPatternDropdownButton">
                            <button type="button" ngbDropdownItem *ngFor="let pattern of outboundPatterns" (click)="selectOutboundPattern(pattern, i); $event.stopPropagation()">
                              <div>{{ 'ldn-service.form.pattern.'+pattern+'.label' | translate }}</div>
                                <div class="small-text">{{ 'ldn-service.form.pattern.'+pattern+'.description' | translate }}</div>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col">
                        <ng-container *ngIf="!!(formModel.get('notifyServiceOutboundPatterns')['controls'][i].value.pattern)">
                          <div #outboundItemfilterDropdown="ngbDropdown" class="w-100" id="constraint{{i}}" ngbDropdown>
                            <div class="position-relative right-addon" role="combobox">
                              <i aria-hidden="true" class="position-absolute scrollable-dropdown-toggle"
                                 ngbDropdownToggle></i>
                              <input
                                (click)="outboundItemfilterDropdown.open();"
                                [readonly]="true"
                                [value]="selectedOutboundItemfilters"
                                class="form-control w-100 scrollable-dropdown-input"
                                formControlName="constraint"
                                id="outboundItemfilterDropdown"
                                ngbDropdownAnchor
                                type="text"
                              />
                              <!-- TODO: infinite scroll with 3 selects -->
                              <div aria-labelledby="outboundItemfilterDropdownButton" ngbDropdownMenu>
                                <button (click)="selectOutboundItemFilter(constraint.id, i); $event.stopPropagation()"
                                        *ngFor="let constraint of (itemfiltersRD$ | async)?.payload?.page; let internalIndex = index"
                                        ngbDropdownItem
                                        type="button">
                                  <div>{{ constraint.id }}</div>
                                </button>
                              </div>
                            </div>
                          </div>
                        </ng-container>
                    </div>

                  <div [style.visibility]="'hidden'" class="col-sm-1">
                    <input hidden id="automatic{{i}}" name="automatic{{i}}"
                           type="checkbox">
                    <div
                         class="toggle-switch">
                      <div class="slider"></div>
                    </div>
                  </div>

                    <div class="col-sm-1">
                        <button (click)="removeOutboundPattern(i)" class="btn btn-outline-dark trash-button">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>
                </div>
            </ng-container>

        </div>

        <span (click)="addOutboundPattern()"
              class="add-pattern-link">{{ 'ldn-new-service.form.label.addPattern' | translate }}
    </span>
        <div class="mb-4">
            &nbsp;
        </div>

        <div aria-label="Basic example" class="submission-form-footer mt-1 mb-1 position-sticky" role="group">
            <button class="btn btn-primary" type="submit">
                <span><i class="fas fa-save"></i> {{ 'ldn-new-service.form.label.submit' | translate }}</span>
            </button>
            <div class="d-flex">
                <button (click)="this.openResetFormModal(this.resetFormModal)" class="btn btn-danger" type="button">
                    <span><i class="fas fa-trash"></i> {{ 'submission.general.discard.submit' | translate }}</span>
                </button>
            </div>
        </div>


    </form>
</div>
<ng-template #confirmModal>

    <div>

        <div class="modal-header">
            <div>
                <h4>{{'service.overview.create.modal' | translate }}</h4>
            </div>
            <button (click)="closeModal()" aria-label="Close"
                    class="close" type="button">
                <span aria-hidden="true">×</span>
            </button>
        </div>

        <div class="modal-body">
            <div>
                {{ 'service.create.body' | translate }}
            </div>
            <div class="mt-4">
                <button (click)="closeModal()" class="btn btn-danger"
                        id="delete-confirm">{{ 'service.refuse.create' | translate }}
                </button>
                <button (click)="createService()"
                        class="btn btn-primary mr-2 custom-btn">{{ 'service.confirm.create' | translate }}
                </button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #resetFormModal>

    <div>

        <div class="modal-header">
            <div>
                <h4>{{'service.create.reset-form.modal' | translate }}</h4>
            </div>
            <button (click)="closeModal()" aria-label="Close"
                    class="close" type="button">
                <span aria-hidden="true">×</span>
            </button>
        </div>

        <div class="modal-body">
            <div>
                {{ 'service.create.reset-form.body' | translate }}
            </div>
            <div class="mt-4">
                <button (click)="resetFormAndLeave()"
                        class="btn btn-primary mr-2 custom-btn"
                        id="reset-confirm">{{ 'service.overview.reset-form.reset-return' | translate }}
                </button>
                <button (click)="closeModal()" class="btn btn-danger"
                        id="reset-delete">{{ 'service.overview.reset-form.reset-confirm' | translate }}
                </button>
            </div>
        </div>
    </div>
</ng-template>


