@import '../../../shared/form/builder/ds-dynamic-form-ui/models/scrollable-dropdown/dynamic-scrollable-dropdown.component.scss';
@import '../../../shared/form/form.component.scss';

textarea {
  height: 200px;
  resize: none;
}

.marked-for-deletion {
  background-color: lighten($red, 30%);
}

.dropdown-menu-top, .scrollable-dropdown-menu  {
  z-index: var(--ds-submission-footer-z-index);
}

.ds-form-add-more {
  margin-left: -12px;
}
