form {
  font-size: 14px;
  position: relative;
}

input[type="text"],
select {
  max-width: 100%;
  width: 100%;
  padding: 8px;
  font-size: 14px;
}

option:not(:first-child) {
  font-weight: bold;
}

.trash-button {
  width: 40px;
  height: 40px;
}

textarea {
  height: 200px;
  resize: none;
}

.add-pattern-link {
  color: #0048ff;
  cursor: pointer;
  margin-left: 10px;
}

.remove-pattern-link {
  color: #e34949;
  cursor: pointer;
  margin-left: 10px;
}

.status-checkbox {
  margin-top: 5px;
}


.invalid-field {
  border: 1px solid red;
  color: #000000;
}

.error-text {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
}

.toggle-switch {
  display: flex;
  align-items: center;
  opacity: 0.8;
  position: relative;
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-switch.checked {
  background-color: #24cc9a;
}

.slider {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.3s;
}


.toggle-switch .slider {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin: 0 auto;
}

.toggle-switch.checked .slider {
  transform: translateX(30px);
}

.toggle-switch-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 10px;
}

.toggle-switch {
  cursor: pointer;
}

.label-box {
  margin-left: 11px;
}

.label-box-2 {
  margin-left: 14px;
}

.label-box-3 {
  margin-left: 5px;
}

form button.btn.btn-primary[type="submit"] {
  position: absolute;
  bottom: 0;
  right: -10px;
}

.submission-form-footer {
  border-radius: var(--bs-card-border-radius);
  bottom: 0;
  background-color: var(--bs-gray-400);
  padding: calc(var(--bs-spacer) / 2);
  z-index: var(--ds-submission-footer-z-index);
}





