.label-PUB {
  background-color: #5cb811 !important;
  color: white !important;
}

.label-RES {
  background-color: #c62d1f !important;
  color: white !important;
}

.label-ACA, .label-PDT {
  background-color: #ffab23 !important;
  color: white !important;
}
