<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="border-bottom">{{'item.edit.head' | translate}}</h2>
      <div class="pt-2">
        <ngb-tabset>
          <ngb-tab title="{{'item.edit.tabs.status.head' | translate}}">
            <ng-template ngbTabContent>
              <ds-item-status [item]="(itemRD$ | async)?.payload"></ds-item-status>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="{{'item.edit.tabs.bitstreams.head' | translate}}">
            <ng-template ngbTabContent>

            </ng-template>
          </ngb-tab>
          <ngb-tab title="{{'item.edit.tabs.metadata.head' | translate}}">
            <ng-template ngbTabContent>
              <ds-item-metadata [item]="(itemRD$ | async)?.payload"></ds-item-metadata>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="{{'item.edit.tabs.view.head' | translate}}">
            <ng-template ngbTabContent>

            </ng-template>
          </ngb-tab>
          <ngb-tab title="{{'item.edit.tabs.curate.head' | translate}}">
            <ng-template ngbTabContent>

            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>
