<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="border-bottom">{{'item.edit.head' | translate}}</h2>
      <div class="pt-2">
        <ngb-tabset>
          <ngb-tab title="{{'item.edit.tabs.status.head' | translate}}">
            <ng-template ngbTabContent>
              <p class="mt-2">{{'item.edit.tabs.status.description' | translate}}</p>
              <div class="row">
                <div *ngFor="let statusKey of objectKeys(statusData$ | async)" class="w-100">
                  <div class="col-3 float-left">
                    {{'item.edit.tabs.status.labels.' + statusKey | translate}}:
                  </div>
                  <div class="col-9 float-left">
                    {{(statusData$ | async)[statusKey]}}
                  </div>
                </div>
                <div class="col-3 float-left">
                  {{'item.edit.tabs.status.labels.itemPage' | translate}}:
                </div>
                <div class="col-9 float-left">
                  <a href="{{getItemPage()}}">{{getItemPage()}}</a>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="{{'item.edit.tabs.bitstreams.head' | translate}}">
            <ng-template ngbTabContent>

            </ng-template>
          </ngb-tab>
          <ngb-tab title="{{'item.edit.tabs.metadata.head' | translate}}">
            <ng-template ngbTabContent>

            </ng-template>
          </ngb-tab>
          <ngb-tab title="{{'item.edit.tabs.view.head' | translate}}">
            <ng-template ngbTabContent>

            </ng-template>
          </ngb-tab>
          <ngb-tab title="{{'item.edit.tabs.curate.head' | translate}}">
            <ng-template ngbTabContent>

            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>
