<header class="header">
  <div class="library-brand">
    <div class="container">
      <!-- desktop logo -->
      <div class="cornell-logo-wrapper d-none d-sm-block">
          <div class="cornell-logo">
              <a href="https://www.cornell.edu" class="insignia">Cornell University</a>
              <div class="library-logo">
                  <a href="https://library.cornell.edu">Library</a>
              </div>
          </div>
      </div>
      <!-- mobile logo -->
      <div class="d-block d-sm-none">
        <a class="mobile-cornell-logo" href="https://www.cornell.edu">Cornell University</a>
        <a class="library-brand-mobile" href="https://library.cornell.edu">Library</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="d-flex flex-row justify-content-between">
      <h1>
        <a class="navbar-brand" routerLink="/home">
          eCommons
        </a>
      </h1>
      <nav role="navigation" [attr.aria-label]="'nav.user.description' | translate" class="navbar navbar-light navbar-expand-md flex-shrink-0 px-0">
        <ds-themed-search-navbar></ds-themed-search-navbar>
        <ds-lang-switch></ds-lang-switch>
        <ds-context-help-toggle></ds-context-help-toggle>
        <ds-themed-auth-nav-menu></ds-themed-auth-nav-menu>
        <ds-impersonate-navbar></ds-impersonate-navbar>
        <div class="pl-2">
          <button class="navbar-toggler" type="button" (click)="toggleNavbar()"
                  aria-controls="collapsingNav"
                  aria-expanded="false" [attr.aria-label]="'nav.toggle' | translate">
            <span class="navbar-toggler-icon fas fa-bars fa-fw" aria-hidden="true"></span>
          </button>
        </div>
      </nav>
    </div>
  </div>

  <div class="ilr-brand">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          Digital Commons @ ILR
        </div>
        <div class="col-md-6">
          <a href="http://ilr.cornell.edu/"><img src="assets/ilr/images/ILR_Wordmark_Negative.png" alt="ILR School" /></a>
        </div>
      </div>
    </div>
  </div>

</header>