<div class="col-12">
    <h2>{{ 'explore.facet-section.title' | translate }}</h2>
    <div class="row">
        <div *ngFor="let facet of (facets$ | async)" class="col-3 mb-4">
            <div *ngIf="facet.values.length > 0">
                <span>{{'explore.index.' + facet.config.name | translate}}</span>
                <div *ngFor="let facetValue of facet.values" class="border p-3">
                    <a [routerLink]="[searchService.getSearchLink()]" 
                       [queryParams]="getSearchQueryParams(facet, facetValue.value)">
                       {{facetValue.label}} 
                    </a>
                    <span class="badge badge-secondary float-right">{{facetValue.count}}</span>
                </div>
            </div>
        </div>
    </div>
</div>