<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Choose a {{fieldName}}</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
            (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" *ngVar="(resultsRD$ | async) as resultsRD">
    <div class="row">
        <ds-search-sidebar class="col-4" id="search-sidebar"
                           [resultCount]="(resultsRD$ | async)?.payload?.totalElements"
                           [inPlaceSearch]="true"></ds-search-sidebar>
        <div class="col-8">
            <form class="input-group mb-3" #queryForm="ngForm"
                  (ngSubmit)="search(queryForm.value.query)">
                <input type="text" class="form-control" name="query" placeholder="Search query"
                       [ngModel]="searchQuery">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Go</button>
                </div>
            </form>
            <div *ngIf="repeatable" class="position-absolute">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <!-- In theory we don't need separate checkboxes for this,
                            but I wasn't able to get this to work correctly without them.
                            Checkboxes that are in the indeterminate state always switch to checked when clicked
                            This seemed like the cleanest and clearest solution to solve this issue for now.
                            -->
                            <input *ngIf="!allSelected && !(someSelected$ | async)"
                                   type="checkbox"
                                   [indeterminate]="false"
                                   (change)="selectAll()">
                            <input *ngIf="!allSelected && (someSelected$ | async)"
                                   type="checkbox"
                                   [indeterminate]="true"
                                   (change)="deselectAll()">
                            <input *ngIf="allSelected" type="checkbox"
                                   [checked]="true"
                                   (change)="deselectAll()">
                        </div>
                    </div>
                    <div ngbDropdown class="input-group-append">
                        <button *ngIf="selectAllLoading" type="button"
                                class="btn btn-outline-secondary rounded-right">
                        <span class="spinner-border spinner-border-sm" role="status"
                              aria-hidden="true"></span>
                            <span class="sr-only">Loading...</span>
                        </button>
                        <button *ngIf="!selectAllLoading" id="resultdropdown" type="button"
                                ngbDropdownToggle
                                class="btn btn-outline-secondary dropdown-toggle-split"
                                data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div ngbDropdownMenu aria-labelledby="resultdropdown">
                            <button class="dropdown-item" (click)="selectPage(resultsRD?.payload?.page)">Select page</button>
                            <button class="dropdown-item" (click)="deselectPage(resultsRD?.payload?.page)">Deselect page</button>
                            <button class="dropdown-item" (click)="selectAll()">Select all</button>
                            <button class="dropdown-item" (click)="deselectAll()">Deselect all</button>
                        </div>
                    </div>
                </div>
            </div>
            <ds-search-results [searchResults]="resultsRD"
                               [sortConfig]="this.searchConfig?.sort"
                               [searchConfig]="this.searchConfig"
                               [selectable]="true"
                               [selectionConfig]="{ repeatable: repeatable, listId: listId }">
            </ds-search-results>
        </div>
    </div>
</div>
<div class="modal-footer">
    <small>Selected {{(selection$ | async)?.length || 0}} items</small>
    <div>
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="close()">Ok</button>
    </div>
</div>