<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Choose a {{fieldName}}</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
            (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" *ngVar="(resultsRD$ | async) as resultsRD">
    <div class="row">
        <ds-search-sidebar class="col-4" id="search-sidebar"
                           [resultCount]="(resultsRD$ | async)?.payload?.totalElements"
                           [inPlaceSearch]="true"></ds-search-sidebar>
        <div class="col-8">
            <form class="input-group mb-3" #queryForm="ngForm"
                  (ngSubmit)="search(queryForm.value.query)">
                <input type="text" class="form-control" name="query" placeholder="Search query"
                       [ngModel]="searchQuery">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Go</button>
                </div>
            </form>
            <ds-search-results [searchResults]="resultsRD"
                               [sortConfig]="this.searchConfig?.sort"
                               [searchConfig]="this.searchConfig"
                               [selectable]="true"
                               [selectionConfig]="{ repeatable: repeatable, listId: listId }">
            </ds-search-results>
        </div>
    </div>
</div>
<div class="modal-footer">
    <small>Selected {{(selection | async)?.length || 0}} items</small>
    <div>
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Cancel
        </button>
        <button type="button" class="btn btn-danger" (click)="close()">Ok</button>
    </div>
</div>