<div class="container">
    <div class="search-page row">
        <div class="col-12">
            <div class="row">
                <div id="search-body">
                    <div id="search-content" class="col-12" *ngVar="(resultsRD$ | async) as resultsRD">
                        <ds-pagination
                                [paginationOptions]="searchConfig.pagination"
                                [collectionSize]="resultsRD?.payload?.totalElements"
                                [sortOptions]="searchConfig.sort"
                                [hideGear]="true"
                                [hidePagerWhenSinglePage]="true"
                                (paginationChange)="onPaginationChange($event)">
                        <ul class="lookup-results list-unstyled">
                            <li *ngFor="let result of resultsRD?.payload?.page; let i = index" class="my-4 d-flex">
                                <input type="checkbox" [value]="result.indexableObject.uuid"/>
                                <ds-wrapper-list-element class="result-list-element" [object]="result" [index]="i"></ds-wrapper-list-element>
                            </li>
                        </ul>
                        </ds-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>