<div>
    <div class="form-row align-items-center">
        <!--Simple lookup, first field -->
        <div class="col right-addon">
            <input class="form-control"
                   [class.is-invalid]="showErrorMessages"
                   [value]="modalValuesString"
                   [disabled]="model.disabled"
                   [type]="model.inputType"
                   [placeholder]="model.placeholder | translate"
                   [readonly]="model.readOnly">
            <ng-container *ngFor="let value of model.value">
                <input [dynamicId]="bindId && model.id"
                       [name]="model.name"
                       type="hidden"
                       [ngModel]="value.uuid"
                       [disabled]="true"
                       [readonly]="true">
            </ng-container>
        </div>
        <div class="col-auto text-center">
            <button class="btn btn-secondary"
                    type="button"
                    ngbTooltip="{{'form.lookup-help' | translate}}"
                    placement="top"
                    (click)="openLookup(); $event.stopPropagation();">{{'form.lookup' | translate}}
            </button>
        </div>
        <div class="col-auto text-center">
            <button class="btn btn-secondary"
                    type="button"
                    ngbTooltip="{{'form.add-help' | translate}}"
                    placement="top"
                    [disabled]="!hasEmptyValue()"
                    (click)="alert('add'); $event.stopPropagation();">{{'form.add' | translate}}
            </button>
        </div>
    </div>
</div>
