.button-rows {
  min-width: 200px;
}

.button-width {
  width: 100%;
}

.abstract-container {
  height: 76px;
  overflow: hidden;
}

.text-ellipsis {
  text-overflow: ellipsis;
}

.show {
  overflow: visible;
  height: auto;
}
