<ng-container *ngVar="(updates$ | async) as updates">
  <div *ngIf="updates">
    <h5>{{getRelationshipMessageKey(relationshipLabel) | translate}}</h5>
    <ng-container *ngVar="(updates | dsObjectValues) as updateValues">
      <div *ngFor="let updateValue of updateValues; trackBy: trackUpdate"
           ds-edit-relationship
           class="relationship-row d-block"
           [fieldUpdate]="updateValue || {}"
           [url]="url"
           [ngClass]="{'alert alert-danger': updateValue.changeType === 2}">
      </div>
      <ds-loading *ngIf="updateValues.length == 0" message="{{'loading.items' | translate}}"></ds-loading>
    </ng-container>
  </div>
</ng-container>
