<div class="container">
  <div class="d-flex justify-content-between">
    <h1 class="h3">{{'bitstream.download.page' | translate:{ bitstream: (fileName$ | async) } }}</h1>
    <div class="pt-3">
      <button *ngIf="hasHistory" (click)="back()" class="btn btn-outline-secondary">
        <i class="fas fa-arrow-left"></i> {{'bitstream.download.page.back' | translate}}
      </button>
      <button *ngIf="!hasHistory" (click)="close()" class="btn btn-outline-secondary">
        <i class="fas fa-times"></i> {{'bitstream.download.page.close' | translate}}
      </button>
    </div>
  </div>
</div>
