<div class="row">
  <h5>Test vedette</h5>

  <div *ngIf="images.length > 0; else loading">
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let image of images">
        <img [src]="image.imageUrl" class="d-block w-100" alt="{{ image.title }}">
        <div class="carousel-caption">
          <h3>{{ image.title }}</h3>
          <p>{{ image.description }}</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <ng-template #loading>Chargement en cours...</ng-template>
</div>
