<ds-mirador-viewer id="iiif-viewer" [item]="object" [searchable]="searchable" [query]="query | async"></ds-mirador-viewer>
<div class="row">
  <div class="col-xs-12 col-md-4">
    <ds-metadata-field-wrapper>
      <ds-thumbnail [thumbnail]="object?.thumbnail | async"></ds-thumbnail>
    </ds-metadata-field-wrapper>
    <ds-item-page-file-section [item]="object"></ds-item-page-file-section>
  </div>

  <div class="col-xs-12 col-md-6">
    <div class="item-page-title-field">
      <h5>{{'iiifsearchable.page.titleprefix' | translate}}</h5><h3><ds-metadata-values [mdValues]="object?.allMetadata(['dc.title'])"></ds-metadata-values></h3>
    </div>
    <ds-generic-item-page-field class="item-page-fields" [item]="object"
                                [fields]="['dc.description.abstract']"
                                [label]="'item.preview.dc.description.abstract'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field class="item-page-fields" [item]="object"
                                [fields]="['dc.identifier.citation']"
                                [label]="'iiifsearchable.page.issue'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field class="item-page-fields" [item]="object"
                                [fields]="['dc.identifier.uri']"
                                [label]="'item.page.uri'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field class="item-page-fields" [item]="object"
                                [fields]="['dc.identifier.other']"
                                [label]="'iiifsearchable.page.doi'">
    </ds-generic-item-page-field>
    <ds-metadata-field-wrapper>

      <ds-metadata-representation-list
        [parentItem]="object"
        [itemType]="'Person'"
        [metadataField]="'dc.contributor.author'"
        [label]="'relationships.isAuthorOf' | translate">
      </ds-metadata-representation-list>
      <a class="btn btn-outline-primary" [routerLink]="['/items/' + object.id + '/full']">
        {{"item.page.link.full" | translate}}
      </a>

    </ds-metadata-field-wrapper>
  </div>
</div>
