<div class="clamp-{{background}}-{{lines}} min-{{minLines}} {{type}} {{fixedHeight ? 'fixedHeight' : ''}}">
  <div class="content dont-break-out">
    <ng-content></ng-content>
  </div>
  <button class="btn btn-link p-0 expandButton" dsDragClick (actualClick)="toggle()">
    <i class="fas fa-angle-down"></i> {{ 'item.truncatable-part.show-more' | translate }}</button>
  <button class="btn btn-link p-0 collapseButton" dsDragClick (actualClick)="toggle()" *ngIf="expand && expandable">
    <i class="fas fa-angle-up"></i> {{ 'item.truncatable-part.show-less' | translate }}</button>
</div>
