<div class="thumbnail" [class.limit-width]="limitWidth">
  @if (isLoading$ | async) {
    <div class="thumbnail-content outer">
      <div class="inner">
        <div class="centered">
          <ds-loading [spinner]="true"></ds-loading>
        </div>
      </div>
    </div>
  }
  <!-- don't use *ngIf="!isLoading" so the thumbnail can load in while the animation is playing -->
  @if ((src$ | async) !== null) {
    <img class="thumbnail-content img-fluid" [ngClass]="{'d-none': (isLoading$ | async)}"
      [src]="(src$ | async) | dsSafeUrl" [alt]="alt | translate" (error)="errorHandler()" (load)="successHandler()">
  }
  @if ((src$ | async) === null && (isLoading$ | async) === false) {
    <div class="thumbnail-content outer">
      <div class="inner">
        <div class="thumbnail-placeholder centered lead">
          {{ placeholder | translate }}
        </div>
      </div>
    </div>
  }
</div>
