<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">Demo of COAR Notify in DSpace 7
          </h1>
        </div>
      </div>
      <p>The Arcadia-funded <a href="https://www.coar-repositories.org/notify/" target="_blank">COAR Notify Project</a>
        is developing and accelerating community adoption of a standard, interoperable, and decentralised approach to
        linking research outputs hosted in the distributed network of repositories with resources from external services
        such as overlay-journals and open peer review services, using linked data notifications.
      </p>
      <p>As part of this project, <a href="https://www.coar-repositories.org/" target="_blank">COAR</a> is funding the
        development of platforms and systems to support the exchange of linked data notifications across partner
        organisations and the workflows to manage notifications in those platforms and systems.
      </p>
      <p>As the largest adopted repository platform in the World one of the first platforms to be addressed is DSpace
        the implementation of which has been entrusted to <a href="https://www.4science.com"
                                                             target="_blank">4Science</a>.
      </p>
    </div>
  </div>
  <picture class="background-image">
    <source
      srcset="assets/dspace/images/banner.webp 2000w, assets/dspace/images/banner-half.webp 1200w, assets/dspace/images/banner-tall.webp 768w"
      type="image/webp">
    <source
      srcset="assets/dspace/images/banner.jpg 2000w, assets/dspace/images/banner-half.jpg 1200w, assets/dspace/images/banner-tall.jpg 768w"
      type="image/jpg">
    <img [src]="'assets/dspace/images/banner.jpg'" alt=""/>
    <!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
  <small class="credits">Photo by <a href="https://www.pexels.com/@inspiredimages">@inspiredimages</a></small>
</div>
