<div class="background-image-container mb-4">
  <div class="container">
    <div class="text-center">
      <div class="py-5">
        <div>
          <h1 class="display-5">CENTRAL METADATA REPOSITORY FROM SELECTED INSTITUTIONS OF HIGH LEARNING IN NAMIBIA</h1>
        </div>
      </div>
    </div>
  </div>
  <picture class="background-image">
    <source type="image/webp"
      srcset="assets/dspace/images/banner.webp 2000w, assets/dspace/images/banner-half.webp 1200w, assets/dspace/images/banner-tall.webp 768w">
    <source type="image/jpg"
      srcset="assets/dspace/images/banner.jpg 2000w, assets/dspace/images/banner-half.jpg 1200w, assets/dspace/images/banner-tall.jpg 768w">
    <img alt="" [src]="'assets/dspace/images/banner.jpg'" />
    <!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
</div>