@import './../../../../../../../styles/variables';

:host {
  display: block;
}

.cdk-drag {
    margin-left: -(2.3 * $spacer);
    margin-right: -(0.5 * $spacer);
    padding-right: (0.5 * $spacer);
    .drag-icon {
        visibility: hidden;
        width: (2 * $spacer);
        color: $gray-600;
        margin: $btn-padding-y 0;
        line-height: $btn-line-height;
        text-indent: 0.5 * $spacer;
        cursor: grab;
    }

    &:hover, &:focus {
        cursor: grab;
        .drag-icon {
            visibility: visible;
        }
    }

}

.cdk-drop-list-dragging {
    .cdk-drag {
        cursor: grabbing;
        .drag-icon {
            visibility: hidden;
        }
    }
}

.cdk-drag-preview {
    margin: 0px;
    padding: 0px;
}


.cdk-drag-placeholder {
    opacity: 0;
}
