<div class="background-image">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">DSpace-CRIS 7</h1>
          <p class="lead">DSpace-CRIS is the first <b>free open-source extension</b> of DSpace for the Research Data and Information Management ever developed. </p>
        </div>
      </div>
      <p>Differently from other (commercial) CRIS/RIMS, DSpace-CRIS has the institutional repository as its core component,
        providing high visibility on the web to all the collected information and objects. DSpace-CRIS broadens DSpace
        functionality and expands its data model while remaining aligned with its code base.</p>
      <p>
        DSpace-CRIS adopts/is compliant with international standards and practices to facilitate interoperability and data
        transfer:
      </p>
       
      <ul>
        <li>Full ORCID v3 integration (push, pull information)
        </li>
        <li>Integration with dozen external data sources, including commercial ones to retrieve bibliographic and bibliometric data
        </li>
        <li>Support for decentralized management, self-service researcher profile management and approval workflow
        </li>
        <li>Aligned to the latest OpenAIRE Guidelines for Literature Repositories, DataArchive and CRIS system
        </li>
        <li>Data quality and accuracy tools to assure that your information are always complete and accurate</li>
      </ul>
      <p>Join an international community of <a href="https://wiki.lyrasis.org/display/DSPACECRIS/DSpace-CRIS+Users" target="_blank">leading institutions using DSpace-CRIS</a>.</p>
    </div>
  </div>
  <small class="credits">Photo by <a href="https://www.pexels.com/@inspiredimages">@inspiredimages</a></small>
</div>
