<div [className]="'float-left ' + wrapperClass">
  <ul class="nav nav-pills flex-column flex-sm-row" [sortablejs]="chips.getChips()" [sortablejsOptions]="options">
    <ng-container *ngFor="let c of chips.getChips(); let i = index">
    <li [ngbTooltip]="c.display"
        triggers="manual"
        #t="ngbTooltip"
        class="nav-item mr-2 mb-1"
        (click)="t.close()"
        (dragstart)="onDragStart(t, i)"
        (dragend)="onDragEnd(i)"
        (mouseover)="showTooltip(t, i)"
        (mouseout)="t.close()">
      <a class="flex-sm-fill text-sm-center nav-link active"
         href="#"
         [ngClass]="{'bg-info disabled': (editable && c.editMode) || dragged == i}"
         (click)="t.close();chipsSelected($event, i);">
        <span>
          <ng-container *ngIf="c.item.icons && c.item.icons.length > 0">
            <i *ngFor="let icon of c.item.icons; let i = index; let l = last"
               class="fa {{icon}}"
               [class.mr-2]="l"
               aria-hidden="true"></i>
          </ng-container>
          {{c.display}}<i class="fa fa-times ml-2" (click)="removeChips($event, i)"></i>
        </span>
      </a>
    </li>
    </ng-container>

    <ng-content></ng-content>
  </ul>
</div>
