.chips-box {
  border: 1px;
  padding: 10px;
  width: 100%;
  overflow-y: scroll;
}

.chips-box > input {
  border: 0;
}
.chips-box > input:focus{
  outline: none;
}

.chips {
  margin: 2px;
  padding: 5px;
  max-width: 500px;
  float: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
  background-color: #1682bb;
  border-radius: 7px;
}
.chips-item {
  margin: 2px;
  padding: 0 15px 0 0;
}

