<div class="chips-box">
  <div
    id="chips-container"
    [sortablejs]="chips.chipsItems"
    [sortablejsOptions]="options">

  <span *ngFor="let c of chips.chipsItems; let i = index"
        class="chips"
        [ngClass]="{'selected': c.editMode, 'dragged': dragged == i}"
        (click)="chipsSelected(i)"
        (mouseout)="chipsBlur(i)"
        draggable="true"
        (drag)="onDrag(i)"
        (dragend)="onDragEnd(i)"
        [ngbTooltip]="c.display">

    <ng-container *ngIf="c.item.icons && c.item.icons.length > 0">
      <i *ngFor="let icon of c.item.icons"
         class="fa {{icon}}"
         aria-hidden="true"></i>
    </ng-container>

    <span class="d-inline-block chips-item text-truncate m-0 p-0">
      {{c.display}}
    </span>
    <span [ngClass]="{'invisible': editable&&c.editMode}" class="fa fa-times" (click)="removeChips(i)"></span>
  </span>
  </div>

</div>
