  <!-- Personal Information form -->
  <div class="m-main mobile-section-account">
  <div class="white-card-box h-full-100">
    <div class="gray-title h-65">
     <div class="left-penal">
         <h5>my favourites trips</h5>
     </div>
    </div>
    <div class="content-card-band small-content upcoming-trip-band">
      <div class="bootstrap-wrapper">
            <div class="row">
              <div class="col-sm-4 col-md-4 col-lg-6 col-xl-4" *ngIf="Fmytrip.length == 0">
                <div class="trip-card"> 
                  <p> No Data Found</p>
                </div>
              </div>
                <div class="col-sm-4 col-md-4 col-lg-6 col-xl-4" *ngFor="let item of Fmytrip">
                    <div class="trip-card">
                        <div class="img-band">
                          <img src="assets/image/vancouver.jpg" alt="vancouver">
                          <div class="favourite-band active" [class.active]="isFavourite" >
                            <button class="primary-btn" type="button" (click)="toggleFavourite(item.id)"><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_like"></mat-icon></button>
                          </div>
                          <div class="trips-menu-band">
                            <button mat-button [matMenuTriggerFor]="menubtn"><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_menu-icon"></mat-icon></button>
                            <mat-menu #menubtn="matMenu" xPosition="before" class="menu-list">
                              <!-- <button mat-menu-item>Delete</button> -->
                              <ul>
                                <li><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_delete"></mat-icon>Delete</li>
                                <li><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_share"></mat-icon>Share</li>
                              </ul>
                            </mat-menu>
                          </div>
                          <!-- <div class="ticket-status-card ">
                            <span class="ticket-btn success"><div class="round-box"><img src="assets/icons/tripon-ticket.svg"></div> <p>Booked By TripsOn</p></span>
                            </div> -->
                            <div class="ticket-status-card">
                              <span class="ticket-btn pending" *ngIf="item.status == 1">
                                <div class="round-box">
                                  <img src="assets/icons/pending-ticket.svg">
                                </div>
                                <p>Status Pending</p>
                              </span>
                              <span class="ticket-btn pending" *ngIf="item.status == 3">
                                <div class="round-box">
                                  <img src="assets/icons/pending-ticket.svg">
                                </div>
                                <p>Status In-Progress</p>
                              </span>
                              <span class="ticket-btn cancel" *ngIf="item.status == 4">
                                <div class="round-box"><img src="assets/icons/cancel-fill.svg"></div>
                                <p>Status Cancel</p>
                              </span>
                              <span class="ticket-btn manually" *ngIf="item.status == 2">
                                <div class="round-box"><img src="assets/icons/manually.svg"></div>
                                <p>Manually</p>
                              </span>
              
                            </div>
                        </div>

                        <div class="bottom-band">
                          <h5 class="titile">Trip To {{item.search_term.destination}}</h5>
                          <div class="trip-days-date">
                            <div class="user-trip-info">
                              <div class="user">
                                <span class="user-name">{{getFirstLetter(first_name)}}</span>
                              </div>
                              <p class="days">{{item.search_term.trip_days}} days With {{item.search_term.group_type}}</p>
                            </div>
                            <!-- <span class="trip-date">02 Aug,23</span> -->
                          </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-sm-4 col-md-4 col-lg-6 col-xl-4">
                    <div class="trip-card"> 
                        <div class="img-band">
                          <img src="assets/image/vancouver.jpg" alt="vancouver">
                          <div class="favourite-band active">
                            <button class="primary-btn" type="button"><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_like"></mat-icon></button>
                          </div>
                          <div class="trips-menu-band">
                            <button mat-button [matMenuTriggerFor]="menubtn"><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_menu-icon"></mat-icon></button>
                            <mat-menu #menubtn="matMenu" xPosition="before" class="menu-list">
                              <button mat-menu-item>Delete</button>
                              <ul>
                                <li><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_delete"></mat-icon>Delete</li>
                                <li><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_share"></mat-icon>Share</li>
                              </ul>
                            </mat-menu>
                          </div>
                          <div class="ticket-status-card ">
                            <span class="ticket-btn success"><div class="round-box"><img src="assets/icons/tripon-ticket.svg"></div> <p>Booked By TripsOn</p></span>
                         </div>
                        </div>

                        <div class="bottom-band">
                          <h5 class="titile">Trip To Vancouver</h5>
                          <div class="trip-days-date">
                            <div class="user-trip-info">
                              <div class="user">
                                <span class="user-name">J</span>
                              </div>
                              <p class="days">7 days With Family</p>
                            </div>
                            <span class="trip-date">05 Aug,23</span>
                          </div>
                        </div>

                    </div>
                </div> -->
            </div>
       
      </div>
    </div>
 </div>
</div>