<div class="container-fluid">

  <div role="alert" class="alert alert-info fade show w-100 alert-dismissible">
    {{'submission.sections.custom-url.alert.info' | translate}}
  </div>

  <div class="custom-url d-flex align-items-center">
    <span class="frontend-url"> {{frontendUrl}}/</span>
    @if (formModel) {
      <ds-form #formRef="formComponent" [formId]="formId" [formModel]="formModel" [displaySubmit]="false" [displayCancel]="false"
               (dfChange)="onChange($event)"></ds-form>
    }
  </div>
  @if (isEditItemScope && !!customSectionData && !!redirectedUrls) {
    <div class="previous-urls">
      @if (redirectedUrls.length > 0) {
        <h4 >{{'submission.sections.custom-url.label.previous-urls' | translate}}</h4>
      }
      <ul class="list-group">
        @for (redirectedUrl of redirectedUrls; let i = $index; track redirectedUrl) {
          <li class="list-item mb-2">
            <div class="list-group-item mr-2">
              <span>{{frontendUrl+'/'+redirectedUrl}}</span>
            </div>

            <button type="button" class="btn btn-secondary" role="button" title="{{'submission.sections.custom-url.label.remove' | translate}}"
                    attr.aria-label="{{'submission.sections.custom-url.label.remove' | translate}}" (click)="remove(i)">
                    <span>
                        <i class="fas fa-trash" aria-hidden="true"></i>
                    </span>
            </button>
          </li>
        }
      </ul>
    </div>
  }
</div>
