.options-select-menu {
  max-height: 25vh;
}

.list-group{
  max-width: 600px;
}

.list-group-item{
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.list-item{
  align-items: center;
  display: flex;
}
