<ds-truncatable [id]="object.id">
  <a [routerLink]="['/items/' + object.id]" class="lead">
    {{object.firstMetadataValue("dc.title")}}
  </a>
  <div>
    <ds-truncatable-part [id]="object.id" [minLines]="1">
      <span class="text-muted">
        <span *ngIf="object.hasMetadata(['dc.contributor.author', 'dc.creator', 'dc.contributor.*'])"
              class="item-list-authors">
            <span *ngFor="let author of object.allMetadataValues(['dc.contributor.author', 'dc.creator', 'dc.contributor.*']); let last=last;">{{author}}
                <span *ngIf="!last">; </span>
            </span>
        </span>
        (<span *ngIf="object.hasMetadata('dc.publisher')" class="item-list-publisher">{{object.firstMetadataValue("dc.publisher")}}, </span><span
        *ngIf="object.hasMetadata('dc.date.issued')" class="item-list-date">{{object.firstMetadataValue("dc.date.issued")}}</span>)
      </span>
    </ds-truncatable-part>
    <ds-truncatable-part [id]="object.id" [minLines]="3">
      <div *ngIf="object.hasMetadata('dc.description.abstract')" class="item-list-abstract">
        {{object.firstMetadataValue("dc.description.abstract")}}
      </div>
    </ds-truncatable-part>
  </div>
</ds-truncatable>
