<div class="container" *ngVar="(auditRD$ | async)?.payload as audit">
    <div class="d-flex">
      <h1 class="flex-grow-1">{{'audit.detail.title' | translate }}</h1>
    </div>

    @if (audit) {
        <h2 class="h4 mt-4">{{ 'audit.detail.id' | translate}}</h2>
        <div>{{ audit.id }}</div>

        <h2 class="h4 mt-4">{{ 'audit.detail.eventType' | translate}}</h2>
        <div>{{ audit.eventType }}</div>

        <h2 class="h4 mt-4">{{ 'audit.detail.subjectUUID' | translate}}</h2>
        <div>{{ audit.subjectUUID }}</div>

        <h2 class="h4 mt-4">{{ 'audit.detail.subjectType' | translate}}</h2>
        <div>{{ audit.subjectType }}</div>

        <h2 class="h4 mt-4">{{ 'audit.detail.eperson' | translate}}</h2>
        <div>{{ audit.epersonName }}</div>

        <h2 class="h4 mt-4">{{ 'audit.detail.timeStamp' | translate}}</h2>
        <div>{{ audit.timeStamp | date:dateFormat}}</div>
    }


    <a class="btn btn-light mt-3" [routerLink]="'/auditlogs'">{{'audit.detail.back' | translate}}</a>

    @if (audit.objectUUID) {
        <a class="btn btn-light mt-3" [routerLink]="['/auditlogs/object/', audit.objectUUID]">{{'audit.detail.back.subject' | translate}}</a>
    }

</div>
