.button-col, .trust-col {
  width: 15%;
}

.title-col {
  width: 30%;
}
.content-col {
  width: 40%;
}

.button-width {
  width: 100%;
}

.abstract-container {
  height: 76px;
  overflow: hidden;
}

.text-ellipsis {
  text-overflow: ellipsis;
}

.show {
  overflow: visible;
  height: auto;
}
