<ds-metadata-field-wrapper [label]="label">
  @for (objectPage of objects; track objectPage; let i = $index; let lastPage = $last) {
    <ng-container *ngVar="(objectPage | async) as representations">
      @for (rep of representations; track rep; let last = $last) {
        <div class="d-inline">
          <ds-metadata-representation-loader [mdRepresentation]="rep"
                                             class="d-inline-block">
          </ds-metadata-representation-loader>
          @if (!last || !lastPage) {
            <span [innerHTML]="separator"></span>
          }
        </div>
      }
      @if (lastPage && (i > 0) && (!representations || representations?.length === 0)) {
        <ds-loading message="{{'loading.default' | translate}}"></ds-loading>
      }
      @if (lastPage && representations?.length > 0 && ((objects.length * incrementBy) < total || objects.length > 1)) {
        <div class="d-flex justify-content-between w-100 mt-2">
          <div>
            @if ((objects.length * incrementBy) < total) {
                <button class="btn btn-link btn-link-inline" (click)="increase()">{{'item.page.related-items.view-more' |
                  translate:{ amount: (total - (objects.length * incrementBy) < incrementBy) ? total - (objects.length * incrementBy) : incrementBy } }}</button>
            }
          </div>
          <div>
            @if (objects.length > 1) {
                <button class="btn btn-link btn-link-inline" (click)="decrease()">{{'item.page.related-items.view-less' |
                  translate:{ amount: representations?.length } }}</button>
            }
          </div>
        </div>
      }
    </ng-container>
  }
</ds-metadata-field-wrapper>
