<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron py-4 px-2 py-sm-5 px-sm-0 mt-0 mb-4">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">The OAKTrust Digital Repository</h1>
          <p class="lead">The OAKTrust digital repository at Texas A&#64;M is a digital service that collects, preserves, and distributes the scholarly output of the University. The repository facilitates open access scholarly communication while preserving the scholarly legacy of the Texas A&#64;M community.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- TAMU Customization - remove background image
  <picture class="background-image">
    <source type="image/webp" srcset="assets/dspace/images/banner.webp 2000w, assets/dspace/images/banner-half.webp 1200w, assets/dspace/images/banner-tall.webp 768w">
    <source type="image/jpg" srcset="assets/dspace/images/banner.jpg 2000w, assets/dspace/images/banner-half.jpg 1200w, assets/dspace/images/banner-tall.jpg 768w">
    <img alt="" [src]="'assets/dspace/images/banner.jpg'" /> -->
  <!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  <!-- </picture>
  <small class="credits">Photo by <a href="https://www.pexels.com/@inspiredimages">&#64;inspiredimages</a></small>
  END TAMU Customization - remove background image -->
</div>
