<div class="container">
    <ng-container *ngVar="(parent$ | async) as parent">
        <ng-container *ngIf="parent?.payload as parentContext">
            <div class="d-flex flex-row border-bottom mb-4 pb-4">

                <header class="comcol-header mr-auto">
                    <!-- Parent Name -->
                    <ds-comcol-page-header [name]="dsoNameService.getName(parentContext)"></ds-comcol-page-header>
                    <!-- Collection logo -->
                    <ds-comcol-page-logo *ngIf="logo$" [logo]="(logo$ | async)?.payload"
                        [alternateText]="'Community or Collection Logo'">
                    </ds-comcol-page-logo>
                    <!-- Handle -->
                    <ds-themed-comcol-page-handle [content]="parentContext.handle"
                        [title]="parentContext.type+'.page.handle'">
                    </ds-themed-comcol-page-handle>
                    <!-- Introductory text -->
                    <ds-comcol-page-content [content]="parentContext.introductoryText" [hasInnerHtml]="true">
                    </ds-comcol-page-content>
                    <!-- News -->
                    <ds-comcol-page-content [content]="parentContext.sidebarText" [hasInnerHtml]="true"
                        [title]="'community.page.news'">
                    </ds-comcol-page-content>
                </header>
                <ds-dso-edit-menu></ds-dso-edit-menu>
            </div>
            <!-- Browse-By Links -->
            <ds-themed-comcol-page-browse-by [id]="parentContext.id"
                [contentType]="parentContext.type"></ds-themed-comcol-page-browse-by>
            <ds-themed-community-page-sub-community-list
                [community]="parentContext"></ds-themed-community-page-sub-community-list>
            <ds-themed-community-page-sub-collection-list
                [community]="parentContext"></ds-themed-community-page-sub-collection-list>
        </ng-container></ng-container>


</div>