<div class="modal-header">
  <h4 class="modal-title">{{'notify-message-modal.title' | translate}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body p-4">
    <div *ngFor="let key of notifyMessageKeys">
      <div class="row mb-4">
        <div class="font-weight-bold col-sm">{{ key + '.notify-detail-modal' | translate}}</div>
        <div class="text-truncate col-sm text-right">{{ notifyMessage[key] | translate }}</div>
      </div>
    </div>
</div>
