<div class="container">
  <div class="row" *ngIf="bitstream">
    <div class="col-md-2">
      <ds-thumbnail [thumbnail]="bitstream"></ds-thumbnail>
    </div>
    <div class="col-md-10">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h3>{{bitstream?.name}} <span class="text-muted">({{bitstream?.sizeBytes | dsFileSize}})</span></h3>
          </div>
        </div>
      </div>
      <ds-form  *ngIf="bitstream"
                [formId]="'edit-bitstream-form-id'"
                [formGroup]="formGroup"
                [formModel]="formModel"
                [formLayout]="formLayout"
                (submitForm)="onSubmit()"
                (dfChange)="onChange($event)"></ds-form>
    </div>
  </div>
  <ds-loading *ngIf="!bitstream" message="{{'loading.bitstream' | translate}}"></ds-loading>
</div>
