@import '../../../../form.component';

:host ::ng-deep .dropdown-menu {
  width: 100% !important;
  max-height: var(--ds-dropdown-menu-max-height);
  overflow-y: auto !important;
  overflow-x: hidden;
}

:host ::ng-deep .dropdown-item {
  border-bottom: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
}

:host ::ng-deep .dropdown-item.active,
:host ::ng-deep .dropdown-item:active,
:host ::ng-deep .dropdown-item:focus,
:host ::ng-deep .dropdown-item:hover {
  color: var(--bs-dropdown-link-hover-color) !important;
  background-color: var(--bs-dropdown-link-hover-bg) !important;
}

.treeview .modal-body {
  max-height: 85vh !important;
  overflow-y: auto;
}

.tree-toggle {
  padding:  0.70rem 0.70rem 0 0.70rem ;
}

.tree-input[readonly]{
  background-color: #fff;
}

.tree-toggle {
  padding:  0.70rem 0.70rem 0 0.70rem ;
}

.tree-input[readonly]{
  background-color: #fff;
  cursor: pointer;
}

.additional-items-icon {
  padding-right: 5rem !important;
  cursor: pointer;
}
.additional-info-selection {
  z-index: 9999;
  width: calc(100% - 10px);
  border-radius: 4px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
  .list-item {
    cursor: pointer;
  }
  .list-item:hover {
    background-color: var(--bs-dropdown-link-hover-bg);
  }
}

.list-item img {
  height: 20px
}
