<div class="clarin-top-header">
  <div class="d-flex">
    <div class="ds-language-selection pl-1 justify-content-between">
      <span class="language-icon" (click)="setLanguage('en')">
        <img src="./assets/images/en.png" alt="{{'language.english' | translate}}" title="{{'language.english' | translate}}">
      </span>
      <span class="language-icon pl-1" (click)="setLanguage('cs')">
        <img src="./assets/images/cs.png" alt="{{'language.czech' | translate}}" title="{{'language.czech' | translate}}">
      </span>
    </div>
    <div class="ml-auto pr-3">
      <div *ngIf="authenticatedUser == null" class="badge clarin-login-badge px-2 py-1">
        <span>
          <a style="color: #FFF;" id="clarin-signon-discojuice" class="signon" >
            <i class="fas fa-sign-in-alt pr-1 fa-lg"></i>{{'login.title' | translate}}
          </a>
        </span>
      </div>
      <a class="hidden" id="repository_path" [href]="repositoryPath"></a>
      <div *ngIf="authenticatedUser != null" class="badge clarin-logout-badge px-2 py-1">
        <span>
          <a routerLink="/profile" style="color: #FFF;">
            <i class="fa fa-user pr-1 fa-lg"></i>{{authenticatedUser.name}}
          </a>
        </span>
        <span class="text-white px-1">|</span>
        <a routerLink="/logout" style="color: #FFF;">
          <i class="fas fa-sign-out-alt pr-1 fa-lg" aria-hidden="true"></i>{{'logout.title' | translate}}
        </a>
      </div>
    </div>
  </div>
</div>
<!--<script src="assets/aai.js"></script>-->
