<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="border-bottom pb-2">{{'quality-assurance.title'| translate}}</h1>
      <ds-alert [type]="'alert-info'" [content]="'quality-assurance.source.description'"></ds-alert>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2 class="h4 border-bottom pb-2">{{'quality-assurance.source'| translate}}</h2>

      @if ((isSourceLoading() | async)) {
        <ds-loading class="container" message="{{'quality-assurance.loading' | translate}}"></ds-loading>
      }
      @if ((isSourceLoading() | async) !== true) {
        <ds-pagination
          [paginationOptions]="paginationConfig"
          [collectionSize]="(totalElements$ | async)"
          [hideGear]="false"
          [hideSortOptions]="true"
          (paginationChange)="getQualityAssuranceSource()">
          @if ((isSourceProcessing() | async)) {
            <ds-loading class="container" message="'quality-assurance.loading' | translate"></ds-loading>
          }
          @if ((isSourceProcessing() | async) !== true) {
            @if ((sources$ | async)?.length === 0) {
              <div class="alert alert-info w-100 mb-2 mt-2" role="alert">
                {{'quality-assurance.noSource' | translate}}
              </div>
            }
            @if ((sources$ | async)?.length !== 0) {
              <div class="table-responsive mt-2">
                <table id="epeople" class="table table-striped table-hover table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">{{'quality-assurance.table.source' | translate}}</th>
                      <th scope="col">{{'quality-assurance.table.last-event' | translate}}</th>
                      <th scope="col">{{'quality-assurance.table.actions' | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (sourceElement of (sources$ | async); track sourceElement; let i = $index) {
                      <tr>
                        <td>{{sourceElement.id}}</td>
                        <td>{{sourceElement.lastEvent | date: 'dd/MM/yyyy hh:mm' }}</td>
                        <td>
                          <div class="btn-group edit-field">
                            <button
                              class="btn btn-outline-primary btn-sm"
                              title="{{'quality-assurance.source-list.button.detail' | translate : { param: sourceElement.id } }}"
                              [routerLink]="[sourceElement.id]">
                              <span class="badge bg-info">{{sourceElement.totalEvents}}</span>
                              <i class="fas fa-info fa-fw"></i>
                            </button>
                          </div>
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            }
          }
        </ds-pagination>
      }
    </div>
  </div>
</div>

