<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="border-bottom pb-2">{{'admin-notify-dashboard.title'| translate}}</h2>
      <div>
        <div>
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'../'">{{'admin-notify-dashboard.metrics' | translate}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'../inbound'" [queryParams]="{view: 'table'}">{{'admin.notify.dashboard.inbound' | translate}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active">{{'admin.notify.dashboard.outbound' | translate}}</a>
          </ul>

          <div class="col-12 text-left h4 my-4">{{'admin.notify.dashboard.outbound' | translate}}</div>
          <ds-themed-search
            [configuration]="'NOTIFY.outgoing'"
            [showViewModes]="false"
            [searchEnabled]="false"
            [context]="context"
            [useUniquePageId]="true"
          ></ds-themed-search>
        </div>
      </div>
    </div>
  </div>
</div>
