<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="border-bottom pb-2">{{'admin-notify-dashboard.title'| translate}}</h2>
      <div>
        <div>
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'../'">{{'admin-notify-dashboard.metrics' | translate}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'../inbound'" [queryParams]="{view: 'table'}">{{'admin.notify.dashboard.inbound-logs' | translate}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active">{{'admin.notify.dashboard.outbound-logs' | translate}}</a>
          </ul>

          <div class="container my-4">
            <div class="row">
              <div class="col-12 col-md-3 text-left h4">{{'admin.notify.dashboard.outbound' | translate}}</div>
              <div class="col-md-9">
                <ds-search-labels [inPlaceSearch]="true"></ds-search-labels>
                <div class="h4">
                  <button (click)="resetDefaultConfiguration()" *ngIf="(selectedSearchConfig$ | async) !== defaultConfiguration" class="badge badge-primary mr-1 mb-1">
                    {{'admin.notify.dashboard.configuration' | translate}} {{ selectedSearchConfig$ | async }}
                    <span> ×</span>
                  </button>
                </div>
              </div>
            </div>
          </div>


          <ds-themed-search
            *ngIf="!isLoading"
            [configuration]="selectedSearchConfig$ | async"
            [showViewModes]="false"
            [searchEnabled]="false"
            [context]="context"
          ></ds-themed-search>
        </div>
      </div>
    </div>
  </div>
</div>
