<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="border-bottom pb-2">{{'admin-notify-dashboard.title'| translate}}</h1>
      <div>
        <div>
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'../'">{{'admin-notify-dashboard.metrics' | translate}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'../inbound'" [queryParams]="{view: 'table', configuration: 'NOTIFY.incoming'}">{{'admin.notify.dashboard.inbound-logs' | translate}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active">{{'admin.notify.dashboard.outbound-logs' | translate}}</a>
          </ul>

          <ds-admin-notify-logs-result [defaultConfiguration]="'NOTIFY.outgoing'" ></ds-admin-notify-logs-result>

        </div>
      </div>
    </div>
  </div>
</div>
