
<div class="main mt-0">
    <div class="bootstrap-wrapper">
            <div class="generating-trip-band">
                <!-- <div class="m-close-btn">
                    <div class="action-title">
                        <button class="back-btn"><mat-icon aria-hidden="false" aria-label="Example home svg" svgIcon="vite_close"></mat-icon></button>
                    </div>
                </div> -->
                <div class="img-band m-animated-img-band">
                    <img src="assets/image/generate-trip.png">
                    <div class="animated-image">
                        <div class="anime_band">
                            <div class="img-band">
                                <ng-lottie [options]="options_03" (animationCreated)="animationCreated($event)"
                                id="twelfthLottie">
                                </ng-lottie>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="text-band">
                    <h4>Generate your trips</h4>
                    <P>We,re excited to help you plan your dream vactions and unforgettable adventures once you create your first travel plan, it will appear here for easy access and organization.</P>
                </div>
                <div class="loader-band">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    <span class="info-text">this may take few minutes</span>
                </div>
            </div>
    </div>

</div>