<div class="ms-4">
  @if (!!journal?.titles && journal.titles.length > 0) {
    <div class="row">
      <div class="col-4">
        <p class="m-1">{{'submission.sections.sherpa.publication.information.title' | translate}}</p>
      </div>
      <div class="col-4">
        @for (title of journal.titles; track title) {
          <p class="m-1">{{title}}
          </p>
        }
      </div>
    </div>
  }
  @if (!!journal?.issns && journal.issns.length > 0) {
    <div class="row">
      <div class="col-4">
        <p class="m-1">{{'submission.sections.sherpa.publication.information.issns' | translate}}</p>
      </div>
      <div class="col-4">
        @for (issn of journal.issns; track issn) {
          <p class="m-1">{{issn}}
          </p>
        }
      </div>
    </div>
  }
  @if (!!journal?.url) {
    <div class="row">
      <div class="col-4">
        <p class="m-1">{{'submission.sections.sherpa.publication.information.url' | translate}}</p>
      </div>
      <div class="col-4">
        <p class="m-1">
          <a href="{{journal.url}}" target="_blank" rel="noopener noreferrer">
            {{journal.url}}
          </a>
        </p>
      </div>
    </div>
  }
  @if (!!journal?.publishers && journal.publishers.length > 0) {
    <div class="row">
      <div class="col-4">
        <p class="m-1">{{'submission.sections.sherpa.publication.information.publishers' | translate}}</p>
      </div>
      @for (publisher of journal.publishers; track publisher) {
        <div class="col-4">
          <p class="m-1">
            <a href="{{publisher.uri}}" target="_blank" rel="noopener noreferrer">
              {{publisher.name}}
            </a>
          </p>
        </div>
      }
    </div>
  }
  @if (!!journal?.romeoPub) {
    <div class="row">
      <div class="col-4">
        <p class="m-1">{{'submission.sections.sherpa.publication.information.romeoPub' | translate}}</p>
      </div>
      <div class="col-4">
        <p class="m-1">
          {{journal.romeoPub}}
        </p>
      </div>
    </div>
  }
  @if (!!journal?.zetoPub) {
    <div class="row">
      <div class="col-4">
        <p class="m-1">{{'submission.sections.sherpa.publication.information.zetoPub' | translate}}</p>
      </div>
      <div class="col-4">
        <p class="m-1">
          {{journal.zetoPub}}
        </p>
      </div>
    </div>
  }
</div>
