// Theme Color Var
$primary : #84FF50;
$secondary : #060C15;
$text : #060C15;
$p-text : #666B71;
$p-text-dark : #4F5559;
$border-light : #eee;
$border-dark:#E7E7E7;
$border : #E7E7E7;
$body-bg: #F8FFF5;
$white: #fff;
$stepper:#E1E5F1;
$lable-text:#40465B;
$list-bg:#FBFBFC;
$black:#000;
$text-light:#192039d9;
$primary-light-bg:#FAFFF8;

// End Theme Color Var

// Btn Color Var
$success:#31C975;
$edit:#DACE67;
$danger:#F16262;
$mail:#E5740B;
$share:#2F9FC2;
$process-bg:#E0EEFF;
$success-bg:#E1FFE0;
$danger-bg:#FCE1E1;

// End Btn Color Var

// Card Bg
$yellow-light-bg:#FEFFDE;
$gray-light-bg:#FAFFF8;
$yellow-bg:#FFF1D8;
$blue-bg:#D2F4FB;
$green-bg:#D6F4E3;
$orange-bg:#FFE4D8;
$purple-bg:#FFF1D8;

// End Card Bg
