<h1>{{ 'info.privacy.head' | translate }}</h1>
<p><em>Last updated May 4, 2023</em></p>

<h2>Introduction</h2>
<p>{{ 'repository.title' | translate }} ("Company" or "We") respects your privacy and is committed to protecting it through our compliance with this policy.</p>
<p>This policy describes the types of information we may collect from you or that you may provide when you visit this website (our "Website") and our practices for collecting, using, maintaining, protecting, and disclosing that information.</p>
<p>This policy applies to information we collect:</p>
<ul>
  <li>On this Website.</li>
  <li>In email, text, and other electronic messages between you and this Website.</li>
</ul>
<p>It does not apply to information collected by:</p>
<ul>
  <li>us offline or through any other means, including on any other website operated by Company or any third party; or</li>
  <li>any third party, including through any application or content (including advertising) that may link to or be accessible from or on the Website.</li>
</ul>
<p>Please read this policy carefully to understand our policies and practices regarding your information and how we will treat it. If you do not agree with our policies and practices, your choice is not to use our Website. By accessing or using this Website, you agree to this privacy policy. This policy may change from time to time. Your continued use of this Website after we make changes is deemed to be acceptance of those changes, so please check the policy periodically for updates.</p>

<h2>Children under the age of 13</h2>
<p>Our Website is not intended for children under 13 years of age. No one under age 13 may provide any personal information to or on the Website. We do not knowingly collect personal information from children under 13. If you are under 13, do not use or provide any information on this Website or provide any information about yourself to us, including your name, address, telephone number, email address, or any screen name or username you may use. If we learn we have collected or received personal information from a child under 13 without verification of parental consent, we will delete that information.</p>

<h2>Information we collect about you and how we collect it</h2>
<p>We collect several types of information from and about users of our Website, including information:</p>
<ul>
  <li>by which you may be personally identified, such as name, email address, telephone number, or any other identifier by which you may be contacted online or offline ("personal information"); and/or</li>
  <li>about your internet connection, the equipment you use to access our Website and usage details.</li>
</ul>
<p>We collect this information:</p>
<ul>
  <li>directly from you when you provide it to us.</li>
  <li>automatically as you navigate through the site. Information collected automatically may include usage details, IP addresses, and information collected through cookies, web beacons, and other tracking technologies; and/or</li>
  <li>from third parties, for example, our business partners.</li>
</ul>

<h2>Information you provide to us</h2>
<p>The information we collect on or through our Website may include:</p>
<ul>
  <li>Information that you provide by filling in forms on our Website. We may also ask you for information when you report a problem with our Website.</li>
  <li>Records and copies of your correspondence (including email addresses), if you contact us.</li>
  <li>Your responses to surveys that we might ask you to complete for research purpose.</li>
</ul>

<h2>Information we collect through automatic data collection technologies</h2>
<p>As you navigate through and interact with our Website, we may use automatic data collection technologies to collect certain information about your equipment, browsing actions, and patterns, including:</p>
<ul>
  <li>Details of your visits to our Website, including traffic data, location data, logs, and other communication data and the resources that you access and use on the Website.</li>
  <li>Information about your computer and internet connection, including your IP address, operating system, and browser type.</li>
</ul>
<p>The information we collect automatically is statistical data and does not include personal information, but we may maintain it or associate it with personal information we collect in other ways or receive from third parties. It helps us to improve our Website and to deliver a better and more personalized service, including by enabling us to:</p>
<ul>
  <li>Estimate our audience size and usage patterns.</li>
  <li>Store information about your preferences, allowing us to customize our Website according to your individual interests.</li>
  <li>Speed up your searches.</li>
  <li>Recognize you when you return to our Website.</li>
</ul>
<p>The technologies we use for this automatic data collection may include:</p>
<ul>
  <li>Cookies (or browser cookies). A cookie is a small file placed on the hard drive of your computer. You may refuse to accept browser cookies by activating the appropriate setting on your browser. However, if you select this setting you may be unable to access certain parts of our Website. Unless you have adjusted your browser setting so that it will refuse cookies, our system will issue cookies when you direct your browser to our Website.</li>
</ul>

<h2>How we use your information</h2>
<p>We use information that we collect about you or that you provide to us, including any personal information:</p>
<ul>
  <li>To present our Website and its contents to you.</li>
  <li>To provide you with information, products, or services that you request from us.</li>
  <li>To fulfill any other purpose for which you provide it.</li>
  <li>To carry out our obligations and enforce our rights arising from any contracts entered into between you and us, including for billing and collection.</li>
  <li>To notify you about changes to our Website or any products or services we offer or provide through it.</li>
  <li>In any other way we may describe when you provide the information.</li>
  <li>For any other purpose with your consent.</li>
</ul>

<h2>Disclosure of your information</h2>
<p>We may disclose aggregated information about our users, and information that does not identify any individual, without restriction.</p>
<p>We may disclose personal information that we collect or you provide as described in this privacy policy:</p>
<ul>
  <li>To contractors, service providers, and other third parties we use to support our business and who are bound by contractual obligations to keep personal information confidential and use it only for the purposes for which we disclose it to them.</li>
  <li>To a buyer or other successor in the event of a merger, divestiture, restructuring, reorganization, dissolution, or other sale or transfer of some or all of Company's assets, whether as a going concern or as part of bankruptcy, liquidation, or similar proceeding, in which personal information held by Company about our Website users is among the assets transferred.</li>
  <li>To fulfill the purpose for which you provide it.</li>
  <li>For any other purpose disclosed by us when you provide the information.</li>
  <li>With your consent.</li>
</ul>
<p>We may also disclose your personal information:</p>
<ul>
  <li>To comply with any court order, law, or legal process, including to respond to any government or regulatory request.</li>
  <li>To enforce or apply our <a class="link-contrast" [routerLink]="['/info/end-user-agreement']" target="_blank" rel="noopener noreferrer">End User Agreement</a> and other agreements, including for billing and collection purposes.</li>
  <li>If we believe disclosure is necessary or appropriate to protect the rights, property, or safety of the Company, our customers, or others.</li>
</ul>

<h2>Changes to our privacy policy</h2>
<p>It is our policy to post any changes we make to our privacy policy on this page. The date the privacy policy was last revised is identified at the top of the page. You are responsible for periodically visiting our Website and this privacy policy to check for any changes.</p>
