:host {
  .clarin-home-page-color {
    background-color: #f2f2f2;
  }

  .clarin-home-page-items-color {
    background-color: #fafafa;
  }

  .clarin-home-page-borders {
    border-left: 1px solid silver;
    border-right: 1px solid silver;
  }

  .clarin-shadow {
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px silver;
  }

  .remove-padding {
    padding: 0;
  }

  .lindat-color-line {
    height: 3px;
  }

  .clarin-fix-to-navbar {
    margin-top: -16px;
  }

  .wrapper {
    height: 180px;
  }

  .glass-image {
    width: 100px;
    position: absolute;
    left: 22%;
    top: 20%;
  }

  .clarin-cut-bottom {
    margin-bottom: -16px;
  }

  .clarin-cut-bottom-2 {
    margin-bottom: -24px;
  }

  .h5-font {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.1;
  }

  blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #eee;
  }

  blockquote small {
    display: block;
    line-height: 1.428571429;
    color: #999;
  }

  small {
    font-size: 85%;
  }

  .fa-2x {
    font-size: 2em;
  }
  .fa {
    display: inline-block;
    font-size: inherit;
  }

  .carousel-ldata-info {
    left: 34%; position: absolute; top: 25%; font-size: 24px; margin-top: 20px; margin-bottom: 10px;
  }

  .carousel-ldata-find {
    left: 40%; position: absolute; top: 15%; font-size: 14px; margin-top: 10px; margin-bottom: 10px;
  }

  .carousel-ldata-citation-support {
    left: 54%; position: absolute; top: 45%; font-size: 14px; margin-top: 10px; margin-bottom: 10px;
  }

  .carousel-deposit-header {
    left: 40%; position: absolute; top: 10%; margin-top: 17px; margin-bottom: 10px;
  }

  .carousel-deposit-info {
    left: 28%; position: absolute; top: 30%; margin-top: 10px; margin-bottom: 10px; font-size: 14px;
  }

  .carousel-deposit-find {
    left: 32%; position: absolute; top: 42%; margin-top: 10px; margin-bottom: 10px; font-size: 14px;
  }

  .carousel-deposit-cite {
    left: 36%; position: absolute; top: 54%; margin-top: 10px; margin-bottom: 10px; font-size: 14px;
  }

  .carousel-deposit-citation {
    position: absolute; width: 65%; top: 20%; left: 20%; line-height: 20px;
  }

  .input-group-addon {
    height: 48px;
    padding: 14px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px 0px 0px 6px;
    font-weight: normal;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-right: 0px;
    max-width: fit-content;
  }

  .btn-repository {
    color: #fff;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 25%);
    background-color: #7479b8;
    background-image: linear-gradient(to bottom,#9fa3e6,#7479b8);
    font-size: 18px;
    border-radius: 0px 6px 6px 0px;
  }

  .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
  }

  .recent-submissions-head {
    color: #797dd4;
    border-bottom: 5px solid #797dd4;
    font-size: 110%;
    margin-top: -10px;
  }

  .top-items-head {
    color: #ccab28;
    border-bottom: 5px solid #ccab28;
    font-size: 120%;
    margin-top: -10px;
  }

  @media (max-width: 991.98px) {
    .carousel-ldata-info {
      left: 42%;
      position: absolute;
      top: 23%; font-size: 24px; margin-top: 20px; margin-bottom: 10px;
    }

    .carousel-ldata-citation-support {
      left: 56%; position: absolute; top: 45%; font-size: 14px; margin-top: 10px; margin-bottom: 10px;
    }

    .carousel-deposit-header {
      left: 37%; position: absolute; top: 10%; margin-top: 17px; margin-bottom: 10px;
    }

    .carousel-deposit-info {
      margin-top: 17px;
    }

    .carousel-deposit-find {
      margin-top: 17px;
    }

    .carousel-deposit-cite {
      margin-top: 17px;
    }

    .carousel-deposit-citation {
      width: 100%;
    }
  }

}
