@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

:host {
    .results {
        line-height: $button-height;
    }
    ds-view-mode-switch {
        margin-bottom: $spacer;
    }
    .sidebar-content > *:not(:last-child) {
        margin-bottom: 4*$spacer;
        display: block;
    }
}
