<div class="{{valueStyle}}">
  <ng-container *ngFor="let attachment of (bitstreams$ | async)">
    <ds-truncatable [id]="attachment.id">
      <ds-file-download-link [bitstream]="attachment" [enableRequestACopy]="true" [item]="item">
        <span data-test="title" *ngIf="fileName(attachment)">
          <span data-test="type" *ngIf="getType(attachment)" class="font-weight-bold">{{getType(attachment)}}:</span>
          {{fileName(attachment)}} ({{getSize(attachment) | dsFileSize}})
        </span>
      </ds-file-download-link>
      <ds-truncatable-part [id]="attachment.id" [minLines]="1">
        <span *ngIf="getDescription(attachment)" data-test="description">{{getDescription(attachment)}}</span>
      </ds-truncatable-part>
    </ds-truncatable>
  </ng-container>
</div>
