<span *ngIf="!(canDownload$ |async)"><i class="fas fa-lock text-primary"></i>&nbsp;</span>
<span *ngIf="(canDownload$ |async)"><i class="fas fa-download text-primary"></i>&nbsp;</span>
<a [routerLink]="(bitstreamPath$| async)?.routerLink" class="dont-break-out mr-1" [queryParams]="(bitstreamPath$| async)?.queryParams" [target]="isBlank ? '_blank': '_self'" [ngClass]="cssClasses">
  <ng-container *ngTemplateOutlet="content"></ng-container>
</a>

<ng-template #content>
  <ng-content></ng-content>
</ng-template>
