<ng-container *ngVar="(itemRD$ | async) as itemRD">
  <div class="mt-4" *ngIf="itemRD?.hasSucceeded" @fadeIn>
    <h3 class="sr-only">{{'collection.page.browse.recent.head' | translate}}</h3>
    <ds-viewable-collection
        [config]="paginationConfig"
        [sortConfig]="sortConfig"
        [objects]="itemRD"
        [hideGear]="true">
    </ds-viewable-collection>
  </div>
  <ds-error *ngIf="itemRD?.hasFailed"
            message="{{'error.recent-submissions' | translate}}"></ds-error>
  <ds-themed-loading *ngIf="!itemRD || itemRD.isLoading"
                     message="{{'loading.recent-submissions' | translate}}"></ds-themed-loading>
  <div *ngIf="!itemRD?.isLoading && itemRD?.payload?.page.length === 0" class="alert alert-info w-100" role="alert">
    {{'collection.page.browse.recent.empty' | translate}}
  </div>
</ng-container>
