<!-- <div *ngIf="topLevelCommunities.hasSucceeded | async; else loadingCollections"> -->
<div *ngIf="topLevelCommunities.hasSucceeded | async">
  <h2>{{'home.top-level-communities.head' | translate}}</h2>
  <p class="lead">{{'home.top-level-communities.help' | translate}}</p>
  <ds-object-list
    [config]="config"
    [sortConfig]="sortConfig"
    [objects]="topLevelCommunities"
    [hideGear]="true"
    (paginationChange)="updatePage($event)">
  </ds-object-list>
</div>
<ds-loading *ngIf="topLevelCommunities.isLoading | async" message="Loading top level communities..."></ds-loading>
<!-- <ng-template #loadingCollections><ds-loading message="Loading top level communities..."></ds-loading></ng-template> -->