<div class="container-fluid">
  <h4>{{ 'collection.edit.tabs.source.head' | translate }}</h4>
  <div class="form-check mb-4">
    <input type="checkbox" class="form-check-input" id="externalSourceCheck" [checked]="contentSource.enabled" (change)="changeExternalSource()">
    <label class="form-check-label" for="externalSourceCheck">{{ 'collection.edit.tabs.source.external' | translate }}</label>
  </div>
  <h4>{{ 'collection.edit.tabs.source.form.head' | translate }}</h4>
</div>
<ds-form *ngIf="formGroup"
         [formId]="'collection-source-form-id'"
         [formGroup]="formGroup"
         [formModel]="formModel"
         [formLayout]="formLayout"
         (dfChange)="onChange($event)"
         (submitForm)="onSubmit()"
         (cancel)="onCancel()"></ds-form>
