nav.navbar {
  align-items: baseline;

  .navbar-inner-container {
    border-top: 1px var(--ds-header-navbar-border-top-color) solid;
  }
}

.navbar-nav {
  background-color: var(--ds-navbar-bg);
  border-top: 1px var(--ds-header-navbar-border-top-color) solid;
  border-bottom: 5px var(--ds-header-navbar-border-bottom-color) solid;
  align-items: baseline;

  .navbar-inner-container {
    border-top: 1px var(--ds-header-navbar-border-top-color) solid;
  }
}

.navbar-nav {
  background-color: var(--ds-navbar-bg);
}

.clarin-logo {
  height: var(--ds-login-logo-height);
  width: var(--ds-login-logo-width);
}

/** Mobile menu styling **/
@media screen and (max-width: map-get($grid-breakpoints, md)-0.02) {
  .navbar {
    width: 100vw;
    background-color: var(--bs-white);
    position: absolute;
    overflow: hidden;
    height: 0;
    z-index: var(--ds-nav-z-index);
    &.open {
      height: 100vh; //doesn't matter because wrapper is sticky
      //border-bottom: 5px var(--ds-header-navbar-border-bottom-color) solid; // open navbar covers header-navbar-wrapper border
    }
  }
}

@media screen and (min-width: map-get($grid-breakpoints, md)) {
  .reset-padding-md {
    margin-left: calc(var(--bs-spacer) / -2);
    margin-right: calc(var(--bs-spacer) / -2);
  }
}

/* TODO remove when https://github.com/twbs/bootstrap/issues/24726 is fixed */
.navbar-expand-md.navbar-container {
  @media screen and (max-width: map-get($grid-breakpoints, md)-0.02) {
    > .navbar-inner-container {
      padding: 0 var(--bs-spacer);
      a.navbar-brand {
        display: none;
      }
      .navbar-collapsed {
        display: none;
      }
    }
    padding: 0;
  }
  height: 80px;
}

a.navbar-brand img {
  max-height: var(--ds-header-logo-height);
}

.navbar-nav {
  ::ng-deep a.nav-link {
    color: var(--ds-navbar-link-color);

    &:hover, &:focus {
      color: var(--ds-navbar-link-color-hover);
    }
  }
}
