<div dsPanel #panelRef="panelRef" [mandatory]="sectionData.mandatory" [checkable]="sectionData.checkable" [submissionId]="sectionData.submissionId" [panelId]="sectionData.panelId">
  <ngb-accordion #acc="ngbAccordion" (panelChange)="panelRef.panelChange($event)" activeIds="{{ sectionData.panelId }}">
    <ngb-panel id="{{ sectionData.panelId }}">
      <ng-template ngbPanelTitle>
        <span>{{ 'submission.section.'+sectionData.panelHeader | translate }}</span>
        <div class="d-inline-block float-right">
          <i *ngIf="panelRef.isCheckable() && !panelRef.isValid" class="fa fa-exclamation-circle text-warning mr-3" aria-hidden="true"></i>
          <i *ngIf="panelRef.isCheckable() && panelRef.isValid" class="fa fa-check-circle text-success mr-3" aria-hidden="true"></i>
          <a class="close" aria-label="Close">
            <span *ngIf="panelRef.isOpen()" class="fa fa-angle-up fa-fw" aria-hidden="true"></span>
            <span *ngIf="!panelRef.isOpen()" class="fa fa-angle-down fa-fw" aria-hidden="true"></span>
          </a>
          <a href="#" class="close mr-3" *ngIf="!panelRef.isMandatory()" (click)="removePanel($event)">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </a>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <ng-container
          *ngTemplateOutlet="panelContentTemplate">
        </ng-container>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>

<ng-template #panelContentTemplate>
  <ng-container [ngSwitch]="panelComponentType">
      <ds-submission-section-form *ngSwitchCase="'submission-form'" [sectionData]="sectionData"></ds-submission-section-form>
      <ds-submission-section-files *ngSwitchCase="'upload'" [sectionData]="sectionData"></ds-submission-section-files>
      <ds-submission-section-default *ngSwitchCase="'license'" [sectionData]="sectionData"></ds-submission-section-default>
      <ds-submission-section-default *ngSwitchCase="'cclicense'" [sectionData]="sectionData"></ds-submission-section-default>
  </ng-container>
</ng-template>
