<div class="container">
  <div class="row">
    <div class="col-12 mb-4">
      <h2>{{'item.bitstreams.upload.title' | translate}}</h2>
      <ng-container *ngVar="(itemRD$ | async)?.payload as item">
        <div *ngIf="item">
          <span class="font-weight-bold">{{'item.bitstreams.upload.item' | translate}}</span>
          <span>{{item.name}}</span>
        </div>
      </ng-container>
    </div>
    <div class="col-12">
      <label for="bundleName" class="font-weight-bold">{{'item.bitstreams.upload.bundle-name' | translate}}</label>
      <input  id="bundleName"
              [(ngModel)]="uploadProperties.bundleName"
              type="text"
              class="form-control" />
      <ds-uploader  class="w-100"
                    [dropMsg]="'item.bitstreams.upload.drop-message'"
                    [dropOverDocumentMsg]="'item.bitstreams.upload.drop-message'"
                    [enableDragOverDocument]="true"
                    [uploadFilesOptions]="uploadFilesOptions"
                    [uploadProperties]="uploadProperties"
                    (onCompleteItem)="onCompleteItem($event)"
                    (onUploadError)="onUploadError()"></ds-uploader>
    </div>
  </div>
</div>
