<div class="container" *ngVar="(bundlesRD$ | async)?.payload?.page as bundles">
  <ng-container *ngIf="bundles">
    <div class="row">
      <div class="col-12 mb-4">
        <h2>{{'item.bitstreams.upload.title' | translate}}</h2>
        <ng-container *ngVar="(itemRD$ | async)?.payload as item">
          <div *ngIf="item">
            <span class="font-weight-bold">{{'item.bitstreams.upload.item' | translate}}</span>
            <span>{{item.name}}</span>
          </div>
        </ng-container>
      </div>
      <div class="col-12">
        <label class="font-weight-bold">{{'item.bitstreams.upload.bundle' | translate}}</label>
        <ds-dso-input-suggestions #f id="search-form"
                                  [suggestions]="bundles"
                                  [placeholder]="'item.bitstreams.upload.bundle.placeholder'| translate"
                                  [action]="getCurrentUrl()"
                                  [name]="'bundle-select'"
                                  [(ngModel)]="selectedBundleName"
                                  (clickSuggestion)="onClick($event)"
                                  (click)="f.open()"
                                  ngDefaultControl>
        </ds-dso-input-suggestions>
        <ds-uploader  class="w-100"
                      [dropMsg]="'item.bitstreams.upload.drop-message'"
                      [dropOverDocumentMsg]="'item.bitstreams.upload.drop-message'"
                      [enableDragOverDocument]="true"
                      [uploadFilesOptions]="uploadFilesOptions"
                      [uploadProperties]="uploadProperties"
                      (onCompleteItem)="onCompleteItem($event)"
                      (onUploadError)="onUploadError()"></ds-uploader>
      </div>
      <div class="col-12" *ngIf="bundles.length === 0">
        <div class="alert alert-info w-100 d-inline-block" role="alert">
          {{'item.bitstreams.upload.bundles.empty' | translate}}
        </div>
      </div>
    </div>
  </ng-container>
</div>
