<td class="dso-info">
  <ds-type-badge *ngIf="!!dso" [object]="dso"></ds-type-badge>
  <p><a *ngIf="!!dso" [routerLink]="[getPageRoutePrefix(), dso.id]">{{dso.name}}</a></p>
</td><td>
	<span *ngIf="!!subscription" class="subscription-type">{{subscription.subscriptionType}}</span>
</td>
<td class="subscription-parameters">
	<ng-container *ngIf="!!subscription">
		<span *ngFor="let parameterList of subscription.subscriptionParameterList; let i = index">
			{{ 'subscriptions.frequency.'+ parameterList.value  | translate}}<span *ngIf="i < subscription.subscriptionParameterList.length-1 ">,</span>
		</span>
	</ng-container>
</td>
<td class="subscription-actions">
	<div class="btn-group edit-field">
	  <button (click)="$event.preventDefault();openSubscriptionModal();" class="btn btn-outline-primary btn-sm access-control-editEPersonButton" title="Edit">
	    <i class="fas fa-edit fa-fw"></i>
	  </button>
	  <button (click)="deleteSubscriptionPopup(subscription)" class="btn btn-outline-danger btn-sm access-control-deleteEPersonButton" title="Delete">
	    <i class="fas fa-trash-alt fa-fw"></i>
	  </button>
	</div>
</td>
