<div [class]="field.styleValue">
    <span class="d-flex align-items-center txt-value">
      <ng-container *ngIf="hasOrcidBadge(); else noOrcidBadge">

        <a *ngIf="orcidUrl; else noOrcidUrl" href="{{orcidUrl}}/{{metadataValue.value}}" target="_blank">
          {{ normalizeValue(metadataValue.value) | dsDate }}
        </a>

        <ng-template #noOrcidUrl>{{ normalizeValue(metadataValue.value) | dsDate }}</ng-template>

        <img placement="top"
             ngbTooltip="{{ 'orcid.badge.tooltip' | translate }}"
             class="orcid-icon"
             alt="orcid-logo"
             src="assets/images/orcid.logo.icon.svg"/>
      </ng-container>

      <ng-template #noOrcidBadge>
        {{ normalizeValue(metadataValue.value) | dsDate }}
      </ng-template>

    </span>
</div>
