@import '../../../styles/variables.scss';

:host {
    position: sticky;
    left: 0;
    top: 0;
    height: 100vh;
    flex: 1 1 auto;
    nav {
        height: 100%;
        flex-direction: column;
        > div {
            width: 100%;
            &.sidebar-top-level-items {
                flex: 1;
                overflow: auto;
            }
        }
        .section-header-text, .fa-chevron-right {
            display: none;
            padding-left: $spacer/2;
        }

        .navbar-nav {
            > li, > a {
                padding: $spacer/2 $spacer;
                &.active {
                    background-color: $admin-sidebar-dark;
                }

            }

            .sidebar-sub-level-items {
                list-style: disc;
                color: $navbar-dark-color;
            }
            .fa-xxs {
                font-size: 0.5rem;
                line-height: 3;
            }
            .admin-menu-header {
                background-color: $admin-sidebar-dark;
                .logo-wrapper {
                    text-align: center;
                    display: inline-block;
                    width: 1.25em;
                    img {
                        height: 1em;
                        vertical-align: text-bottom;
                    }
                }
                .section-header-text {
                    vertical-align: bottom;
                }

            }
        }

        &.active {
            .section-header-text, .fa-chevron-right {
                display: inline;
            }
        }
    }
}