@import '../../../styles/variables.scss';

:host {
    position: sticky;
    left: 0;
    top: 0;
    height: 100vh;
    flex: 1 1 auto;
    nav {
        height: 100%;
        flex-direction: column;
        > div {
            width: 100%;
            &.sidebar-top-level-items {
                flex: 1;
                overflow: auto;
            }
        }

        .admin-menu-header {
            background-color: $admin-sidebar-header-bg;
            .logo-wrapper {
                img {
                    height: 20px;
                }
            }
            .section-header-text {
                line-height: 1.5;
            }

        }

        ::ng-deep {

            .navbar-nav {
                .sidebar-section {
                    display: flex;
                    align-content: stretch;
                    &:hover {
                        color: $navbar-dark-hover-color;
                        a {
                            color: inherit;
                        }
                    }

                    .nav-item {
                        padding-top: $spacer;
                        padding-bottom: $spacer;
                    }
                    .shortcut-icon {
                        padding-left: $spacer;
                        padding-right: $spacer;
                    }
                    .sidebar-collapsible {
                        flex: 1;
                        a {
                            padding-right: $spacer;
                        }
                    }
                }

                #sidebar-collapse-toggle {
                    border-top: 2px solid rgba(255, 255, 255, 0.1);
                }
            }
        }

    }

}