<nav class="navbar navbar-dark bg-dark">
    <ul class="navbar-nav sidebar-top-level-items">
        <li class="admin-menu-header">
            <a class="shortcuts-tree" href="#">
                <div class="nav-icon-container"><img class="admin-logo" src="assets/images/dspace-logo-mini.svg"></div>
                <h4 class="nav-item-name">Admin</h4>
            </a>
        </li>
        <li>
            <a class="nav-item nav-link shortcuts-tree" href="#">
                <i class="fa fa-plus-circle fa-fw"></i>
                New
                <i class="fa fa-chevron-right"></i>
            </a>
            <ul class="sidebar-sub-level-items">
                <li><a class="nav-item nav-link" href="#">Community</a></li>
                <li><a class="nav-item nav-link" href="#">Collection</a></li>
                <li><a class="nav-item nav-link" href="#">Item</a></li>
                <li><a class="nav-item nav-link" href="#">Item Version</a></li>
            </ul>
        </li>
        <li>
            <a class="nav-item nav-link shortcuts-tree" href="#">
                <i class="fa fa-pencil fa-fw"></i>
                Edit
                <i class="fa fa-chevron-right"></i>
            </a>
            <ul class="sidebar-sub-level-items">
                <li><a class="nav-item nav-link" href="#">Community</a></li>
                <li><a class="nav-item nav-link" href="#">Collection</a></li>
                <li><a class="nav-item nav-link" href="#">Item</a></li>
            </ul>
        </li>
        <li>
            <a class="nav-item nav-link shortcuts-tree" href="#">
                <i class="fa fa-arrow-circle-up fa-fw"></i>
                Import
                <i class="fa fa-chevron-right"></i>
            </a>
            <ul class="sidebar-sub-level-items">
                <li><a class="nav-item nav-link" href="#">Metadata</a></li>
                <li><a class="nav-item nav-link" href="#">Batch Import (ZIP)</a></li>
            </ul>
        </li>
        <li>
            <a class="nav-item nav-link shortcuts-tree" href="#">
                <i class="fa fa-arrow-circle-down fa-fw"></i>
                Export
                <i class="fa fa-chevron-right"></i>
            </a>
            <ul class="sidebar-sub-level-items">
                <li><a class="nav-item nav-link" href="#">Community</a></li>
                <li><a class="nav-item nav-link" href="#">Collection</a></li>
                <li><a class="nav-item nav-link" href="#">Item</a></li>
                <li><a class="nav-item nav-link" href="#">Metadata</a></li>
            </ul>
        </li>
        <li>
            <a class="nav-item nav-link shortcuts-tree" href="#">
                <i class="fa fa-key fa-fw"></i>
                Access Control
                <i class="fa fa-chevron-right"></i>
            </a>
            <ul class="sidebar-sub-level-items">
                <li><a class="nav-item nav-link" href="#">People</a></li>
                <li><a class="nav-item nav-link" href="#">Groups</a></li>
                <li><a class="nav-item nav-link" href="#">Authorizations</a></li>
            </ul>
        </li>
        <li>
            <a class="nav-item nav-link shortcuts-tree" href="#">
                <i class="fa fa-search fa-fw"></i>
                Find
                <i class="fa fa-chevron-right"></i>
            </a>
            <ul class="sidebar-sub-level-items">
                <li><a class="nav-item nav-link" href="#">Items</a></li>
                <li><a class="nav-item nav-link" href="#">Withdrawn Items</a></li>
                <li><a class="nav-item nav-link" href="#">Private Items</a></li>
            </ul>
        </li>
        <li>
            <a class="nav-item nav-link shortcuts-tree" href="#">
                <i class="fa fa-list fa-fw"></i>
                Registries
                <i class="fa fa-chevron-right"></i>
            </a>
            <ul class="sidebar-sub-level-items">
                <li><a class="nav-item nav-link" href="#">Metadata</a></li>
                <li><a class="nav-item nav-link" href="#">Format</a></li>
            </ul>
        </li>
        <li>
            <a class="nav-item nav-link shortcuts-tree" href="#">
                <i class="fa fa-filter fa-fw"></i>
                Curation Tasks
            </a>
        </li>
        <li>
            <a class="nav-item nav-link shortcuts-tree" href="#">
                <i class="fa fa-bar-chart fa-fw"></i>
                Statistics
            </a>
        </li>
        <li>
            <a class="nav-item nav-link shortcuts-tree" href="#">
                <i class="fa fa-cogs fa-fw"></i>
                Control Panel
            </a>
        </li>
    </ul>
</nav>