<nav  @slideHorizontal class="navbar navbar-dark bg-dark p-0"
     [ngClass]="{'active': sidebarOpen, 'inactive': sidebarClosed}"
     [@slideSidebar]="{
     value: ((menuCollapsed | async) ? 'collapsed' : 'expanded'),
     params: {sidebarWidth: (sidebarWidth | async)}
    }" (@slideSidebar.done)="finishSlide($event)" (@slideSidebar.start)="startSlide($event)" *ngIf="menuVisible | async">
    <div class="sidebar-top-level-items">
        <ul class="navbar-nav">
            <li class="admin-menu-header sidebar-section">
                <a class="shortcut-icon navbar-brand mr-0" href="#">
                <span class="logo-wrapper">
                    <img class="admin-logo" src="assets/images/dspace-logo-mini.svg">
                </span>
                </a>
                <div class="sidebar-collapsible">
                    <a class="navbar-brand mr-0" href="#">
                        <h4 class="section-header-text mb-0">Admin</h4>
                    </a>
                </div>
            </li>

            <ng-container *ngFor="let section of (sections | async)">
                <ng-container
                        *ngComponentOutlet="sectionComponents.get(section.id); injector: sectionInjectors.get(section.id);"></ng-container>
            </ng-container>
        </ul>
    </div>
    <div class="navbar-nav">
        <div class="sidebar-section" id="sidebar-collapse-toggle">
            <a class="nav-item nav-link shortcut-icon"
               href="#"
               (click)="toggle($event)">
                <i class="fas fa-fw fa-angle-double-right"
                   [ngClass]="{'fa-angle-double-right': (menuCollapsed | async), 'fa-angle-double-left': !(menuCollapsed | async)}"></i>
            </a>
            <div class="sidebar-collapsible">
                <a class="nav-item nav-link sidebar-section"
                   href="#"
                   (click)="toggle($event)">
                    <span class="section-header-text">Collapse</span>
                </a>
            </div>
        </div>
    </div>
</nav>