<div id="search-view-switch">
    <div *ngIf="!active" class="inactive-menu">
        <span class="view-option-switch">TODO</span>
        <button class="btn btn-outline-primary float-right"(click)="switchView(true)"><i class="fa fa-sliders"></i> {{"search.view-switch.open-sidebar" | translate}}</button>
    </div>
    <div *ngIf="active" class="active-menu">
        <span class="results">{{resultCount}}</span>
        <button class="btn btn-outline-primary float-right" (click)="switchView(false)"><i class="fa fa-arrow-right"></i> {{"search.view-switch.close-sidebar" | translate}}</button>
    </div>
</div>