<div *ngIf="(itemAuthors | async).length">
  <div *ngIf="(itemAuthors | async).length <= 5" class="item-author-wrapper pb-1">
            <span *ngFor="let author of (itemAuthors | async); let i = index">
              <span *ngIf="i > 0 && i < (itemAuthors | async).length -1">; </span>
              <span *ngIf="i == (itemAuthors | async).length -1 && (itemAuthors | async).length > 1">
                {{'item.view.box.author.preview.and' | translate}}
              </span>
              <a [href]="author.url" class="item-author">{{ author.name }}
                <i *ngIf="author.isAuthority" class="fa-brands fa-orcid"> &nbsp;</i></a>
            </span>
  </div>
  <div *ngIf="(itemAuthors | async).length > 5">
    <div *ngFor="let author of (itemAuthors | async); let i = index">
      <span *ngIf="i == 0" ><a [href]="author.url" class="item-author">{{ author.name }}
        <i *ngIf="author.isAuthority" class="fa-brands fa-orcid"> &nbsp;</i></a>; et al.</span>
    </div>
    <div class="item-author-wrapper">
              <span (click)="toggleShowEveryAuthor()" class="clarin-font-size cursor-pointer">
                <i [hidden]="showEveryAuthor | async" class="fas fa-caret-right"></i>
                <i [hidden]="!(showEveryAuthor | async)" class="fas fa-caret-down"></i>
                {{'item.view.box.author.preview.show-everyone' | translate}}
              </span>

      <div [hidden]="!(showEveryAuthor | async)">
                <span *ngFor="let author of (itemAuthors | async); let i = index">
                  <span *ngIf="i > 1 && i < (itemAuthors | async).length -1">; </span>
                  <span *ngIf="i == (itemAuthors | async).length -1">
                    {{'item.view.box.author.preview.and' | translate}}
                  </span>
                  <a *ngIf="i > 0" [href]="author.url" class="item-author">{{author.name}}
                    <i *ngIf="author.isAuthority" class="fa-brands fa-orcid"> &nbsp;</i></a>
                </span>
      </div>
    </div>
  </div>
</div>
