<ng-template #bitstreamView>
  <div class="{{columnSizes.columns[0].buildClasses()}} row-element d-flex">
    <ng-content select="[slot=drag-handle]"></ng-content>
    <div class="float-left d-flex align-items-center overflow-hidden">
      <span class="text-truncate">
        {{ bitstreamName }}
      </span>
    </div>
  </div>
  <div class="{{columnSizes.columns[1].buildClasses()}} row-element d-flex align-items-center">
    <div class="w-100">
      <div class="text-truncate" [tooltipClass]="'larger-tooltip'" placement="bottom"
           [ngbTooltip]="bitstream?.firstMetadataValue('dc.description')">
        {{ bitstream?.firstMetadataValue('dc.description') }}
      </div>
    </div>
  </div>
  <div class="{{columnSizes.columns[2].buildClasses()}} row-element d-flex align-items-center">
    <div class="text-center w-100">
        <span class="text-truncate">
            {{ (format$ | async)?.shortDescription }}
        </span>
    </div>
  </div>
  <div class="{{columnSizes.columns[3].buildClasses()}} row-element d-flex align-items-center">
    <div class="text-center w-100">
      <div class="btn-group relationship-action-buttons">
        <a *ngIf="bitstreamDownloadUrl != null" [routerLink]="bitstreamDownloadUrl"
                class="btn btn-outline-primary btn-sm"
                title="{{'item.edit.bitstreams.edit.buttons.download' | translate}}"
                [attr.data-test]="'download-button' | dsBrowserOnly">
          <i class="fas fa-download fa-fw"></i>
        </a>
        <button [routerLink]="['/bitstreams/', bitstream.id, 'edit']" class="btn btn-outline-primary btn-sm"
                title="{{'item.edit.bitstreams.edit.buttons.edit' | translate}}">
          <i class="fas fa-edit fa-fw"></i>
        </button>
        <button [disabled]="!canRemove()" (click)="remove()"
                class="btn btn-outline-danger btn-sm"
                title="{{'item.edit.bitstreams.edit.buttons.remove' | translate}}">
          <i class="fas fa-trash-alt fa-fw"></i>
        </button>
        <button [disabled]="!canUndo()" (click)="undo()"
                class="btn btn-outline-warning btn-sm"
                title="{{'item.edit.bitstreams.edit.buttons.undo' | translate}}">
          <i class="fas fa-undo-alt fa-fw"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="{{columnSizes.columns[4].buildClasses()}} row-element d-flex align-items-center justify-content-center">
    <div class="float-left d-flex align-items-center overflow-hidden">
        <span class="text-center">
          <i [class]="isBitstreamSynchronized() ? 'fas fa-check' : 'fas fa-times'"></i>
        </span>
        <span class="pl-1">|</span>
        <div class="pl-1" [ngTemplateOutlet]="checksum"></div>
    </div>
  </div>
</ng-template>

<ng-template #checksum>
  <div class="hover-container"
       (mouseenter)="showChecksumValues = true"
       (mouseleave)="showChecksumValues = false"
       *ngVar="(checkSum$ | async) as bitstreamChecksum">
    <i [class]="checksumsAreEqual(bitstreamChecksum) ? 'fas fa-check' : 'fas fa-times'"></i>
    <i class="pl-2 fas fa-info-circle"
       triggers="mouseenter:mouseleave"
       [ngbPopover]="checksumPopover"
       popoverTitle="Checksums"></i>
  </div>
</ng-template>

<ng-template #checksumPopover>
  <div *ngVar="(checkSum$ | async) as bitstreamChecksum">
    <div>
      <div class="font-weight-bold text-decoration-underline">
        {{'item.edit.bitstreams.checksum.database' | translate}}
      </div>
      <div>
        {{'item.edit.bitstreams.checksum.algorithm' | translate}} {{bitstreamChecksum.databaseChecksum.checkSumAlgorithm}}
      </div>
      <div>
        {{'item.edit.bitstreams.checksum.value' | translate}} {{ bitstreamChecksum.databaseChecksum.value }}
      </div>
    </div>
    <div>
      <div class="font-weight-bold text-decoration-underline">
        {{'item.edit.bitstreams.checksum.active-store' | translate}}
      </div>
      <div>
        {{'item.edit.bitstreams.checksum.algorithm' | translate}} {{bitstreamChecksum.activeStore.checkSumAlgorithm}}
      </div>
      <div>
        {{'item.edit.bitstreams.checksum.value' | translate}} {{ bitstreamChecksum.activeStore.value }}
      </div>
    </div>
    <div *ngIf="isBitstreamSynchronized()">
      <div class="font-weight-bold text-decoration-underline">
        {{'item.edit.bitstreams.checksum.sync-store' | translate}}
      </div>
      <div>
        {{'item.edit.bitstreams.checksum.algorithm' | translate}} {{bitstreamChecksum.synchronizedStore.checkSumAlgorithm}}
      </div>
      <div>
        {{'item.edit.bitstreams.checksum.value' | translate}} {{ bitstreamChecksum.synchronizedStore.value }}
      </div>
    </div>
  </div>
</ng-template>
