<div class="jumbotron jumbotron-fluid mt-ncs">
  <div class="container">
    <div class="d-flex flex-wrap">
      <div>
        <h1 class="display-3">
          Welcome to ResearchWorks at the University of Washington
        </h1>
        <p class="lead">
          First time adding to ResearchWorks? Please
          <a href="mailto:libanswers@uw.edu">contact us</a>.
        </p>
      </div>
    </div>
    <!-- <ul>
      <li>easily ingest documents, audio, video, datasets and their corresponding Dublin Core metadata
      </li>
      <li>open up this content to local and global audiences, thanks to the OAI-PMH interface and Google Scholar optimizations
      </li>
      <li>issue permanent urls and trustworthy identifiers, including optional integrations with handle.net and DataCite DOI</li>
    </ul> !-->
    <p>
      ResearchWorks Archive is the University of Washington's digital repository
      (also known as "institutional repository") for disseminating scholarly
      work. More information about ResearchWorks can be found on the
      <a
        href="https://lib.washington.edu/scholpub/scholarly-publishing-services/researchworks"
        >Scholarly Publishing Services page</a
      >.
    </p>
    <p>
      Looking to deposit a dataset? UW has a membership with the generalist data
      repository Dryad. Use
      <a href="https://guides.lib.washington.edu/dryad">our guide</a> to see if
      Dryad is the right place for you to deposit your data.
    </p>
  </div>
</div>
