<div class="jumbotron jumbotron-fluid mt-ncs">
  <div class="container">
    <div class="d-flex flex-wrap">
      <div>
        <h1 class="display-3">
          Welcome to ResearchWorks at the University of Washington
        </h1>
        <p class="lead">
          First time adding to ResearchWorks? Please
          <a href="mailto:libanswers@uw.edu">contact us</a>.
        </p>
      </div>
    </div>
    <p>
      ResearchWorks is the University of Washington's digital repository
      (also known as "institutional repository") for disseminating scholarly
      work.
    </p>
    <p>
      Looking to deposit a dataset? UW has a membership with the generalist data
      repository Dryad. Use
      <a href="https://guides.lib.washington.edu/dryad">our guide</a> to see if
      Dryad is the right place for you to deposit your data.
    </p>
    <div class="d-sm-flex justify-content-end">
      <a href="https://lib.uw.edu/scholpub/scholarly-publishing-services/researchworks/" class="uw-btn">
        <span>About ResearchWorks</span><span class="uw-arrow-box"><span class="arrow"></span></span>
      </a>
      <a href="https://digital.lib.washington.edu/handle/1773/16363" class="uw-btn">
        <span>UW Bothell</span><span class="uw-arrow-box"><span class="arrow"></span></span>
      </a>
      <a href="https://hdl.handle.net/1773/53063" class="uw-btn">
        <span>UW Tacoma</span><span class="uw-arrow-box"><span class="arrow"></span></span>
      </a>
      <a href="https://digital.lib.washington.edu/handle/1773/44952" class="uw-btn">
        <span>UW Press</span><span class="uw-arrow-box"><span class="arrow"></span></span>
      </a>
    </div>
  </div>
</div>