/**
The styling file for the `clarin-files-section.component`
 */

.btn-download{
  color: #fff !important;
  background-color: #428bca;
  border-color: #357ebd;
  cursor: pointer;
}

.btn-download:hover {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

.command-pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.428571429;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #d9edf7;
  color: #3a87ad;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#command-div .repo-copy-btn {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

#command-div:hover .repo-copy-btn, #command-div .repo-copy-btn:focus {
  opacity: 1;
}

.repo-copy-btn {
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
  padding: 0 !important;
}

.repo-copy-btn:before {
  content: " ";
  background-size: 13px 15px;
  background-repeat: no-repeat;
  background-color: red;
  display: inline-block;
  width: 13px;
  height: 15px;
  padding: 0 !important;
}
