# DSpace Docker deploy on dataquest servers
name: Deploy DSpace

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: dspace-dep-1
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: false
      - name: deploy
        run: |
          cd $GITHUB_WORKSPACE/build-scripts/run/
          pwd

          touch .env.dev-5 || true
          echo DSPACE_REST_HOST=dev-5.pc > .env.dev-5

          echo REST_URL=http://dev-5.pc:8085/server >> .env.dev-5
          echo UI_URL=http://dev-5.pc:85 >> .env.dev-5
          echo DSPACE_REST_IMAGE=dataquest/dspace:dtq-dev >> .env.dev-5
          echo DOCKER_OWNER=dataquest >> .env.dev-5
          ## echo NODE_ENV="development" >> .env.dev-5
          echo DSPACE_UI_IMAGE="dataquest/dspace-angular:dtq-dev" >> .env.dev-5
          echo DSPACE_VER="dtq-dev" >> .env.dev-5
          echo INSTANCE=5 >> .env.dev-5

          echo S3_STORAGE=1 >> .env.dev-5
          echo S3_ENABLED=true >> .env.dev-5
          echo S3_RELATIVE_PATH=true >> .env.dev-5
          echo S3_BUCKET=dev-5-dspace >> .env.dev-5
          echo S3_SUBFOLDER=seven-five >> .env.dev-5
          echo S3_ACCESS=${{ secrets.AMAZON_ACCESS }} >> .env.dev-5
          echo S3_SECRET=${{ secrets.AMAZON_SECRET }} >> .env.dev-5
          echo S3_REGION_NAME=eu-central-1 >> .env.dev-5

          export ENVFILE=$(pwd)/.env.dev-5
          ./start.sh dspace-5
