<hr class="mt-0">
<div class="ds-dynamic-group-component row">
  <ds-form #formRef="formComponent"
           class="col-sm-9 pl-0"
           [formId]="formId"
           [formModel]="formModel"
           [displaySubmit]="false"></ds-form>



  <div class="col p-0 m-0 d-flex justify-content-center">
    <button *ngIf="!editMode"
            type="button"
            class="btn btn-link pr-0 align-middle"
            [disabled]="isMandatoryFieldEmpty()">
      <i class="fa fa-plus-circle fa-3x"
         style="color: gray"
         aria-hidden="true"
         (click)="addChips()"></i>
    </button>

    <button *ngIf="editMode"
            type="button"
            class="btn btn-link align-middle"
            [disabled]="isMandatoryFieldEmpty()">
      <i class="fa fa-save fa-2x"
         style="color: darkcyan"
         aria-hidden="true"
         (click)="modifyChips()"></i>
    </button>
    <button *ngIf="editMode"
            type="button"
            class="btn btn-link align-middle">
      <i class="fa fa-undo fa-2x"
         style="color: gray"
         aria-hidden="true"
         (click)="exitEditMode()"></i>
    </button>
  </div>
</div>
<div class="clearfix"></div>
<div class="d-inline-flex">
  <ds-chips
    *ngIf="chips.chipsItems.length > 0"
    [chips]="chips"
    [editable]="true"
    (selected)="chipsSelected($event)"
    (remove)="removeChips($event)"
    (change)="changeChips($event)"></ds-chips>
</div>
