<div class="ds-dynamic-group-component row">
  <ds-form class="col-10"
    [formId]="formId"
    [formModel]="formModel"
    [parentFormModel]="model"
    [formGroup]="group"
    [displaySubmit]="false"
    (addArrayItem)="onAddItem($event)"
    (removeArrayItem)="onRemoveItem($event)"></ds-form>

    <button *ngIf="!editMode" type="button" class="btn btn-link col-2" (click)="addChips()">
      <i class="fa fa-plus-circle fa-2x" style="color: gray" aria-hidden="true"></i>
    </button>

    <button *ngIf="editMode" type="button" class="btn btn-link col-1" (click)="modifyChips()">
      <i class="fa fa-save fa-2x" style="color: darkcyan" aria-hidden="true"></i>
    </button>
    <button *ngIf="editMode" type="button" class="btn btn-link col-1" (click)="exitEditMode()">
      <i class="fa fa-undo fa-2x" style="color: gray" aria-hidden="true"></i>
    </button>

</div>

  <div style="clean: both;">
    <ds-chips
      [chips]="model.chips"
      [editable]="true"
      (selected)="chipsSelected($event)"
      (remove)="removeChips($event)"
    ></ds-chips>
  </div>
  <br/>
