<a class="close position-relative" aria-label="Close">
  <span *ngIf="!(formCollapsed | async)"
        class="fa fa-angle-up fa-fw"
        aria-hidden="true"
        (click)="collapseForm()"></span>
  <span *ngIf="(formCollapsed | async)"
        class="fa fa-angle-down fa-fw"
        aria-hidden="true"
        (click)="expandForm()"></span>
</a>
<hr class="mt-0">
<div *ngIf="!(formCollapsed | async)" class="ds-dynamic-group-component row"  @shrinkInOut>
  <ds-form #formRef="formComponent"
           class="col-sm-9 pl-0"
           [formId]="formId"
           [formModel]="formModel"
           [displaySubmit]="false"></ds-form>


  <div *ngIf="!(formCollapsed | async)" class="col p-0 m-0 d-flex justify-content-center">
    <!--<button *ngIf="!editMode"-->
            <!--type="button"-->
            <!--class="btn btn-link pr-0 align-middle"-->
            <!--[disabled]="isMandatoryFieldEmpty()"-->
            <!--(click)="addChips()">-->
      <!--<i class="fa fa-plus-circle fa-3x"-->
         <!--style="color: gray"-->
         <!--aria-hidden="true"></i>-->
    <!--</button>-->

    <button type="button"
            class="btn btn-link align-middle"
            [disabled]="isMandatoryFieldEmpty()"
            (click)="save()">
      <i class="fa fa-save text-primary fa-2x"
         aria-hidden="true"></i>
    </button>
    <button type="button"
            class="btn btn-link align-middle"
            [disabled]="!editMode"
            (click)="delete()">
      <i class="fa fa-trash text-danger fa-2x"
         aria-hidden="true"></i>
    </button>
    <button type="button"
            class="btn btn-link align-middle"
            [disabled]="isMandatoryFieldEmpty()"
            (click)="clear()">
      <i class="fa fa-undo fa-2x"
         aria-hidden="true"></i>
    </button>
  </div>
</div>
<div class="clearfix"></div>
<div class="d-inline-flex">
  <h4 *ngIf="!chips.hasItems()" class="text-muted mb-3">No Element</h4>
  <ds-chips
    *ngIf="chips.hasItems()"
    [chips]="chips"
    [editable]="true"
    (selected)="onChipSelected($event)"></ds-chips>
</div>
